doctype html
html(lang="en")
  head
    script(type='text/javascript').
        console.log(!{JSON.stringify(globals)})
  body
    h4 
    strong Result - Compress Zip
    div(class='hr')
    form#container.col(method= 'POST', action='http://localhost:3001/ebay/export', class= 'no-margin-bottom')
        input(class='username', name='username', type='hidden', value=globals.username)
        input(class='userId', name='userid', type='hidden', value=globals.userid)
        input(class='method', name='method', type='hidden', value=globals.method)
        input(class='link', name='method', type='hidden', value='globals.link')
        div.result.
            Add - !{globals.newzip}
        div.result.
            Relist - !{globals.listzip}
        div.result.
            Revise - !{globals.editzip}
        p
        button(class='btn btn-small btn-success', value='Next') Next >>
        