doctype html
html(lang="en")
  head
    script(type='text/javascript').
        console.log(!{JSON.stringify(globals)})
  body
    h4 Result - Download From File Transfer
    form#container.col(method= 'POST', action='http://localhost:3001/ebay/export', class= 'no-margin-bottom')
        input(class='username', name='username', type='hidden', value=globals.username)
        input(class='userId', name='userid', type='hidden', value=globals.userid)
        input(class='method', name='method', type='hidden', value=globals.method)
        input(class='link', name='method', type='hidden', value='globals.link')
        div.result.
            Add - !{globals.newdownload}
        div.result.
            Revise - !{globals.listdownload}
        div.result.
            Revise - !{globals.editdownload}
        p
        button(class='button', value='Next') Next >>
        