doctype html
html(lang="en")
  head
    title NodeJS
    script(type='text/javascript').
        console.log(!{JSON.stringify(globals)})
  body
    h4 Login - Dev.Feed.Biz
    form#container.col(method= 'POST', action='http://localhost:3001/ebay/export')
        label.username Username :
        input(class='username', name='username', type='password', value=globals.name)
        label.userId UserID :
        input(class='userId', name='userid', type='password', value=globals.id)
        input(class='method', name='method', type='hidden', value='compress')
        input(class='link', name='method', type='hidden', value='products')
        button(class='button', value='Submit') Submit
        