doctype html
html(lang="en")
  head
    script(type='text/javascript').
        console.log(!{JSON.stringify(globals)})
  body
    h4 Result - Upload To File Transfer
    form#container.col(method= 'POST', action='http://localhost:3001/ebay/export', class= 'no-margin-bottom')
        input(class='username', name='username', type='hidden', value=globals.username)
        input(class='userId', name='userid', type='hidden', value=globals.userid)
        input(class='method', name='method', type='hidden', value=globals.method)
        input(class='link', name='method', type='hidden', value='globals.link')
        h4 AddFixedPriceItem
        div.result.
            JobID - !{globals.AjobID}
        div.result.
            Upload - !{globals.Aupload}
        div.result.
            StartUpload - !{globals.AstartUpload}
        p
        h4 RelistFixedPriceItem
        div.result.
            JobID - !{globals.LjobID}
        div.result.
            Upload - !{globals.Lupload}
        div.result.
            StartUpload - !{globals.LstartUpload}
        p
        h4 ReviseFixedPriceItem
        div.result.
            JobID - !{globals.RjobID}
        div.result.
            Upload - !{globals.Rupload}
        div.result.
            StartUpload - !{globals.RstartUpload}
        p
        button(class='button', value='Next') Next >>
        