.ajax_notify{
    display:none;
}
.notification{
	position:fixed;
	top:70px;
	text-align:center;
	width:100%;
	color:@white;
	.regRoboto();
	.h3();
	z-index:99;
	padding-top:10px;
	i{
		margin-right:5px;
		&.fa-remove{
			position:absolute;
			top:0px;
			right:0px;
			height: 20px;
			width: 20px;
			cursor: pointer;
		}
	}
	&.good{
		background-color:@true-green;
	}
	&.bad{
		background-color:@true-pink;
	}
	&.wait{
		background-color:@wait;
	}
	&.warning{
		background-color:@warning;
	}
}
.pay{
	border:1px solid @true-blue;
	text-align:center;
	padding-top:15px;
	margin-bottom:20px;
	.p(10px);
	.pay_picture{
		display:block;
		text-align:center;
		float:none;
		margin:auto;
		.m-b(17px);
	}
	.pay_link{
		color:@true-blue;
		.h4();
		.regRoboto();
	}
	.pay_list{
		.list-unstyled();
		.m-t(-17px);
		.m-b(5px);
		.text-uc();
		.pay_item{
			display:inline-block;
			min-width:40px;
			margin-left:8px;
			.tabsGray();
			.tooSmall();
			&:last-child{
				margin-right:0px;
			}
		}
	}
}
.support{
	.support_picture{
		margin-right:20px;
		float:left;		
	}
}
.profile{
	.m-b(20px);
	.profile_picture{
		border:1px solid @input-border;
		padding:10px;
		position:relative;
	}
	.profile_text{
		.lightRoboto();
		color:@text-color;
		.m-b(0px);
		.h2();
	}
	.profile_link{
		color:@true-blue;
		.lightRoboto();
		.h4();
	}
}
.payments{	
	.b-Left();
	.b-Right();
	.b-Top();
	width:100%;
	.m-b(20px);
	box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
	.payment_row{
		.b-Bottom();
		width:100%;
		.payments_title{
			width:40%;
			float:left;
			padding:10px;
			background-color:@true-blue;
			p{
				color:@white;
				.montserrat();
				.m-b(0px);
				text-align:right;
				.text-uc();
			}
			box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				-o-box-sizing:border-box;
		}
		.payments_content{
			width:60%;
			float:left;
			padding:10px;
			.b-Left();	
			box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				-o-box-sizing:border-box;
			p{
				.regRoboto();
				color:@true-gray;
				text-align:left;
				.m-b(0px);
				.h3();
			}
		}
	}		
}
.actions{
	p.true-pink, p.true-green{
		position:absolute;
	}
}
.amazonEdit{
	padding-left:0px;
	.list-unstyled();
	.m-b(0px);
	li{
		float:left;
		a{
			padding:10px;
			.h4();
			display:block;
		}
		&.editProfile{
			.editProfile_link{
				color:@true-green;
				border-right:1px solid @input-border;
			}
		}
		&.remProfile{
			.removeProfile_link{
				color:@true-pink
			}
		}
	}
}
.csv{
	position:absolute;
	top:25px;
	right:40px;
}