.calendar{
	position:relative;
	&:after{
		top:1px;
		bottom:0px;
		right:1px;
		position:absolute;
		height:32px;
		width:32px;
		content:'';
		background-color:@locked;
		border-left:1px solid #cccccc;
		background-image:url('../images/icons/sprites.png');
		background-position:-67px -214px;
	}
	&.lastDate{
		position:relative;
		&:before{
			left:-18px;
			top:18px;
			position:absolute;
			content:'';
			background-color:@verify-hover;
			width:7px;
			height:1px;
		}
	}
}
.ui-datepicker{
	background: #fff;
	width: 220px;
	z-index:999999 !important;
	.ui-datepicker-prev,
	.ui-datepicker-next{				
		.ui-icon{
			text-indent:-9999999px;
			background-image: url('../images/icons/sprites.png');
			width: 7px;
			height: 8px;
			position:absolute;
		}
	}
	.ui-datepicker-prev{
		float:left;
		margin-left:20px;
		margin-top:3px;
		.ui-icon{
			background-position: -333px -17px;
		}
	}
	.ui-datepicker-next{
		float:right;
		margin-right:20px;
		margin-top:3px;
		.ui-icon{
			background-position: -392px -17px;
		}
	}
	.ui-datepicker-header{
		padding-top:10px;
		padding-bottom:10px;
		text-align:center;
		border-top:1px solid @input-border;	
		border-right:1px solid @input-border;
		border-left:1px solid @input-border;
		margin-top:5px;
		.ui-datepicker-title{
			.regRoboto();
			color:@text-color;
			.h4();
		}
	}
	.ui-datepicker-calendar{
		width:100%;
		border-right:1px solid @input-border;
		border-left:1px solid @input-border;
		thead{
			border-top:1px solid @input-border;
			border-bottom:1px solid @input-border;
			th{
				.h4();
				color:@pagination;
				text-align:center;
				padding-top:5px;
				padding-bottom:5px;
				.regRoboto();
			}
		}
		td{				
			text-align:center;
			padding-top:5px;
			padding-bottom:5px;
			border:1px solid @input-border;
			position:relative;
			&:last-child{
				border-right:none;
			}
			a{
				.h4();
				.regRoboto();
				color:@text-color;
				&:hover{
					text-decoration: none;
				}
			}
			&:hover, &.ui-datepicker-current-day, &.ui-datepicker-today{
				border:1px solid @true-blue;
				background-color:@true-blue;
				z-index:50;
				a{
					color:@white;
				}
			}
		}
	}
}
.datepicker {
     z-index: 100000 !important;
    display: block;
}