#miniFirst,
#miniSecond,
#miniThird{
	width:80px;
	height:40px;
	float:left;
	margin-left:-10px;
	.highcharts-axis, .highcharts-tracker{
		display:none;
	}
	.highcharts-grid{
		path{
			stroke-width:0 !important;
		}
	}
}
.mainChart{
	background-color:@chart-bg;
	.p-l(40px);
	.p-r(40px);
	.p-t(30px);
	.p-b(30px);
	.chart{
		position:relative;
		.highcharts-data-labels{
			text{
				color:@true-gray !important;
				.regRoboto();
			}
			tspan{
				color:@true-gray !important;
				.regRoboto();
				.h3();
			}
		}
		.highcharts-background{
			fill:@chart-bg;
		}
	}
}

.lineChart{
	.p-b(40px);
	.m-t(20px);
	.highcharts-range-selector-buttons{
		display:none !important;
	}	
}

.chart{
	position:relative;
	.tabs{
		position:absolute;
		right:0px;
		top:-7px;
		li{
			list-style:none;
			float:left;
			color:@tabs-color;
			padding:5px;	
			border-radius:4px;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				-ms-border-radius:4px;
				-o-border-radius:4px;
			.h4();
			margin-left:5px;
			&:hover, &.active{
				cursor:pointer;
				background-color: @tabs-hover;
			}		
		}
	}
}

#column{
	.highcharts-axis{
		display:none;
	}
}