.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;	 
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;		
	width:100% !important;	
	height:34px;
	border:1px solid @input-border;
	& *{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}	
	a{				
		cursor: pointer;
	}
	.chosen-drop{
		display:none;
		z-index:1000;
		.absolute();
		.pull-width();		
		.white-bg();
		.b-Right();
		.b-Left();
		.b-Bottom();
		.m-b(20px);
			-webkit-box-shadow: 0px 0px 5px 1px #f6f6f6;
			-moz-box-shadow: 0px 0px 5px 1px #f6f6f6;
			box-shadow: 0px 0px 5px 1px #f6f6f6;
		.chosen-search{
			.relative();
			&:before{
				.btn-search();
			}
			input{
				border-radius: 0px;
					-webkit-border-radius:0px;
					-moz-border-radius:0px;
					-ms-border-radius:0px;
					-o-border-radius:0px;
				.pull-width();
				.p(5px);
				.b-Bottom();
				.h4();
				border-top:1px solid transparent;
				border-left:1px solid transparent;
				border-right:1px solid transparent;
				color:@text-color;
				&:focus{
					outline:1px solid @light-blue;
					margin-top: -1px;
					margin-left: -1px;
				}
			}
		}
		.chosen-results{
			.list-unstyled();
			max-height:340px;
			overflow-y: auto;
			.m-b(0px);
			li{
				width:100%;
				color:@text-color;
				padding:10px;
				.h4();
				em{
					.bold();
					font-style:normal;
				}
				&:hover{
					background-color:@true-blue;
					color:@white;
				}
			}
		}
	}
	&.chosen-with-drop .chosen-drop{
		display:block;
	}
	.chosen-single{	
		position: relative;
		display: block;
		overflow: hidden;		  
		background-clip: padding-box;		 
		text-decoration: none;
		white-space: nowrap;
		line-height: 24px;
		height:34px;
		.p-l(8px);
		.p-tb(3px);
		//.pullBorder();		
		span{
			color:@text-color;
			display: block;
			overflow: hidden;
			margin-right: 31px;
			text-overflow: ellipsis;
			white-space: nowrap;
			.h4();
			.regRoboto();
		}
		.button-select {
			background-color:@locked;
			.b-Left();
			.absolute();
			top:0px;
			right:0px;
			width:32px;
			height:32px;
			b{
				.pullCenter();
				width:10px;
				height:16px;
				color:@poor-gray;
			}
		}
	}
}
.per-page{
	 .chosen-container {
		width:70px !important;
	}
}