/*-------------[ Weight ]----------------*/

@bold:700;
@normal:400;
@light:300;

.bold{
	font-weight:@bold !important;
}
.normal{
	font-weight:@normal;	
}
.light{
	font-weight:@light;	
}
.italic{
	font-style: italic;
}

/*-------------[ Font family ]----------------*/

// Roboto: light, reqular
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.eot');
    src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto.ttf') format('truetype'),
         url('../fonts/Roboto.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Montserrat: reqular
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.eot');
    src: url('../fonts/Montserrat.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat.woff2') format('woff2'),
         url('../fonts/Montserrat.ttf') format('truetype'),
         url('../fonts/Montserrat.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------[ Font size ]----------------*/

@big-size:20pt;
@h1:20px;
@h2:16px;
@strong-size:14px;
@h3:13px;
@h4:12px;
@h5:11px;
@h6:10px;
@small-text:9px;
@tooSmall:8px;

/*-------------[ Typography ]----------------*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	font-weight:@normal;
}
h1, .h1 {
	font-size: @h1;
}
h2, .h2{
	font-size: @h2;
}
h3, .h3{
	font-size: @h3;
}
h4, .h4, .p-size{
	font-size: @h4;
}
h5, .h5{
	font-size: @h5;
}
h6, .h6{
	font-size: @h6;
}

.head-size{
	font-size:@big-size;
}

/*-------------[ Font family ]----------------*/

// Roboto: light, reqular
// Montserrat: reqular

/*-------------[ help family ]----------------*/

.regRoboto{
	font-family: 'Roboto', sans-serif !important;
	font-weight:@normal;
}
.lightRoboto{
	font-family: 'Roboto', sans-serif;
	font-weight:@light;
}
.montserrat{
	font-family: 'Montserrat', sans-serif !important;
	font-weight:@normal;
}

/*-------------[ Font-size ]----------------*/

.smallText{
	font-size:@small-text
}

.tooSmall{
	font-size:@tooSmall;
}

.strong-text{
	font-size:@strong-size
}