header{
	padding:20px;
	background-color:@true-blue;
	width:100%;
	min-height:70px;
	.search{
		position:relative;
		float:left;
		.form-group{
			margin-bottom:0px;
		}
		input{
			display:none;
			margin-top: 5px;
			height: 29px;
		}
	}
	.logo{
		width:230px;
		float:left;
	}	
	.nav{		
		float:right;
		position:relative;
		right:20px;
		ul{
			.list-unstyled();
			li{
				float:left;
				margin-top:6px;
				a{
					.h4();
					.lightRoboto();
					color:@white;
				}
				&:first-child {
					margin-right:10px;					
					a{
						border-right:1px solid @white;
						padding-right:10px;
					}
				}
			}
			&.profile{
				li{
					margin-top:0px;
					margin-left:20px;
					&:first-child{
						margin-right:0px;		
					}
					a{
						border-right:none;
						.icon-avatar{
							position:relative;
							top:0px;							
						}						
					}
					&.language, &.logOut{
						color:@white;
						.h3();
						margin-top:10px;
						margin-left:15px;
						display: block;
						position:relative;
					}
				}
			}
		}
		.language_block{
			.list-unstyled();
			display:none;
			position:absolute;
			top:30px;
			right:-10px;
			border:1px solid @input-border;
			background-color:@white;			
			li{
				float:none;
				.m(0px);
				margin-left: 0px !important;	
				padding:10px;			
				a{					
					color:@true-blue;
					padding:0px !important;						
				}
				&:hover{					
					background-color:@true-blue;					
					a{
						color:@white;
						text-decoration:none;
					}
				}
			}
			&:before{
				content: ' '!important;
				position: absolute;
				top: -11px;
				left: 70%;
				margin-left: -10px;
				display: block!important;
				width: 0;
				height: 0;
				border-left: 10px solid rgba(113,101,58,0);
				border-right: 10px solid rgba(113,101,58,0);
				border-bottom: 10px solid #cfcfcf;
			}
			&:after {
				content: ' '!important;
				position: absolute;
				top: -10px;
				left: 70%;
				margin-left: -10px;
				display: block!important;
				width: 0;
				height: 0;
				border-left: 10px solid rgba(255,241,190,0);
				border-right: 10px solid rgba(255,241,190,0);
				border-bottom: 10px solid #fff;
			}
		}
	}
}