@media all and (min-width:1200px){
	
}
@media all and (max-width:1199px){

}
@media all and (max-width:1150px) and (min-width:992px){
	.responsive-table{
		td, th, p{
			.h5() !important;
		}
	}
}
@media all and (min-width:992px){
	.modal{
		.modal-dialog{
			width:950px;
		}
	}
	.loginBlock{
		display:block !important;
	}
}
@media all and (max-width:992px){	
	.modal{
		.treeSettings{
			float:none;
			width:100%;
			li{
				width:100%;
				float:none;
				border-bottom:1px solid @input-border;
				border-left:1px solid @input-border;
				&:first-child{
					border-top:1px solid @input-border;
				}
				&:last-child{
					border-bottom:none;
				}
			}
		}
		.nav-tabs{
			li{
				width:100%;
			}
		}
	}
	.image-table{
		float:none;
		margin-top: -20px;
	}
	.responsive-table .tableCheckbo{
		width:100%;
		.cb-checkbox{
			float:none;
			margin-right:10px;
		}
	}
	.page-wrapper{
		padding-top:68px;
	}
	.mainCheckbo{
		text-align:center;
	}
	.checkboSettings{
		text-align:center;
		.pull-left, .pull-right{
			float:none !important;
			text-align:center;
		}
	}
	.responsive-table, .tableLog {
		.table-head, .table-foot{display:none}
		td{
			display:block;
			line-height:100%;
			border-width:0 !important;
			text-align:center;
			p{
				text-align:center !important;
			}		
		}
		tr:nth-child(odd){background-color:@light-line}
		td:before{
			font-weight:bold;
			display:
			inline-block;
			content:attr(data-th) " ";	
		}
	}	
	

	.sidebar{
		width:100%;
		position:static;
		float:none;	
	}
	.icon-logOut{
		display:none;
	}	
	header{
		.nav{
			right:0px;
			ul{
				position:absolute;
				z-index:10;
				top:100%;
				right:0px;				
				padding:5px 20px 20px 20px;
				border-radius:0px 0px 4px 4px;
					-webkit-border-radius:0px 0px 4px 4px;
					-moz-border-radius:0px 0px 4px 4px;
					-ms-border-radius:0px 0px 4px 4px;
					-o-border-radius:0px 0px 4px 4px;
				display:none;
				background-color: @true-blue;
				&.loginBlock{
					top:200%;
				}
				&.language_block{
					padding:0px;
				}
				li{
					float:none;
					.m-l(0px) !important;
					a{
						border:none !important;
						color:@white;
						.bold();
						.btn-ring{
							margin-right:0px;
							.m-l(15px);
						}
						.icon-avatar{
							top:20px !important;
							.m-b(20px);
							.m-l(10px);
						}						
					}
					&.language{
						.m-l(18px) !important;
					}
				}
			}
			&.profile{
				li{
					margin-right:10px;
				}
			}
			.btn-more{
				display:block;
				margin-top: 10px;
			}
		}
		.logo{
			width:97%;
		}
		.search{
			display:none;
		}
		.btn-menu{
			padding-top: 9px;
			padding-right: 12px;
			padding-bottom:0px;
			padding-left:0px;
		}
	}
}
@media all and (min-width:768px) and (max-width:992px){
	.modal{
		.modal-dialog{
			width:750px;
		}
	}
}
@media all and (min-width:768px){
	.btn-more{
		display:none;
	}	
}
@media all and (max-width:767px){
	.csv{
		position:static;
		margin-top:10px;
		margin-bottom:10px;
	}
	.headSettings {
		.showColumns{
			right:0px;
		}
	}
	.calendar{
		&.lastDate{
			&:before{
				left: 45%;
				top: -8px;
			}
		}
	}
	.modal{
		.headSettings{
			.headSettings_point{
				.headSettings_point-item{
					&:nth-child(5n){
						clear:both;
					}
					width:25% !important;
				}
			}
		}
	}
	.selectWizard{
		.selectWizard_point	{
			float:none;
		}
	}	
	.btn-check{
		margin-top:0px;
	}
	.payments{
		.payment_row{
			.payments_title,
			.payments_content{
				width:100%;
				p{text-align:center;}
				.b-None();
			}
		}
	}
	.amazonLogs{
		width:100%;
		float:none;
	}
	.logs{
		.logs_text-content{
			.h5();
		}
	}
	.amazonTableLogs{
		margin-left:0px;
	}
	.checkIn{
		a{
			width:100%;
			text-align:center;
			display:block;
			img{
				float:none !important;
			}
		}
	}
	.b-BlRight{
		border:none;
	}
	.form-group{
		&.form-carriers{
			.chosen-container{	
				width:90% !important;
			}
			i{
				right:0px;
			}
		}
		&.withIcon{
			.chosen-container{	
				width:90% !important;
			}
			&.xs-form-group{
				.form-control{
					width:100% !important;
				}
			}
			input {
  				width: 90%!important;
  			}
  			&.w-xs-100{
  				.chosen-container{	
					width:100% !important;
				}
  			}
		}		
	}
	.nav-tabs{
		li{
			width:100%;
		}
	}
	.engine{
		.engine_item{
			width:100%;
			border-right:none;
			border-bottom:1px solid @input-border;
			&:last-child{
				border-bottom:none;
			}
		}
	}
	.treeSettings{
		float:none;
		width:100%;
		li{
			width:100%;
			float:none;
			border-bottom:1px solid @input-border;
			border-left:1px solid @input-border;
			&:first-child{
				border-top:1px solid @input-border;
			}
			&:last-child{
				border-bottom:none;
			}
		}
	}
	.tree{
		.tree_point{
			margin-left: 10px;
			border-left:1px solid @input-border;
			border-bottom: 1px solid @input-border;
			padding-bottom:16px;
		}
		ul{
			li{
				span.tree_item{
					margin-left:0px;
					padding-left:0px;
					border:none;
				}
				ul{
					padding-left:0px;
					li{
						border:none;
						padding-left:0px;
					}
				}
			}
		}
		.treeRight{
			position:relative;
			width:auto;	
			margin-left:25px;
			border-top:1px solid @input-border;
			&.selectTree{
				top:17px;
				padding-top:5px;
			}
			.chosen-container{
				width:93% !important;
			}
		}
		.icon-more{
			top:5px;
		}

	}
	.treeHead{
		display:none;
	}
	.dataTables_wrapper {
		.dataTables_length{
			top:-70px;
			label{
				margin-top:0px;
				width:100%;
			}
		}
		.dataTables_empty{
			border-top:1px solid #e2e2e2 !important;
		}
		.dataTables_paginate{
			float:left;
		}
		.dataTables_filter{
			position:static;
			margin-bottom:10px;
			width: 100%;
			label{
				width:100%;
				display:block;
			}
			input{
				width:100%;
			}
		}
	}
	.wizardSettings{
		.wizardSettings_list{
			li{
				width:100%;
				float:none;
				border-top:1px solid @input-border;
				border-left:1px solid @input-border;
			}
		}
	}
	.statistics{
		.dataTables_wrapper {
			.dataTables_length{
				top:-35px;
			}
		}
	}
	.page-wrapper{
		padding-top:65px;
	}
	.main{
		margin-left:0px;
	}
	.pagination{
		margin-top:10px;
		margin-bottom:0px;
		margin-right:0px;
		margin-left:0px;
		float:none;
		clear:both;
		display:block;
		li{
			a{
				padding:5px;
			}
		}
	}
	.blockRight,
	.blockLeft{
		&.noBorder{
			top:32px;
		}
	}
	.blockRight, .blockRightDouble{
		bottom: 0px;
		right: 48%;
		top:auto;
		&:after{
			top:7px;
			left:7px;
			transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);
				-moz-transform: rotate(-35deg);
				-ms-transform: rotate(-35deg);
				-o-transform: rotate(-35deg);
		}
		&:before{
			top:7px;
			left:11px;
			transform: rotate(35deg);
				-webkit-transform: rotate(35deg);
				-moz-transform: rotate(35deg);
				-ms-transform: rotate(35deg);
				-o-transform: rotate(35deg);
		}
	}
	.blockLeft{
		top: -32px;
		left: 40%;
		&:after{
			top:7px;
			left:11px;
			transform: rotate(-35deg);
				-webkit-transform: rotate(-35deg);
				-moz-transform: rotate(-35deg);
				-ms-transform: rotate(-35deg);
				-o-transform: rotate(-35deg);
		}
		&:before{
			top:7px;
			left:7px;
			transform: rotate(35deg);
				-webkit-transform: rotate(35deg);
				-moz-transform: rotate(35deg);
				-ms-transform: rotate(35deg);
				-o-transform: rotate(35deg);
		}
	}
	.blockRightDouble{
		&.noBorder{
			top:36px;
		}
	}
	.conditions{
		.blockRight{
			top:8px;
		}
	}
	.cb-color{
		float:none;
		margin-right:auto;
		margin-left:auto;
	}
	.iconToNext{
		background-position: -35px -185px;
		bottom:-15px;
		right:49%;
		width: 6px;
		height: 12px;
		top:auto;
		bottom:-15px;
	}
	.actions{
		button{
			display:block;
		}
	}
	.sendOffer{
		margin-left:0px;
	}
}
@media all and (max-width:540px){
	header{
		.logo{
			width:95%;
		}
	}
	.tree{
		.treeRight{
			.chosen-container{
				width:85% !important;
			}
		}
	}
	.blockRight, .blockRightDouble{
		right: 46%;
	}
	.progressbar{
		width:300px;
	}
}
/*
.mainBlock{
	.mainBlock_text{
		.mainBlock_text-link{
			.mainBlock_text-link_span{
				.mainBlock_text-link_mainText{
					... и т.д закончилась фантазия...
				}
			}
		}
	}
}*/