.engine{
	.w-100();
	border:1px solid @input-border;
	.engine_item{
		border-right:1px solid @input-border;
		width:20%;
		box-sizing:border-box;
		text-align:center;
		.p-t(10px);
		.p-b(10px);
		float:left;
		&:last-child{
			border-right:none;
		}
	}
	.engine_item-picture{
		.m-b(15px);
	}
	.engine_item-text{
		.dark-gray();
		.montserrat(); 
		.text-uc();
		.p-size();
		.bold();
		.m-b(15px);
	}
}
.recommended{
	padding:1px 8px;
	border:1px solid @recommended-border;
	background-color:@poor-blue;
	color:@recommended-color;
	.regRoboto();
	.h4();
	.text-norm();
	margin-left:10px;
}
.includeBlock{
	.list-unstyled();
	min-height:100px;
	.includeBlock_item{
		list-style:none;
		.h4();
		color:@text-color;
		.p-t(10px);
		.p-b(10px);
		.regRoboto();
		&:nth-child(even){
			background-color:@light-line;
		}
	}	
}