.headSettings{
	.p-t(10px);
	.p-b(10px);
	.b-Top();
	.headSettings_head{
		.lightRoboto();
		.montserrat();
		.text-uc();
		.dark-gray();
		.bold();
		.m-r(20px);
	}
	.headSettings_text{		
		.light-gray();
		.m-t(10px);
		.m-r(20px);
		float:left;
		span{
			.dark-gray();
		}
	}
	.headSettings_point{
		.list-unstyled();
		.m-b(0px);
		.headSettings_point-item{
			display: block;
			text-align: center;
			float: left;
			width:33%;
			.step{
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				border:2px solid @true-blue;
				position: relative;
				z-index: 20;
				display: inline-block;
				width: 35px;
				height: 35px;
				line-height: 30px;
				text-align: center;
				color:@true-blue;
				.montserrat();
				background-color:@white;
				padding-top: 2px;
			}	
			.title{
				width:100%;
				display:block;
				.text-uc();
				.regRoboto();
				.smallText();
				color:@true-blue;
				margin-top:5px;
				.bold();
			}
			&.active{
				.step{
					background-color:@true-blue;
					color:@white;
				}
			}
			&:before{
				display: block;
				content: "";
				width: 100%;
				border-top: 4px solid @true-blue;
				position: relative;
				top: 21px;
			}
			&:first-child{
				&:before{
					max-width: 51%;
					left: 50%;
				}
			}
			&:last-child{
				&:before{
					width: 50%;
				}
			}
		}
	}
	&.statistics{
		.p-t(2px);
	}
	&.extend{
		.headSettings_point{
			.headSettings_point-item{
				width:50%;
			}
		}
	}
	.form-group{
		.m-b(0px);
	}
	.showColumns{
		.m-t(7px);
		.pull-xs-left;
		position:relative;
		right:130px;
		.showColumns_link{
			.p-size();
			.regRoboto();
			.link();
		}
		&.is-active{
			.dropCheckbo{
				display:block;
			}
		}
	}
	.dropCheckbo{
		background-color:@white;
		-webkit-box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		-moz-box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		border:1px solid @input-border;	
		padding:10px;
		display:none;
		position:absolute;
		top:110%;
		left:0px;
		z-index:5;
		display:none;
		width: 160px;
		&.is-active{
			display:block;
		}
		ul{
			.list-unstyled();
			.m-b(0px);
		}
	}
}