.responsive-table, .table{
	width:100%;
	thead, tfoot{
		tr{
			.b-Top();
			.b-Bottom();
			th{
				padding-top:10px;
				padding-bottom:10px;
				padding-left: 15px;
				color:@poor-gray;
				position:relative;
				.h4();
				font-weight:400;
				&:hover{
					cursor:pointer;
				}
				&:focus{
					outline:0px !important;
				}			
				&.sorting{
					&:before{
						background-position:  -7px -184px;
						width: 6px;
						height: 12px;
						.bg-Sprite();
						content:'';
						position:absolute;
						top:10px;
						left:0px;	
					}
				}
				&.tableNoSort{
					padding-left:0px;
					&:before{
						background: none !important;
					}
				}
				label{
					margin-top:-8px;
					margin-bottom:-8px;
				}
				&.sorting_asc{
					&:before{
						background-position: -35px -185px;
						width: 6px;
						height: 12px;
						.bg-Sprite();
						content:'';
						position:absolute;
						top:10px;
						left:0px;
					}
				}
				&.sorting_desc{
					&:before{
						background-position: -49px -185px;
						width: 6px;
						height: 12px;
						.bg-Sprite();
						content:'';
						position:absolute;
						top:10px;
						left:0px;
					}
				}
				&.tablePicture{
					text-align:center;					
				}
				&.sorting_disabled{
					padding-left:0px;
				}
			}
		}
	}
	tbody{
		tr{
			td{				
				color:@text-color;
				.h4();
				.regRoboto();
				.p-t(10px);
				.p-b(10px);
				&.tablePicture{
					text-align:center;
					.image-table{
						float:none;
					}
				}
				&.checkboSettings{
					background:none !important;
				}				
			}
			&:nth-child(odd){
				background-color:@light-line;
			}
			&:last-child{
				.b-Bottom();
			}			
		}		
	}
	tfoot{
		tr{
			th{
				padding-left:0px;
				padding-right:10px;
				&:before{
					width:0px;
				}
			}
		}
	}
	.forCheckBo{
		p{			
			.m-b(0px);
			&:hover{
				cursor:pointer;
			}
		}
	}
	.tableCheckbo{
		width:15%;
		.cb-checkbox{
			float:left;
			margin-right:10px;
		}
	}
}
.table{
	&.tableEmpty{
		display:none;
		tr{	
			background-color:@light-line;		
			td{
				text-align:center;	
				font-style:italic;		
			}
		}
	}
}

.dataTables_wrapper{
	.dataTables_empty{
		text-align:center;
		font-style:italic;
	}
	.dataTables_filter{
		position:absolute;
		top:-40px;
		left:160px;
		width:45%;
		label{
			width: 100%;
		}
		input{
			width:100%;
			padding: 6px 12px;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
			-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
		}
	}
	.dataTables_length{
		position: absolute;
		right: 0px;
		top: -51px;
		width:136px;
		label{
			.lightRoboto();
			.light-gray();
			.m-t(10px);
			.p-size();
		}
		select{
			padding-left: 8px;
			padding-top: 3px;
			padding-bottom: 3px;
			width: 70px;
			&:focus{
				outline:0px !important;
			}
		}
		.chosen-container{
			width:70px !important;
			top: -1px;
		}
	}
	.dataTables_info{
		.h4();
		.poor-gray();
		.regRoboto();
		.m-t(18px);
		float:left;
	}
	.dataTables_paginate {
		.m-t(15px);
		.m-b(15px);
		float:right;
		.paginate_button{
			color:@pagination;
			.montserrat();
			.h5();
			border:1px solid @white;
			padding:5px 10px;
			background-color: @white;
			&:hover, &.current{
				border:1px solid @input-border;
				color:@true-gray;
				background-color: @white;
				text-decoration:none;
				cursor:pointer;
			}
			&.disabled{
				opacity:0.5;
				&.previous, &.next{
					&:before{
						border:1px solid @light-line;
					}
				}
			}
			&:focus{
				outline:0px !important;
				color:@true-blue;
				border:1px solid @true-blue;
			}
			&.previous, &.next{
				position:relative;	
				&:hover{
					color:@true-gray;
					border:1px solid @white;
				}
			}
			&.previous{
				padding:5px 5px 5px 0px;
				&:before{
					content:"<<";
					padding:5px 10px;
					border:1px solid @input-border;
					border-radius:20%;
					-webkit-border-radius:20%;
					-moz-border-radius:20%;
					-o-border-radius:20%;
					.h5();	
					.m-r(10px);
				}
			}
			&.next{
				padding:5px 0px 5px 5px;
				&:after{
					content:">>";
					padding:5px 10px;
					border:1px solid @input-border;
					border-radius:20%;
					-webkit-border-radius:20%;
					-moz-border-radius:20%;
					-o-border-radius:20%;
					.h5();	
					.m-l(10px);
				}
			}
		}
	}
}
.statistics{
	.showColumns{
		margin-top:0px;
	}
	.dataTables_wrapper{
		.dataTables_filter{
			left:15px;
			top:-33px;
		}
		.dataTables_length{
			top:-45px;
		}
	}
}