{include file="header.tpl"}
{include file="sidebar.tpl"}
{ci_config name="base_url"}
<link rel="stylesheet" href="{$base_url}assets/css2/admin/module.admin.page.tables.min.css" />

<div {if !isset($popup)}id="content"{/if}>    
    {include file="amazon/PopupStepHeader.tpl"}        
<<<<<<< .mine
    {*<div class="row-fluid bg-white innerAll margin-bottom-none clearfix"> 
        <div class="pull-left text-left">
            <h3 class="heading">
                {$country}
            </h3>  
=======

    <div class="widget widget-inverse">
        <div class="widget-head">
            <h5 class="heading">
                {ci_language line="Last Logs"}
            </h5>
>>>>>>> .r3072
        </div>

        <div class="widget-body">
            <table id="product_logs" class="dynamicTable colVis table">
                <thead  class="bg-gray">
                    <tr>
                        <th class="center">{ci_language line="Batch ID"}</th>
                        <th class="center">{ci_language line="Action Process"}</th>
                        <th class="center">{ci_language line="Action type"}</th>
                        <th class="center">{ci_language line="Messages"}</th>
                        <th class="center">{ci_language line="Date"}</th>
                    </tr>
                </thead>
                <tbody>
                    {if isset($logs)}
                        {foreach from=$logs key=key item=value}
                            <tr>
                                <td>{$value.batch_id}</td>
                                <td>{$value.action_process}</td>
                                <td>{$value.action_type}</td>
                                <td>{$value.messages}</td>
                                <td>{$value.datetime}</td>
                            </tr>
                        {/foreach}
                    {else}
                         <tr>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                        </tr>
                    {/if}
                </tbody>                        
            </table>
        </div>
    </div> 

    {include file="amazon/PopupStepFooter.tpl"}  
</div> 
        
<!--page specific plugin scripts-->
<script src="{$base_url}assets/js/jquery.dataTables.min.js"></script>
<script src="{$base_url}assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="{$base_url}assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="{$base_url}assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>

<script type="text/javascript" src="{$base_url}assets/js/FeedBiz/amazon/logs.js"></script>

{include file="amazon/IncludeScript.tpl"}
{include file="footer.tpl"} 