/*$counter: 40;*/
@for $i from 0 through $counter {
  .m-#{$i} { margin: 1px * $i; }
  .m-t#{$i} { margin-top: 1px * $i; }
  .m-tr#{$i} { margin-top: 1px * $i; margin-right: 1px * $i; }
  .m-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
  .m-tl#{$i} { margin-top: 1px * $i; margin-left: 1px * $i; }
  .m-r#{$i} { margin-right: 1px * $i; }
  .m-rb#{$i} { margin-right: 1px * $i; margin-bottom: 1px * $i;}
  .m-rl#{$i} { margin-right: 1px * $i; margin-left: 1px * $i;}
  .m-l#{$i} { margin-left: 1px * $i; }
  .m-bl#{$i} { margin-left: 1px * $i; margin-bottom: 1px * $i;}
  .m-b#{$i} { margin-bottom: 1px * $i;}
  .m--#{$i} { margin: -1px * $i; }
  .m--t#{$i} { margin-top: -1px * $i; }
  .m--tr#{$i} { margin-top: -1px * $i; margin-right: -1px * $i; }
  .m--tb#{$i} { margin-top: -1px * $i; margin-bottom: -1px * $i; }
  .m--tl#{$i} { margin-top: -1px * $i; margin-left: -1px * $i; }
  .m--r#{$i} { margin-right: -1px * $i; }
  .m--rb#{$i} { margin-right: -1px * $i; margin-bottom: -1px * $i;}
  .m--rl#{$i} { margin-right: -1px * $i; margin-left: -1px * $i;}
  .m--l#{$i} { margin-left: -1px * $i; }
  .m--bl#{$i} { margin-left: -1px * $i; margin-bottom: -1px * $i;}
  .m--b#{$i} { margin-bottom: -1px * $i; }
}

@media all and (min-width:1200px){
  @for $i from 0 through $counter {
    .m-lg-#{$i} { margin: 1px * $i; }
    .m-lg-t#{$i} { margin-top: 1px * $i; }
    .m-lg-tr#{$i} { margin-top: 1px * $i; margin-right: 1px * $i; }
    .m-lg-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
    .m-lg-tl#{$i} { margin-top: 1px * $i; margin-left: 1px * $i; }
    .m-lg-r#{$i} { margin-right: 1px * $i; }
    .m-lg-rb#{$i} { margin-right: 1px * $i; margin-bottom: 1px * $i;}
    .m-lg-rl#{$i} { margin-right: 1px * $i; margin-left: 1px * $i;}
    .m-lg-l#{$i} { margin-left: 1px * $i; }
    .m-lg-bl#{$i} { margin-left: 1px * $i; margin-bottom: 1px * $i;}
    .m-lg-b#{$i} { margin-bottom: 1px * $i;}
    .m-lg--#{$i} { margin: -1px * $i; }
    .m-lg--t#{$i} { margin-top: -1px * $i; }
    .m-lg--tr#{$i} { margin-top: -1px * $i; margin-right: -1px * $i; }
    .m-lg--tb#{$i} { margin-top: -1px * $i; margin-bottom: -1px * $i; }
    .m-lg--tl#{$i} { margin-top: -1px * $i; margin-left: -1px * $i; }
    .m-lg--r#{$i} { margin-right: -1px * $i; }
    .m-lg--rb#{$i} { margin-right: -1px * $i; margin-bottom: -1px * $i;}
    .m-lg--rl#{$i} { margin-right: -1px * $i; margin-left: -1px * $i;}
    .m-lg--l#{$i} { margin-left: -1px * $i; }
    .m-lg--bl#{$i} { margin-left: -1px * $i; margin-bottom: -1px * $i;}
    .m-lg--b#{$i} { margin-bottom: -1px * $i;}
  }
}

@media all and (max-width:1199px){
  @for $i from 0 through $counter {
    .m-md-#{$i} { margin: 1px * $i; }
    .m-md-t#{$i} { margin-top: 1px * $i; }
    .m-md-tr#{$i} { margin-top: 1px * $i; margin-right: 1px * $i; }
    .m-md-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
    .m-md-tl#{$i} { margin-top: 1px * $i; margin-left: 1px * $i; }
    .m-md-r#{$i} { margin-right: 1px * $i; }
    .m-md-rb#{$i} { margin-right: 1px * $i; margin-bottom: 1px * $i;}
    .m-md-rl#{$i} { margin-right: 1px * $i; margin-left: 1px * $i;}
    .m-md-l#{$i} { margin-left: 1px * $i; }
    .m-md-bl#{$i} { margin-left: 1px * $i; margin-bottom: 1px * $i;}
    .m-md-b#{$i} { margin-bottom: 1px * $i;}
    .m-md--#{$i} { margin: -1px * $i; }
    .m-md--t#{$i} { margin-top: -1px * $i; }
    .m-md--tr#{$i} { margin-top: -1px * $i; margin-right: -1px * $i; }
    .m-md--tb#{$i} { margin-top: -1px * $i; margin-bottom: -1px * $i; }
    .m-md--tl#{$i} { margin-top: -1px * $i; margin-left: -1px * $i; }
    .m-md--r#{$i} { margin-right: -1px * $i; }
    .m-md--rb#{$i} { margin-right: -1px * $i; margin-bottom: -1px * $i;}
    .m-md--rl#{$i} { margin-right: -1px * $i; margin-left: -1px * $i;}
    .m-md--l#{$i} { margin-left: -1px * $i; }
    .m-md--bl#{$i} { margin-left: -1px * $i; margin-bottom: -1px * $i;}
    .m-md--b#{$i} { margin-bottom: -1px * $i;}
  }
}

@media all and (max-width:992px){
  @for $i from 0 through $counter {
    .m-sm-#{$i} { margin: 1px * $i; }
    .m-sm-t#{$i} { margin-top: 1px * $i; }
    .m-sm-tr#{$i} { margin-top: 1px * $i; margin-right: 1px * $i; }
    .m-sm-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
    .m-sm-tl#{$i} { margin-top: 1px * $i; margin-left: 1px * $i; }
    .m-sm-r#{$i} { margin-right: 1px * $i; }
    .m-sm-rb#{$i} { margin-right: 1px * $i; margin-bottom: 1px * $i;}
    .m-sm-rl#{$i} { margin-right: 1px * $i; margin-left: 1px * $i;}
    .m-sm-l#{$i} { margin-left: 1px * $i; }
    .m-sm-bl#{$i} { margin-left: 1px * $i; margin-bottom: 1px * $i;}
    .m-sm-b#{$i} { margin-bottom: 1px * $i;}
    .m-sm--#{$i} { margin: -1px * $i; }
    .m-sm--t#{$i} { margin-top: -1px * $i; }
    .m-sm--tr#{$i} { margin-top: -1px * $i; margin-right: -1px * $i; }
    .m-sm--tb#{$i} { margin-top: -1px * $i; margin-bottom: -1px * $i; }
    .m-sm--tl#{$i} { margin-top: -1px * $i; margin-left: -1px * $i; }
    .m-sm--r#{$i} { margin-right: -1px * $i; }
    .m-sm--rb#{$i} { margin-right: -1px * $i; margin-bottom: -1px * $i;}
    .m-sm--rl#{$i} { margin-right: -1px * $i; margin-left: -1px * $i;}
    .m-sm--l#{$i} { margin-left: -1px * $i; }
    .m-sm--bl#{$i} { margin-left: -1px * $i; margin-bottom: -1px * $i;}
    .m-sm--b#{$i} { margin-bottom: -1px * $i;}
  }
}

@media all and (max-width:767px){
  @for $i from 0 through $counter {
    .m-xs-#{$i} { margin: 1px * $i; }
    .m-xs-t#{$i} { margin-top: 1px * $i; }
    .m-xs-tr#{$i} { margin-top: 1px * $i; margin-right: 1px * $i; }
    .m-xs-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
    .m-xs-tl#{$i} { margin-top: 1px * $i; margin-left: 1px * $i; }
    .m-xs-r#{$i} { margin-right: 1px * $i; }
    .m-xs-rb#{$i} { margin-right: 1px * $i; margin-bottom: 1px * $i;}
    .m-xs-rl#{$i} { margin-right: 1px * $i; margin-left: 1px * $i;}
    .m-xs-l#{$i} { margin-left: 1px * $i; }
    .m-xs-bl#{$i} { margin-left: 1px * $i; margin-bottom: 1px * $i;}
    .m-xs-b#{$i} { margin-bottom: 1px * $i;}
    .m-xs--#{$i} { margin: -1px * $i; }
    .m-xs--t#{$i} { margin-top: -1px * $i; }
    .m-xs--tr#{$i} { margin-top: -1px * $i; margin-right: -1px * $i; }
    .m-xs--tb#{$i} { margin-top: -1px * $i; margin-bottom: -1px * $i; }
    .m-xs--tl#{$i} { margin-top: -1px * $i; margin-left: -1px * $i; }
    .m-xs--r#{$i} { margin-right: -1px * $i; }
    .m-xs--rb#{$i} { margin-right: -1px * $i; margin-bottom: -1px * $i;}
    .m-xs--rl#{$i} { margin-right: -1px * $i; margin-left: -1px * $i;}
    .m-xs--l#{$i} { margin-left: -1px * $i; }
    .m-xs--bl#{$i} { margin-left: -1px * $i; margin-bottom: -1px * $i;}
    .m-xs--b#{$i} { margin-bottom: -1px * $i;}
  }
}