/*$counter: 40;*/
$counter: 40;
@for $i from 0 through $counter {
  .top-#{$i} { top: 1px * $i; }
  .right-#{$i} { right: 1px * $i; }
  .bottom-#{$i} { bottom: 1px * $i; }
  .left-#{$i} { left: 1px * $i; }
  .top--#{$i} { top: -1px * $i; }
  .right--#{$i} { right: -1px * $i; }
  .bottom--#{$i} { bottom: -1px * $i; }
  .left--#{$i} { left: -1px * $i; }
}

@media all and (min-width:1200px){
  @for $i from 0 through $counter {
    .top-lg-#{$i} { top: 1px * $i; }
    .right-lg-#{$i} { right: 1px * $i; }
    .bottom-lg-#{$i} { bottom: 1px * $i; }
    .left-lg-#{$i} { left: 1px * $i; }
    .top-lg--#{$i} { top: -1px * $i; }
    .right-lg--#{$i} { right: -1px * $i; }
    .bottom-lg--#{$i} { bottom: -1px * $i; }
    .left-lg--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:1199px){
  @for $i from 0 through $counter {
    .top-md-#{$i} { top: -1px * $i; }
    .right-md-#{$i} { right: 1px * $i; }
    .bottom-md-#{$i} { bottom: 1px * $i; }
    .left-md-#{$i} { left: 1px * $i; }
    .top-md--#{$i} { top: -1px * $i; }
    .right-md--#{$i} { right: -1px * $i; }
    .bottom-md--#{$i} { bottom: -1px * $i; }
    .left-md--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:992px){
  @for $i from 0 through $counter {
    .top-sm-#{$i} { top: 1px * $i; }
    .right-sm-#{$i} { right: 1px * $i; }
    .bottom-sm-#{$i} { bottom: 1px * $i; }
    .left-sm-#{$i} { left: 1px * $i; }
    .top-sm--#{$i} { top: -1px * $i; }
    .right-sm--#{$i} { right: -1px * $i; }
    .bottom-sm--#{$i} { bottom: -1px * $i; }
    .left-sm--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:767px){
  @for $i from 0 through $counter {
    .top-xs-#{$i} { top: 1px * $i; }
    .right-xs-#{$i} { right: 1px * $i; }
    .bottom-xs-#{$i} { bottom: 1px * $i; }
    .left-xs-#{$i} { left: -1px * $i; }
    .top-xs--#{$i} { top: -1px * $i; }
    .right-xs--#{$i} { right: -1px * $i; }
    .bottom-xs--#{$i} { bottom: -1px * $i; }
    .left-xs--#{$i} { left: -1px * $i; }
  }
}