.expert_mode {
    padding: 1px 5px;
    border: 1px solid #f3d379;
    background-color: rgba(247,139,4,0.5);
    color: #ffffff;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 0px;
    border-radius: 5px;
}
.expert_mode_display .cb-inner {
    opacity: 0.5;
}

.expert_mode_menu{
	float: right;
    padding-right: 10px;
    color: #a2a2a2;
}