/*$counter: 40;*/
@for $i from 0 through $counter {
  .p-#{$i} { padding: 1px * $i; }
  .p-t#{$i} { padding-top: 1px * $i; }
  .p-tr#{$i} { padding-top: 1px * $i; padding-right: 1px * $i; }
  .p-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
  .p-tl#{$i} { padding-top: 1px * $i; padding-left: 1px * $i; }
  .p-r#{$i} { padding-right: 1px * $i; }
  .p-rb#{$i} { padding-right: 1px * $i; padding-bottom: 1px * $i;}
  .p-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i;}
  .p-l#{$i} { padding-left: 1px * $i; }
  .p-bl#{$i} { padding-left: 1px * $i; padding-bottom: 1px * $i;}
  .p-b#{$i} { padding-bottom: 1px * $i;}
}

@media all and (min-width:1200px){
  @for $i from 0 through $counter {
    .p-lg-#{$i} { padding: 1px * $i; }
    .p-lg-t#{$i} { padding-top: 1px * $i; }
    .p-lg-tr#{$i} { padding-top: 1px * $i; padding-right: 1px * $i; }
    .p-lg-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
    .p-lg-tl#{$i} { padding-top: 1px * $i; padding-left: 1px * $i; }
    .p-lg-r#{$i} { padding-right: 1px * $i; }
    .p-lg-rb#{$i} { padding-right: 1px * $i; padding-bottom: 1px * $i;}
    .p-lg-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i;}
    .p-lg-l#{$i} { padding-left: 1px * $i; }
    .p-lg-bl#{$i} { padding-left: 1px * $i; padding-bottom: 1px * $i;}
    .p-lg-b#{$i} { padding-bottom: 1px * $i;}
  }
}

@media all and (max-width:1199px){
  @for $i from 0 through $counter {
    .p-md-#{$i} { padding: 1px * $i; }
    .p-md-t#{$i} { padding-top: 1px * $i; }
    .p-md-tr#{$i} { padding-top: 1px * $i; padding-right: 1px * $i; }
    .p-md-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
    .p-md-tl#{$i} { padding-top: 1px * $i; padding-left: 1px * $i; }
    .p-md-r#{$i} { padding-right: 1px * $i; }
    .p-md-rb#{$i} { padding-right: 1px * $i; padding-bottom: 1px * $i;}
    .p-md-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i;}
    .p-md-l#{$i} { padding-left: 1px * $i; }
    .p-md-bl#{$i} { padding-left: 1px * $i; padding-bottom: 1px * $i;}
    .p-md-b#{$i} { padding-bottom: 1px * $i;}
  }
}

@media all and (max-width:992px){
  @for $i from 0 through $counter {
    .p-sm-#{$i} { padding: 1px * $i; }
    .p-sm-t#{$i} { padding-top: 1px * $i; }
    .p-sm-tr#{$i} { padding-top: 1px * $i; padding-right: 1px * $i; }
    .p-sm-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
    .p-sm-tl#{$i} { padding-top: 1px * $i; padding-left: 1px * $i; }
    .p-sm-r#{$i} { padding-right: 1px * $i; }
    .p-sm-rb#{$i} { padding-right: 1px * $i; padding-bottom: 1px * $i;}
    .p-sm-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i;}
    .p-sm-l#{$i} { padding-left: 1px * $i; }
    .p-sm-bl#{$i} { padding-left: 1px * $i; padding-bottom: 1px * $i;}
    .p-sm-b#{$i} { padding-bottom: 1px * $i;}
  }
}

@media all and (max-width:767px){
  @for $i from 0 through $counter {
    .p-xs-#{$i} { padding: 1px * $i; }
    .p-xs-t#{$i} { padding-top: 1px * $i; }
    .p-xs-tr#{$i} { padding-top: 1px * $i; padding-right: 1px * $i; }
    .p-xs-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
    .p-xs-tl#{$i} { padding-top: 1px * $i; padding-left: 1px * $i; }
    .p-xs-r#{$i} { padding-right: 1px * $i; }
    .p-xs-rb#{$i} { padding-right: 1px * $i; padding-bottom: 1px * $i;}
    .p-xs-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i;}
    .p-xs-l#{$i} { padding-left: 1px * $i; }
    .p-xs-bl#{$i} { padding-left: 1px * $i; padding-bottom: 1px * $i;}
    .p-xs-b#{$i} { padding-bottom: 1px * $i;}
  }
}