$widthcounter: 10;
@for $i from 0 through $widthcounter{
	.w-#{$i*10}{ width:10% * $i; }
}

/*------------------[Md]--------------------*/
@media all and (min-width:992px){
	@for $i from 0 through $widthcounter{
		.w-md-#{$i*10}{ width:10% * $i; }
	}
}

/*------------------[Sm]--------------------*/
@media all and (min-width:768px) and (max-width:991px){
	.w-sm-33{
		width:33.3333333%;
	}
}
@media all and (min-width:768px){
	@for $i from 0 through $widthcounter{
		.w-sm-#{$i*10}{ width:10% * $i; }
	}
}

/*------------------[Xs]--------------------*/
@media all and (max-width:767px){
	@for $i from 0 through $widthcounter{
		.w-xs-#{$i*10}{ 
			@if $i == 10{
				width: 10% * $i !important;
				.chosen-container{
					width:10% * $i !important;
				}
			} @else {
				width:10% * $i; 
			}
		}
	}
}