{*                        {if isset($info) && !empty($info) && !empty($hidden_data['id_profile'])}*}
                        {if isset($info)}
                        <div class="row">
                                <div class="col-xs-12">
                                        <div class="validate blue m-t10">
                                                <div class="validateRow">
                                                        <div class="validateCell">
                                                                <i class="note"></i>
                                                        </div>
                                                        <div class="validateCell">
                                                                <div class="pull-left">
                                                                    <h5>{ci_language line="infomation"}</h5><p>
                                                                        {if isset($info_{$current_page})}{$info_{$current_page}}{else}{ci_language line="info_{$current_page}"}{/if}
                                                                    </p>
                                                                </div>
                                                                <i class="fa fa-remove pull-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {/if}