.sending, .error-message, div[name="message_success"], div[name="message_error"], #send-deletes-message {
    display: none;
}

.form-horizontal .control-label {
    font-weight: normal;
}


.field-hide {
    display: none !important;
}

.synchronize-wrap {
    display: inline-block;
    width: 100%;
}

.synchronize-main {
    margin-top: 20px;
    margin-bottom: 30px;

}

.synchronize-main button i {
    /*font-size: 20px;*/
}

.synchronize-main button i:before {
    margin-right: 5px;
    position: relative;
    top: 0px;
}

.btn-wizard {
    vertical-align: top;
    line-height: 33px;
    padding: 0 20px;
}

.import-order-button button i {
    font-size: 13px;
}

.import-order-button button i:before {
    top: 0px;
}

.b-Top {
    border-bottom: none !important;
}

.btn i {
   margin-right: 0 !important; 
   border-right: none !important; 
   padding-right: 0 !important;
}

.tab-content p {
      color: #83a7d9;
}

.fa-magic:before {
    top: 3px !important;
    position: relative;
    font-size: 18px;
    margin-right: 5px;
}

.status {
    display: none;
}

.tab-content span {
    font-size: 13px;
    letter-spacing: -0.5px;
    font-weight: 400;
    /*color: #83a7d9;*/
    font-family: "Roboto", Open Sans, sans-serif;
}

.tab-content p i {
    margin-right: 4px;
}