
.ebay-logo {
    height: 35px;
    position: relative;
    top: -4px;
}

.b-Bottom {
    border-color: #EEE;
}

.validateCell b {
    font-weight: 600
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class*="icon-"] {
    background-image: none;
}

.form-group {
    margin-bottom: 0;
}

.margin-none {
    margin: 0 !important;
}

.padding-none {
    padding: 0 !important;
}

.validate .validateRow .validateCell p {
    font-family: "Roboto", Open Sans, sans-serif;
}

.validateCell  h5 {
    font-family: "Montserrat", Open Sans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 3px;
    text-transform: uppercase;
    font-family: "Roboto", Open Sans, sans-serif;
}  

.validate .validateRow .validateCell .note {
    top: 2px;
}

.form-horizontal .checkbox {
    min-height: 27px;
    float: left;
    clear: both;
    margin-left: 0;
    padding-left: 0;
    padding-top: 4px;
}

.form-horizontal .control-label {
    font-weight: normal;
    /*font-family: roboto;*/
    font-size: 13px;
    /*color: #888 !important;*/
    margin-bottom: 0;
}

.control-label + .help-block {
    margin-top: 0;
}

#returns-information {
    padding: 5px 10px;
    max-width: 100%;
    height: 350px;
    max-height: 350px !important;
}

.half.innerAll {
    margin-bottom: 25px;
}

.text-small {
    /*padding-top: 7px;*/
    display: inherit;
    clear: both;
    color: #BBB;
    margin-top: 8px;
    /*text-transform: lowercase;*/
    font-family: "Open Sans", "Roboto", sans-serif;
}

.select2-container {
    width: 100%;
    height: 34px;
}

.select2-container a {
    min-width: 180px;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a7a7a7!important;
    line-height: 22px !important;
    height: 34px !important;
    border-radius: 0;
    line-height: 34px !important;    
}

.select2-results {
    margin: 0;
    padding: 0;
}

.select2-search {
    background: #FFF;
    padding: 5px 4px;
}

.select2-search:after {
    top: 0;
}

.select2-drop {
/*    width: auto;
    min-width: 500px;*/
    border: 1px solid #DDD;
    border-top: none;
    border-radius: 0;
}

.select2-results .select2-highlighted {
    background: #4693FE;
}

.select2-container .select2-choice {
    border-radius: 0;
    padding: 0 0 0 12px;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 5px 4px;
}

.select2-container .select2-choice .select2-arrow b:before {
    content: '';
}

.select2-search:after {
    content:'';
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 28px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #EEE;
    border-radius: 0;
    background-clip: padding-box;
    background: #F2F2F2;
    margin-right: 0;
}

.select2-container .select2-choice div {
    background: #F1F1F1 !important;
    border-left: 1px solid #EDEDED;
    width: 32px;
}

.select2-container .select2-choice div b {
    background-position: 8px 5px;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: 600;
    background: #F5F5F5 !important;
    padding: 10px 7px;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    font-size: 11px;
}

.select2-results li {
    border-bottom: 1px solid #F2F2F2;
    width: auto;
    list-style-type: decimal;
    display: list-item;
    list-style-position: inside;
}

.select2-drop { margin-top: 0px; }
.select2-results {
    background: #FFF;
    font-size: 13px;
    line-height: 20px;
    color: #888;
}

.select2-disabled {
    background: #CCC;
    color: #CCC;
}
/*
input[type=text], input[type=password], select, textarea {
    margin-top: 5px;
    position: relative;
    top: -5px;
}*/

.style-hide {
    display: none;
}


.clearspan {
    margin-left: 0 !important;
    margin-top: 5px;
}

.clearfix {
    clear: both;
}

.widget-body > h5 {
    margin-top: 0px;
    font-size: 17px;
    text-transform: uppercase;
}

.widget-box {
    padding: 15px 0 20px 0px;
}

.input-group {
    margin-bottom: 0;
}

.input-group-addon + input {
    border-left: 1px solid #EEE !important;
}

input[type=text], input[type=password], select, .select2-container a {
    /*background: #FBFBFB !important;*/
    text-transform: uppercase;
}

input[readonly] {
    background: #FAFAFA !important;
}


.widget-tabs {
    border: none !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
}

.widget-tabs > .widget-head > ul > li {
    font-weight: 400 !important;
    border-top: 1px solid #EEE;
    border-left: none;
    border-right: 1px solid #EEE;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    padding: 0 5px;
    min-width: 220px;
    text-align: center;
    font-size: 11px !important;
    font-family: "Montserrat", Open Sans, sans-serif;
}


.widget-tabs > .widget-head > ul > li:first-child {
    border-radius: 5px;
    border-left: 1px solid #EEE;
}


.widget.widget-tabs>.widget-head > ul > li {
    font-family: "Open Sans", "Roboto", sans-serif
}

.widget.widget-tabs>.widget-head > ul > li.active a {
    font-weight: 600 !important;
    color: #333;
    
}


.widget.widget-tabs>.widget-head > ul > li a i {
    margin-right: 7px;
    font-weight: 400 !important;
}

.widget.widget-tabs>.widget-head > ul > li.active a i:before {
    color: #4693FE;
    font-weight: 400 !important;
}

.widget.widget-tabs>.widget-head > ul > li a i:before {
    font-size: 14px !important;
}

.tab-content .widget-head .heading {
    color: #FFF;
}

.tab-content {
    /*padding-bottom: 30px !important;*/
    margin-top: 10px;
}

@media only screen and (min-width:400px) and (max-width:1000px) {
    .widget.widget-tabs>.widget-head ul li {
            border-radius: 0px !important;
            border: 1px solid #EEE !important;
            border-bottom: none !important;
    }
}

.widget.widget-inverse > .widget-body {
    padding: 0;
}

.header-main {
    font-family: "Montserrat", Open Sans, sans-serif !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #666 !important;
    margin-bottom: 20px;
    line-height: 60px;
    margin-top: 0;
    height: 60px;
    float: none;
    padding: 0;
}

.header-main.header-bottom, .title-main.title-bottom {
    border-bottom: 1px solid #F1F1F1 !important;
}

.header-main.header-full {
    /*padding-top: 20px !important;*/
    /*padding-bottom: 20px !important;*/
    margin-bottom: 0px !important;
    border-top: 1px solid #EEE !important;
}

.header-main.header-half {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.title-main {
    font-family: "Montserrat", Open Sans, sans-serif !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #4693FE !important;
    position: relative;
    margin:0;
}

.title-main.title-half {
    padding: 20px 0 20px !important;
    /*margin-bottom: 25px !important;*/
    border-top: 1px solid #F1F1F1 !important;
}

.title-main.no-margin {
    margin: 0;
}

.title-main > .confirm-ul {
    line-height: 55px;
    position: absolute;
    right: 0;
    top: -1px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    text-align: center;
    font-size: 0;
    border-right: 1px solid #EEE;
}

.title-main > .confirm-ul > li {
    /*border: 1px solid #EEE;*/
    border-right: none;
    /*padding: 0 20px;*/
    display: inline-block;
    min-width: 130px;
    font-size: 11px;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: -0.5px;
    /*border-top: none;*/
}

.title-main > .confirm-ul > li > i {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin-right: 5px;
}

.title-main > .confirm-ul > li > a > i {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin-right: 5px;
}

.title-main > .confirm-ul > li > i:before {
    top: 1px;
    position: relative;
}

.title-main > .confirm-ul > li > a > i:before {
    top: 1px;
    position: relative;
}

.title-main > .confirm-ul > li > i.fa.fa-square-o:before {
    top: 2px;
}

.title-main > .confirm-ul > li > a {
    display: block;
    margin-top: 0 !important;
    border: 1px solid #EEE;
}

.title-main > .confirm-ul > li > a {
    display: block;
    margin-top: 0 !important;
    border-right: 1px solid #FFF;
}

.title-main > .confirm-ul > li > a.red:hover {
    border: 1px solid #F74F63 !important;
}

.title-main > .confirm-ul > li > a.green:hover {
    border: 1px solid #00CE88 !important;
}

.title-main > .confirm-ul > li > a.blue:hover {
    border: 1px solid #4693FE !important;
}

.widget.widget-inverse > .widget-head {
    background: #FFF;
    color: #666;
    border-bottom: none;
    height: 60px;
    line-height: 60px;
    position: relative;
    /*padding: 0 25px;*/
    overflow: hidden;
}

.form-group > .control-label {
    width: 100%;
    text-align: left;
    padding: 0 0 10px;
    text-transform: uppercase;
/*    font-weight: 600;
    color: #666;*/
    font-weight: 600 !important;
    color: #555 !important;
    font-family: "Montserrat", Open Sans, sans-serif !important;
    font-size: 12px !important;
    letter-spacing: -0.3px;
}

.form-group > .control-label > i {
    margin-right: 5px;
}

[class^='col-md'], [class^='col-xs'] {
    padding: 0!important;
}
/*
.red {
    clear: both;
    color: #F74F63 !important;
    font-weight: 600;
    margin-top: 20px !important;
}*/

.orange {
    color: #F7A04F !important;
}

.angle-right {
    text-align: center;
}

.angle-right i {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #4693FE !important;
}

.angle-right i.fa-chevron-right {
    height: 34px;
    line-height: 34px;
    color: #4693FE !important;
}

.angle-right i:before {
    font-weight: 600;
}

.help-clear {
    clear: both;
    font-size: 13px;
    margin-top: 10px !important;
    float:left;
    font-family: "Open Sans", "Roboto", sans-serif;
}

.lbl > a {
    font-weight: 600;
    color: #4693FE !important;
}

h5 + h5 + .widget-main {
    padding: 20px 50px !important;
}

.checkbox-custom i {
    width: 14px;
    height: 14px;
    border: 1px solid #DFDFDF;
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.radio-custom > i {
    width: 14px;
    height: 14px;
    border: 1px solid #4693FE;
    border-radius: 100%;
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.checkbox-custom i.checked {
    border: none;
}

.checkbox-custom i.checked::before {
    color: #4693FE !important;
}

.checkbox-custom i::before {
    content: '';
    margin-left: 1px;
}

.checkbox-custom {
    margin-top: 4px;
}

.radio-custom {
    margin-top: 4px;
}

.radio-custom >  i::before {
    content: '';
    margin-left: 1px;
}

.radio-custom >  i.checked {
    border: none;
    color: #4693FE !important;
    position: relative;
    left: -1px;
    top: -1px;
    font-size: 17px;
}

label.error::before {
    content: "\f06a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    margin-left: 2px;
}

label.error {
    background: #FFF;
    text-align: left;
    padding: 10px 0;
    color: #F64E62 !important;
    border: none !important;
    font-weight: 600 !important;
    margin-bottom: 5px;
    margin-top: 2px;
    font-family: "Open Sans", "Roboto", sans-serif !important;
    font-size: 13px !important;
}

.group-error {
    border-left: 1px solid #F64E62 !important
}

.select2-container a.group-error {
    border-left: 1px solid #F64E62 !important
}

a.icons-plus {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

.icons-plus > .fa {
    width: 14px;
    height: 14px;
    color: #4693FE;
    font-size: 14px;
}

.icons-plus > .fa.fa-plus-square-o {
    font-size: 14px;
}

.icons-plus > .fa.fa-minus-square-o {
    font-size: 14px;
}

.profile-shipping .icons-plus > .fa {
    font-size: 14px;
    margin-left: 2px;
}

a.insert-plus {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    top: 1px;
    position: relative;
    margin-right: 3px;
}

a.remove-plus {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    top: 1px;
    position: relative;
    margin-right: 3px;
    color: #F74F63;
    text-decoration: none;
}

.insert-plus > .fa {
    width: 14px;
    height: 14px;
    color: #00CE88;
    font-size: 14px;
    margin-left: 1px;
}

.remove-plus > .fa {
    width: 14px;
    height: 14px;
    color: #F74F63;
    font-size: 14px;
    margin-left: 2px;
}

label.label-insert-plus {
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: #666;
    font-size: 11px;
}

label.label-remove-plus {
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: #666;
    font-size: 11px;
}

.fa-minus-square-o {
    color: #F64E62 !important;
}

.btn-success {
    background-color: #00CE88;
    border-color: #00CE88;
}

.btn-success.btn-stroke {
    background-color: #00CE88;
    border-color: #00CE88;
}

.btn-success:hover {
    color: #00CE88;
    border-color: #00CE88;
}

.btn-success:focus {
    color: #00CE88;
    border-color: #00CE88;
}

.btn-success.btn-stroke:hover {
    color: #FFF;
    background-color: #00CE88;
    border-color: #00CE88;
}

.btn-primary {
    background-color: #4693FE;
    border-color: #4693FE;
}

.btn-primary.btn-stroke {
    background-color: #FFF;
    border-color: #4693FE;
    color: #4693FE;
}

.btn-primary:hover {
    color: #4693FE;
    border-color: #4693FE;
}

.btn-primary:focus {
    color: #4693FE;
    border-color: #4693FE;
}

.btn-primary.btn-stroke:hover {
    color: #FFF;
    background-color: #4693FE;
    border-color: #4693FE;
}

.btn-danger {
    background-color: #F74F63;
    border-color: #F74F63;
}

.btn-danger.btn-stroke {
    background-color: #FFF;
    border-color: #F74F63;
    color: #F74F63;
}

.btn-danger:hover {
    color: #F74F63;
    border-color: #F74F63;
}

.btn-danger:focus {
    color: #F74F63;
    border-color: #F74F63;
}

.btn-danger.btn-stroke:hover {
    color: #FFF;
    background-color: #F74F63;
    border-color: #F74F63;
}

.md-pull-right {
    float: right;
    margin-right: 15px;
}

.wizard-style li {
    width: 10%;
}

.wizard-steps li .step {
    border-color: #4693FE !important;
    color: #4693FE;
    border-radius: 100%;
    background-color: #FFF;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    padding: 0 !important;
    border: 2px solid #ced1d6;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding-top: 1px !important;
    font-weight: 400;
    font-family: "Montserrat", Open Sans, sans-serif;
}


.wizard-steps li.active .step {
    background: #4693FE !important;
    color: #FFF;
}

.wizard-steps li .title, .wizard-steps li.active .title {
    margin-top: 10px;
    color: #4693FE;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Roboto", Open Sans, sans-serif;
}

.wizard-steps {
    display: inline-block;
    padding-bottom: 15px;
    margin-top: 15px;
}

.wizard-style li, .wizard-style li.active .step, .wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step, .wizard-steps li:before {
    border-color: #4693FE !important;
}

.wizard-style li .step {
    font-size: 18px !important;
}

.wizard-steps li:before {
    width: 102%;
}

.half.innerAll.wizard-header {
    background: #FFF !important;
}

.wizard-page {
    padding: 0 30px;
    margin-top: -40px;
}

h5.wizard-wrap {
    font-family: "Roboto", Open Sans, sans-serif;
    padding: 25px 0 20px;
    border-bottom: 1px solid #EEE;
    /*font-size: 24px;*/
    text-transform: uppercase;
    color: #777;
    text-align: left;
    font-size: 20pt;
    font-weight: 300;
}

#category-list {
    border: 1px solid #EEE;
    /*margin-top: 15px;*/
    /*padding: 20px 0 !important;*/
    border-top: none;
}

.widget-body.categories_searches {
    border: none;
}

#category-list ol li a, #finder-result a {
    color: #4693FE !important;
    font-family: "Roboto", Open Sans, sans-serif;
    font-weight: 300;
    font-size: 13px;
}

#finder-result {
    padding: 0;
    font-weight: 600;
    font-size: 11px;
}

#finder-result li {
    list-style: none;
    padding: 5px 0 0;
}

#category-list ol {
    border: none;
    margin: 0px;
    background: #FFF;
    /*padding-left: 50px;*/
    list-style-position: outside;
    font-size: 12px;
    font-family: "Roboto", Open sans, sans-serif;
}

#category-list ol li a {
    /*padding: 5px 0;*/
    /*background: #FFF;*/
}

.leaf .green {
    color: #00CE88 !important;
}

#breadcrumbs {
    display: block;
    background: #00CE88;
}

#breadcrumbs ol {
    background: #FFF;
    border: none;
    margin-left: 25px;
    background: #00CE88;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

#breadcrumbs ol > li > a {
    color: #FFF;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px !important;
    line-height: 30px;
    font-family: "Montserrat", Open Sans, sans-serif;
}

#breadcrumbs ol > li:after {
    color: #FFF;
    margin-right: 10px;
}

#tree1 {
    margin-top: 0px;
}

#tree1 .categories_searches {
    padding: 0px;
}

#back-bar {
    border: none;
}

#back-bar a {
    padding: 2px 24px !important;
    display: inline-block;
    background: #666;
    color: #fff;
    font-weight: 600;
    padding: 0px 15px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    width: 100%;
    font-family: "Montserrat", Open Sans, sans-serif;
}
/*
#category-list ol li a {
    padding: 10px 0;
}*/

.fa.fa-chevron-right:before {
    content: "\f105";
    font-size: 18px;
}

.fa.fa-angle-right:before {
    content: "\f105";
    font-size: 18px;
}

.widget-main {
    padding: 15px 0;
}

.alert {
    border-radius: 0;
}

.alert.alert-info {
    padding: 0;
    border: none;
    font-size: 0;
    display: block;
    position: relative;
}

.alert-icon {
    display: inline-block;
    height: 100%;
    width: 50px;
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    position: absolute;
    z-index: 10;
    background: #C7DAF4;
}

.alert-icon .fa {
    font-size: 18px;
}

.alert-icon strong {
    display: none;
}

.alert.alert-info ul {
    padding: 20px;
    background: #DDEBFF;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-left: 100px;
}

.col-md-2 + .col-md-10 {
    width: 100%;
}

.form-group .control-label-fluid {
    display: inline-block;
    width: auto;
    line-height: 34px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-family: "Montserrat", Open Sans, sans-serif !important;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #666 !important;
}

.cover-group {
    margin: 0;
    padding: 10px 0 !important;
}

.controller-page {
    margin-top: 30px;
    padding: 25px 0 !important;
    border-top: 1px solid #EEE;
/*    margin-left: 25px;
    margin-right: 25px;*/
}

.controller-page .btn {
    margin: 15px 0;
    /*padding: 6px 20px;*/
    font-size: 12px;
    font-family: "Roboto", Open Sans, sans-serif;
    border-radius: 5px;
}

.controller-page .btn[type="back"] {
    background: #FFF;
    color: #4693FE;
}

.controller-page .btn i {
    margin-left: 5px;
    font-size: 11px;
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.controller-page .btn i:before {
    position: relative;
    top: 1px;
    font-size: 14px;
}


.label-mb10 {
    margin-bottom: 10px !important;
}

.label-mb15 {
    margin-bottom: 15px !important;
}

.label-mb20 {
    margin-bottom: 20px !important;
}

.btn {
    font-family: "Roboto", Open Sans, sans-serif;
    font-size: 11px !important;
    text-transform: uppercase!important;
    letter-spacing: -0.5px;
    line-height: 31px;
    padding: 1px 12px 0;
}  

.btn i {
    margin-right: 1px;
    padding-right: 5px;
}

.btn i.fa-right {
    border-right: 1px solid #FFF;
}

.btn-success i {
    border-right: none;
}

input[type=checkbox]+.lbl, input[type=radio]+.lbl {
    font-size: 13px;
}

.green {
    color: #00CE88 !important;
}

.blue {
    color: #4693FE !important;
}

.red {
    color: #F74F63 !important;
}

.grey {
    color: #7c7c7c !important;
}


.visibility-hide {
    visibility: hidden;
}

.dataTables_wrapper .dataTables_filter {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
}

.dataTables_wrapper .dataTables_info {
    color: inherit !important;
    font-weight: 400;
    margin-top: 0;
    float: right;
}

.dataTables_wrapper .dataTables_length {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
}

.dataTables_wrapper .dataTables_length label {
    margin-top: 0;
}

.form-group.active input {
    border-color: #EEE;
}

/*input, textarea {
    border-left: 1px solid #4693FE !important;
}*/

input.error {
    /*border-left: 1px solid #F64E62 !important;*/
	border-color:#F64E62 !important;
}

.input-group input.error {
    /*border-left: 1px solid #E5E5E5 !important;*/
	border-color:#E5E5E5 !important;
}

.header-tab-switch {
    /*margin-top: 30px;*/
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-family: "Open Sans", "Roboto", sans-serif;
    font-size: 12px;
}

.select2-search input {
    top: 0px !important;
    margin-top: 0px !important;
    background: #FFF !important;
    text-transform: none !important;
}

.validate .validateRow .validateCell:nth-child(2) {
    padding-bottom: 15px;
}

.headSettings .title-main {
    float:left;
    padding: 20px 0;
}

.treeSettings li:first-child {
    clear: both;
}

.headSettings .treeSettings li {
    cursor: pointer;
}

.treeSettings li {
    padding: 0 20px;
    line-height: 56px;
}

.treeSettings .blue:hover {
    outline: 1px solid #4693FE !important;
    cursor: pointer;
}

.treeSettings .red:hover {
    outline: 1px solid #F74F63 !important;
    cursor: pointer;
}

.treeSettings .green:hover {
    outline: 1px solid #00CE88 !important;
    cursor: pointer;
}

.treeSettings .grey:hover {
    outline: 1px solid #7c7c7c !important;
    cursor: pointer;
}

i[class^="cb-"] {
    float: none;
    display: inline-block;
    top: 1px;
}

.tree .treeRight {
    top: 0px;
    border-bottom: none; 
    font-weight: 600;
    font-size: 12px;
}

.chosen-container.chosen-with-drop .chosen-drop {
      box-shadow: none;
      border-left: none;
      border-right: none;
      outline: 1px solid #FFF;
}

.chosen-container .chosen-drop .chosen-results li {
    font-size: 12px;
    font-weight: 300 !important;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.3px;
    border-bottom: 1px solid #EEE;
    border-left: none;
}

.chosen-container .chosen-drop .chosen-search input {
    border: 1px solid #EEE;
    text-transform: none !important;
}

.chosen-container .chosen-drop .chosen-search input:focus {
    outline: none !important;
    margin-left: 0;
}

.tree_show .icon-more {
    border-radius: 0px;
    -webkit-border-radius: 0;
}

.tree ul li ul {
    padding-top: 4px;
}

.tree ul li ul li {
    padding-bottom: 14px;
}

.tree ul li span.tree_item {
    padding-left: 4px;
}

.tree:before {
    border: none;
}

.tree {
    padding-left: 0;
    overflow: initial !important;
}

.tree .tree-folder:before, .tree .tree-item:before {
    border: none;
}


ul.chosen-results {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.treeSettings > li {
    font-family: "Roboto", Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -0.3px
}

.treeSettings > li > i.fa {
    font-size: 16px;
    margin-right: 5px;
}

.treeSettings > li > i.fa:before {
    position: relative;
    top: 2px;
}

.form-group.disabled:after {
    background-image: none !important;
}

.field-hide {
    display: none !important;
}