@import url("univers_main.css");

.univer-string {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif !important;
    color: #a7a7a7;
    text-transform: none;
}

.univers_list_group.widget-main {
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
}

.univers_list_group.widget-main:last-child {
    border-bottom: none;
}