.field-hide, .no_accepted {
    display: none;
}

.variation-main {
    margin-bottom: 5px !important;
}

.edit-new {
    text-decoration: none;
    width: 38px;
    padding: 0 !important;
    height: 34px;
    line-height: 31px;
}

.addVariations {
    margin-left: 10px;
}

.select2-search input {
    text-transform: none;
}

.insert-variation {
    margin-top: 5px !important;
    display: inline-block;
    clear: both;
}

.insert-variation-label:after {
    font-family: FontAwesome;
    font-size: 14px;
    display: inline;
    content: "\f196" !important;
    position: relative;
    top: 2px;
    left: -20px;
    z-index: 0;
    color: #4693FE !important;
    cursor: pointer;
}

.select2-input {
    text-transform: none;
}

.modal-backdrop {
    z-index: 999999;
}

.modal {
    z-index: 1000001;
}

.sp-select-main-type {
    margin-top: 5px;
}

.sp-select-main-type {
    margin-top: 5px;
    position: relative;
    top: -5px;
}

select + .sp-help {
    margin-top: 13px !important;
    margin-bottom: 5px;
}

.exclude-variation-type label {
    padding: 10px 5px !important;
    border-top: 1px solid #EEE;
}

.include-variation-type label {
    padding: 10px 5px !important;
    border-top: 1px solid #EEE;
}

.exclude-variation-type label .fa, .include-variation-type label .fa {
    width: 18px;
    height: 14px;
    color: #F74F63;
    font-size: 18px;
    top: 2px;
    position: relative;
    margin-right: 7px;
}

.exclude-variation-type label i:before {
    margin-left: 2px;
}

.include-variation-type label .fa {
    width: 18px;
    height: 14px;
    color: #00CE88;
    font-size: 18px;
    top: 2px;
    position: relative;
    margin-left: 2px;
}

.include-variation-type label i:before {
    margin-left: 2px;
}

.exclude-variation-type div input, .include-variation-type div input {
    list-style-type: none;
    padding: 10px 8px;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer !important;
    border: none !important;
    border-radius: 0;
    font-weight: 300;
    color: #888;
    font-family: "Roboto", Open Sans, sans-serif;
}
.exclude-variation-type div input:nth-child(2n - 1), .include-variation-type div input:nth-child(2n - 1) {
    background: #F6F6F6 !important;
}

.sp-exchange {
    text-align: center;
    margin-top: 40px;
}

.sp-exchange-type-left i {
    font-size: 16px;
    font-weight: 600;
    left: -1px;
    position: relative;
}

.sp-exchange-type-right {
    margin-top: 10px;
}

.sp-exchange-type-right i {
    font-size: 16px;
    font-weight: 600;
    left: 0px;
    position: relative;
}

.li-exclude-type {
    cursor: pointer;
}

.li-exclude-type.active {
    background: #4693FE !important;
    color: #FFF;
}

.li-include-type {
    cursor: pointer;
}

.li-include-type.active {
    background: #4693FE !important;
    color: #FFF;
}

.exclude-variation-type div input.li-exclude-type.active:nth-child(2n - 1), .include-variation-type div .li-include-type.active:nth-child(2n - 1) {
    background: #4693FE !important;
    color: #FFF;
}

.include-varitation-main {
    margin-bottom: 50px;
}

.attribute-main-ebay, .sp-attribute-main-ebay {
    text-transform: none !important;
}

.sp-variation-main {
    margin-bottom: 30px;
}

.ul-exclude-type, .ul-include-type {
    border-top: 1px solid #EEE;
}

.li-exclude-type:first-child, .li-include-type:first-child {
    box-shadow: none;
}

.value-type-group {
    margin-top: 5px;
}

.insert-variation-label {
    text-transform: none !important;
}

.sp-input-main-type {
    margin-bottom: 5px;
}

/*
.b-Top {
    border-bottom: none;
}*/

.btn i {
   margin-right: 0 !important; 
   border-right: none !important; 
   padding-right: 0 !important;
}

.sp-edit-new {
  height: 34px;
  line-height: 31px;
  text-decoration: none;
  width: 38px;
  padding: 0 !important;
  height: 34px;
  line-height: 31px;
}

.tab-content p {
      color: #83a7d9;
}

.sp-attribute-main-ebay, .attribute-main-ebay, .select2-container a {
    text-transform: none !important;
}

.headSettings {
    border-top: none;
    padding-top: 0;
}

.col-md-12.type-name + .col-md-12.type-value {
    margin-top: 20px;
}