.field-hide {
    display: none;
}

.get-store {
    padding-left: 0 !important;
    float: right;
}

.config-main {
    margin-bottom: 50px !important;
}

[type="button"] {
    margin-top: 15px;
}

.categories-margin {
    margin-top: 5px;
}

.b-Top {
    border-bottom: none;
}

#profile-name {
    text-transform: none;
}