
.integration-style .wizard-steps li {
    width: 33.33%;
}

.ebay-integration-main {
    margin-bottom: 50px;
}

.synchronization-load {
    margin-top: 30px;
    color: #4693FE;
    display: none;
}

.btn-synchronization {
    margin-top: 15px;
}

.debug_mode:before {
    content: 'Debug mode :';
    margin-right: 10px;
    font-size: 12px;
    color: #00ce88;
    letter-spacing: -0.5px;
}

.cb-switcher, .cb-switcher * {
  top: -2px;
}

.b-Top {
    border-bottom: none;
}