label.carrier-configuration {
        font-weight: 600;
}

.form-group .col-md-10 > label {
        font-weight: 400;
}

.form-group .col-md-10 > label {
        margin-top: 5px;
}

.select2-container {
        width: 100%;
}

.select2-results li {
    border-bottom: 1px solid #F2F2F2;
}

.form-group label {
        font-weight: 400;
}

.checkbox-custom {
        padding-left: 0 !important;
}

.form-group .col-md-10 > label > input {
    position: relative;
    top: 2px;
}

.form-group .col-md-10 > .span6 {
    margin-left: 0;
}



.rules-label {
    font-size: 13px;
}

label.error {
        font-weight: 600 !important;
        margin-bottom: 5px;
        margin-top: 2px;
}

.input-group > label.error {
        margin-bottom: 0px;
}

.select2-disabled {
    background: #CCC;
    color: #CCC;
}

.dispatch_time, .sp-dispatch-time {
    width: 50%;
}

.dispatch_time option:before, .sp-dispatch-time option:before {
    content: 'Days';
}

.widget-box .rules-body {
    border-bottom: 1px solid #EEE;
}

.rules-body + .rules-body {
    margin-top: 30px;
}

.rules-body .rules-carriers-main:first-child {
      /*border-bottom: 1px dotted #EEE;*/
}

.rules-carriers-body {
    margin-top: 15px !important;
    clear: both;
}

.asterisk {
    top: 3px;
    right: -20px;
    position: absolute;
    line-height: 24px;
    color: #FE4747;
    font-size: 11px;
}


.field-hide {
    display: none !important;
}

/*.spacing-x2 .widget .widget-body, .spacing-x2 .filter-bar .widget-body {
    border:none !important;
    padding: 25px 25px 0px !important;
}*/


.widget-box .rules-body:last-child {
    border-bottom: none;
}


#form-submit .widget-body h5.innerAll .fa {
    font-size: 20px;
    margin-right: 9px;
    top: 2px;
    position: relative;
}

input[type=text], input[type=password], select, textarea {
    top: 0;
    margin-top:0;
}

.carrier-configuration + .col-md-10 > label {
    padding-left: 0px !important;
}

.select2-drop {
	min-width: 400px !important;
}

.domestic-main .col-md-10 > .col-xs-5, .domestic-main .col-md-10 > col-md-3{
    padding-left: 0px;
}

/*.international-body, */.sp-international-body {
    padding-top: 15px;
    border-top:1px dashed #EEE;
}

.international-body {
    padding-top: 0px;
}

.international-body[rel='2'], .sp-international-body[rel='2'] {
    padding-top: 0;
    border-top: none;
}

/*.domestic-body, */.sp-domestic-body {
    padding-top: 15px;
    border-top:1px dashed #EEE;
    padding-bottom: 0px;
}

.domestic-body {
    padding-top: 0px;
}

.domestic-body[rel='2'], .sp-domestic-body[rel='2'] {
    padding-top: 0;
    border-top:none;
}

.choose-country {
    margin-top: 20px;
}

.sp-domestic-main, .sp-dispatch-main, .dispatch-main, .domestic-main, .international-main, .postal-main {
    margin-bottom: 30px !important;
    /*margin-top: 20px;*/
}

.widget-inverse > .widget-body > .heading-buttons.border-bottom.blue {
    font-size: 16px !important;
    padding-bottom: 20px !important;
    text-transform: none !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding-top: 0px !important;
}

.input-group-addon .fa {
    width: 10px !important;
}

.input-group .input-group-addon i:before, .input-append .input-group-addon i:before {
    color: #888;
}

.input-group-addon strong {
    color: #888;
}

.input-group .input-group-addon, .input-append .input-group-addon {
    background: #F5F5F5;
}

/*
.b-Top {
    border-bottom: none;
}*/

.btn i {
   margin-right: 0 !important; 
   border-right: none !important; 
   padding-right: 0 !important;
}

.tab-content p {
      color: #83a7d9;
}

.international-carriers-body > .form-group + .form-group {
    margin-top: 10px;
}


.carriers-help {
    display: inline-block;
    width: 100%;
}

.carrier-margin-top {
    margin-top: 10px;
}

input[type=text], input[type=password], select, textarea {
  border-color: #EEE;
}

.domestic-body .domestic-carriers-body > .control-label,
.international-body .international-carriers-body > .form-group > .control-label
{
    display: none;
    padding: 0 0 15px;
}

.domestic-body[rel='2'] .domestic-carriers-body > .control-label,
.international-body[rel='2'] .international-carriers-body > .form-group > .control-label
{
    display: block;
}

.domestic-body > .widget-main,
.international-body > .widget-main
{
    padding: 5px 0;
}

.domestic-body[rel='2'] > .widget-main,
.international-body[rel='2'] > .widget-main
{
    padding: 15px 0 5px;
}

.option_modes {
    margin-top: 30px;
    margin-bottom: 15px !important;
}

.option_mode {
    margin-top: -3px;
    margin-left: 10px;
}