/* #tree1{ overflow-y: hidden;} */
ul.tree_point{ padding-bottom:40px;}
.tree-folder-header .pull-right{ width:450px; position: absolute; top: 4px; right: 0px;}
.profile{ /*width: 90%; */height: 25px; font-size: 12px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
div.tree-folder i.cp_down_btn.fa-arrow-down { transform: rotate(0deg); }  
.tree-folder .fa-angle-double-down{ font-size:24px; margin:8px 20px 0 0; }
.pull-right { text-align: right}
input.select-main { border: 1px solid #EEE; height: 34px; width: 360px; background: #FFF !important; font-size: 13px !important;
  font-weight: 400;
  text-transform: none !important; }
input.select-main[readonly] {
  background: #FFF !important;
}
.treeRight, .getStore {
    display: none;
}
input + .fa-angle-double-down { margin-top: 3px !important; }
/*#main_selectbox select { cursor: pointer; padding: 0 10px; line-height: 29px; height: 29px; }*/
#main_selectbox select + .fa-angle-double-down { margin-top: 3px !important; }
.select2-container { padding: 0 !important; text-align: left; }
.select2-container a { color: #AAA !important; font-size: 13px !important; padding: 0px 15px !important; line-height: 30px !important; }
/*.select2-results li:first-child { height: 0; }*/
.select2-drop { margin-top: -30px; }
.select2-results {
    background: #FCFCFC;
    font-size: 13px;
    line-height: 20px;
    color: #888;
}

#main, #main_selectbox, #main-selected {
    display: none;
}

.select2-results li {
    border-bottom: 1px solid #F2F2F2;
}

.checkbox-custom > i.fa {
    margin: 0 !important;
}

.checkbox-custom span.lbl {
    font-weight: 600;
    margin-left: -8px;
}

.widget-tabs {
    border: none !important;
    margin-bottom: 0 !important;
}

.widget-tabs > .widget-body {
    padding-bottom: 0 !important;
}

.widget-tabs {
    border: none !important;
    margin-bottom: 0 !important;
}

.widget-tabs ul li {
    font-weight: 600 !important;
}

.widget.widget-tabs>.widget-head ul li.active a {
    font-weight: 600 !important;
}

.widget.widget-tabs>.widget-head ul li a i:before {
    font-size: 14px !important;
}

.tab-content .widget-head .heading {
    color: #FFF;
}

#tree2, #tree3, #tree4 {
/*    padding-left: 30px; */
}

#tree2.tree:before, #tree3.tree:before, #tree4.tree:before {
    left: 18px;
}

.widget.widget-tabs>.widget-head ul {
    position: absolute;
}

@media only screen and (min-width:400px) and (max-width:1417px) {
    iframe .widget.widget-tabs>.widget-head ul {
            position: relative;
    }
    
    .tree-folder-header .pull-right{ width:300px; }
}

@media only screen and (min-width:400px) and (max-width:1000px) {
    .widget.widget-tabs>.widget-head ul {
            position: relative;
    }
    .tree-folder-header .pull-right{ width:300px; }
}

.select2-drop {
	width: 750px !important;
}

#main-secondary-selected,#main-store, #main-secondary-store-selected, #main-store-selected { display:none}
.tree ul li{ -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.ebay-logo {
  height: 35px;
  position: relative;
  top: -4px;
}

.cb-plus.good {
    margin-top: 3px;
}

.tree label {
    font-size: 11px !important;
    margin-left: 5px;
}

.tree label .lbl {
    margin-left: 5px;
      font-weight: 400;
  letter-spacing: -0.3px;
}

.tree .treeRight.selectTree {
    border-bottom: none;
}

#tree1 {
    margin-top: 10px;
}

.chosen-container .chosen-single span {
    letter-spacing: -0.3px;
    font-size: 13px;
}

[class*="icon-"] {
    background-image: url('../../../images/icons/sprites.png') !important;
}

.headSettings {
    border-top: 1px solid #EEE !important;
    margin-bottom: 1px;
}

.tab-content p {
      color: #83a7d9;
}

.title-main.title-half {
    margin-top: 0px !important;
}

.b-Top {
    border-bottom: none;
}

.treeSettings li {
    border-color: #EEE !important;
}