.field-hide, .no_accepted {
    display: none;
}

.condition-description-span {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.condition-description {
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    padding: 5px 10px;
}

.col-md-10 > .input-icon > select {
    height: 15px !important;
    padding: 0 !important;
}
.input-icon.input-icon-right>input {
    padding-left: 15px;
}

.condition-main {
    margin-bottom: 50px !important;
}

.condition-main-values {
    margin-bottom: 5px;
}

.b-Top {
    border-bottom: none;
}

.tab-content p {
      color: #83a7d9;
}

.headSettings {
    border-top: none;
    padding-top: 0;
}