#content > .innerAll {
    padding: 8px 15px 0;
}

h1.content-heading > img {
    position: relative;
    top: -3px;
}

.ebay-header {
    padding: 20px 15px 15px !important;
}

.ebay-header img {
    margin-bottom: 5px;
    margin-right: 4px;
    height: 25px;
}

label.error {
    font-size: 13px;
    padding: 5px 25px;
    background: #FFE7E7;
    color: #c0392b;
    margin: 0;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#success, #error, #warning, #loading-result {
    display: none;
}

.close {
    visibility: hidden;
}

#loading-result {
    background: #EDEDED;
    padding: 0 20px;
}

#loading-result > h4 {
    margin-bottom: 0;
    line-height: 40px;
}

.form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-xs-12 {
    padding: 0 !important;
}
/*
.widget-body + .widget-body {
    border-top: 1px solid #EEE;
    padding: 15px !important;
}*/

.wizard-header {
    background: #496cad !important;
}

.wizard-style {
    margin-top: 30px;
}

.wizard-style li {
    width: 12.5%;
}

.wizard-style li, .wizard-style li.active .step, 
.wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {
    border-color: #496cad !important;
    color: #496cad;
    font-weight: 400;
    font-size: 13px;
}

.wizard-steps li:before {
    border-top: 3px solid #ced1d6;
}

.wizard-style li .step {
    font-size: 15px !important;
    border: 3px solid #ced1d6;
}

.wizard-steps li.active .title {
    color: #496cad;
}

.wizard-steps li .title {
    font-weight: 400;
    font-size: 13px;
}

.alert-info ul li {
    text-indent: 45px;
    list-style-position: inside;
    list-style-type: circle;
}


.select2-container a {
    background: #FFF !important;
    border: 1px solid #EEE !important;
    font-size: 13px;
}

.gritter-close, .gritter-close:hover {
    background-image: none !important;
    position: absolute !important;
    right: 0px !important;
    left: auto;
}

.gritter-light .gritter-item, .gritter-light .gritter-bottom, .gritter-light .gritter-top, .gritter-light .gritter-close {
    
background-image: none !important;
    
}

.gritter-item-wrapper:hover {
    border: none !important;
}

.gritter-close:before {
    position: absolute;
    right: 10px;
}

.alert-info > b {
    font-weight: 600 !important;
}

.select2-drop { margin-top: -30px; }
.select2-results {
    background: #FCFCFC;
    font-size: 13px;
    line-height: 20px;
    color: #888;
}

form > .widget-body {
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    padding: 10px 10px;
    bottom: 0;
    border-top: 1px solid #DDD;
}