
.modal {
        font-family: roboto;
        color: #888;
        font-size: 12px;
}

.modal .modal-content {
        border-radius: 0;
        border-width: 0px; 
}

.modal .modal-header {
        background: #4693FE;
        text-align: left;
        border-bottom: 1px solid #EEE;
        color: #FFF;
        border-radius: 0;
}

.modal-title {
        font-family: "Montserrat", Open Sans, sans-serif !important;
        text-transform: uppercase;
        font-size: 12px;
}

.modal .modal-footer {
        background: #FFF;
}

.modal button.btn {
        min-width: 70px;
        font-family: roboto;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        /*padding: 4px 15px;*/
}

.bootbox-body-title {
        margin-bottom: 10px;
        margin-top: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
}

.bootbox-body-title b {
        font-weight: 600;
        padding: 0 5px;
}