#statistics>tbody>tr.odd>td, #statistics>tbody>tr.even>td{border-top: 1px solid #e2e2e2; background-color: #f6f6f6;}
.product-row td{background:#f6f6f6;}
a.data_control.plus {
  display: inline-table;
  text-decoration: none;
  cursor: pointer;
  background-color: #4693fe;
  color: white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 16px;
  height: 16px;
}
a.data_control.minus {
  display: inline-block;
  background-color: white;
  color: #4693fe;
  border: 1px solid #4693fe;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 16px;
  height: 16px;
  font-weight: 700;
  padding-top: 0;
  text-decoration: none;
  cursor: pointer;
}
.tabboder {
  border-left: 2px solid #4693fe;
  margin-left: 20px;
  padding-left: 20px;
}
.dataTables_wrapper .dataTables_paginate {margin-top:0px !important;margin-right:20px;}
.error_details{
	padding: 5px 15px; 
	border: 1px solid rgb(244, 244, 244); 
	border-radius: 6px; 
	background-color: rgb(255, 240, 240);
	margin-bottom:20px;
}