@import url('statistic_table.css');

.table > thead > tr > th[rel='batch_id'],
.table > tbody > tr > th[rel='batch_id'],
.table > tfoot > tr > th[rel='batch_id'] {
        min-width: 20% !important;
        width: 20% !important;
        max-width: 20% !important;
}
.table > thead > tr > th[rel='source'],
.table > tbody > tr > th[rel='source'],
.table > tfoot > tr > th[rel='source'] {
        min-width: 15% !important;
        width: 15% !important;
        max-width: 15% !important;
}
.table > thead > tr > th[rel='type'],
.table > tbody > tr > th[rel='type'],
.table > tfoot > tr > th[rel='type'] {
        min-width: 9% !important;
        width: 9% !important;
        max-width: 9% !important;
}
.table > thead > tr > th[rel='total'],
.table > tbody > tr > th[rel='total'],
.table > tfoot > tr > th[rel='total'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='success'],
.table > tbody > tr > th[rel='success'],
.table > tfoot > tr > th[rel='success'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='warning'],
.table > tbody > tr > th[rel='warning'],
.table > tfoot > tr > th[rel='warning'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='error'],
.table > tbody > tr > th[rel='error'],
.table > tfoot > tr > th[rel='error'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='date_add'],
.table > tbody > tr > th[rel='date_add'],
.table > tfoot > tr > th[rel='date_add'] {
        min-width: 20% !important;
        width: 20% !important;
        max-width: 20% !important;
}

.table > thead > tr > th[rel='download'],
.table > tbody > tr > th[rel='download'],
.table > tfoot > tr > th[rel='download'] {
        min-width: 5% !important;
        width: 5% !important;
        max-width: 5% !important;
}
