

th[data-role="price_override"] {
        width: 15% !important;
}

th[data-role="disabled"] {
        width: 15% !important;
}

th[data-role="force"] {
        width: 15% !important;
}

th[data-role="quantity"] {
        width: 15% !important;
}

th[data-role="line_point"]:before {
        top: 0.9em !important;
        left: 3.5em !important;
}

td[data-th="Price Override : "] {
        text-align: center !important;
}