@import url('statistic_table.css');

.table > thead > tr > th[rel='id_order'],
.table > tbody > tr > th[rel='id_order'],
.table > tfoot > tr > th[rel='id_order'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='id_order_ref'],
.table > tbody > tr > th[rel='id_order_ref'],
.table > tfoot > tr > th[rel='id_order_ref'] {
        min-width: 20% !important;
        width: 20% !important;
        max-width: 20% !important;
}
.table > thead > tr > th[rel='id_buyer'],
.table > tbody > tr > th[rel='id_buyer'],
.table > tfoot > tr > th[rel='id_buyer'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='order_status'],
.table > tbody > tr > th[rel='order_status'],
.table > tfoot > tr > th[rel='order_status'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='country_name'],
.table > tbody > tr > th[rel='country_name'],
.table > tfoot > tr > th[rel='country_name'] {
        min-width: 12% !important;
        width: 12% !important;
        max-width: 12% !important;
}
.table > thead > tr > th[rel='payment_method'],
.table > tbody > tr > th[rel='payment_method'],
.table > tfoot > tr > th[rel='payment_method'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='total_paid'],
.table > tbody > tr > th[rel='total_paid'],
.table > tfoot > tr > th[rel='total_paid'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='order_date'],
.table > tbody > tr > th[rel='order_date'],
.table > tfoot > tr > th[rel='order_date'] {
        min-width: 12% !important;
        width: 12% !important;
        max-width: 12% !important;
}
.table > thead > tr > th[rel='invoice_no'],
.table > tbody > tr > th[rel='invoice_no'],
.table > tfoot > tr > th[rel='invoice_no'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='status'],
.table > tbody > tr > th[rel='status'],
.table > tfoot > tr > th[rel='status'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}

.send-orders {
    height: 23px;
    width: 80px;
    padding: 0 !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    font-family: "montserrat" sans-serif;
    border-radius: .25em !important;
    line-height: 22px !important;
}

.send-orders-already {
    opacity: 0.3 !important;
    background-color: #FFF !important;
}

.send-orders-already span:before {
    content: "\f00c";
    margin-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.btn-success[disabled], .btn-info[disabled] {
    background-color: #FFF !important;
}

#download-orders {
    margin-left: 8px;
    height: 30px;
    padding: 0 28px;
    font-size: 13px;
    line-height: 30px;
}

#download-orders span {
    text-transform: uppercase;
    /* font-family: montserrat; */
    font-size: 10px;
    font-weight: 400;
    font-family: roboto;
    padding: 0;
    line-height: 30px;
}

#download-orders[disabled='disabled'] {
        color: #4693FE !important;
        background: #FFF !important;
        border: 1px solid #4693FE !important;
}

.import-orders {
    position: absolute;
    top: 12px;
    right: 0;
}
