.field-hide {
    display: none;
}

#payment-instructions {
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    padding: 5px 10px;
    text-transform: none !important;
}

.payment-instructions-span {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.payment-main {
    margin-bottom: 50px !important;
}

.payment-main:last-child {
    margin-bottom: 0 !important;
}
