.form-horizontal .checkbox {
    min-height: 27px;
    float: left;
    clear: both;
    margin-left: 0;
    padding-left: 0;
    padding-top: 4px;
}

.checkbox-custom > input {
    margin-right: 5px;
    color: #496cad;
    margin-left: 20px;
}


.input-group-addon {
    font-weight: 600;
}


ul.list-regular {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px !important;
    margin-top: 25px;
}

.form-horizontal .form-group {
        margin-bottom: 0px !important;
}

.removePriceRule {
    display: none;
}

.price-rule-li {
    /*border-top: 1px solid #EEE;*/
    padding: 5px 0 5px;
}

.price-rule-li:first-child {
    border-top: none;
}

input#profile_price_rules_value_1_to {
    margin-bottom: 0px;
}

.b-Top {
    /*border-bottom: none;*/
}

.price-rounding {
    margin-top: 25px;
}

li.price-rule-li:last-child {
    border-bottom: none;
}