
.wizard-page {
    margin-top: 0;
}

.wizard-style li, .wizard-style li.active .step, .wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {
    font-weight: 400;
}