.field-hide, .no_accepted {
    display: none;
}

#returns-information {
    padding: 5px 10px;
    max-width: 100%;
    height: 130px;
}

.payment-instructions-span {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

#returns-information {
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    padding: 5px 10px;
    text-transform: none !important;
}

.returns-main {
    margin-bottom: 50px !important;
}

.returns-main:last-child {
    margin-bottom: 0 !important;
}
/*
.b-Top {
    border-bottom: none;
}*/