#statistics_processing {
        display: none !important;
}

.dynamicTable.colVis.table {
        width: 100% !important;
}

.dataTables_filter > .control-label { 
        font-weight: normal;
        padding: 0 !important;
        line-height: 34px;
        text-align: left;
        width: 60px;
}

.dataTables_length > .control-label { 
        font-weight: normal;
        padding: 0 !important;
        line-height: 34px;
        text-align: left;
        width: 80px;
}

.dataTables_length > .control-label:after { 
        content: ':';
}

.TableTools > button {
        border-radius: 0 !important;
}

.dataTables_scroll {
        margin-top: 10px;
}


.table > thead > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th  {
        //padding: 12px 0 !important;
        border: none;
        font-weight: 600;
        font-size: 13px;
        /*border-left: 1px solid #EEE !important;*/
/*        padding-left: 15px !important;
        padding-right: 15px !important;*/
}

.table > thead > tr {
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
}


.table > tbody > tr > td  {
        font-weight: 400;
}

.table > tbody > tr:last-child, .table > tfoot > tr:last-child  {
        //border-bottom: 1px solid #EEE;
}

.table > tfoot > tr:last-child  {
        border-bottom: 1px solid #EEE;
}

.table > tfoot > tr, .table > tbody  {
        /*border-top: 1px dotted #EEE !important;*/
}

.table > tfoot > tr input, .table > tfoot > tr select {
        height: 25px;
        text-indent: 15px;
        border-left: 1px solid #DDD;
}

.table.dynamicTable.table {
        border: 0;
}

div.dataTables_info {
        font-size: 11px !important;
}

.pagination {
        font-size: 12px;
}

.pagination li.prev, 
.pagination li.next,
.pagination li.prev a:hover, 
.pagination li.next a:hover,
.pagination li a:hover,
.pagination li.active,
.pagination li.prev.disabled,
.pagination li.prev.disabled a,
.pagination li.prev.disabled a:hover,
.pagination li.next.disabled,
.pagination li.next.disabled a,
.pagination li.next.disabled a:hover,
.pagination li.active a:hover
{
        font-weight: 600 !important;
        border-radius: 0;
}

.dataTables_length select {
        border-radius: 0 !important;
}

a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}

.label-show {
    width: 75px;
    height: 20px;
    padding: 0 !important;
    display: inline-block !important;
    line-height: 17px !important;
    margin: 0 !important;
    font-weight: 600 !important;
    /*border-radius: 20px !important;*/
    font-size: 11px !important;
    opacity: .9;
    border-radius: 0;
    letter-spacing: -0.5px;
    text-transform: none !important;
}

.label-show-error {
    border: 1px solid #474747!important;
    background: #FFF !important;
    color: #474747!important;
    border: 1px solid #474747!important;
    background: #474747 !important;
    color: #FFF!important;
    font-family: "Roboto", Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 400 !important;
}

.label-show-success {
    border: 1px solid #00CE88!important;
    background: #FFF !important;
    color: #00CE88!important;
    border: 1px solid #00CE88!important;
    background: #00CE88 !important;
    color: #FFF!important;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 400 !important;
}

.label-show-failure {
    border: 1px solid #F74F63!important;
    background: #FFF !important;
    color: #F74F63!important;
    border: 1px solid #F74F63!important;
    background: #F74F63 !important;
    color: #FFF!important;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 400 !important;
}

.label-show-warning {
    border: 1px solid #f0ad4e!important;
    background: #FFF !important;
    color: #f0ad4e!important;
    border: 1px solid #f0ad4e!important;
    background: #f0ad4e !important;
    color: #FFF!important;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 400 !important;
}

td, th {
    vertical-align: middle !important;
}

.b-Top {
    border-bottom: none !important;
}


td i {
        color: #4693FE;
}

.tooltipstered {
    display: inline-block;
    float: none !important;
}

.headSettings {
    border-top: 1px solid #EEE;
}

.treeSettings li {
    border-color: #EEE !important;
}

.tabsbar {
    border: none;
    margin: 10px 0 10px;
    height: 42px;
}

.tabsbar ul li {
    border: 1px solid #EEE;
    border-left: none;
    background: #FFF;
    height: 40px;
}

.tabsbar ul li:first-child {
    border: 1px solid #EEE;
}

.tabsbar ul li a, .tabsbar ul li button {
    height: 32px !important;
    line-height: 32px !important;
}

.tabsbar ul {
    height: 40px;
}

.tabsbar ul li a i {
    height: 32px !important;
}

.tabsbar ul li a i:before {
    line-height: 32px;
}
.tabsbar ul li a span {
  font-family: "Roboto", Open sans, sans-serif;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  font-size: 11px;
}

.tabsbar ul li button span {
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
}

.tabsbar ul li a i, .tabsbar ul li button i {
    text-align: center;
}

.tabsbar ul li a.create-profile i:before, .tabsbar ul li button.create-profile i:before {
    color: #4693FE!important;
}

.tabsbar ul li a.delete-profile i:before, .tabsbar ul li button.delete-profile i:before {
    color: #F74F63!important;
}

.tabsbar ul li a.enable-profile i:before, .tabsbar ul li button.enable-profile i:before {
    color: #00CE88!important;
}

.tabsbar ul li a.disable-profile i:before, .tabsbar ul li button.disable-profile i:before {
    color: #777!important;
}

.tabsbar ul li.active a.create-profile i:before {
    color: #FFF!important;
}

.tabsbar ul li.active a.delete-profile i:before {
    color: #FFF!important;
}

.tabsbar ul li.active a.enable-profile i:before {
    color: #FFF!important;
}

.tabsbar ul li.active a.disable-profile i:before {
    color: #FFF!important;
}


.tabsbar ul li.active a.create-profile {
    background: #4693FE!important;
    color: #FFF !important;
}

.tabsbar ul li.active a.delete-profile {
    background: #F74F63!important;
    color: #FFF !important;
}

.tabsbar ul li.active a.enable-profile {
    background: #00CE88!important;
    color: #FFF !important;
}

.tabsbar ul li.active a.disable-profile {
    background: #777!important;
    color: #FFF !important;
}

.space-10 + .widget-body {
    padding: 0 !important;
}


@media only screen and (min-width:400px) and (max-width:991px) {
    .tabsbar ul li {
        border: 1px solid #EEE;
    }
    
    .tabsbar ul li:last-child {
        border-bottom: 1px solid #EEE !important;
    }
    
    .dataTables_length {
        margin-left: 0;
    }
    
    .select2-container {
        padding: 0 !important;
    }
    
    .control-label {
        text-align: left !important;
    }
}

.ch_row {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table-product .product-image {
    height: 120px;
    width: 100px;
    overflow: hidden;
    padding:0;
}

.product-image a img {
    height: 100px;
    width: 100px;
}

.td_content_title {
    font-weight: 600;
    color: #00CE88 !important;
}

.product-content strong {
    font-weight: 400;
    color: #00CE88;
    color: #4693FE;
    font-family: roboto;
    text-transform: none;
    font-size: 13px;
}

tbody tr[role='field'] .product-content strong {
    color: #666;
    font-family: open sans;
    font-weight: 600;
}

tbody tr[role='row'] .product-content strong {
    margin-right: 5px;
}

.td_title {
    color: #00CE88;
}
/*
tr.odd {
    background: #FBFBFB;
}*/

.combinations td {
    /*vertical-align: top !important;*/
    height: auto;
}

.combinations {
    border-top: 1px dashed #EEE;
    height: 85px;
}

.td_ean13 {
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    /*color: #C5CAD2;*/
}

.td_reference {
    font-weight: 600;
    display: inline-block;
    /*color: #4693FE;*/
}

.td_sku {
    font-weight: 600;
    display: inline-block;
    /*color: #4693FE;*/
}

.td_upc {
    font-weight: 600;
    display: inline-block;
    /*color: #4693FE;*/
}

.td_attribute_type {
    font-weight: 600;
    display: inline-block;
    /*color: #4693FE;*/
    color: #474747;
    margin-right: 3px;
    text-transform: none;
}

.td_quantity {
    font-weight: 600;
    display: inline-block;
}

.td_price {
    font-weight: 600;
    display: inline-block;
}

.product-image.haveChild i {
    color: #4693FE;
    color: #00CE88;
    vertical-align: middle;
}

.td_information, .td_content, .td_detail {
    letter-spacing: -0.5px;
/*    text-transform: uppercase;
    font-family: roboto;
    font-size: 14px;*/
    color: #777;
    font-family: roboto;
}

.td_detail {
    text-transform: uppercase;
}

.td_detail b {
    color: #F74F63;
      text-decoration: line-through;
      font-size: 12px;
}

.td_upc,
.td_sku,
.td_ean13,
.td_reference
{   color: #474747;
    margin-right: 3px;
    text-transform: none;
}
.combinations .td_upc,
.combinations .td_sku,
.combinations .td_ean13,
.combinations .td_reference
{   color: #474747;
    margin-right: 3px;
    text-transform: none;
}

.td_quantity,
.td_price
{
    color: #474747;
    /*color: #00CE88;*/
    margin-right: 3px;
    text-transform: none;
}

.combinations .td_quantity,
.combinations .td_price
{
    color: #474747;
    /*color: #00CE88;*/
    margin-right: 3px;
    text-transform: none;
}


.td_plus i {
    color: #F74F63;
    font-size: 16px;
}

.td_minus i {
    color: #F74F63 !important;
    font-size: 16px;
}

.table-combination {
    display: none;
    background: #FFF !important;
    /*border: 1px solid #EEE !important;*/
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.td_manufacturer, .td_supplier, .td_title {
    color: #474747;
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
}

.td_manufacturer, .td_supplier, .td_title {
    margin-right: 5px;
    text-transform: none;
}

.table-product {
    display: none;
    border-top: 1px dotted #EEE !important;
}

.combinations td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

td.center.id-product i {
    color: #4693FE;
}


.product-active i {
    font-size: 14px;
    color: #F74F63;
}
.product-active i.active {
    color: #4693FE;
}

tbody tr[role='row'] .product-information {
    font-weight: 300;
    font-size: 12px;
    /*text-transform: uppercase;*/
    color: #888;
    font-family: roboto;
}

tbody tr[role='row'] .product-information b {
    font-weight: 300;
}

tbody tr[role='row'] .product-information i {
    font-weight: 300;
    color: #4693FE;
}

tbody tr[role='row'] {
    letter-spacing: -0.5px;
}

select.product-active {
    font-family: roboto;
    letter-spacing: -0.5px;
    text-transform: none;
}

.product-active a {
    font-family: roboto;
    letter-spacing: -0.5px;
    text-transform: none;
}

@media (max-width: 767px) {
    .dataTables_wrapper .dataTables_length {
        top: -70px;
        float: left;
        border-left: none;
        padding-left: 0;
        margin-left: 0;
    }
    
    .dataTables_wrapper .dataTables_length label {
            width: auto;
            margin-right: 5px;
    }
    
    .form-horizontal {
        border-bottom: 1px solid #EEE;
    }
}