@import url('statistic_table.css');

.table > thead > tr > th[rel='batch_id'],
.table > tbody > tr > th[rel='batch_id'],
.table > tfoot > tr > th[rel='batch_id'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='id_product'],
.table > tbody > tr > th[rel='id_product'],
.table > tfoot > tr > th[rel='id_product'] {
        min-width: 6% !important;
        width: 6% !important;
        max-width: 6% !important;
}
.table > thead > tr > th[rel='response'],
.table > tbody > tr > th[rel='response'],
.table > tfoot > tr > th[rel='response'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='date_add'],
.table > tbody > tr > th[rel='date_add'],
.table > tfoot > tr > th[rel='date_add'] {
        min-width: 12% !important;
        width: 12% !important;
        max-width: 12% !important;
}
.table > thead > tr > th[rel='product_sku'],
.table > tbody > tr > th[rel='product_sku'],
.table > tfoot > tr > th[rel='product_sku'] {
        min-width: 6% !important;
        width: 6% !important;
        max-width: 6% !important;
}
.table > thead > tr > th[rel='product_ean13'],
.table > tbody > tr > th[rel='product_ean13'],
.table > tfoot > tr > th[rel='product_ean13'] {
        min-width: 6% !important;
        width: 6% !important;
        max-width: 6% !important;
}
.table > thead > tr > th[rel='type'],
.table > tbody > tr > th[rel='type'],
.table > tfoot > tr > th[rel='type'] {
        min-width: 8% !important;
        width: 8% !important;
        max-width: 8% !important;
}
.table > thead > tr > th[rel='name_product'],
.table > tbody > tr > th[rel='name_product'],
.table > tfoot > tr > th[rel='name_product'] {
        min-width: 23% !important;
        width: 23% !important;
        max-width: 23% !important;
}
.table > thead > tr > th[rel='message'],
.table > tbody > tr > th[rel='message'],
.table > tfoot > tr > th[rel='message'] {
        min-width: 24% !important;
        width: 24% !important;
        max-width: 24% !important;
}
.check_filter_cv{ float: right;clear: none;margin: 13px 10px 0 0;padding: 0 10px 0 0;border-right: 1px solid #ccc;}