@import url('statistic_table.css');

.widget-body > .widget-main {
    padding-bottom: 100px;
    min-height: 300px;
}

.synchronization-style .wizard-steps li {
    width: 25%;
}

.synchronization-load {
    margin-top: 30px;
    color: #4693FE;
    display: none;
}

.text-small {
    text-transform: none !important;
}

.synchronization-main {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}

.insert-key-group-hide {
    display: none;
}

.mg-top-20 {
    margin-top: 20px !important;
}

.insert-key-name, .reference-key-name {
    text-transform: none !important;
}

.table > thead > tr > .check-all,
.table > tbody > tr > .check-all,
.table > tfoot > tr > .check-all {
        min-width: 4% !important;
        width: 4% !important;
        max-width: 4% !important;
}
.table > thead > tr > .id-product,
.table > tbody > tr > .id-product,
.table > tfoot > tr > .id-product {
        min-width: 5% !important;
        width: 5% !important;
        max-width: 5% !important;
}
.table > thead > tr > .product-image,
.table > tbody > tr > .product-image,
.table > tfoot > tr > .product-image {
        min-width: 10% !important;
        width: 10% !important;
        max-width: 10% !important;
        padding: 0 !important;
}
.table > thead > tr > .product-content,
.table > tbody > tr > .product-content,
.table > tfoot > tr > .product-content {
        min-width: 25% !important;
        width: 25% !important;
        max-width: 25% !important;
}
.table > thead > tr > .product-information,
.table > tbody > tr > .product-information,
.table > tfoot > tr > .product-information {
        min-width: 25% !important;
        width: 25% !important;
        max-width: 25% !important;
}
.table > thead > tr > .product-detail,
.table > tbody > tr > .product-detail,
.table > tfoot > tr > .product-detail {
        min-width: 10% !important;
        width: 10% !important;
        max-width: 10% !important;
}
.table > thead > tr > .product-active,
.table > tbody > tr > .product-active,
.table > tfoot > tr > .product-active {
        min-width: 6% !important;
        width: 6% !important;
        max-width: 6% !important;
        padding-right: 0;
}
.table > thead > tr > .profile-name,
.table > tbody > tr > .profile-name,
.table > tfoot > tr > .profile-name {
        min-width: 15% !important;
        width: 15% !important;
        max-width: 15% !important;
        padding-right: 0;
}

.b-Top {
    border-bottom: none !important;
}
