.widget-body > .widget-main {
    padding-bottom: 100px;
    min-height: 300px;
}

.synchronization-style .wizard-steps li {
    width: 25%;
}

.widget-body > .widget-main {
    padding-bottom: 100px;
    min-height: 300px;
}

.b-Top {
    border-bottom: none !important;
}
