
.widget-body > .widget-main {
    padding-bottom: 100px;
    min-height: 300px;
}

.synchronization-style .wizard-steps li {
    width: 25%;
}

.synchronization-load {
    margin-top: 30px;
    color: #4693FE;
    display: none;
}

.product-list {
  /*font-family: roboto;*/
  font-size: 13px;
  /* text-transform: uppercase; */
  color: #666;
  /* text-indent: 35px; */
  /* font-family: montserrat; */
  /*font-weight: 300;*/
  padding-left: 40px;
}

.product-list b {
    font-weight: 600;
    color: #666;
    font-family: montserrat;
    font-size: 11px;
    padding: 0 3px;
}
  
.synchronize-main, .inventory-main {  
    margin-bottom: 20px;
}

.text-small {
      padding-left: 40px;
}

.form-group > .control-label {
    vertical-align: top;
    line-height: 30px;
}

.form-group.synchronize-main  > .control-label > i {
  margin-right: 10px;
  font-size: 30px;
  color: #4693FE !important;
}

.form-group.inventory-main  > .control-label > i {
  margin-right: 10px;
  font-size: 30px;
  color: #4693FE !important;
}

.synchronization-warp {
    display: inline-block;
    min-height: 500px;
    width: 100%;
}

.widget-box {
  padding: 25px 0 20px 30px !important;
  border-left: 1px solid #4693FE !important;
}

.b-Top {
    border-bottom: none !important;
}
