
.widget-body > .widget-main {
    padding-bottom: 100px;
    min-height: 300px;
}

.synchronization-style .wizard-steps li {
    width: 25%;
}

.synchronization-load {
    margin-top: 30px;
    color: #4693FE;
    display: none;
}