.form-horizontal .checkbox {
    min-height: 27px;
    float: left;
    clear: both;
    margin-left: 0;
    padding-left: 0;
    padding-top: 4px;
}

.form-horizontal .control-label {
    font-weight: normal;
}

.checkbox-custom > input {
    margin-right: 5px;
    color: #496cad;
    margin-left: 20px;
}

.checkbox-custom > .lbl {
    top: -4px;
}

.tax-main {
    margin-bottom: 30px !important;
}

.tax-main:last-child {
    margin-bottom: 0px !important;
}

.tax-type {
        width: 100% !important;
}

.select2-container a {
    background: #FFF !important;
    border: 1px solid #EEE !important;
    font-size: 13px;
}


.select2-drop { margin-top: -30px; }
.select2-results {
    background: #FCFCFC;
    font-size: 13px;
    line-height: 20px;
    color: #888;
}
/*
.b-Top {
    border-bottom: none;
}*/