.default-download {
        margin-top: 15px;
        display: inline-block;
}

.field-hide {
    display: none;
}

.list-templates > .form-group:first-child {
    display: none;
}

.list-templates > .form-group label {
    font-weight: 600;
    font-size: 11px !important;
    color: #555;
}

.list-templates {
    padding: 0px 0px 10px;
}

.add-templates label {
    font-weight: 400;
}

#FileInput {
    display: none;
}

.btn {
    width: 110px;
}

.form-horizontal .form-group {
    margin-bottom: 0;
}

.file-click {
    width: auto !important;
    margin-left: 10px;
}

[data-last] {
    width: auto !important;
}

.templates-main {
    margin-bottom: 30px !important;
}

.btn {
    height: 34px;
    line-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
}

.form-group.disabled:after {
    content: '';
    background-image: none !important;
}

.b-Top {
    border-bottom: none;
}
