.form-group #univers_list > div { 
    width:100%; 
    margin:0 auto 
}

.form-group ul { 
    list-style: none; 
    display: block; 
    margin: 0 0 0 0; 
    float:left;
}

#univers_list .form-group ul li { 
    margin-left:80px; clear: both;
}
.form-group ul li > div {   
    display: inline-block;
}

#unCheckAll , #checkAll {
    float: right;
    margin-left: 5px;
}

#ebay_univeral input.status { 
    width:20px; height:20px; 
    cursor: pointer;
}

.tree {
    padding: 0;
}

.clearfix {
    clear: none !important;
}

#univers_list ul li label { 
    font-weight: 600;
    font-size: 13px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.tree:before {
    border: none;
}

.tree ul li {
    padding-bottom: 3px;
}

.headSettings  {
    border-top: 1px solid #EEE !important;
}

.b-Top {
    border-bottom: none !important;
}

 #univers_list ul li{ -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}