.controller-page {
    border-top: none !important;
}

.fixs-row, .ebay-row {
    text-transform: none !important;
}

.attribute-row > div:first-child {
    padding-left: 0 !important
}

.attribute-row > div:last-child {
    padding-right: 0 !important
}