
.wizard-style li {
    width: 14.285%;
}

.wizard-page {
    margin-top: 0;
}

.wizard-style li, .wizard-style li.active .step, .wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {
    font-weight: 400;
}

.widget-body.controller-page {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FFF;
    left: 0;
    z-index: 999;
    padding: 10px 25px !important;
}

.row.wizard-page {
    padding-bottom: 120px;
}

.popup-wrapper .tree {
    height: auto;
}


#form-submit{position:relative;height:50%;}
@media screen and (max-height: 756px) { form#form-submit{position:relative;height:37%;} }
@media screen and (min-height: 1080px) { form#form-submit{position:relative;height:75%;} }
.popup-wrapper .tree {height:100% !important;overflow-y: auto !important;position:absolute;height:100%;width:100%;}

html,body{height:100%}
.popup-wrapper {  height: 100%; }
.popup-wrapper .wrapper { overflow-y: hidden; }

.universe {
    height: 100% !important;
    overflow-y: scroll;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}

#univers_list {
    padding-bottom: 60px;
}