
                        <!-- // Widget Heading END -->
                        <div class="widget-body">                            
                                <!-- Table -->
                                <table class="dynamicTable colVis table" id="statistics" >
                                    <thead>
                                        <tr>
                                        	<th></th>
                                            <th class='center'>{ci_language line="code"}</th>
                                            <th class="left">{ci_language line="message"}</th>
<!--                                             <th class='center'>{ci_language line="total"}</th> -->
                                        </tr>
                                    </thead>
                                    <!-- // Table heading END -->
                                    <tbody>
                                    </tbody>
                                </table>
                                <!-- // Table END -->
                        </div>
