/*$counter: 40;
$counter: 40;
@for $i from 0 through $counter {
  .top-#{$i} { top: 1px * $i; }
  .right-#{$i} { right: 1px * $i; }
  .bottom-#{$i} { bottom: 1px * $i; }
  .left-#{$i} { left: 1px * $i; }
  .top--#{$i} { top: -1px * $i; }
  .right--#{$i} { right: -1px * $i; }
  .bottom--#{$i} { bottom: -1px * $i; }
  .left--#{$i} { left: -1px * $i; }
}

@media all and (min-width:1200px){
  @for $i from 0 through $counter {
    .top-lg-#{$i} { top: 1px * $i; }
    .right-lg-#{$i} { right: 1px * $i; }
    .bottom-lg-#{$i} { bottom: 1px * $i; }
    .left-lg-#{$i} { left: 1px * $i; }
    .top-lg--#{$i} { top: -1px * $i; }
    .right-lg--#{$i} { right: -1px * $i; }
    .bottom-lg--#{$i} { bottom: -1px * $i; }
    .left-lg--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:1199px){
  @for $i from 0 through $counter {
    .top-md-#{$i} { top: -1px * $i; }
    .right-md-#{$i} { right: 1px * $i; }
    .bottom-md-#{$i} { bottom: 1px * $i; }
    .left-md-#{$i} { left: 1px * $i; }
    .top-md--#{$i} { top: -1px * $i; }
    .right-md--#{$i} { right: -1px * $i; }
    .bottom-md--#{$i} { bottom: -1px * $i; }
    .left-md--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:992px){
  @for $i from 0 through $counter {
    .top-sm-#{$i} { top: 1px * $i; }
    .right-sm-#{$i} { right: 1px * $i; }
    .bottom-sm-#{$i} { bottom: 1px * $i; }
    .left-sm-#{$i} { left: 1px * $i; }
    .top-sm--#{$i} { top: -1px * $i; }
    .right-sm--#{$i} { right: -1px * $i; }
    .bottom-sm--#{$i} { bottom: -1px * $i; }
    .left-sm--#{$i} { left: -1px * $i; }
  }
}

@media all and (max-width:767px){
  @for $i from 0 through $counter {
    .top-xs-#{$i} { top: 1px * $i; }
    .right-xs-#{$i} { right: 1px * $i; }
    .bottom-xs-#{$i} { bottom: 1px * $i; }
    .left-xs-#{$i} { left: -1px * $i; }
    .top-xs--#{$i} { top: -1px * $i; }
    .right-xs--#{$i} { right: -1px * $i; }
    .bottom-xs--#{$i} { bottom: -1px * $i; }
    .left-xs--#{$i} { left: -1px * $i; }
  }
}*/
.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.top--0 {
  top: 0px;
}

.right--0 {
  right: 0px;
}

.bottom--0 {
  bottom: 0px;
}

.left--0 {
  left: 0px;
}

.top-1 {
  top: 1px;
}

.right-1 {
  right: 1px;
}

.bottom-1 {
  bottom: 1px;
}

.left-1 {
  left: 1px;
}

.top--1 {
  top: -1px;
}

.right--1 {
  right: -1px;
}

.bottom--1 {
  bottom: -1px;
}

.left--1 {
  left: -1px;
}

.top-2 {
  top: 2px;
}

.right-2 {
  right: 2px;
}

.bottom-2 {
  bottom: 2px;
}

.left-2 {
  left: 2px;
}

.top--2 {
  top: -2px;
}

.right--2 {
  right: -2px;
}

.bottom--2 {
  bottom: -2px;
}

.left--2 {
  left: -2px;
}

.top-3 {
  top: 3px;
}

.right-3 {
  right: 3px;
}

.bottom-3 {
  bottom: 3px;
}

.left-3 {
  left: 3px;
}

.top--3 {
  top: -3px;
}

.right--3 {
  right: -3px;
}

.bottom--3 {
  bottom: -3px;
}

.left--3 {
  left: -3px;
}

.top-4 {
  top: 4px;
}

.right-4 {
  right: 4px;
}

.bottom-4 {
  bottom: 4px;
}

.left-4 {
  left: 4px;
}

.top--4 {
  top: -4px;
}

.right--4 {
  right: -4px;
}

.bottom--4 {
  bottom: -4px;
}

.left--4 {
  left: -4px;
}

.top-5 {
  top: 5px;
}

.right-5 {
  right: 5px;
}

.bottom-5 {
  bottom: 5px;
}

.left-5 {
  left: 5px;
}

.top--5 {
  top: -5px;
}

.right--5 {
  right: -5px;
}

.bottom--5 {
  bottom: -5px;
}

.left--5 {
  left: -5px;
}

.top-6 {
  top: 6px;
}

.right-6 {
  right: 6px;
}

.bottom-6 {
  bottom: 6px;
}

.left-6 {
  left: 6px;
}

.top--6 {
  top: -6px;
}

.right--6 {
  right: -6px;
}

.bottom--6 {
  bottom: -6px;
}

.left--6 {
  left: -6px;
}

.top-7 {
  top: 7px;
}

.right-7 {
  right: 7px;
}

.bottom-7 {
  bottom: 7px;
}

.left-7 {
  left: 7px;
}

.top--7 {
  top: -7px;
}

.right--7 {
  right: -7px;
}

.bottom--7 {
  bottom: -7px;
}

.left--7 {
  left: -7px;
}

.top-8 {
  top: 8px;
}

.right-8 {
  right: 8px;
}

.bottom-8 {
  bottom: 8px;
}

.left-8 {
  left: 8px;
}

.top--8 {
  top: -8px;
}

.right--8 {
  right: -8px;
}

.bottom--8 {
  bottom: -8px;
}

.left--8 {
  left: -8px;
}

.top-9 {
  top: 9px;
}

.right-9 {
  right: 9px;
}

.bottom-9 {
  bottom: 9px;
}

.left-9 {
  left: 9px;
}

.top--9 {
  top: -9px;
}

.right--9 {
  right: -9px;
}

.bottom--9 {
  bottom: -9px;
}

.left--9 {
  left: -9px;
}

.top-10 {
  top: 10px;
}

.right-10 {
  right: 10px;
}

.bottom-10 {
  bottom: 10px;
}

.left-10 {
  left: 10px;
}

.top--10 {
  top: -10px;
}

.right--10 {
  right: -10px;
}

.bottom--10 {
  bottom: -10px;
}

.left--10 {
  left: -10px;
}

.top-11 {
  top: 11px;
}

.right-11 {
  right: 11px;
}

.bottom-11 {
  bottom: 11px;
}

.left-11 {
  left: 11px;
}

.top--11 {
  top: -11px;
}

.right--11 {
  right: -11px;
}

.bottom--11 {
  bottom: -11px;
}

.left--11 {
  left: -11px;
}

.top-12 {
  top: 12px;
}

.right-12 {
  right: 12px;
}

.bottom-12 {
  bottom: 12px;
}

.left-12 {
  left: 12px;
}

.top--12 {
  top: -12px;
}

.right--12 {
  right: -12px;
}

.bottom--12 {
  bottom: -12px;
}

.left--12 {
  left: -12px;
}

.top-13 {
  top: 13px;
}

.right-13 {
  right: 13px;
}

.bottom-13 {
  bottom: 13px;
}

.left-13 {
  left: 13px;
}

.top--13 {
  top: -13px;
}

.right--13 {
  right: -13px;
}

.bottom--13 {
  bottom: -13px;
}

.left--13 {
  left: -13px;
}

.top-14 {
  top: 14px;
}

.right-14 {
  right: 14px;
}

.bottom-14 {
  bottom: 14px;
}

.left-14 {
  left: 14px;
}

.top--14 {
  top: -14px;
}

.right--14 {
  right: -14px;
}

.bottom--14 {
  bottom: -14px;
}

.left--14 {
  left: -14px;
}

.top-15 {
  top: 15px;
}

.right-15 {
  right: 15px;
}

.bottom-15 {
  bottom: 15px;
}

.left-15 {
  left: 15px;
}

.top--15 {
  top: -15px;
}

.right--15 {
  right: -15px;
}

.bottom--15 {
  bottom: -15px;
}

.left--15 {
  left: -15px;
}

.top-16 {
  top: 16px;
}

.right-16 {
  right: 16px;
}

.bottom-16 {
  bottom: 16px;
}

.left-16 {
  left: 16px;
}

.top--16 {
  top: -16px;
}

.right--16 {
  right: -16px;
}

.bottom--16 {
  bottom: -16px;
}

.left--16 {
  left: -16px;
}

.top-17 {
  top: 17px;
}

.right-17 {
  right: 17px;
}

.bottom-17 {
  bottom: 17px;
}

.left-17 {
  left: 17px;
}

.top--17 {
  top: -17px;
}

.right--17 {
  right: -17px;
}

.bottom--17 {
  bottom: -17px;
}

.left--17 {
  left: -17px;
}

.top-18 {
  top: 18px;
}

.right-18 {
  right: 18px;
}

.bottom-18 {
  bottom: 18px;
}

.left-18 {
  left: 18px;
}

.top--18 {
  top: -18px;
}

.right--18 {
  right: -18px;
}

.bottom--18 {
  bottom: -18px;
}

.left--18 {
  left: -18px;
}

.top-19 {
  top: 19px;
}

.right-19 {
  right: 19px;
}

.bottom-19 {
  bottom: 19px;
}

.left-19 {
  left: 19px;
}

.top--19 {
  top: -19px;
}

.right--19 {
  right: -19px;
}

.bottom--19 {
  bottom: -19px;
}

.left--19 {
  left: -19px;
}

.top-20 {
  top: 20px;
}

.right-20 {
  right: 20px;
}

.bottom-20 {
  bottom: 20px;
}

.left-20 {
  left: 20px;
}

.top--20 {
  top: -20px;
}

.right--20 {
  right: -20px;
}

.bottom--20 {
  bottom: -20px;
}

.left--20 {
  left: -20px;
}

.top-21 {
  top: 21px;
}

.right-21 {
  right: 21px;
}

.bottom-21 {
  bottom: 21px;
}

.left-21 {
  left: 21px;
}

.top--21 {
  top: -21px;
}

.right--21 {
  right: -21px;
}

.bottom--21 {
  bottom: -21px;
}

.left--21 {
  left: -21px;
}

.top-22 {
  top: 22px;
}

.right-22 {
  right: 22px;
}

.bottom-22 {
  bottom: 22px;
}

.left-22 {
  left: 22px;
}

.top--22 {
  top: -22px;
}

.right--22 {
  right: -22px;
}

.bottom--22 {
  bottom: -22px;
}

.left--22 {
  left: -22px;
}

.top-23 {
  top: 23px;
}

.right-23 {
  right: 23px;
}

.bottom-23 {
  bottom: 23px;
}

.left-23 {
  left: 23px;
}

.top--23 {
  top: -23px;
}

.right--23 {
  right: -23px;
}

.bottom--23 {
  bottom: -23px;
}

.left--23 {
  left: -23px;
}

.top-24 {
  top: 24px;
}

.right-24 {
  right: 24px;
}

.bottom-24 {
  bottom: 24px;
}

.left-24 {
  left: 24px;
}

.top--24 {
  top: -24px;
}

.right--24 {
  right: -24px;
}

.bottom--24 {
  bottom: -24px;
}

.left--24 {
  left: -24px;
}

.top-25 {
  top: 25px;
}

.right-25 {
  right: 25px;
}

.bottom-25 {
  bottom: 25px;
}

.left-25 {
  left: 25px;
}

.top--25 {
  top: -25px;
}

.right--25 {
  right: -25px;
}

.bottom--25 {
  bottom: -25px;
}

.left--25 {
  left: -25px;
}

.top-26 {
  top: 26px;
}

.right-26 {
  right: 26px;
}

.bottom-26 {
  bottom: 26px;
}

.left-26 {
  left: 26px;
}

.top--26 {
  top: -26px;
}

.right--26 {
  right: -26px;
}

.bottom--26 {
  bottom: -26px;
}

.left--26 {
  left: -26px;
}

.top-27 {
  top: 27px;
}

.right-27 {
  right: 27px;
}

.bottom-27 {
  bottom: 27px;
}

.left-27 {
  left: 27px;
}

.top--27 {
  top: -27px;
}

.right--27 {
  right: -27px;
}

.bottom--27 {
  bottom: -27px;
}

.left--27 {
  left: -27px;
}

.top-28 {
  top: 28px;
}

.right-28 {
  right: 28px;
}

.bottom-28 {
  bottom: 28px;
}

.left-28 {
  left: 28px;
}

.top--28 {
  top: -28px;
}

.right--28 {
  right: -28px;
}

.bottom--28 {
  bottom: -28px;
}

.left--28 {
  left: -28px;
}

.top-29 {
  top: 29px;
}

.right-29 {
  right: 29px;
}

.bottom-29 {
  bottom: 29px;
}

.left-29 {
  left: 29px;
}

.top--29 {
  top: -29px;
}

.right--29 {
  right: -29px;
}

.bottom--29 {
  bottom: -29px;
}

.left--29 {
  left: -29px;
}

.top-30 {
  top: 30px;
}

.right-30 {
  right: 30px;
}

.bottom-30 {
  bottom: 30px;
}

.left-30 {
  left: 30px;
}

.top--30 {
  top: -30px;
}

.right--30 {
  right: -30px;
}

.bottom--30 {
  bottom: -30px;
}

.left--30 {
  left: -30px;
}

.top-31 {
  top: 31px;
}

.right-31 {
  right: 31px;
}

.bottom-31 {
  bottom: 31px;
}

.left-31 {
  left: 31px;
}

.top--31 {
  top: -31px;
}

.right--31 {
  right: -31px;
}

.bottom--31 {
  bottom: -31px;
}

.left--31 {
  left: -31px;
}

.top-32 {
  top: 32px;
}

.right-32 {
  right: 32px;
}

.bottom-32 {
  bottom: 32px;
}

.left-32 {
  left: 32px;
}

.top--32 {
  top: -32px;
}

.right--32 {
  right: -32px;
}

.bottom--32 {
  bottom: -32px;
}

.left--32 {
  left: -32px;
}

.top-33 {
  top: 33px;
}

.right-33 {
  right: 33px;
}

.bottom-33 {
  bottom: 33px;
}

.left-33 {
  left: 33px;
}

.top--33 {
  top: -33px;
}

.right--33 {
  right: -33px;
}

.bottom--33 {
  bottom: -33px;
}

.left--33 {
  left: -33px;
}

.top-34 {
  top: 34px;
}

.right-34 {
  right: 34px;
}

.bottom-34 {
  bottom: 34px;
}

.left-34 {
  left: 34px;
}

.top--34 {
  top: -34px;
}

.right--34 {
  right: -34px;
}

.bottom--34 {
  bottom: -34px;
}

.left--34 {
  left: -34px;
}

.top-35 {
  top: 35px;
}

.right-35 {
  right: 35px;
}

.bottom-35 {
  bottom: 35px;
}

.left-35 {
  left: 35px;
}

.top--35 {
  top: -35px;
}

.right--35 {
  right: -35px;
}

.bottom--35 {
  bottom: -35px;
}

.left--35 {
  left: -35px;
}

.top-36 {
  top: 36px;
}

.right-36 {
  right: 36px;
}

.bottom-36 {
  bottom: 36px;
}

.left-36 {
  left: 36px;
}

.top--36 {
  top: -36px;
}

.right--36 {
  right: -36px;
}

.bottom--36 {
  bottom: -36px;
}

.left--36 {
  left: -36px;
}

.top-37 {
  top: 37px;
}

.right-37 {
  right: 37px;
}

.bottom-37 {
  bottom: 37px;
}

.left-37 {
  left: 37px;
}

.top--37 {
  top: -37px;
}

.right--37 {
  right: -37px;
}

.bottom--37 {
  bottom: -37px;
}

.left--37 {
  left: -37px;
}

.top-38 {
  top: 38px;
}

.right-38 {
  right: 38px;
}

.bottom-38 {
  bottom: 38px;
}

.left-38 {
  left: 38px;
}

.top--38 {
  top: -38px;
}

.right--38 {
  right: -38px;
}

.bottom--38 {
  bottom: -38px;
}

.left--38 {
  left: -38px;
}

.top-39 {
  top: 39px;
}

.right-39 {
  right: 39px;
}

.bottom-39 {
  bottom: 39px;
}

.left-39 {
  left: 39px;
}

.top--39 {
  top: -39px;
}

.right--39 {
  right: -39px;
}

.bottom--39 {
  bottom: -39px;
}

.left--39 {
  left: -39px;
}

.top-40 {
  top: 40px;
}

.right-40 {
  right: 40px;
}

.bottom-40 {
  bottom: 40px;
}

.left-40 {
  left: 40px;
}

.top--40 {
  top: -40px;
}

.right--40 {
  right: -40px;
}

.bottom--40 {
  bottom: -40px;
}

.left--40 {
  left: -40px;
}

@media all and (min-width: 1200px) {
  .top-lg-0 {
    top: 0px;
  }

  .right-lg-0 {
    right: 0px;
  }

  .bottom-lg-0 {
    bottom: 0px;
  }

  .left-lg-0 {
    left: 0px;
  }

  .top-lg--0 {
    top: 0px;
  }

  .right-lg--0 {
    right: 0px;
  }

  .bottom-lg--0 {
    bottom: 0px;
  }

  .left-lg--0 {
    left: 0px;
  }

  .top-lg-1 {
    top: 1px;
  }

  .right-lg-1 {
    right: 1px;
  }

  .bottom-lg-1 {
    bottom: 1px;
  }

  .left-lg-1 {
    left: 1px;
  }

  .top-lg--1 {
    top: -1px;
  }

  .right-lg--1 {
    right: -1px;
  }

  .bottom-lg--1 {
    bottom: -1px;
  }

  .left-lg--1 {
    left: -1px;
  }

  .top-lg-2 {
    top: 2px;
  }

  .right-lg-2 {
    right: 2px;
  }

  .bottom-lg-2 {
    bottom: 2px;
  }

  .left-lg-2 {
    left: 2px;
  }

  .top-lg--2 {
    top: -2px;
  }

  .right-lg--2 {
    right: -2px;
  }

  .bottom-lg--2 {
    bottom: -2px;
  }

  .left-lg--2 {
    left: -2px;
  }

  .top-lg-3 {
    top: 3px;
  }

  .right-lg-3 {
    right: 3px;
  }

  .bottom-lg-3 {
    bottom: 3px;
  }

  .left-lg-3 {
    left: 3px;
  }

  .top-lg--3 {
    top: -3px;
  }

  .right-lg--3 {
    right: -3px;
  }

  .bottom-lg--3 {
    bottom: -3px;
  }

  .left-lg--3 {
    left: -3px;
  }

  .top-lg-4 {
    top: 4px;
  }

  .right-lg-4 {
    right: 4px;
  }

  .bottom-lg-4 {
    bottom: 4px;
  }

  .left-lg-4 {
    left: 4px;
  }

  .top-lg--4 {
    top: -4px;
  }

  .right-lg--4 {
    right: -4px;
  }

  .bottom-lg--4 {
    bottom: -4px;
  }

  .left-lg--4 {
    left: -4px;
  }

  .top-lg-5 {
    top: 5px;
  }

  .right-lg-5 {
    right: 5px;
  }

  .bottom-lg-5 {
    bottom: 5px;
  }

  .left-lg-5 {
    left: 5px;
  }

  .top-lg--5 {
    top: -5px;
  }

  .right-lg--5 {
    right: -5px;
  }

  .bottom-lg--5 {
    bottom: -5px;
  }

  .left-lg--5 {
    left: -5px;
  }

  .top-lg-6 {
    top: 6px;
  }

  .right-lg-6 {
    right: 6px;
  }

  .bottom-lg-6 {
    bottom: 6px;
  }

  .left-lg-6 {
    left: 6px;
  }

  .top-lg--6 {
    top: -6px;
  }

  .right-lg--6 {
    right: -6px;
  }

  .bottom-lg--6 {
    bottom: -6px;
  }

  .left-lg--6 {
    left: -6px;
  }

  .top-lg-7 {
    top: 7px;
  }

  .right-lg-7 {
    right: 7px;
  }

  .bottom-lg-7 {
    bottom: 7px;
  }

  .left-lg-7 {
    left: 7px;
  }

  .top-lg--7 {
    top: -7px;
  }

  .right-lg--7 {
    right: -7px;
  }

  .bottom-lg--7 {
    bottom: -7px;
  }

  .left-lg--7 {
    left: -7px;
  }

  .top-lg-8 {
    top: 8px;
  }

  .right-lg-8 {
    right: 8px;
  }

  .bottom-lg-8 {
    bottom: 8px;
  }

  .left-lg-8 {
    left: 8px;
  }

  .top-lg--8 {
    top: -8px;
  }

  .right-lg--8 {
    right: -8px;
  }

  .bottom-lg--8 {
    bottom: -8px;
  }

  .left-lg--8 {
    left: -8px;
  }

  .top-lg-9 {
    top: 9px;
  }

  .right-lg-9 {
    right: 9px;
  }

  .bottom-lg-9 {
    bottom: 9px;
  }

  .left-lg-9 {
    left: 9px;
  }

  .top-lg--9 {
    top: -9px;
  }

  .right-lg--9 {
    right: -9px;
  }

  .bottom-lg--9 {
    bottom: -9px;
  }

  .left-lg--9 {
    left: -9px;
  }

  .top-lg-10 {
    top: 10px;
  }

  .right-lg-10 {
    right: 10px;
  }

  .bottom-lg-10 {
    bottom: 10px;
  }

  .left-lg-10 {
    left: 10px;
  }

  .top-lg--10 {
    top: -10px;
  }

  .right-lg--10 {
    right: -10px;
  }

  .bottom-lg--10 {
    bottom: -10px;
  }

  .left-lg--10 {
    left: -10px;
  }

  .top-lg-11 {
    top: 11px;
  }

  .right-lg-11 {
    right: 11px;
  }

  .bottom-lg-11 {
    bottom: 11px;
  }

  .left-lg-11 {
    left: 11px;
  }

  .top-lg--11 {
    top: -11px;
  }

  .right-lg--11 {
    right: -11px;
  }

  .bottom-lg--11 {
    bottom: -11px;
  }

  .left-lg--11 {
    left: -11px;
  }

  .top-lg-12 {
    top: 12px;
  }

  .right-lg-12 {
    right: 12px;
  }

  .bottom-lg-12 {
    bottom: 12px;
  }

  .left-lg-12 {
    left: 12px;
  }

  .top-lg--12 {
    top: -12px;
  }

  .right-lg--12 {
    right: -12px;
  }

  .bottom-lg--12 {
    bottom: -12px;
  }

  .left-lg--12 {
    left: -12px;
  }

  .top-lg-13 {
    top: 13px;
  }

  .right-lg-13 {
    right: 13px;
  }

  .bottom-lg-13 {
    bottom: 13px;
  }

  .left-lg-13 {
    left: 13px;
  }

  .top-lg--13 {
    top: -13px;
  }

  .right-lg--13 {
    right: -13px;
  }

  .bottom-lg--13 {
    bottom: -13px;
  }

  .left-lg--13 {
    left: -13px;
  }

  .top-lg-14 {
    top: 14px;
  }

  .right-lg-14 {
    right: 14px;
  }

  .bottom-lg-14 {
    bottom: 14px;
  }

  .left-lg-14 {
    left: 14px;
  }

  .top-lg--14 {
    top: -14px;
  }

  .right-lg--14 {
    right: -14px;
  }

  .bottom-lg--14 {
    bottom: -14px;
  }

  .left-lg--14 {
    left: -14px;
  }

  .top-lg-15 {
    top: 15px;
  }

  .right-lg-15 {
    right: 15px;
  }

  .bottom-lg-15 {
    bottom: 15px;
  }

  .left-lg-15 {
    left: 15px;
  }

  .top-lg--15 {
    top: -15px;
  }

  .right-lg--15 {
    right: -15px;
  }

  .bottom-lg--15 {
    bottom: -15px;
  }

  .left-lg--15 {
    left: -15px;
  }

  .top-lg-16 {
    top: 16px;
  }

  .right-lg-16 {
    right: 16px;
  }

  .bottom-lg-16 {
    bottom: 16px;
  }

  .left-lg-16 {
    left: 16px;
  }

  .top-lg--16 {
    top: -16px;
  }

  .right-lg--16 {
    right: -16px;
  }

  .bottom-lg--16 {
    bottom: -16px;
  }

  .left-lg--16 {
    left: -16px;
  }

  .top-lg-17 {
    top: 17px;
  }

  .right-lg-17 {
    right: 17px;
  }

  .bottom-lg-17 {
    bottom: 17px;
  }

  .left-lg-17 {
    left: 17px;
  }

  .top-lg--17 {
    top: -17px;
  }

  .right-lg--17 {
    right: -17px;
  }

  .bottom-lg--17 {
    bottom: -17px;
  }

  .left-lg--17 {
    left: -17px;
  }

  .top-lg-18 {
    top: 18px;
  }

  .right-lg-18 {
    right: 18px;
  }

  .bottom-lg-18 {
    bottom: 18px;
  }

  .left-lg-18 {
    left: 18px;
  }

  .top-lg--18 {
    top: -18px;
  }

  .right-lg--18 {
    right: -18px;
  }

  .bottom-lg--18 {
    bottom: -18px;
  }

  .left-lg--18 {
    left: -18px;
  }

  .top-lg-19 {
    top: 19px;
  }

  .right-lg-19 {
    right: 19px;
  }

  .bottom-lg-19 {
    bottom: 19px;
  }

  .left-lg-19 {
    left: 19px;
  }

  .top-lg--19 {
    top: -19px;
  }

  .right-lg--19 {
    right: -19px;
  }

  .bottom-lg--19 {
    bottom: -19px;
  }

  .left-lg--19 {
    left: -19px;
  }

  .top-lg-20 {
    top: 20px;
  }

  .right-lg-20 {
    right: 20px;
  }

  .bottom-lg-20 {
    bottom: 20px;
  }

  .left-lg-20 {
    left: 20px;
  }

  .top-lg--20 {
    top: -20px;
  }

  .right-lg--20 {
    right: -20px;
  }

  .bottom-lg--20 {
    bottom: -20px;
  }

  .left-lg--20 {
    left: -20px;
  }

  .top-lg-21 {
    top: 21px;
  }

  .right-lg-21 {
    right: 21px;
  }

  .bottom-lg-21 {
    bottom: 21px;
  }

  .left-lg-21 {
    left: 21px;
  }

  .top-lg--21 {
    top: -21px;
  }

  .right-lg--21 {
    right: -21px;
  }

  .bottom-lg--21 {
    bottom: -21px;
  }

  .left-lg--21 {
    left: -21px;
  }

  .top-lg-22 {
    top: 22px;
  }

  .right-lg-22 {
    right: 22px;
  }

  .bottom-lg-22 {
    bottom: 22px;
  }

  .left-lg-22 {
    left: 22px;
  }

  .top-lg--22 {
    top: -22px;
  }

  .right-lg--22 {
    right: -22px;
  }

  .bottom-lg--22 {
    bottom: -22px;
  }

  .left-lg--22 {
    left: -22px;
  }

  .top-lg-23 {
    top: 23px;
  }

  .right-lg-23 {
    right: 23px;
  }

  .bottom-lg-23 {
    bottom: 23px;
  }

  .left-lg-23 {
    left: 23px;
  }

  .top-lg--23 {
    top: -23px;
  }

  .right-lg--23 {
    right: -23px;
  }

  .bottom-lg--23 {
    bottom: -23px;
  }

  .left-lg--23 {
    left: -23px;
  }

  .top-lg-24 {
    top: 24px;
  }

  .right-lg-24 {
    right: 24px;
  }

  .bottom-lg-24 {
    bottom: 24px;
  }

  .left-lg-24 {
    left: 24px;
  }

  .top-lg--24 {
    top: -24px;
  }

  .right-lg--24 {
    right: -24px;
  }

  .bottom-lg--24 {
    bottom: -24px;
  }

  .left-lg--24 {
    left: -24px;
  }

  .top-lg-25 {
    top: 25px;
  }

  .right-lg-25 {
    right: 25px;
  }

  .bottom-lg-25 {
    bottom: 25px;
  }

  .left-lg-25 {
    left: 25px;
  }

  .top-lg--25 {
    top: -25px;
  }

  .right-lg--25 {
    right: -25px;
  }

  .bottom-lg--25 {
    bottom: -25px;
  }

  .left-lg--25 {
    left: -25px;
  }

  .top-lg-26 {
    top: 26px;
  }

  .right-lg-26 {
    right: 26px;
  }

  .bottom-lg-26 {
    bottom: 26px;
  }

  .left-lg-26 {
    left: 26px;
  }

  .top-lg--26 {
    top: -26px;
  }

  .right-lg--26 {
    right: -26px;
  }

  .bottom-lg--26 {
    bottom: -26px;
  }

  .left-lg--26 {
    left: -26px;
  }

  .top-lg-27 {
    top: 27px;
  }

  .right-lg-27 {
    right: 27px;
  }

  .bottom-lg-27 {
    bottom: 27px;
  }

  .left-lg-27 {
    left: 27px;
  }

  .top-lg--27 {
    top: -27px;
  }

  .right-lg--27 {
    right: -27px;
  }

  .bottom-lg--27 {
    bottom: -27px;
  }

  .left-lg--27 {
    left: -27px;
  }

  .top-lg-28 {
    top: 28px;
  }

  .right-lg-28 {
    right: 28px;
  }

  .bottom-lg-28 {
    bottom: 28px;
  }

  .left-lg-28 {
    left: 28px;
  }

  .top-lg--28 {
    top: -28px;
  }

  .right-lg--28 {
    right: -28px;
  }

  .bottom-lg--28 {
    bottom: -28px;
  }

  .left-lg--28 {
    left: -28px;
  }

  .top-lg-29 {
    top: 29px;
  }

  .right-lg-29 {
    right: 29px;
  }

  .bottom-lg-29 {
    bottom: 29px;
  }

  .left-lg-29 {
    left: 29px;
  }

  .top-lg--29 {
    top: -29px;
  }

  .right-lg--29 {
    right: -29px;
  }

  .bottom-lg--29 {
    bottom: -29px;
  }

  .left-lg--29 {
    left: -29px;
  }

  .top-lg-30 {
    top: 30px;
  }

  .right-lg-30 {
    right: 30px;
  }

  .bottom-lg-30 {
    bottom: 30px;
  }

  .left-lg-30 {
    left: 30px;
  }

  .top-lg--30 {
    top: -30px;
  }

  .right-lg--30 {
    right: -30px;
  }

  .bottom-lg--30 {
    bottom: -30px;
  }

  .left-lg--30 {
    left: -30px;
  }

  .top-lg-31 {
    top: 31px;
  }

  .right-lg-31 {
    right: 31px;
  }

  .bottom-lg-31 {
    bottom: 31px;
  }

  .left-lg-31 {
    left: 31px;
  }

  .top-lg--31 {
    top: -31px;
  }

  .right-lg--31 {
    right: -31px;
  }

  .bottom-lg--31 {
    bottom: -31px;
  }

  .left-lg--31 {
    left: -31px;
  }

  .top-lg-32 {
    top: 32px;
  }

  .right-lg-32 {
    right: 32px;
  }

  .bottom-lg-32 {
    bottom: 32px;
  }

  .left-lg-32 {
    left: 32px;
  }

  .top-lg--32 {
    top: -32px;
  }

  .right-lg--32 {
    right: -32px;
  }

  .bottom-lg--32 {
    bottom: -32px;
  }

  .left-lg--32 {
    left: -32px;
  }

  .top-lg-33 {
    top: 33px;
  }

  .right-lg-33 {
    right: 33px;
  }

  .bottom-lg-33 {
    bottom: 33px;
  }

  .left-lg-33 {
    left: 33px;
  }

  .top-lg--33 {
    top: -33px;
  }

  .right-lg--33 {
    right: -33px;
  }

  .bottom-lg--33 {
    bottom: -33px;
  }

  .left-lg--33 {
    left: -33px;
  }

  .top-lg-34 {
    top: 34px;
  }

  .right-lg-34 {
    right: 34px;
  }

  .bottom-lg-34 {
    bottom: 34px;
  }

  .left-lg-34 {
    left: 34px;
  }

  .top-lg--34 {
    top: -34px;
  }

  .right-lg--34 {
    right: -34px;
  }

  .bottom-lg--34 {
    bottom: -34px;
  }

  .left-lg--34 {
    left: -34px;
  }

  .top-lg-35 {
    top: 35px;
  }

  .right-lg-35 {
    right: 35px;
  }

  .bottom-lg-35 {
    bottom: 35px;
  }

  .left-lg-35 {
    left: 35px;
  }

  .top-lg--35 {
    top: -35px;
  }

  .right-lg--35 {
    right: -35px;
  }

  .bottom-lg--35 {
    bottom: -35px;
  }

  .left-lg--35 {
    left: -35px;
  }

  .top-lg-36 {
    top: 36px;
  }

  .right-lg-36 {
    right: 36px;
  }

  .bottom-lg-36 {
    bottom: 36px;
  }

  .left-lg-36 {
    left: 36px;
  }

  .top-lg--36 {
    top: -36px;
  }

  .right-lg--36 {
    right: -36px;
  }

  .bottom-lg--36 {
    bottom: -36px;
  }

  .left-lg--36 {
    left: -36px;
  }

  .top-lg-37 {
    top: 37px;
  }

  .right-lg-37 {
    right: 37px;
  }

  .bottom-lg-37 {
    bottom: 37px;
  }

  .left-lg-37 {
    left: 37px;
  }

  .top-lg--37 {
    top: -37px;
  }

  .right-lg--37 {
    right: -37px;
  }

  .bottom-lg--37 {
    bottom: -37px;
  }

  .left-lg--37 {
    left: -37px;
  }

  .top-lg-38 {
    top: 38px;
  }

  .right-lg-38 {
    right: 38px;
  }

  .bottom-lg-38 {
    bottom: 38px;
  }

  .left-lg-38 {
    left: 38px;
  }

  .top-lg--38 {
    top: -38px;
  }

  .right-lg--38 {
    right: -38px;
  }

  .bottom-lg--38 {
    bottom: -38px;
  }

  .left-lg--38 {
    left: -38px;
  }

  .top-lg-39 {
    top: 39px;
  }

  .right-lg-39 {
    right: 39px;
  }

  .bottom-lg-39 {
    bottom: 39px;
  }

  .left-lg-39 {
    left: 39px;
  }

  .top-lg--39 {
    top: -39px;
  }

  .right-lg--39 {
    right: -39px;
  }

  .bottom-lg--39 {
    bottom: -39px;
  }

  .left-lg--39 {
    left: -39px;
  }

  .top-lg-40 {
    top: 40px;
  }

  .right-lg-40 {
    right: 40px;
  }

  .bottom-lg-40 {
    bottom: 40px;
  }

  .left-lg-40 {
    left: 40px;
  }

  .top-lg--40 {
    top: -40px;
  }

  .right-lg--40 {
    right: -40px;
  }

  .bottom-lg--40 {
    bottom: -40px;
  }

  .left-lg--40 {
    left: -40px;
  }
}
@media all and (max-width: 1199px) {
  .top-md-0 {
    top: 0px;
  }

  .right-md-0 {
    right: 0px;
  }

  .bottom-md-0 {
    bottom: 0px;
  }

  .left-md-0 {
    left: 0px;
  }

  .top-md--0 {
    top: 0px;
  }

  .right-md--0 {
    right: 0px;
  }

  .bottom-md--0 {
    bottom: 0px;
  }

  .left-md--0 {
    left: 0px;
  }

  .top-md-1 {
    top: -1px;
  }

  .right-md-1 {
    right: 1px;
  }

  .bottom-md-1 {
    bottom: 1px;
  }

  .left-md-1 {
    left: 1px;
  }

  .top-md--1 {
    top: -1px;
  }

  .right-md--1 {
    right: -1px;
  }

  .bottom-md--1 {
    bottom: -1px;
  }

  .left-md--1 {
    left: -1px;
  }

  .top-md-2 {
    top: -2px;
  }

  .right-md-2 {
    right: 2px;
  }

  .bottom-md-2 {
    bottom: 2px;
  }

  .left-md-2 {
    left: 2px;
  }

  .top-md--2 {
    top: -2px;
  }

  .right-md--2 {
    right: -2px;
  }

  .bottom-md--2 {
    bottom: -2px;
  }

  .left-md--2 {
    left: -2px;
  }

  .top-md-3 {
    top: -3px;
  }

  .right-md-3 {
    right: 3px;
  }

  .bottom-md-3 {
    bottom: 3px;
  }

  .left-md-3 {
    left: 3px;
  }

  .top-md--3 {
    top: -3px;
  }

  .right-md--3 {
    right: -3px;
  }

  .bottom-md--3 {
    bottom: -3px;
  }

  .left-md--3 {
    left: -3px;
  }

  .top-md-4 {
    top: -4px;
  }

  .right-md-4 {
    right: 4px;
  }

  .bottom-md-4 {
    bottom: 4px;
  }

  .left-md-4 {
    left: 4px;
  }

  .top-md--4 {
    top: -4px;
  }

  .right-md--4 {
    right: -4px;
  }

  .bottom-md--4 {
    bottom: -4px;
  }

  .left-md--4 {
    left: -4px;
  }

  .top-md-5 {
    top: -5px;
  }

  .right-md-5 {
    right: 5px;
  }

  .bottom-md-5 {
    bottom: 5px;
  }

  .left-md-5 {
    left: 5px;
  }

  .top-md--5 {
    top: -5px;
  }

  .right-md--5 {
    right: -5px;
  }

  .bottom-md--5 {
    bottom: -5px;
  }

  .left-md--5 {
    left: -5px;
  }

  .top-md-6 {
    top: -6px;
  }

  .right-md-6 {
    right: 6px;
  }

  .bottom-md-6 {
    bottom: 6px;
  }

  .left-md-6 {
    left: 6px;
  }

  .top-md--6 {
    top: -6px;
  }

  .right-md--6 {
    right: -6px;
  }

  .bottom-md--6 {
    bottom: -6px;
  }

  .left-md--6 {
    left: -6px;
  }

  .top-md-7 {
    top: -7px;
  }

  .right-md-7 {
    right: 7px;
  }

  .bottom-md-7 {
    bottom: 7px;
  }

  .left-md-7 {
    left: 7px;
  }

  .top-md--7 {
    top: -7px;
  }

  .right-md--7 {
    right: -7px;
  }

  .bottom-md--7 {
    bottom: -7px;
  }

  .left-md--7 {
    left: -7px;
  }

  .top-md-8 {
    top: -8px;
  }

  .right-md-8 {
    right: 8px;
  }

  .bottom-md-8 {
    bottom: 8px;
  }

  .left-md-8 {
    left: 8px;
  }

  .top-md--8 {
    top: -8px;
  }

  .right-md--8 {
    right: -8px;
  }

  .bottom-md--8 {
    bottom: -8px;
  }

  .left-md--8 {
    left: -8px;
  }

  .top-md-9 {
    top: -9px;
  }

  .right-md-9 {
    right: 9px;
  }

  .bottom-md-9 {
    bottom: 9px;
  }

  .left-md-9 {
    left: 9px;
  }

  .top-md--9 {
    top: -9px;
  }

  .right-md--9 {
    right: -9px;
  }

  .bottom-md--9 {
    bottom: -9px;
  }

  .left-md--9 {
    left: -9px;
  }

  .top-md-10 {
    top: -10px;
  }

  .right-md-10 {
    right: 10px;
  }

  .bottom-md-10 {
    bottom: 10px;
  }

  .left-md-10 {
    left: 10px;
  }

  .top-md--10 {
    top: -10px;
  }

  .right-md--10 {
    right: -10px;
  }

  .bottom-md--10 {
    bottom: -10px;
  }

  .left-md--10 {
    left: -10px;
  }

  .top-md-11 {
    top: -11px;
  }

  .right-md-11 {
    right: 11px;
  }

  .bottom-md-11 {
    bottom: 11px;
  }

  .left-md-11 {
    left: 11px;
  }

  .top-md--11 {
    top: -11px;
  }

  .right-md--11 {
    right: -11px;
  }

  .bottom-md--11 {
    bottom: -11px;
  }

  .left-md--11 {
    left: -11px;
  }

  .top-md-12 {
    top: -12px;
  }

  .right-md-12 {
    right: 12px;
  }

  .bottom-md-12 {
    bottom: 12px;
  }

  .left-md-12 {
    left: 12px;
  }

  .top-md--12 {
    top: -12px;
  }

  .right-md--12 {
    right: -12px;
  }

  .bottom-md--12 {
    bottom: -12px;
  }

  .left-md--12 {
    left: -12px;
  }

  .top-md-13 {
    top: -13px;
  }

  .right-md-13 {
    right: 13px;
  }

  .bottom-md-13 {
    bottom: 13px;
  }

  .left-md-13 {
    left: 13px;
  }

  .top-md--13 {
    top: -13px;
  }

  .right-md--13 {
    right: -13px;
  }

  .bottom-md--13 {
    bottom: -13px;
  }

  .left-md--13 {
    left: -13px;
  }

  .top-md-14 {
    top: -14px;
  }

  .right-md-14 {
    right: 14px;
  }

  .bottom-md-14 {
    bottom: 14px;
  }

  .left-md-14 {
    left: 14px;
  }

  .top-md--14 {
    top: -14px;
  }

  .right-md--14 {
    right: -14px;
  }

  .bottom-md--14 {
    bottom: -14px;
  }

  .left-md--14 {
    left: -14px;
  }

  .top-md-15 {
    top: -15px;
  }

  .right-md-15 {
    right: 15px;
  }

  .bottom-md-15 {
    bottom: 15px;
  }

  .left-md-15 {
    left: 15px;
  }

  .top-md--15 {
    top: -15px;
  }

  .right-md--15 {
    right: -15px;
  }

  .bottom-md--15 {
    bottom: -15px;
  }

  .left-md--15 {
    left: -15px;
  }

  .top-md-16 {
    top: -16px;
  }

  .right-md-16 {
    right: 16px;
  }

  .bottom-md-16 {
    bottom: 16px;
  }

  .left-md-16 {
    left: 16px;
  }

  .top-md--16 {
    top: -16px;
  }

  .right-md--16 {
    right: -16px;
  }

  .bottom-md--16 {
    bottom: -16px;
  }

  .left-md--16 {
    left: -16px;
  }

  .top-md-17 {
    top: -17px;
  }

  .right-md-17 {
    right: 17px;
  }

  .bottom-md-17 {
    bottom: 17px;
  }

  .left-md-17 {
    left: 17px;
  }

  .top-md--17 {
    top: -17px;
  }

  .right-md--17 {
    right: -17px;
  }

  .bottom-md--17 {
    bottom: -17px;
  }

  .left-md--17 {
    left: -17px;
  }

  .top-md-18 {
    top: -18px;
  }

  .right-md-18 {
    right: 18px;
  }

  .bottom-md-18 {
    bottom: 18px;
  }

  .left-md-18 {
    left: 18px;
  }

  .top-md--18 {
    top: -18px;
  }

  .right-md--18 {
    right: -18px;
  }

  .bottom-md--18 {
    bottom: -18px;
  }

  .left-md--18 {
    left: -18px;
  }

  .top-md-19 {
    top: -19px;
  }

  .right-md-19 {
    right: 19px;
  }

  .bottom-md-19 {
    bottom: 19px;
  }

  .left-md-19 {
    left: 19px;
  }

  .top-md--19 {
    top: -19px;
  }

  .right-md--19 {
    right: -19px;
  }

  .bottom-md--19 {
    bottom: -19px;
  }

  .left-md--19 {
    left: -19px;
  }

  .top-md-20 {
    top: -20px;
  }

  .right-md-20 {
    right: 20px;
  }

  .bottom-md-20 {
    bottom: 20px;
  }

  .left-md-20 {
    left: 20px;
  }

  .top-md--20 {
    top: -20px;
  }

  .right-md--20 {
    right: -20px;
  }

  .bottom-md--20 {
    bottom: -20px;
  }

  .left-md--20 {
    left: -20px;
  }

  .top-md-21 {
    top: -21px;
  }

  .right-md-21 {
    right: 21px;
  }

  .bottom-md-21 {
    bottom: 21px;
  }

  .left-md-21 {
    left: 21px;
  }

  .top-md--21 {
    top: -21px;
  }

  .right-md--21 {
    right: -21px;
  }

  .bottom-md--21 {
    bottom: -21px;
  }

  .left-md--21 {
    left: -21px;
  }

  .top-md-22 {
    top: -22px;
  }

  .right-md-22 {
    right: 22px;
  }

  .bottom-md-22 {
    bottom: 22px;
  }

  .left-md-22 {
    left: 22px;
  }

  .top-md--22 {
    top: -22px;
  }

  .right-md--22 {
    right: -22px;
  }

  .bottom-md--22 {
    bottom: -22px;
  }

  .left-md--22 {
    left: -22px;
  }

  .top-md-23 {
    top: -23px;
  }

  .right-md-23 {
    right: 23px;
  }

  .bottom-md-23 {
    bottom: 23px;
  }

  .left-md-23 {
    left: 23px;
  }

  .top-md--23 {
    top: -23px;
  }

  .right-md--23 {
    right: -23px;
  }

  .bottom-md--23 {
    bottom: -23px;
  }

  .left-md--23 {
    left: -23px;
  }

  .top-md-24 {
    top: -24px;
  }

  .right-md-24 {
    right: 24px;
  }

  .bottom-md-24 {
    bottom: 24px;
  }

  .left-md-24 {
    left: 24px;
  }

  .top-md--24 {
    top: -24px;
  }

  .right-md--24 {
    right: -24px;
  }

  .bottom-md--24 {
    bottom: -24px;
  }

  .left-md--24 {
    left: -24px;
  }

  .top-md-25 {
    top: -25px;
  }

  .right-md-25 {
    right: 25px;
  }

  .bottom-md-25 {
    bottom: 25px;
  }

  .left-md-25 {
    left: 25px;
  }

  .top-md--25 {
    top: -25px;
  }

  .right-md--25 {
    right: -25px;
  }

  .bottom-md--25 {
    bottom: -25px;
  }

  .left-md--25 {
    left: -25px;
  }

  .top-md-26 {
    top: -26px;
  }

  .right-md-26 {
    right: 26px;
  }

  .bottom-md-26 {
    bottom: 26px;
  }

  .left-md-26 {
    left: 26px;
  }

  .top-md--26 {
    top: -26px;
  }

  .right-md--26 {
    right: -26px;
  }

  .bottom-md--26 {
    bottom: -26px;
  }

  .left-md--26 {
    left: -26px;
  }

  .top-md-27 {
    top: -27px;
  }

  .right-md-27 {
    right: 27px;
  }

  .bottom-md-27 {
    bottom: 27px;
  }

  .left-md-27 {
    left: 27px;
  }

  .top-md--27 {
    top: -27px;
  }

  .right-md--27 {
    right: -27px;
  }

  .bottom-md--27 {
    bottom: -27px;
  }

  .left-md--27 {
    left: -27px;
  }

  .top-md-28 {
    top: -28px;
  }

  .right-md-28 {
    right: 28px;
  }

  .bottom-md-28 {
    bottom: 28px;
  }

  .left-md-28 {
    left: 28px;
  }

  .top-md--28 {
    top: -28px;
  }

  .right-md--28 {
    right: -28px;
  }

  .bottom-md--28 {
    bottom: -28px;
  }

  .left-md--28 {
    left: -28px;
  }

  .top-md-29 {
    top: -29px;
  }

  .right-md-29 {
    right: 29px;
  }

  .bottom-md-29 {
    bottom: 29px;
  }

  .left-md-29 {
    left: 29px;
  }

  .top-md--29 {
    top: -29px;
  }

  .right-md--29 {
    right: -29px;
  }

  .bottom-md--29 {
    bottom: -29px;
  }

  .left-md--29 {
    left: -29px;
  }

  .top-md-30 {
    top: -30px;
  }

  .right-md-30 {
    right: 30px;
  }

  .bottom-md-30 {
    bottom: 30px;
  }

  .left-md-30 {
    left: 30px;
  }

  .top-md--30 {
    top: -30px;
  }

  .right-md--30 {
    right: -30px;
  }

  .bottom-md--30 {
    bottom: -30px;
  }

  .left-md--30 {
    left: -30px;
  }

  .top-md-31 {
    top: -31px;
  }

  .right-md-31 {
    right: 31px;
  }

  .bottom-md-31 {
    bottom: 31px;
  }

  .left-md-31 {
    left: 31px;
  }

  .top-md--31 {
    top: -31px;
  }

  .right-md--31 {
    right: -31px;
  }

  .bottom-md--31 {
    bottom: -31px;
  }

  .left-md--31 {
    left: -31px;
  }

  .top-md-32 {
    top: -32px;
  }

  .right-md-32 {
    right: 32px;
  }

  .bottom-md-32 {
    bottom: 32px;
  }

  .left-md-32 {
    left: 32px;
  }

  .top-md--32 {
    top: -32px;
  }

  .right-md--32 {
    right: -32px;
  }

  .bottom-md--32 {
    bottom: -32px;
  }

  .left-md--32 {
    left: -32px;
  }

  .top-md-33 {
    top: -33px;
  }

  .right-md-33 {
    right: 33px;
  }

  .bottom-md-33 {
    bottom: 33px;
  }

  .left-md-33 {
    left: 33px;
  }

  .top-md--33 {
    top: -33px;
  }

  .right-md--33 {
    right: -33px;
  }

  .bottom-md--33 {
    bottom: -33px;
  }

  .left-md--33 {
    left: -33px;
  }

  .top-md-34 {
    top: -34px;
  }

  .right-md-34 {
    right: 34px;
  }

  .bottom-md-34 {
    bottom: 34px;
  }

  .left-md-34 {
    left: 34px;
  }

  .top-md--34 {
    top: -34px;
  }

  .right-md--34 {
    right: -34px;
  }

  .bottom-md--34 {
    bottom: -34px;
  }

  .left-md--34 {
    left: -34px;
  }

  .top-md-35 {
    top: -35px;
  }

  .right-md-35 {
    right: 35px;
  }

  .bottom-md-35 {
    bottom: 35px;
  }

  .left-md-35 {
    left: 35px;
  }

  .top-md--35 {
    top: -35px;
  }

  .right-md--35 {
    right: -35px;
  }

  .bottom-md--35 {
    bottom: -35px;
  }

  .left-md--35 {
    left: -35px;
  }

  .top-md-36 {
    top: -36px;
  }

  .right-md-36 {
    right: 36px;
  }

  .bottom-md-36 {
    bottom: 36px;
  }

  .left-md-36 {
    left: 36px;
  }

  .top-md--36 {
    top: -36px;
  }

  .right-md--36 {
    right: -36px;
  }

  .bottom-md--36 {
    bottom: -36px;
  }

  .left-md--36 {
    left: -36px;
  }

  .top-md-37 {
    top: -37px;
  }

  .right-md-37 {
    right: 37px;
  }

  .bottom-md-37 {
    bottom: 37px;
  }

  .left-md-37 {
    left: 37px;
  }

  .top-md--37 {
    top: -37px;
  }

  .right-md--37 {
    right: -37px;
  }

  .bottom-md--37 {
    bottom: -37px;
  }

  .left-md--37 {
    left: -37px;
  }

  .top-md-38 {
    top: -38px;
  }

  .right-md-38 {
    right: 38px;
  }

  .bottom-md-38 {
    bottom: 38px;
  }

  .left-md-38 {
    left: 38px;
  }

  .top-md--38 {
    top: -38px;
  }

  .right-md--38 {
    right: -38px;
  }

  .bottom-md--38 {
    bottom: -38px;
  }

  .left-md--38 {
    left: -38px;
  }

  .top-md-39 {
    top: -39px;
  }

  .right-md-39 {
    right: 39px;
  }

  .bottom-md-39 {
    bottom: 39px;
  }

  .left-md-39 {
    left: 39px;
  }

  .top-md--39 {
    top: -39px;
  }

  .right-md--39 {
    right: -39px;
  }

  .bottom-md--39 {
    bottom: -39px;
  }

  .left-md--39 {
    left: -39px;
  }

  .top-md-40 {
    top: -40px;
  }

  .right-md-40 {
    right: 40px;
  }

  .bottom-md-40 {
    bottom: 40px;
  }

  .left-md-40 {
    left: 40px;
  }

  .top-md--40 {
    top: -40px;
  }

  .right-md--40 {
    right: -40px;
  }

  .bottom-md--40 {
    bottom: -40px;
  }

  .left-md--40 {
    left: -40px;
  }
}
@media all and (max-width: 992px) {
  .top-sm-0 {
    top: 0px;
  }

  .right-sm-0 {
    right: 0px;
  }

  .bottom-sm-0 {
    bottom: 0px;
  }

  .left-sm-0 {
    left: 0px;
  }

  .top-sm--0 {
    top: 0px;
  }

  .right-sm--0 {
    right: 0px;
  }

  .bottom-sm--0 {
    bottom: 0px;
  }

  .left-sm--0 {
    left: 0px;
  }

  .top-sm-1 {
    top: 1px;
  }

  .right-sm-1 {
    right: 1px;
  }

  .bottom-sm-1 {
    bottom: 1px;
  }

  .left-sm-1 {
    left: 1px;
  }

  .top-sm--1 {
    top: -1px;
  }

  .right-sm--1 {
    right: -1px;
  }

  .bottom-sm--1 {
    bottom: -1px;
  }

  .left-sm--1 {
    left: -1px;
  }

  .top-sm-2 {
    top: 2px;
  }

  .right-sm-2 {
    right: 2px;
  }

  .bottom-sm-2 {
    bottom: 2px;
  }

  .left-sm-2 {
    left: 2px;
  }

  .top-sm--2 {
    top: -2px;
  }

  .right-sm--2 {
    right: -2px;
  }

  .bottom-sm--2 {
    bottom: -2px;
  }

  .left-sm--2 {
    left: -2px;
  }

  .top-sm-3 {
    top: 3px;
  }

  .right-sm-3 {
    right: 3px;
  }

  .bottom-sm-3 {
    bottom: 3px;
  }

  .left-sm-3 {
    left: 3px;
  }

  .top-sm--3 {
    top: -3px;
  }

  .right-sm--3 {
    right: -3px;
  }

  .bottom-sm--3 {
    bottom: -3px;
  }

  .left-sm--3 {
    left: -3px;
  }

  .top-sm-4 {
    top: 4px;
  }

  .right-sm-4 {
    right: 4px;
  }

  .bottom-sm-4 {
    bottom: 4px;
  }

  .left-sm-4 {
    left: 4px;
  }

  .top-sm--4 {
    top: -4px;
  }

  .right-sm--4 {
    right: -4px;
  }

  .bottom-sm--4 {
    bottom: -4px;
  }

  .left-sm--4 {
    left: -4px;
  }

  .top-sm-5 {
    top: 5px;
  }

  .right-sm-5 {
    right: 5px;
  }

  .bottom-sm-5 {
    bottom: 5px;
  }

  .left-sm-5 {
    left: 5px;
  }

  .top-sm--5 {
    top: -5px;
  }

  .right-sm--5 {
    right: -5px;
  }

  .bottom-sm--5 {
    bottom: -5px;
  }

  .left-sm--5 {
    left: -5px;
  }

  .top-sm-6 {
    top: 6px;
  }

  .right-sm-6 {
    right: 6px;
  }

  .bottom-sm-6 {
    bottom: 6px;
  }

  .left-sm-6 {
    left: 6px;
  }

  .top-sm--6 {
    top: -6px;
  }

  .right-sm--6 {
    right: -6px;
  }

  .bottom-sm--6 {
    bottom: -6px;
  }

  .left-sm--6 {
    left: -6px;
  }

  .top-sm-7 {
    top: 7px;
  }

  .right-sm-7 {
    right: 7px;
  }

  .bottom-sm-7 {
    bottom: 7px;
  }

  .left-sm-7 {
    left: 7px;
  }

  .top-sm--7 {
    top: -7px;
  }

  .right-sm--7 {
    right: -7px;
  }

  .bottom-sm--7 {
    bottom: -7px;
  }

  .left-sm--7 {
    left: -7px;
  }

  .top-sm-8 {
    top: 8px;
  }

  .right-sm-8 {
    right: 8px;
  }

  .bottom-sm-8 {
    bottom: 8px;
  }

  .left-sm-8 {
    left: 8px;
  }

  .top-sm--8 {
    top: -8px;
  }

  .right-sm--8 {
    right: -8px;
  }

  .bottom-sm--8 {
    bottom: -8px;
  }

  .left-sm--8 {
    left: -8px;
  }

  .top-sm-9 {
    top: 9px;
  }

  .right-sm-9 {
    right: 9px;
  }

  .bottom-sm-9 {
    bottom: 9px;
  }

  .left-sm-9 {
    left: 9px;
  }

  .top-sm--9 {
    top: -9px;
  }

  .right-sm--9 {
    right: -9px;
  }

  .bottom-sm--9 {
    bottom: -9px;
  }

  .left-sm--9 {
    left: -9px;
  }

  .top-sm-10 {
    top: 10px;
  }

  .right-sm-10 {
    right: 10px;
  }

  .bottom-sm-10 {
    bottom: 10px;
  }

  .left-sm-10 {
    left: 10px;
  }

  .top-sm--10 {
    top: -10px;
  }

  .right-sm--10 {
    right: -10px;
  }

  .bottom-sm--10 {
    bottom: -10px;
  }

  .left-sm--10 {
    left: -10px;
  }

  .top-sm-11 {
    top: 11px;
  }

  .right-sm-11 {
    right: 11px;
  }

  .bottom-sm-11 {
    bottom: 11px;
  }

  .left-sm-11 {
    left: 11px;
  }

  .top-sm--11 {
    top: -11px;
  }

  .right-sm--11 {
    right: -11px;
  }

  .bottom-sm--11 {
    bottom: -11px;
  }

  .left-sm--11 {
    left: -11px;
  }

  .top-sm-12 {
    top: 12px;
  }

  .right-sm-12 {
    right: 12px;
  }

  .bottom-sm-12 {
    bottom: 12px;
  }

  .left-sm-12 {
    left: 12px;
  }

  .top-sm--12 {
    top: -12px;
  }

  .right-sm--12 {
    right: -12px;
  }

  .bottom-sm--12 {
    bottom: -12px;
  }

  .left-sm--12 {
    left: -12px;
  }

  .top-sm-13 {
    top: 13px;
  }

  .right-sm-13 {
    right: 13px;
  }

  .bottom-sm-13 {
    bottom: 13px;
  }

  .left-sm-13 {
    left: 13px;
  }

  .top-sm--13 {
    top: -13px;
  }

  .right-sm--13 {
    right: -13px;
  }

  .bottom-sm--13 {
    bottom: -13px;
  }

  .left-sm--13 {
    left: -13px;
  }

  .top-sm-14 {
    top: 14px;
  }

  .right-sm-14 {
    right: 14px;
  }

  .bottom-sm-14 {
    bottom: 14px;
  }

  .left-sm-14 {
    left: 14px;
  }

  .top-sm--14 {
    top: -14px;
  }

  .right-sm--14 {
    right: -14px;
  }

  .bottom-sm--14 {
    bottom: -14px;
  }

  .left-sm--14 {
    left: -14px;
  }

  .top-sm-15 {
    top: 15px;
  }

  .right-sm-15 {
    right: 15px;
  }

  .bottom-sm-15 {
    bottom: 15px;
  }

  .left-sm-15 {
    left: 15px;
  }

  .top-sm--15 {
    top: -15px;
  }

  .right-sm--15 {
    right: -15px;
  }

  .bottom-sm--15 {
    bottom: -15px;
  }

  .left-sm--15 {
    left: -15px;
  }

  .top-sm-16 {
    top: 16px;
  }

  .right-sm-16 {
    right: 16px;
  }

  .bottom-sm-16 {
    bottom: 16px;
  }

  .left-sm-16 {
    left: 16px;
  }

  .top-sm--16 {
    top: -16px;
  }

  .right-sm--16 {
    right: -16px;
  }

  .bottom-sm--16 {
    bottom: -16px;
  }

  .left-sm--16 {
    left: -16px;
  }

  .top-sm-17 {
    top: 17px;
  }

  .right-sm-17 {
    right: 17px;
  }

  .bottom-sm-17 {
    bottom: 17px;
  }

  .left-sm-17 {
    left: 17px;
  }

  .top-sm--17 {
    top: -17px;
  }

  .right-sm--17 {
    right: -17px;
  }

  .bottom-sm--17 {
    bottom: -17px;
  }

  .left-sm--17 {
    left: -17px;
  }

  .top-sm-18 {
    top: 18px;
  }

  .right-sm-18 {
    right: 18px;
  }

  .bottom-sm-18 {
    bottom: 18px;
  }

  .left-sm-18 {
    left: 18px;
  }

  .top-sm--18 {
    top: -18px;
  }

  .right-sm--18 {
    right: -18px;
  }

  .bottom-sm--18 {
    bottom: -18px;
  }

  .left-sm--18 {
    left: -18px;
  }

  .top-sm-19 {
    top: 19px;
  }

  .right-sm-19 {
    right: 19px;
  }

  .bottom-sm-19 {
    bottom: 19px;
  }

  .left-sm-19 {
    left: 19px;
  }

  .top-sm--19 {
    top: -19px;
  }

  .right-sm--19 {
    right: -19px;
  }

  .bottom-sm--19 {
    bottom: -19px;
  }

  .left-sm--19 {
    left: -19px;
  }

  .top-sm-20 {
    top: 20px;
  }

  .right-sm-20 {
    right: 20px;
  }

  .bottom-sm-20 {
    bottom: 20px;
  }

  .left-sm-20 {
    left: 20px;
  }

  .top-sm--20 {
    top: -20px;
  }

  .right-sm--20 {
    right: -20px;
  }

  .bottom-sm--20 {
    bottom: -20px;
  }

  .left-sm--20 {
    left: -20px;
  }

  .top-sm-21 {
    top: 21px;
  }

  .right-sm-21 {
    right: 21px;
  }

  .bottom-sm-21 {
    bottom: 21px;
  }

  .left-sm-21 {
    left: 21px;
  }

  .top-sm--21 {
    top: -21px;
  }

  .right-sm--21 {
    right: -21px;
  }

  .bottom-sm--21 {
    bottom: -21px;
  }

  .left-sm--21 {
    left: -21px;
  }

  .top-sm-22 {
    top: 22px;
  }

  .right-sm-22 {
    right: 22px;
  }

  .bottom-sm-22 {
    bottom: 22px;
  }

  .left-sm-22 {
    left: 22px;
  }

  .top-sm--22 {
    top: -22px;
  }

  .right-sm--22 {
    right: -22px;
  }

  .bottom-sm--22 {
    bottom: -22px;
  }

  .left-sm--22 {
    left: -22px;
  }

  .top-sm-23 {
    top: 23px;
  }

  .right-sm-23 {
    right: 23px;
  }

  .bottom-sm-23 {
    bottom: 23px;
  }

  .left-sm-23 {
    left: 23px;
  }

  .top-sm--23 {
    top: -23px;
  }

  .right-sm--23 {
    right: -23px;
  }

  .bottom-sm--23 {
    bottom: -23px;
  }

  .left-sm--23 {
    left: -23px;
  }

  .top-sm-24 {
    top: 24px;
  }

  .right-sm-24 {
    right: 24px;
  }

  .bottom-sm-24 {
    bottom: 24px;
  }

  .left-sm-24 {
    left: 24px;
  }

  .top-sm--24 {
    top: -24px;
  }

  .right-sm--24 {
    right: -24px;
  }

  .bottom-sm--24 {
    bottom: -24px;
  }

  .left-sm--24 {
    left: -24px;
  }

  .top-sm-25 {
    top: 25px;
  }

  .right-sm-25 {
    right: 25px;
  }

  .bottom-sm-25 {
    bottom: 25px;
  }

  .left-sm-25 {
    left: 25px;
  }

  .top-sm--25 {
    top: -25px;
  }

  .right-sm--25 {
    right: -25px;
  }

  .bottom-sm--25 {
    bottom: -25px;
  }

  .left-sm--25 {
    left: -25px;
  }

  .top-sm-26 {
    top: 26px;
  }

  .right-sm-26 {
    right: 26px;
  }

  .bottom-sm-26 {
    bottom: 26px;
  }

  .left-sm-26 {
    left: 26px;
  }

  .top-sm--26 {
    top: -26px;
  }

  .right-sm--26 {
    right: -26px;
  }

  .bottom-sm--26 {
    bottom: -26px;
  }

  .left-sm--26 {
    left: -26px;
  }

  .top-sm-27 {
    top: 27px;
  }

  .right-sm-27 {
    right: 27px;
  }

  .bottom-sm-27 {
    bottom: 27px;
  }

  .left-sm-27 {
    left: 27px;
  }

  .top-sm--27 {
    top: -27px;
  }

  .right-sm--27 {
    right: -27px;
  }

  .bottom-sm--27 {
    bottom: -27px;
  }

  .left-sm--27 {
    left: -27px;
  }

  .top-sm-28 {
    top: 28px;
  }

  .right-sm-28 {
    right: 28px;
  }

  .bottom-sm-28 {
    bottom: 28px;
  }

  .left-sm-28 {
    left: 28px;
  }

  .top-sm--28 {
    top: -28px;
  }

  .right-sm--28 {
    right: -28px;
  }

  .bottom-sm--28 {
    bottom: -28px;
  }

  .left-sm--28 {
    left: -28px;
  }

  .top-sm-29 {
    top: 29px;
  }

  .right-sm-29 {
    right: 29px;
  }

  .bottom-sm-29 {
    bottom: 29px;
  }

  .left-sm-29 {
    left: 29px;
  }

  .top-sm--29 {
    top: -29px;
  }

  .right-sm--29 {
    right: -29px;
  }

  .bottom-sm--29 {
    bottom: -29px;
  }

  .left-sm--29 {
    left: -29px;
  }

  .top-sm-30 {
    top: 30px;
  }

  .right-sm-30 {
    right: 30px;
  }

  .bottom-sm-30 {
    bottom: 30px;
  }

  .left-sm-30 {
    left: 30px;
  }

  .top-sm--30 {
    top: -30px;
  }

  .right-sm--30 {
    right: -30px;
  }

  .bottom-sm--30 {
    bottom: -30px;
  }

  .left-sm--30 {
    left: -30px;
  }

  .top-sm-31 {
    top: 31px;
  }

  .right-sm-31 {
    right: 31px;
  }

  .bottom-sm-31 {
    bottom: 31px;
  }

  .left-sm-31 {
    left: 31px;
  }

  .top-sm--31 {
    top: -31px;
  }

  .right-sm--31 {
    right: -31px;
  }

  .bottom-sm--31 {
    bottom: -31px;
  }

  .left-sm--31 {
    left: -31px;
  }

  .top-sm-32 {
    top: 32px;
  }

  .right-sm-32 {
    right: 32px;
  }

  .bottom-sm-32 {
    bottom: 32px;
  }

  .left-sm-32 {
    left: 32px;
  }

  .top-sm--32 {
    top: -32px;
  }

  .right-sm--32 {
    right: -32px;
  }

  .bottom-sm--32 {
    bottom: -32px;
  }

  .left-sm--32 {
    left: -32px;
  }

  .top-sm-33 {
    top: 33px;
  }

  .right-sm-33 {
    right: 33px;
  }

  .bottom-sm-33 {
    bottom: 33px;
  }

  .left-sm-33 {
    left: 33px;
  }

  .top-sm--33 {
    top: -33px;
  }

  .right-sm--33 {
    right: -33px;
  }

  .bottom-sm--33 {
    bottom: -33px;
  }

  .left-sm--33 {
    left: -33px;
  }

  .top-sm-34 {
    top: 34px;
  }

  .right-sm-34 {
    right: 34px;
  }

  .bottom-sm-34 {
    bottom: 34px;
  }

  .left-sm-34 {
    left: 34px;
  }

  .top-sm--34 {
    top: -34px;
  }

  .right-sm--34 {
    right: -34px;
  }

  .bottom-sm--34 {
    bottom: -34px;
  }

  .left-sm--34 {
    left: -34px;
  }

  .top-sm-35 {
    top: 35px;
  }

  .right-sm-35 {
    right: 35px;
  }

  .bottom-sm-35 {
    bottom: 35px;
  }

  .left-sm-35 {
    left: 35px;
  }

  .top-sm--35 {
    top: -35px;
  }

  .right-sm--35 {
    right: -35px;
  }

  .bottom-sm--35 {
    bottom: -35px;
  }

  .left-sm--35 {
    left: -35px;
  }

  .top-sm-36 {
    top: 36px;
  }

  .right-sm-36 {
    right: 36px;
  }

  .bottom-sm-36 {
    bottom: 36px;
  }

  .left-sm-36 {
    left: 36px;
  }

  .top-sm--36 {
    top: -36px;
  }

  .right-sm--36 {
    right: -36px;
  }

  .bottom-sm--36 {
    bottom: -36px;
  }

  .left-sm--36 {
    left: -36px;
  }

  .top-sm-37 {
    top: 37px;
  }

  .right-sm-37 {
    right: 37px;
  }

  .bottom-sm-37 {
    bottom: 37px;
  }

  .left-sm-37 {
    left: 37px;
  }

  .top-sm--37 {
    top: -37px;
  }

  .right-sm--37 {
    right: -37px;
  }

  .bottom-sm--37 {
    bottom: -37px;
  }

  .left-sm--37 {
    left: -37px;
  }

  .top-sm-38 {
    top: 38px;
  }

  .right-sm-38 {
    right: 38px;
  }

  .bottom-sm-38 {
    bottom: 38px;
  }

  .left-sm-38 {
    left: 38px;
  }

  .top-sm--38 {
    top: -38px;
  }

  .right-sm--38 {
    right: -38px;
  }

  .bottom-sm--38 {
    bottom: -38px;
  }

  .left-sm--38 {
    left: -38px;
  }

  .top-sm-39 {
    top: 39px;
  }

  .right-sm-39 {
    right: 39px;
  }

  .bottom-sm-39 {
    bottom: 39px;
  }

  .left-sm-39 {
    left: 39px;
  }

  .top-sm--39 {
    top: -39px;
  }

  .right-sm--39 {
    right: -39px;
  }

  .bottom-sm--39 {
    bottom: -39px;
  }

  .left-sm--39 {
    left: -39px;
  }

  .top-sm-40 {
    top: 40px;
  }

  .right-sm-40 {
    right: 40px;
  }

  .bottom-sm-40 {
    bottom: 40px;
  }

  .left-sm-40 {
    left: 40px;
  }

  .top-sm--40 {
    top: -40px;
  }

  .right-sm--40 {
    right: -40px;
  }

  .bottom-sm--40 {
    bottom: -40px;
  }

  .left-sm--40 {
    left: -40px;
  }
}
@media all and (max-width: 767px) {
  .top-xs-0 {
    top: 0px;
  }

  .right-xs-0 {
    right: 0px;
  }

  .bottom-xs-0 {
    bottom: 0px;
  }

  .left-xs-0 {
    left: 0px;
  }

  .top-xs--0 {
    top: 0px;
  }

  .right-xs--0 {
    right: 0px;
  }

  .bottom-xs--0 {
    bottom: 0px;
  }

  .left-xs--0 {
    left: 0px;
  }

  .top-xs-1 {
    top: 1px;
  }

  .right-xs-1 {
    right: 1px;
  }

  .bottom-xs-1 {
    bottom: 1px;
  }

  .left-xs-1 {
    left: -1px;
  }

  .top-xs--1 {
    top: -1px;
  }

  .right-xs--1 {
    right: -1px;
  }

  .bottom-xs--1 {
    bottom: -1px;
  }

  .left-xs--1 {
    left: -1px;
  }

  .top-xs-2 {
    top: 2px;
  }

  .right-xs-2 {
    right: 2px;
  }

  .bottom-xs-2 {
    bottom: 2px;
  }

  .left-xs-2 {
    left: -2px;
  }

  .top-xs--2 {
    top: -2px;
  }

  .right-xs--2 {
    right: -2px;
  }

  .bottom-xs--2 {
    bottom: -2px;
  }

  .left-xs--2 {
    left: -2px;
  }

  .top-xs-3 {
    top: 3px;
  }

  .right-xs-3 {
    right: 3px;
  }

  .bottom-xs-3 {
    bottom: 3px;
  }

  .left-xs-3 {
    left: -3px;
  }

  .top-xs--3 {
    top: -3px;
  }

  .right-xs--3 {
    right: -3px;
  }

  .bottom-xs--3 {
    bottom: -3px;
  }

  .left-xs--3 {
    left: -3px;
  }

  .top-xs-4 {
    top: 4px;
  }

  .right-xs-4 {
    right: 4px;
  }

  .bottom-xs-4 {
    bottom: 4px;
  }

  .left-xs-4 {
    left: -4px;
  }

  .top-xs--4 {
    top: -4px;
  }

  .right-xs--4 {
    right: -4px;
  }

  .bottom-xs--4 {
    bottom: -4px;
  }

  .left-xs--4 {
    left: -4px;
  }

  .top-xs-5 {
    top: 5px;
  }

  .right-xs-5 {
    right: 5px;
  }

  .bottom-xs-5 {
    bottom: 5px;
  }

  .left-xs-5 {
    left: -5px;
  }

  .top-xs--5 {
    top: -5px;
  }

  .right-xs--5 {
    right: -5px;
  }

  .bottom-xs--5 {
    bottom: -5px;
  }

  .left-xs--5 {
    left: -5px;
  }

  .top-xs-6 {
    top: 6px;
  }

  .right-xs-6 {
    right: 6px;
  }

  .bottom-xs-6 {
    bottom: 6px;
  }

  .left-xs-6 {
    left: -6px;
  }

  .top-xs--6 {
    top: -6px;
  }

  .right-xs--6 {
    right: -6px;
  }

  .bottom-xs--6 {
    bottom: -6px;
  }

  .left-xs--6 {
    left: -6px;
  }

  .top-xs-7 {
    top: 7px;
  }

  .right-xs-7 {
    right: 7px;
  }

  .bottom-xs-7 {
    bottom: 7px;
  }

  .left-xs-7 {
    left: -7px;
  }

  .top-xs--7 {
    top: -7px;
  }

  .right-xs--7 {
    right: -7px;
  }

  .bottom-xs--7 {
    bottom: -7px;
  }

  .left-xs--7 {
    left: -7px;
  }

  .top-xs-8 {
    top: 8px;
  }

  .right-xs-8 {
    right: 8px;
  }

  .bottom-xs-8 {
    bottom: 8px;
  }

  .left-xs-8 {
    left: -8px;
  }

  .top-xs--8 {
    top: -8px;
  }

  .right-xs--8 {
    right: -8px;
  }

  .bottom-xs--8 {
    bottom: -8px;
  }

  .left-xs--8 {
    left: -8px;
  }

  .top-xs-9 {
    top: 9px;
  }

  .right-xs-9 {
    right: 9px;
  }

  .bottom-xs-9 {
    bottom: 9px;
  }

  .left-xs-9 {
    left: -9px;
  }

  .top-xs--9 {
    top: -9px;
  }

  .right-xs--9 {
    right: -9px;
  }

  .bottom-xs--9 {
    bottom: -9px;
  }

  .left-xs--9 {
    left: -9px;
  }

  .top-xs-10 {
    top: 10px;
  }

  .right-xs-10 {
    right: 10px;
  }

  .bottom-xs-10 {
    bottom: 10px;
  }

  .left-xs-10 {
    left: -10px;
  }

  .top-xs--10 {
    top: -10px;
  }

  .right-xs--10 {
    right: -10px;
  }

  .bottom-xs--10 {
    bottom: -10px;
  }

  .left-xs--10 {
    left: -10px;
  }

  .top-xs-11 {
    top: 11px;
  }

  .right-xs-11 {
    right: 11px;
  }

  .bottom-xs-11 {
    bottom: 11px;
  }

  .left-xs-11 {
    left: -11px;
  }

  .top-xs--11 {
    top: -11px;
  }

  .right-xs--11 {
    right: -11px;
  }

  .bottom-xs--11 {
    bottom: -11px;
  }

  .left-xs--11 {
    left: -11px;
  }

  .top-xs-12 {
    top: 12px;
  }

  .right-xs-12 {
    right: 12px;
  }

  .bottom-xs-12 {
    bottom: 12px;
  }

  .left-xs-12 {
    left: -12px;
  }

  .top-xs--12 {
    top: -12px;
  }

  .right-xs--12 {
    right: -12px;
  }

  .bottom-xs--12 {
    bottom: -12px;
  }

  .left-xs--12 {
    left: -12px;
  }

  .top-xs-13 {
    top: 13px;
  }

  .right-xs-13 {
    right: 13px;
  }

  .bottom-xs-13 {
    bottom: 13px;
  }

  .left-xs-13 {
    left: -13px;
  }

  .top-xs--13 {
    top: -13px;
  }

  .right-xs--13 {
    right: -13px;
  }

  .bottom-xs--13 {
    bottom: -13px;
  }

  .left-xs--13 {
    left: -13px;
  }

  .top-xs-14 {
    top: 14px;
  }

  .right-xs-14 {
    right: 14px;
  }

  .bottom-xs-14 {
    bottom: 14px;
  }

  .left-xs-14 {
    left: -14px;
  }

  .top-xs--14 {
    top: -14px;
  }

  .right-xs--14 {
    right: -14px;
  }

  .bottom-xs--14 {
    bottom: -14px;
  }

  .left-xs--14 {
    left: -14px;
  }

  .top-xs-15 {
    top: 15px;
  }

  .right-xs-15 {
    right: 15px;
  }

  .bottom-xs-15 {
    bottom: 15px;
  }

  .left-xs-15 {
    left: -15px;
  }

  .top-xs--15 {
    top: -15px;
  }

  .right-xs--15 {
    right: -15px;
  }

  .bottom-xs--15 {
    bottom: -15px;
  }

  .left-xs--15 {
    left: -15px;
  }

  .top-xs-16 {
    top: 16px;
  }

  .right-xs-16 {
    right: 16px;
  }

  .bottom-xs-16 {
    bottom: 16px;
  }

  .left-xs-16 {
    left: -16px;
  }

  .top-xs--16 {
    top: -16px;
  }

  .right-xs--16 {
    right: -16px;
  }

  .bottom-xs--16 {
    bottom: -16px;
  }

  .left-xs--16 {
    left: -16px;
  }

  .top-xs-17 {
    top: 17px;
  }

  .right-xs-17 {
    right: 17px;
  }

  .bottom-xs-17 {
    bottom: 17px;
  }

  .left-xs-17 {
    left: -17px;
  }

  .top-xs--17 {
    top: -17px;
  }

  .right-xs--17 {
    right: -17px;
  }

  .bottom-xs--17 {
    bottom: -17px;
  }

  .left-xs--17 {
    left: -17px;
  }

  .top-xs-18 {
    top: 18px;
  }

  .right-xs-18 {
    right: 18px;
  }

  .bottom-xs-18 {
    bottom: 18px;
  }

  .left-xs-18 {
    left: -18px;
  }

  .top-xs--18 {
    top: -18px;
  }

  .right-xs--18 {
    right: -18px;
  }

  .bottom-xs--18 {
    bottom: -18px;
  }

  .left-xs--18 {
    left: -18px;
  }

  .top-xs-19 {
    top: 19px;
  }

  .right-xs-19 {
    right: 19px;
  }

  .bottom-xs-19 {
    bottom: 19px;
  }

  .left-xs-19 {
    left: -19px;
  }

  .top-xs--19 {
    top: -19px;
  }

  .right-xs--19 {
    right: -19px;
  }

  .bottom-xs--19 {
    bottom: -19px;
  }

  .left-xs--19 {
    left: -19px;
  }

  .top-xs-20 {
    top: 20px;
  }

  .right-xs-20 {
    right: 20px;
  }

  .bottom-xs-20 {
    bottom: 20px;
  }

  .left-xs-20 {
    left: -20px;
  }

  .top-xs--20 {
    top: -20px;
  }

  .right-xs--20 {
    right: -20px;
  }

  .bottom-xs--20 {
    bottom: -20px;
  }

  .left-xs--20 {
    left: -20px;
  }

  .top-xs-21 {
    top: 21px;
  }

  .right-xs-21 {
    right: 21px;
  }

  .bottom-xs-21 {
    bottom: 21px;
  }

  .left-xs-21 {
    left: -21px;
  }

  .top-xs--21 {
    top: -21px;
  }

  .right-xs--21 {
    right: -21px;
  }

  .bottom-xs--21 {
    bottom: -21px;
  }

  .left-xs--21 {
    left: -21px;
  }

  .top-xs-22 {
    top: 22px;
  }

  .right-xs-22 {
    right: 22px;
  }

  .bottom-xs-22 {
    bottom: 22px;
  }

  .left-xs-22 {
    left: -22px;
  }

  .top-xs--22 {
    top: -22px;
  }

  .right-xs--22 {
    right: -22px;
  }

  .bottom-xs--22 {
    bottom: -22px;
  }

  .left-xs--22 {
    left: -22px;
  }

  .top-xs-23 {
    top: 23px;
  }

  .right-xs-23 {
    right: 23px;
  }

  .bottom-xs-23 {
    bottom: 23px;
  }

  .left-xs-23 {
    left: -23px;
  }

  .top-xs--23 {
    top: -23px;
  }

  .right-xs--23 {
    right: -23px;
  }

  .bottom-xs--23 {
    bottom: -23px;
  }

  .left-xs--23 {
    left: -23px;
  }

  .top-xs-24 {
    top: 24px;
  }

  .right-xs-24 {
    right: 24px;
  }

  .bottom-xs-24 {
    bottom: 24px;
  }

  .left-xs-24 {
    left: -24px;
  }

  .top-xs--24 {
    top: -24px;
  }

  .right-xs--24 {
    right: -24px;
  }

  .bottom-xs--24 {
    bottom: -24px;
  }

  .left-xs--24 {
    left: -24px;
  }

  .top-xs-25 {
    top: 25px;
  }

  .right-xs-25 {
    right: 25px;
  }

  .bottom-xs-25 {
    bottom: 25px;
  }

  .left-xs-25 {
    left: -25px;
  }

  .top-xs--25 {
    top: -25px;
  }

  .right-xs--25 {
    right: -25px;
  }

  .bottom-xs--25 {
    bottom: -25px;
  }

  .left-xs--25 {
    left: -25px;
  }

  .top-xs-26 {
    top: 26px;
  }

  .right-xs-26 {
    right: 26px;
  }

  .bottom-xs-26 {
    bottom: 26px;
  }

  .left-xs-26 {
    left: -26px;
  }

  .top-xs--26 {
    top: -26px;
  }

  .right-xs--26 {
    right: -26px;
  }

  .bottom-xs--26 {
    bottom: -26px;
  }

  .left-xs--26 {
    left: -26px;
  }

  .top-xs-27 {
    top: 27px;
  }

  .right-xs-27 {
    right: 27px;
  }

  .bottom-xs-27 {
    bottom: 27px;
  }

  .left-xs-27 {
    left: -27px;
  }

  .top-xs--27 {
    top: -27px;
  }

  .right-xs--27 {
    right: -27px;
  }

  .bottom-xs--27 {
    bottom: -27px;
  }

  .left-xs--27 {
    left: -27px;
  }

  .top-xs-28 {
    top: 28px;
  }

  .right-xs-28 {
    right: 28px;
  }

  .bottom-xs-28 {
    bottom: 28px;
  }

  .left-xs-28 {
    left: -28px;
  }

  .top-xs--28 {
    top: -28px;
  }

  .right-xs--28 {
    right: -28px;
  }

  .bottom-xs--28 {
    bottom: -28px;
  }

  .left-xs--28 {
    left: -28px;
  }

  .top-xs-29 {
    top: 29px;
  }

  .right-xs-29 {
    right: 29px;
  }

  .bottom-xs-29 {
    bottom: 29px;
  }

  .left-xs-29 {
    left: -29px;
  }

  .top-xs--29 {
    top: -29px;
  }

  .right-xs--29 {
    right: -29px;
  }

  .bottom-xs--29 {
    bottom: -29px;
  }

  .left-xs--29 {
    left: -29px;
  }

  .top-xs-30 {
    top: 30px;
  }

  .right-xs-30 {
    right: 30px;
  }

  .bottom-xs-30 {
    bottom: 30px;
  }

  .left-xs-30 {
    left: -30px;
  }

  .top-xs--30 {
    top: -30px;
  }

  .right-xs--30 {
    right: -30px;
  }

  .bottom-xs--30 {
    bottom: -30px;
  }

  .left-xs--30 {
    left: -30px;
  }

  .top-xs-31 {
    top: 31px;
  }

  .right-xs-31 {
    right: 31px;
  }

  .bottom-xs-31 {
    bottom: 31px;
  }

  .left-xs-31 {
    left: -31px;
  }

  .top-xs--31 {
    top: -31px;
  }

  .right-xs--31 {
    right: -31px;
  }

  .bottom-xs--31 {
    bottom: -31px;
  }

  .left-xs--31 {
    left: -31px;
  }

  .top-xs-32 {
    top: 32px;
  }

  .right-xs-32 {
    right: 32px;
  }

  .bottom-xs-32 {
    bottom: 32px;
  }

  .left-xs-32 {
    left: -32px;
  }

  .top-xs--32 {
    top: -32px;
  }

  .right-xs--32 {
    right: -32px;
  }

  .bottom-xs--32 {
    bottom: -32px;
  }

  .left-xs--32 {
    left: -32px;
  }

  .top-xs-33 {
    top: 33px;
  }

  .right-xs-33 {
    right: 33px;
  }

  .bottom-xs-33 {
    bottom: 33px;
  }

  .left-xs-33 {
    left: -33px;
  }

  .top-xs--33 {
    top: -33px;
  }

  .right-xs--33 {
    right: -33px;
  }

  .bottom-xs--33 {
    bottom: -33px;
  }

  .left-xs--33 {
    left: -33px;
  }

  .top-xs-34 {
    top: 34px;
  }

  .right-xs-34 {
    right: 34px;
  }

  .bottom-xs-34 {
    bottom: 34px;
  }

  .left-xs-34 {
    left: -34px;
  }

  .top-xs--34 {
    top: -34px;
  }

  .right-xs--34 {
    right: -34px;
  }

  .bottom-xs--34 {
    bottom: -34px;
  }

  .left-xs--34 {
    left: -34px;
  }

  .top-xs-35 {
    top: 35px;
  }

  .right-xs-35 {
    right: 35px;
  }

  .bottom-xs-35 {
    bottom: 35px;
  }

  .left-xs-35 {
    left: -35px;
  }

  .top-xs--35 {
    top: -35px;
  }

  .right-xs--35 {
    right: -35px;
  }

  .bottom-xs--35 {
    bottom: -35px;
  }

  .left-xs--35 {
    left: -35px;
  }

  .top-xs-36 {
    top: 36px;
  }

  .right-xs-36 {
    right: 36px;
  }

  .bottom-xs-36 {
    bottom: 36px;
  }

  .left-xs-36 {
    left: -36px;
  }

  .top-xs--36 {
    top: -36px;
  }

  .right-xs--36 {
    right: -36px;
  }

  .bottom-xs--36 {
    bottom: -36px;
  }

  .left-xs--36 {
    left: -36px;
  }

  .top-xs-37 {
    top: 37px;
  }

  .right-xs-37 {
    right: 37px;
  }

  .bottom-xs-37 {
    bottom: 37px;
  }

  .left-xs-37 {
    left: -37px;
  }

  .top-xs--37 {
    top: -37px;
  }

  .right-xs--37 {
    right: -37px;
  }

  .bottom-xs--37 {
    bottom: -37px;
  }

  .left-xs--37 {
    left: -37px;
  }

  .top-xs-38 {
    top: 38px;
  }

  .right-xs-38 {
    right: 38px;
  }

  .bottom-xs-38 {
    bottom: 38px;
  }

  .left-xs-38 {
    left: -38px;
  }

  .top-xs--38 {
    top: -38px;
  }

  .right-xs--38 {
    right: -38px;
  }

  .bottom-xs--38 {
    bottom: -38px;
  }

  .left-xs--38 {
    left: -38px;
  }

  .top-xs-39 {
    top: 39px;
  }

  .right-xs-39 {
    right: 39px;
  }

  .bottom-xs-39 {
    bottom: 39px;
  }

  .left-xs-39 {
    left: -39px;
  }

  .top-xs--39 {
    top: -39px;
  }

  .right-xs--39 {
    right: -39px;
  }

  .bottom-xs--39 {
    bottom: -39px;
  }

  .left-xs--39 {
    left: -39px;
  }

  .top-xs-40 {
    top: 40px;
  }

  .right-xs-40 {
    right: 40px;
  }

  .bottom-xs-40 {
    bottom: 40px;
  }

  .left-xs-40 {
    left: -40px;
  }

  .top-xs--40 {
    top: -40px;
  }

  .right-xs--40 {
    right: -40px;
  }

  .bottom-xs--40 {
    bottom: -40px;
  }

  .left-xs--40 {
    left: -40px;
  }
}