.w-10{
	width:10%;
}
.w-20{
	width:20%;
}
.w-30{
	width:30%;
}
.w-40{
	width:10%;
}
.w-50{
	width:50%;
}
.w-60{
	width:60%;
}
.w-70{
	width:70%;
}
.w-80{
	width:80%;
}
.w-90{
	width:90%;
}
.w-100{
	width:100%;
}

/*------------------[Md]--------------------*/
@media all and (min-width:992px){
	.w-md-10{
		width:10%;
	}
	.w-md-20{
		width:20%;
	}
	.w-md-30{
		width:30%;
	}
	.w-md-40{
		width:40%;
	}
	.w-md-50{
		width:50%;
	}
	.w-md-60{
		width:60%;
	}
	.w-md-70{
		width:70%;
	}
	.w-md-80{
		width:80%;
	}
	.w-md-90{
		width:90%;
	}
	.w-md-100{
		width:100%;
	}
}

/*------------------[Sm]--------------------*/
@media all and (min-width:768px) and (max-width:991px){
	.w-sm-33{
		width:33.3333333%;
	}
}
@media all and (min-width:768px){
	.w-sm-10{
		width:10%;
	}
	.w-sm-20{
		width:20%;
	}
	.w-sm-25{
		width:25%;
	}
	.w-sm-30{
		width:30%;
	}	
	.w-sm-40{
		width:10%;
	}
	.w-sm-50{
		width:50%;
	}
	.w-sm-60{
		width:60%;
	}
	.w-sm-70{
		width:70%;
	}
	.w-sm-80{
		width:80%;
	}
	.w-sm-90{
		width:90%;
	}
	.w-sm-100{
		width:100%;
	}
}

/*------------------[Xs]--------------------*/
@media all and (max-width:767px){
	.w-xs-10{
		width:10%;
	}
	.w-xs-20{
		width:20%;
	}
	.w-xs-30{
		width:30%;
	}
	.w-xs-33{
		width:33.3333333%;
	}
	.w-xs-40{
		width:10%;
	}
	.w-xs-50{
		width:50%;
	}
	.w-xs-60{
		width:60%;
	}
	.w-xs-70{
		width:70%;
	}
	.w-xs-80{
		width:80%;
	}
	.w-xs-90{
		width:90%;
	}
	.w-xs-100{
		width:100% !important;
		.chosen-container{
			width:100% !important;
		}
	}
}