{include file="header.tpl"}

{ci_language file="$label" lang="$lang"}
{ci_config name="base_url"}

<div class="main-content">
    <div class="page-header"><h1>Welcome to Project Test</h1></div>
    {ci_language line="test"}

</div>

{include file="footer.tpl"}