.notFound{
	.headSettings_head{
		span{
			@include head-size();
			@include true-pink();
			@include text-norm();
			@include m-r(20px);
			@include normal();
		}
	}
	.notFound_reason{
		.main_reason{
			@include m-t(20px);
			@include m-l(20px);
			li{
				@include dark-gray();
				@include regRoboto();
				@include h4();
			}
		}
		.notFound_reason-point{
			@include m-t(20px);
			@include m-l(30px);
			@include m-r(20px);
			li{
				@include light-gray();
				@include regRoboto();
				@include h4();
			}
		}
	}
}