.ajax_notify{
    display:none;
}

.notifications{
    position: fixed;
    top: 90px;
    right: 15px;
    z-index:99999;
}

.notification_mode{
	top: 70px;
    display: block;
    padding-top: 5px;
    text-align: center;
    background: rgba(239, 179, 13, 0.80);
    color: #ffffff;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.notification{
	position:relative;
	margin: 0 0 6px 0;
	text-align:center;
	width:300px;
	color:$white;
	@include regRoboto();
	@include h3();
	padding-top:10px;
	
	background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    a.link{
		color:#ffffff;
		text-decoration: underline;
    }
	i{
		margin-right:5px;
		&.fa-remove{
			position:absolute;
			top:0px;
			right:0px;
			height: 20px;
			width: 20px;
			cursor: pointer;
		}
	}
	.container{
		width:300px;
		p{
			margin-right:10px;
		}
	}
	&.popup{
		top:52px;
	}
	&.good{
		background-color:$true-green;
	}
	&.bad{
		background-color:$true-pink;
	}
	&.wait{
		background-color:$wait;
	}
	&.warning{
		background-color:$warning;
	}
}
.notification:hover{
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    cursor: pointer;
}

.notifications-popup {
  max-width: 300px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0px 0px 20px #666;
  position: absolute;
  opacity: 1;
  top: 45px;
  transition: .2s;
  opacity: 0;
  left: -140px;
  z-index: 99;

  &:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: -20px;
    left: 140px;
    border: 10px solid #fff;
    border-color: transparent transparent #fff transparent;
  }

  &.open {
    opacity: 1;
    transition: .2s;
  }

  li {
    padding: 5px;
    list-style-type: none;

    &.titlebar {
      border-bottom: 1px solid #ccc;
      color: #666;
      font-size: 12px;
      cursor: inherit;
      padding: 10px 5px;

      &:hover {
        background: #fff;
      }

      .settings {
        float: right;
        cursor: pointer;
      }
    }

    &.seeall {
      text-align: center;
      font-size: 12px;
      min-height: 30px;
      text-transform: uppercase;
      position: relative;
      border-top: 1px solid #ccc;

      a {
        background: #f5f5f5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        color: #007fff;
        padding-top: 8px;
      }
    }
  }

  .notifbox {
    max-height: 300px;
    overflow: auto;

    li {
      color: #666;

      a {
        color: #666;
      }

      &.unread {
        background: #e5f2ff;
      }

      &.notif {
        min-height: 70px;
        border-bottom: 1px solid #ccc;
        position: relative;

        &:last-child {
          border-bottom: none;
        }

        .imageblock {
          width: 70px;
          position: absolute;
          left: 5px;
		  text-align: center;
          .notifimage {
            height: 45px;
          }
        }

        .messageblock {
          width: 200px;
          position: relative;
          left: 70px;
          font-size: 12px;

          .message a {
            color: #007fff;
          }

          .messageaction {
            min-height: 30px;
            margin-bottom: 5px;

            .button {
              font-weight: normal;
              text-transform: uppercase;

              &.success, &.alert {
                color: #fff;
              }
            }
          }

          .messageinfo {
            font-size: 10px;
            color: #999;
          }
        }
      }
    }
  }
}

.pay{
	border:1px solid $true-blue;
	text-align:center;
	margin-bottom:20px;
	@include p(25px);
	.pay_picture{
		display:block;
		text-align:center;
		float:none;
		margin:auto;
		@include m-b(17px);
	}
	.pay_link{
		color:$true-blue;
		@include h4();
		@include regRoboto();
	}
	.pay_list{
		@include list-unstyled();
		@include m-t(-17px);
		@include m-b(5px);
		@include text-uc();
		.pay_item{
			display:inline-block;
			//min-width:40px;
			margin-left:8px;
			@include tabsGray();
			@include tooSmall();
			&:last-child{
				margin-right:0px;
			}
		}
	}
}
.support{
	.support_picture{
		margin-right:20px;
		float:left;		
	}
}
.profile{
	@include m-b(20px);
	.profile_picture{
		border:1px solid $input-border;
		padding:10px;
		position:relative;
	}
	.profile_text{
		@include lightRoboto();
		color:$text-color;
		@include m-b(0px);
		@include h2();
	}
	.profile_link{
		color:$true-blue;
		@include lightRoboto();
		@include h4();
	}
}
.payments{	
	@include b-Left();
	@include b-Right();
	@include b-Top();
	width:100%;
	@include m-b(20px);
	box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
	.payment_row{
		@include b-Bottom();
		width:100%;
		.payments_title{
			width:40%;
			float:left;
			padding:10px;
			background-color:$true-blue;
			p{
				color:$white;
				@include montserrat();
				@include m-b(0px);
				text-align:right;
				@include text-uc();
			}
			box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				-o-box-sizing:border-box;
		}
		.payments_content{
			width:60%;
			float:left;
			padding:10px;
			@include b-Left();	
			box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				-o-box-sizing:border-box;
			p{
				@include regRoboto();
				color:$true-gray;
				text-align:left;
				@include m-b(0px);
				@include h3();
			}
		}
	}		
}
.actions{
	p.true-pink, p.true-green{
		position:absolute;
	}
}
.amazonEdit{
	padding-left:0px;
	@include list-unstyled();
	@include m-b(0px);
	li{
		float:left;
		button{
			padding:10px;
			@include h4();
			display:block;
		}
		&.editProfile{
			.editProfile_link{
				color:$true-green;
				border-right:1px solid $input-border;
			}
		}
		&.remProfile{
			.removeProfile_link{
				color:$true-pink
			}
		}
	}
}
.miraklEdit{
	padding-left:0px;
	@include list-unstyled();
	@include m-b(0px);
	li{
		float:left;
		button{
			padding:10px;
			@include h4();
			display:block;
		}
		&.editProfile{
			.editProfile_link{
				color:$true-green;
				border-right:1px solid $input-border;
			}
		}
		&.remProfile{
			.removeProfile_link{
				color:$true-pink
			}
		}
	}
}
.csv{
	position:absolute;
	top:25px;
	right:40px;
}