.breadcrumbs{
	@include list-unstyled();
	.bread_item{
		float:left;
		margin-right:20px;
		position:relative;		
		&:after{
			position:absolute;
			content:">";
			color:$light-gray;
			right:-13px;
			top:6px;
			font-size:8px;
		}
		&.active{
			a{
				color:$true-blue;
			}
		}
		&:first-child{
			margin-left:0px;
		}
		&:last-child{
			&:after{
				content:"";
			}
		}
		.bread_link{
			@include regRoboto();
			color:$light-gray;
			@include h4();
		}
	}
}