[class*="btn-"]{
	@extend .lightRoboto;
	@extend .h3;
	&:focus, &:focus:active{
		outline:0;
		color:$white;
	}
	&:active, &.active{
		box-shadow:inset 0 3px 5px rgba(0,0,0,0)
	}
}
.btn-search{
	@extend .absolute;
	@extend .bg-Sprite;
	content:'';
	position:absolute;
	background-repeat:no-repeat;
	background-position: -12px -101px;
	width: 14px;
	height: 14px;
	top: 6px;
	right: 6px;
}
.btn-save{
	background-color:$true-blue;
	color:$white;
	@extend .regRoboto;
	margin-bottom:15px;
	padding: 6px 20px;
	&:hover{
		background-color:$dark-blue;
		color:$white;
	}
	&.sending{
		background-color:$white;
		color:$true-blue;
		border:1px solid $true-blue;
		min-width:165px;
		text-align:center;
		&:hover{
			background-color:$true-blue;
			color:$white;
		}
	}
}
.btn-verify{
	background-color:$input-border;
	color:$light-gray;
	@include p-r(20);
	@include p-l(20);
	i{
		color:#4492fc;
		margin-right:5px;
	}
	&:hover, &:focus, &:focus:active, &:active{
		background-color:$verify-hover;
		color:$light-gray;
	}
}
.btn-success{
	background-color: $btn-green;
	color:$white;
	border:1px solid $btn-green;
	position:relative;
	z-index:10;
	@extend .h4;
	i{
		margin-right:10px;
		padding-right:5px;
		border-right:1px solid $poor-green;
	}
	&:hover, &:focus, &:focus:active, &:active{
		background-color:$light-green;	
		border:1px solid $light-green;	
	}
}
.btn-catalog{
	background-color: $poor-green;
	color:$white;
	margin-left:-10px;
	padding-left:15px;
	position:relative;
	z-index:1;
	border:1px solid $poor-green;
	@extend .h4;
	&:hover, &:focus, &:focus:active, &:active{
		background-color:$white;
		border:1px solid $poor-green;
		color:$poor-green;
	}

}
.btn-error{
	color:$white;
	background-color: $true-pink;
	i{
		margin-right:10px;
		padding-right:5px;
		border-right:1px solid $light-pink;
	}
	&:hover, &:focus, &:focus:active, &:active{
		background-color:$light-pink;
		color:$white;
		i{
			border-right:1px solid $true-pink;
		}
	}
	&.removing{
		background-color:$white;
		border:1px solid $true-pink;
		color:$true-pink;
		padding-right:15px;
		padding-left:15px;
		&:hover, &:focus, &:focus:active, &:active{
			background-color:$true-pink;
			color:$white;
		}
	}
}
.btn-rule{
	border:1px solid $true-blue;
	color:$true-blue;
	background-color:$white;
	&:hover, &:focus, &:focus:active{
		background-color:$rule-hover;
		color:$true-blue;
	}
}

.btn-facebook, 
.btn-google,
.btn-twitter{	
	color:$white;
	margin-bottom:15px;
	i{
		margin-right:7px;
		padding-right:7px;
		font-size:12px;
		margin-top:3px;
	}
}
.btn-facebook{
	background-color:$facebook;
	&:hover, &:focus{
		background-color:$facebook-hover;
		color:$white;
	}
	i{
		border-right:1px solid $f-border
	}
}
.btn-google{
	background-color:$google;
	&:hover, &:focus{
		background-color:$google-hover;
		color:$white;
	}
	i{
		border-right:1px solid $g-border
	}
}
.btn-twitter{
	background-color:$twitter;
	&:hover, &:focus{
		background-color:$twitter-hover;
		color:$white;
	}
	i{
		border-right:1px solid $t-border
	}
}
.btn-wizard{
	background-color:$true-green;
	color:$white;
	@extend .relative;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:10px;
	&:hover, &:focus{
		background-color:$light-green;
		color:$white;
	}
}
.btn-amazon{
	background-color:$true-blue;
	padding-left: 40px;
	padding-top: 12px;
	padding-bottom: 10px;
	@extend .relative;
	color:$white;
	margin-bottom:10px;
	&:hover, &:focus{
		background-color:$light-blue;
		color:$white;
	}
	&.update{
		background-color:$white;
		color:$true-blue;
		border:1px solid $true-blue;
		.icon-amazon{
			background-position:-216px -101px;
			width: 19px;
			height: 25px;
			display:block;
		}
	}
}
.btn-amazon-invert{
	border:1px solid $true-blue;
	color:$true-blue;
	background-color:$white;
        padding-left: 40px;
	padding-top: 12px;
	padding-bottom: 10px;
	@extend .relative;
        .icon-amazon{
                background-position:-216px -101px;
                width: 19px;
                height: 25px;
                display:block;
        }
	&:hover, &:focus, &:focus:active{
		background-color:$rule-hover;
		color:$true-blue;
	}
}
.btn-menu{
	float:right;
	background:transparent;
	padding-top:8px;
	@include p-r(0px);
	.icon-bar{
		background:$white !important;
		width:20px;		
		height:1px;
		margin-bottom: 3px;
		display: block;
	}
}
.btn-more{
	background-position:-158px -103px;
	width: 2px;
	height: 14px;
	@extend .bg-Sprite;
	@include p-l(10px);
	@include p-r(0px);	
	display:none;
}
.btn-MainSearch{
	background-position: -14px -147px;
	width: 22px;
	height: 23px;
	@extend .bg-Sprite;
	position:absolute;
	top:5px;
	left:-30px;
	cursor: pointer;
}
.btn-ring{
	background-position:-54px -146px;
	width: 21px;
	height: 25px;
	@extend .bg-Sprite;
	float:left;
	position:relative;
	top:8px;
	span{
		position:absolute;
		top:-11px;
		right:-11px;
		padding:3px 5px 2px;
		background-color:$white;
		color:$true-blue;
		background-image:none !important;
		font-style:normal;
		font-size:$small-text;
		font-weight:$bold;
	}
}
.btn-add{
	background:transparent;
	border:1px solid transparent;	
	color:$text-color;
	@extend .lightRoboto;
	position:absolute;
	top:50px;
	left:20px;
	&:hover, &:focus, &:active:focus{
		color:$true-blue;
		outline:none;
	}
}
.btn-send{
	background-color:$true-green;
	color:$white;
	@extend .lightRoboto;
	min-width:155px;
	text-align:center;
	@include m-b(10px);
	&:hover, &:focus, &:focus:active{
		background-color: $light-green;
		color:$white;
	}
	&.offer{
		color:$true-green;
		background-color:$white;
		border:1px solid $true-green;		
		&:hover{
			background-color:$true-green;
			color:$white;
		}	
	}	
}
.btn-check{
	background-color:$input-border;
	color:$light-gray;
	margin-top:20px;
	margin-bottom:10px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	&:hover, &:active, &:focus:active{
		background-color:$true-green;
		color:$white;
		.icon-check{
			background-position:-154px -152px;
		}
	}
	&.checkIn{
		background-color:$true-green;
		color:$white;
		.icon-check{
			background-position:-154px -152px;
		}
		&:hover{
			background-color:$light-green;
		}
	}
}
button{
	&.link {
		color: #4693fe;
		background: none;
		border: none;
	}
}