/*-----------------[ Color class ]-------------------*/
.black{
	@include black();
}
.white{
	@include white();
}
.poor-gray{
	@include poor-gray();
}
.light-gray{
	@include light-gray();
}
.link{
   @include link();
}
.tabsGray{
	@include tabsGray();
}
.dark-gray{
	@include dark-gray();
}
.tooLight-gray{
	@include tooLight-gray();
}
.true-pink{
	@include true-pink();
}
.true-blue{
	@include true-blue();
}
.light-blue{
	@include light-blue(); 
}
.true-green{
	@include true-green();
}
.p-text{
	@include p-text();
}
.warning-text{
	@include warning-text();
}
/*-----------------[ Background ]-------------------*/
.white-bg{
	@include white-bg();
}
.black-bg{
	@include black-bg();
}
.bg-Sprite{
	@include bg-Sprite();
}