.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100% !important;
    height: 34px;
    border: 1px solid $input-border;
    & * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        cursor: pointer;
    }
    .chosen-drop {
        display: none;
        z-index: 1000;
        @include absolute();
        @include pull-width();
        @include white-bg();
        @include b-Right();
        @include b-Left();
        @include b-Bottom();
        @include m-b(20px);
        -webkit-box-shadow: 0px 0px 5px 1px #f6f6f6;
        -moz-box-shadow: 0px 0px 5px 1px #f6f6f6;
        box-shadow: 0px 0px 5px 1px #f6f6f6;
        .chosen-search {
            @include relative();
            &:before {
                @extend .btn-search;
            }
            input {
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                @include pull-width();
                @include p(5px);
                @include b-Bottom();
                @include h4();
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                color: $text-color;
                &:focus {
                    outline: 1px solid $light-blue;
                    margin-top: -1px;
                    margin-left: -1px;
                }
            }
        }
        .chosen-results {
            @include list-unstyled();
            max-height: 340px;
            overflow-y: auto;
            @include m-b(0px);
            li {
                width: 100%;
                color: $text-color;
                padding: 10px;
                @include h4();
                em {
                    @include bold();
                    font-style: normal;
                }
                &:hover {
                    background-color: $true-blue;
                    color: $white;
                }
                &.group-result {
                    font-weight: bold;
                    &:hover {
                        background-color: transparent !important;
                        color: #000000 !important;
                    }
                }
                &.result-selected {
                    background-color: $true-blue;
                    color: $white;
                }
                &.group-option {
                    &.active-result {
                        padding-left: 7% !important;
                    }
                }
            }
        }
    }
    &.chosen-with-drop .chosen-drop {
        display: block;
    }
    .chosen-single {
        position: relative;
        display: block;
        overflow: hidden;
        background-clip: padding-box;
        text-decoration: none;
        white-space: nowrap;
        line-height: 24px;
        height: 34px;
        @include p-l(8px);
        @include p-tb(3px);
        //@include pullBorder();		
        span {
            color: $text-color;
            display: block;
            overflow: hidden;
            margin-right: 31px;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include h4();
            @include regRoboto();
        }
        .button-select {
            background-color: $locked;
            @include b-Left();
            @include absolute();
            top: 0px;
            right: 0px;
            width: 32px;
            height: 32px;
            b {
                @include pullCenter();
                width: 10px;
                height: 16px;
                color: $poor-gray;
            }
        }
    }
}

.per-page {
    .chosen-container {
        width: 70px !important;
    }
}
