/*--------------[ Border ]----------------*/

.b-Top {
    @include b-Top();
}

.b-Right {
    @include b-Right();
}

.b-Bottom {
    @include b-Bottom();
}

.b-Left {
    @include b-Left();
}

.pullBorder {
    @include pullBorder();
}

.b-Top-None {
    @include b-Top-None();
}

.b-None {
    @include b-None();
}

.b-BlRight {
    @include b-BlRight();
}


/*--------------[ Position ]----------------*/

.absolute {
    @include absolute();
}

.relative {
    @include relative();
}

.static {
    @include static();
}

.pullCenter {
    @include pullCenter();
}

.mAuto {
    @include mAuto();
}


/*--------------[ Pull ]----------------*/

.pull-width {
    @include pull-width();
}

@media all and (min-width:1200px) {
    .pull-lg-width {
        @include pull-width();
    }
}

@media all and (max-width:1199px) {
    .pull-md-width {
        @include pull-width();
    }
}

@media all and (max-width:992px) {
    .pull-sm-width {
        @include pull-width();
    }
}

@media all and (max-width:767px) {
    .pull-xs-width {
        @include pull-width();
    }
}


/*--------------[ List ]----------------*/

[class*="list-circle"] {
    padding-left: 17px;
    clear: both;
    li {
        color: $light-gray;
        @extend h3;
        @include regRoboto();
        clear: both;
        span {
            clear: both;
            font-size: $h2;
            color: $true-gray;
        }
    }
}

.list-circle-blue {
    li {
        list-style-image: url('../images/icons/list-blue.png');
        margin-bottom: 20px;
    }
}

.list-circle-green {
    li {
        list-style-image: url('../images/icons/list-green.png');
        margin-bottom: 20px;
    }
}

.list-circle-red {
    li {
        list-style-image: url('../images/icons/list-red.png');
        margin-bottom: 5px;
    }
}

.list-circle-yellow {
    li {
        list-style-image: url('../images/icons/list-yellow.png');
        margin-bottom: 20px;
    }
}

.list-circle-orange {
    li {
        list-style-image: url('../images/icons/list-orange.png');
        margin-bottom: 20px;
    }
}

.list-circle-unstyled {
    li {
        p {
            margin-bottom: 0px;
            span {
                margin-top: -5px;
            }
        }
    }
}

.list-circle-red {
    li {
        p {
            margin-bottom: 0px;
            span {
                margin-top: -5px;
                font-size: 14px;
            }
        }
    }
}

.list-circle-orange {
    li {
        p {
            margin-bottom: 0px;
            span {
                margin-top: -5px;
                font-size: 14px;
            }
        }
    }
}

.list-unstyled,
.list-circle-unstyled {
    @include list-unstyled();
}


/*--------------[ Row Clone ]----------------*/

.showSelectBlock {
    @include showSelectBlock();
}


/*--------------[ Indent ]----------------*/

.p-rl40 {
    padding-right: 40px;
    padding-left: 40px;
}


/*--------------[ Error ]----------------*/

.errorText {
    @include errorText();
}

.errorWarning {
    @include errorWarning();
}


/*--------------[ Transform ]----------------*/

.text-uc {
    @include text-uc();
}

.text-norm {
    @include text-norm();
}


/*--------------[ Display Table ]----------------*/

.dTable {
    display: table;
    div {
        display: table-row;
        div,
        p {
            display: table-cell;
        }
    }
}

.dSTable {
    &.support {
        margin-bottom: 15px;
    }
    .dRow {
        display: table-row;
        .dCell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.sendOffer {
    margin-left: 165px;
}


/*--------------[ Image Table ]----------------*/

.image-table {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: -5px;
    float: left;
}


/*--------------[ Margin ]----------------*/

.m-t65 {
    margin-top: 65px;
}
