.locked{
	@include locked();
}
[class*="icon-"]{
	@include bg-Sprite();
}
.icon-wizard{
	background-position: -110px -101px;
	width: 25px;
	height: 25px;
	position:absolute;
	top:5px;
	left:10px;
}
.icon-amazon{
	background-position:-62px -103px;
	width: 19px;
	height: 25px;
	position:absolute;
	top:5px;
	left:10px;
}
.icon-small-circle{
	width:48px;
	height:48px;	
	border-radius:100%;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
}
.icon-big-circle{
	border-radius:100%;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
	width:110px;
	height:110px;
}
.icon-clock,
.icon-men,
.icon-money,
.icon-cart,
.icon-globe,
.icon-feed,
.icon-help,
.icon-list{
	width: 20px;
	height: 20px;
	float:left;
	@include m-r(10px);
}
.icon-clock{
	background-position:-9px -55px;
}
.icon-men{
	background-position:-51px -55px;
}
.icon-money{
	background-position:-92px -55px;
}
.icon-cart{
	background-position:-135px -56px;
}
.icon-globe{
	background-position:-176px -56px;
}
.icon-feed{
	background-position:-260px -56px;
}
.icon-help{
	background-position: -218px -56px;
}
.icon-list{
	background-position:-403px -57px;
}
.icon-circle{
	border-radius:100%;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
}
.icon-user{
	width:96px;
	height:96px;
}
.icon-avatar{
	width:34px;
	height:34px;
}
.cb-plus,
.cb-minus,
.cb-checked,
.cb-unchecked{
	width:13px;
	height:13px;
	display: block;
	position:relative;
	float:left;
	margin-right:5px;
        cursor: pointer;
}
.cb-plus{
	border:1px solid $true-green;
	&:before, &:after{
		content:'';
		background-color:$true-green;
		position:absolute;
		display:block;
	}
	&:before{
		width:1px;
		height:7px;
		right:5px;
		top:2px;		
	}
	&:after{
		width:7px;
		height:1px;
		right:2px;
		top:5px;
	}	
	&.good{
		border:1px solid $true-blue;
		margin-top: 6px;
		&:before, &:after{
			content:'';
			background-color:$true-blue;
			position:absolute;
			display:block;
		}	
		&:hover{
			cursor:pointer;
		}
		&.active{
			&:before{
				width:0px;
			}	
		}
	}	
	&.bad{
		border:1px solid $true-pink;
		margin-top: 6px;
		&:before, &:after{
			content:'';
			background-color:$true-pink;
			position:absolute;
			display:block;
		}
		&:before{
			width:0px;
		}
	}	
}
.cb-minus{
	border:1px solid $brown;
	&:after{
		width:7px;
		height:1px;
		right:2px;
		top:5px;
		content:'';
		background-color:$brown;
		position:absolute;
		display:block;
	}
	&.good{
		border:1px solid $true-blue;
		margin-top: 6px;
		&:after{
			content:'';
			background-color:$true-blue;
			position:absolute;
			display:block;
		}
	}
	&.bad{
		border:1px solid $true-pink;
		&:after{
			content:'';
			background-color:$true-pink;
			position:absolute;
			display:block;
		}
	}	
}
.cb-checked{
	background-color:$true-blue;
	&:before, &:after{
		content:'';
		background-color:$white;
		position:absolute;
		display:block;
	}
	&:before{
		width:2px;
		height:8px;
		right:4px;
		top:3px;
		transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
	}
	&:after{
		width:2px;
		height:4px;
		right:7px;
		top:6px;
		transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
	}
}
.cb-unchecked{
	background-color:$white;
	border:1px solid $true-blue;
}
.cb-minimize {
  background-position: -5px -290px;
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 5px;
  @include bg-Sprite();
}
.cb-maximize {
  background-position: -34px -290px;
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 5px;
  @include bg-Sprite();
}
.cb-store{
	background-position:-52px -266px;
	width: 13px;
	height: 12px;
	display:block;
	float:left;
	margin-right:5px;
	@include bg-Sprite();
}
.cb-close{
  background-position: -62px -290px;
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 5px;
  @include bg-Sprite();
}
.icon-folder{
	width: 20px;
	height: 18px;
	background-position:-297px -56px;
	display:block;
}
.icon-more{
	background-position:-332px -50px;
	width: 34px;
	height: 34px;
	display:block;
	position:absolute;
	border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-o-border-radius:4px;
	border:1px solid $input-border;
	background-color:$white;
	top:7px;
	right:0px;
	&:hover{
		background-color:$input-border;
		background-position:-364px -50px;
		cursor:pointer;
	}
}
.blockRight,
.blockLeft{
	border:1px solid $true-blue;
	border-radius:100%;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
	width:22px;
	height:22px;
	position:absolute;
	&:after, &:before{
		width:2px;
		height:7px;
		background-color:$true-blue;
		content:'';
		position:absolute;
	}
	&:hover{
		cursor:pointer;	
		background-color:$true-blue;	
		&:after, &:before{
			background-color:$white;
		}
	}
	&.noBorder{
		border:none;		
		top:8px;
		&:hover{
			background:none !important;
			&:after, &:before{
				background-color:$true-blue !important;
			}
		}
	}
}
.blockRight{
	right:-11px;
	top:70px;
	&:after{
		top:5px;
		left:10px;
		transform: rotate(-50deg);
			-webkit-transform: rotate(-50deg);
			-moz-transform: rotate(-50deg);
			-ms-transform: rotate(-50deg);
			-o-transform: rotate(-50deg);
	}
	&:before{
		top:8px;
		left:10px;
		transform: rotate(50deg);
			-webkit-transform: rotate(50deg);
			-moz-transform: rotate(50deg);
			-ms-transform: rotate(50deg);
			-o-transform: rotate(50deg);
	}
}
.blockRightDouble{
	border:none;		
	top:8px;
	right:-16px;
	width:22px;
	height:22px;
	position:absolute;
	&:after, &:before{
		width:2px;
		height:7px;
		background-color:$true-blue;
		content:'';
		position:absolute;
	}
	&:after{
		top:5px;
		left:10px;
		transform: rotate(-50deg);
			-webkit-transform: rotate(-50deg);
			-moz-transform: rotate(-50deg);
			-ms-transform: rotate(-50deg);
			-o-transform: rotate(-50deg);
	}
	&:before{
		top:8px;
		left:10px;
		transform: rotate(50deg);
			-webkit-transform: rotate(50deg);
			-moz-transform: rotate(50deg);
			-ms-transform: rotate(50deg);
			-o-transform: rotate(50deg);
	}
}
.blockLeft{
	left:-11px;
	top:100px;
	&:after{
		top:9px;
		left:9px;
		transform: rotate(-50deg);
			-webkit-transform: rotate(-50deg);
			-moz-transform: rotate(-50deg);
			-ms-transform: rotate(-50deg);
			-o-transform: rotate(-50deg);
	}
	&:before{
		top:5px;
		left:9px;
		transform: rotate(50deg);
			-webkit-transform: rotate(50deg);
			-moz-transform: rotate(50deg);
			-ms-transform: rotate(50deg);
			-o-transform: rotate(50deg);
	}
}
.cb-add,
.cb-remove{
	position:relative;
	width:13px;
	height:13px;
	display: block;
	position:relative;
	float:right;
	margin-left:5px;
	@include m-t(3px);
	border-radius:100%;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		-ms-border-radius:100%;
		-o-border-radius:100%;
	&:before, &:after{
		content:'';
		position:absolute;
		display:block;
	}
	&:before{
		width:1px;
		height:7px;
		right:6px;
		top:3px;		
	}
	&:after{
		width:7px;
		height:1px;
		right:3px;
		top:6px;
	}	
}
.cb-add{
	background-color:$true-green;
	&:before, &:after{
		background-color:$white;
	}
}
.cb-remove{
	background-color:$white;
	border:1px solid $true-pink;
	@include m-t(0px);
	&:after{
		background-color:$true-pink;
		top:5px;
		right:2px;
	}
	&:before{
		width:0px;
	}
}
.faError, .faGood{
	font-size:$strong-size;
}
.faError{
	color:$true-pink;
}
.faGood{
	color:$true-blue;
}
.icon-syn,
.icon-creation-up,
.icon-creation-down,
.icon-garbage{
	display:block;
	margin-right:10px;
	float:left;	
}
.icon-syn{
	background-position: -70px -11px;
	width: 16px;
	height: 16px;
}
.icon-creation-up,
.icon-creation-down{
	width: 10px;
	height: 14px;
}
.icon-creation-up{
	background-position:-251px -12px;
}
.icon-creation-down{
	background-position:-147px -13px;	
}
.icon-garbage{
	background-position:-203px -11px;
	width: 13px;
	height: 17px;
}
.icon-log_date,
.icon-log_clock{
	width: 18px;
	height: 32px;
	display:block;
}
.icon-log_date{	
	background-position:-128px -212px;
}
.icon-log_clock{
	background-position:-165px -213px;
}
.icon-logOut{
	background-position:-13px -264px;
	width: 14px;
	height: 14px;
	display:block;
	float:right;
	margin-left:10px;
}
.icon-date{
	background-position:-218px -222px;
	width: 15px;
	height: 15px;
	display:block;
}
.cb-color{
	width:20px;
	height:20px;
	border:1px solid $input-border;
	display:block;
	float:left;
	margin-right:10px;
	&.pink{
		background-color:$true-pink;
	}
	&.black{
		background-color:$black;
	}
	&.yellow{
		background-color:yellow;
	}
	&.green{
		background-color:$true-green;
	}
	&.blue{
		background-color:$true-blue;
	}
}
.iconToNext{
	background-position:-65px -189px;
	width: 12px;
	height: 6px;
	display:block;
	@include bg-Sprite();
	position:absolute;
	right: -20px;
	top: 15px;
}
.icon-check{
	background-position:-98px -152px;
	width: 28px;
	height: 13px;
	display:block;
	@include m-r(10px);
	@include m-t(3px);
	float:left;
}
.icon-cloudaccess{
	background-position:-88px -260px;
	width: 25px;
	height: 16px;
	display:block;
	@include m-r(10px);
	float:left;
}
.btn-check:hover .icon-cloudaccess{
    background-position:-121px -260px;
}
.icon-warning{
	background-position:-448px -55px;
	width: 20px;
	height: 20px;
	display:block;
}
.icon-tooltip{
	background-position: -90px -287px;
	width:20px;
	height:20px;
	display:block;
	@include m-l(10px);
	@include m-r(10px);
}
.icon-present{
	background-position: -120px -282px;
	width:25px;
	height:25px;
	display:block;
	@include m-l(5px);
}
.icon-sample{
	background-position: -190px -282px;
	width:25px;
	height:25px;
	display:block;
	@include m-l(8px);
}
.icon-idea{
	background-position: -155px -282px;
	width:25px;
	height:25px;
	display:block;
	@include m-l(5px);
}
.icon-editnote{
	background-position: -222px -282px;
	width:20px;
	height:20px;
	display: inline-block;
        text-align: center;
}
.icon-condition-note{
	background-position: -250px -282px;
	width:20px;
	height:20px;
	display: inline-block;
        text-align: center;
}