.feedbizloader{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.62);
    z-index: 99999;
	.feedbizcolor {
		background: transparent url('/assets/images/feedbiz_sprite.png') 0 0 no-repeat;
		width: 60px;
		height: 60px;
		z-index: 2000;
		cursor: pointer;
	}
}