*{
	margin:0;
	padding:0;
}
input, textarea{
	border-radius:0px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
	border-color:$input-border;	
	color:$text-color;
	@include h4();
	&.form-control{
		border-radius:0px;
			-webkit-border-radius:0px;
			-moz-border-radius:0px;
			-ms-border-radius:0px;
			-o-border-radius:0px;
		&.help-inline{
			&.error{
				border-color: $true-pink;
			}
		}
	}
	&:-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-moz-placeholder,
	&:-ms-input-placeholder{
		color: $poor-gray;
		@include regRoboto();
		@include p-size();
	}
}
textarea{
	max-height:200px;
	max-width:100%;
	resize:none;
}
.wrapper{
	height:100%;
	width:100%;
	position:relative;
}
ul{
	li{
		ul{
			padding-left:40px;
		}
	}
}
ol{
	padding-left:10px;
}

.form-control{
	@include h4();
}
.uploadbtn{
	display:none !important;
}
.container{
	position:relative;
}
.main{	
	position: relative;
	margin-left: 250px;
	padding-bottom:40px;
	.content{
		overflow:hidden;
	}
}
.more{
	color:$true-blue;
	@include h3();
	&:hover, &:focus{
		color:$true-blue;
	}
}
label{
	color:$poor-gray !important;
	@include p-size(!important);
	@include regRoboto();
	.cb-inner{
		margin-right:5px;
	}
}
.head_text{
	@include dark-gray();
	@include text-uc();
	@include h4(); 
	@include montserrat();
	@include p-b(10px);
	@include b-Bottom();
	@include bold();
}
p{
	&.help-inline{
		&.good{
			color:$true-green;
			@include regRoboto();   
			font-weight: 400;    
			margin-top: 10px;
			text-align: right;
		}
		&.error{
			color:$true-pink;
			@include regRoboto();   
			font-weight: 400;    
			margin-top: 10px;
			text-align: right;
		}
	}
}
.error{
	//display:none
}
.form-group{
	&.has-error{
		input{
			border-color:$true-pink;
		}
		.chosen-container{
			border-color:$true-pink;
		}
		.error{
			display:block;
			bottom: 3px;
			i{
				font-size:$strong-size;
				margin-right:5px;
			}			
			p{
				color:$true-pink;
				@include regRoboto();
				@include m-t(10px);
			}
		}
		.btn-check{
			background-color:$true-pink;
			color:$white;
			.icon-check{
				background-position:-154px -152px;
			}
			&:hover, &:active, &:focus, &:focus:active{
				background-color:$light-pink;
			}
		}
	}
	&.has-success{
		.success{
			p{
				color:$true-green;
				@include regRoboto();
			}
			i{
				font-size:$strong-size;
				margin-right:5px;
			}	
		}
	}
	&.has-update{
		.update{
			p{
				color:$true-blue;
				@include regRoboto();
			}
			i{
				font-size:$strong-size;
				margin-right:5px;
			}	
		}
	}
	&.active{
		input{
			border-color:$light-blue;
		}
	}
	&.disabled{
		position:relative;
		&:after{
			@include locked();
		}
	}
	input{		
		color:$text-color;
		@include h4();
	}	
	&.withIcon{
		@include m-b(0px);
		position:relative;
		input,
		.chosen-container{	
			width:90% !important;
			margin-bottom:20px;
			.chosen-search{
				input{
					width:100% !important;
				}	
			}
		}
		[class*='cb-']{
			position: absolute;
			right: 0px;
			top: 12px;
			margin-top:0px;
		}
		.input-group{
			width:90%;
			input{
				width:100% !important;
				margin-bottom: 0px;
			}
			.chosen-container{	
				width:80% !important;
			}
		}
		&.has-error{
			.chosen-container{	
				margin-bottom:0px;
			}
		}
	}
	&.form-carriers{
		.chosen-container{	
			width:100% !important;
		}
		[class*='cb-']{
			right:-48px;
		}
	}
}
.has-error{
	.chosen-single{
		border-color:$true-pink !important;
	}
}
.input-group{
	position:relative;
}
.page-wrapper{
	padding-top:70px;
}
p{
	font-size:$h4;
}
select.search-select{
	width:100%;
	border: 1px solid $input-border;
}
.allCheckBo{
	.mainCheckbo{
		@include p-t(10px);
		@include p-b(10px);
		@include b-Bottom();
		@include b-Top();
		@include m-t(10px);
		@include montserrat();
		@include h4();
		@include dark-gray();
		@include bold();
		text-transform: uppercase;
		label{
			@include montserrat();
			@include h4();
			@include dark-gray();
			@include bold();
			text-transform: uppercase;
		}
	}
	.checkboSettings{
		@include p-t(10px);
		&:nth-child(odd){
			background-color:$light-line;
		}
		p{
			color:$text-color !important;
			@include regRoboto();
			@include h4();
		}		
		&.head{
			background:none;
			@include p-t(20px);
			@include p-b(10px);
			p{
				@include montserrat();
				span{
					font-size:$h2;
				}
				&:first-child{
					@include dark-gray();
					@include bold();
					@include strong-text();
				}
			}
		}
	}
}
.shadow{
	position:fixed;
	background-color:$white;
	opacity:0.6;
	z-index:98;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
.input-group{
	@include m-b(20px);
	.input-group-addon{
		border-radius:0px;
			-webkit-border-radius:0px;
			-moz-border-radius:0px;
			-o-border-radius:0px;
		background-color:$white;
		color:$poor-gray;
		@include h4();		
	}
}

.label{
	&.label-success{
		color:$true-blue;
	}
	&.label-important{
		color:$true-pink;
	}
}