.configuration{
	label{
		width:100%;
		.cb-inner{
			float:right;
		}
	}
}
.flag{
	width:32px;
	height:32px;
}
.amazonLogs{
	width:300px;
	float:left;
	margin-right:20px;
}
.miraklLogs{
	width:300px;
	float:left;
	margin-right:20px;
}
.logs{
	@include p(20px);
	background-color:$true-blue;
	@include m-b(1px);
	.logs_head{
		@include text-uc();
		color:$white;
		@include montserrat();
		@include h4();
		@include p(0px);
		@include m(0px);		
	}
	.logs_text{
		@include text-uc();
		color:$white;
		@include montserrat();
		@include m-t(0px);		
	}
	.logsContent{
		border-right:1px solid $white;			
	}
	.logs_text-content{
		@include text-uc();
		@include montserrat();
		@include h4();
		color:$white;
		@include m-b(0px);
		span{
			color:$log;
			@include regRoboto();
			@include smallText();
		}
		&.emptyLog{
			@include p-t(7px);
			span{
				@include h2();
			}			
		}
	}
	&.drown{
		background-color:$sidebar;
		.logs_text{
			color:$true-gray;
		}
		.logsContent{
			border-right:1px solid $text-color;			
		}
		.logs_text-content{
			color:$pagination-hover;
			span{
				color:$poor-gray;
			}
		}
	}
}

.amazonTableLogs{
	margin-left:320px;	
	position:relative;
}
.miraklTableLogs{
	margin-left:320px;	
	position:relative;
}

.tableLog{	
	thead{
		tr{
			
			th{
				padding-left:8px;
				border:none;
			}
		}
	}
	tbody{		
		tr{
			background-color:$white !important;
			border-bottom:1px solid $menu-border;
			td{
				border:none;
				.logRow{
					@include m-b(0px);					
					@include regRoboto();
					color:$pagination-hover;
					span{
						@include montserrat();
						@include text-uc();
					}
					&.logSuccess{
						color:$true-green;
					}
					&.logError{
						color:$true-pink;
					}
				}
				&.logEmpty{
					//background-color:$light-line;
					font-style:italic;
					text-align:center;
				}
			}
		}
	}
}