.modal{
        z-index:999999;
	.modal-content{
		border-radius:0px;
			-webkit-border-radius:0px;
			-moz-border-radius:0px;
			-ms-border-radius:0px;
			-o-border-radius:0px;
	}
	.modal-header{
		padding:10px;
		border:none;
		background-color:$true-blue;
		text-align: right;
		.close{
			color:$white;
			@include h2();
			opacity:1;
			float:none;
		}
	}
	.modal-body{
		padding:20px;
	}
	.modal-footer{
		padding-left:20px;
		padding-right:20px;
		//padding-bottom:0px;
		border:none;
		button.btn.btn-default{
			float: left;
		}
	}
	.head-size{
		margin-top:0px;
	}
	.selectRange{
		@include list-unstyled();
		padding-left:0px;
		li{
			float:left;
			@include smallText();
			@include montserrat();
			color:$poor-gray;
			@include text-uc();
			margin-right:10px;
			&.active{
				color:$true-blue;
			}
			&:hover{
				cursor:pointer;
				color:$true-blue;
			}
		}	
	}
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1040;
	  background-color: #FFF;
	}
}
.selectWizard{
	padding:0px;	
	li{
		list-style:none;
		float:left;
		box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-ms-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
		text-align:center;
		padding:10px 20px 0px 20px;
		margin-right:10px;
		margin-bottom:10px;
		border:1px solid $input-border;		
		&.active{
			outline:1px solid $true-blue;
		}
		&:hover{
			cursor:pointer;
		}
	}
}
.marketplaceSelect{
	padding:0px;	
	li{
		list-style:none;
		float:left;
		box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-ms-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
		text-align:center;
		padding:10px 20px;
		margin-bottom:10px;
		border-right:1px solid $input-border;
		border-bottom:1px solid $input-border;
		border-top:1px solid $input-border;
		width:50%;
		&:first-child{
			border-left:1px solid $input-border;
		}
		&.active{
			outline:1px solid $true-blue;
		}
		&:hover{
			cursor:pointer;
		}
	}
}
.amazon_synch{
	.amazon_synch-text{
		float:left;
		width:20%;
		margin-right:20px;
	}
}
.wizardSettings{
	label{
		margin-top:15px;
		margin-right:10px;
	}
	.wizardSettings_list{
		padding-left:0px;
		@include m-b(0px);
		li{
			padding:20px;
			list-style:none;
			@include h4();
			float:left;
			border-right:1px solid $input-border;
				&:first-child{
					border-left:1px solid $input-border;
				}
				&:last-child{
					border-right:1px solid $input-border;
			}
			&:hover{
				cursor:pointer;
			}
			&.wizardSettings_confirm{
				color:$true-green;
				&:hover, &.active{
					outline:1px solid $true-green;
				}
			}
			&.wizardSettings_reject{
				color:$true-pink;
				&:hover, &.active{
					outline:1px solid $true-pink;
				}
			}
			&.wizardSettings_send{
				color:$true-blue;
				&:hover, &.active{
					outline:1px solid $true-blue;
				}
			}
		}
	}
}
.wizardItem{
	padding-top:10px;
	padding-bottom:10px;
	color:$text-color;
	@include h4();
	&:nth-child(odd){
		background-color:$light-line;
	}
	&.empty{
		@include h4();
		font-style:italic;
		text-align:center;
		color:$text-color;
	}
}