.pagination{
	@include list-unstyled();
	float:left;
	margin:15px 20px 0px;
	li{
		float:left;		
		margin-left:1px;
		&.prev, &.next{	
			@include montserrat();		
			color:$pagination-hover;
			@include h5();
			margin-top:5px;
			a{
				padding:5px 10px;
				border:1px solid $input-border;
				border-radius:20%;
				-webkit-border-radius:20%;
				-moz-border-radius:20%;
				-o-border-radius:20%;
				@include h5();
				margin-top:-5px;
				
			}
		}
		&.prev{
			@include m-r(10px);
			a{
				@include m-r(10px);
				float:left;
			}
		}
		&.next{
			@include m-l(10px);
			a{
				@include m-l(10px);
				float:right;
			}
		}		
		a{
			color:$pagination;
			@include montserrat();
			@include h5();
			border:1px solid $white;
			padding:5px 10px;
			background-color: $white;
			&:hover, &.active{
				border:1px solid $input-border;
				color:$true-gray;
				background-color: $white;
			}
		}
	}
}