.profileBlock, .setBlock_content{
	@include m-t(15px);
	@include p(15px);
	@include m-l(10px);
	@include b-Bottom();
}

.profileBlock{
	border-left:2px solid $true-blue;
}

.setBlock_content{
	border-left:1px solid $true-blue;
	@include b-Top();
	@include b-Right();
	@include p-t(10px);
	@include m-b(10px);
	@include m-l(0px);
	@include m-t(10px);
	.setBlock_text{

	}
}

.removeProfile{
	@include p-size();
	//@include true-pink();
	color:$true-pink !important;
	@include m-t(10px);
	&:hover, &:active, &:focus, &:focus:active{
		color:$light-pink;
	}
}

.showSet, .removeSet{
	@include regRoboto();
	@include poor-gray();
	@include p-size();
	&:hover{
		@include dark-gray();
	}
}

.showSelectBlock{
	.chosen-container{
		&.chosen-with-drop{
			.chosen-results{
				display:block !important;
			}
		}
		display:none;
		&:nth-child(2){
			display:block !important;
		}
	}
}

.ruleSettings{
	display:none;
}

.setBlockMain{
	label{
		margin-bottom:15px;
	}
}

/*.setBlock, .setBlockMain{
	.chosen-container{
		right:10px;
	}
}*/
.choZn{
	.cb-plus{
		margin-left:-12px;
		margin-top:10px;
	}
}
.setSettings{
	display:none;
	.summaryBlock{
		&:nth-child(odd){
			background-color:$light-line;
		}
		padding-top:10px;
	}
}

p{
    &#agree-error {
        text-align: left;
    }
}