.progress_cv{
	&.ui-draggable-dragging{
		opacity:0.4;
	}
}

.progressbar{
	position:fixed;
	//padding:20px 30px;
	bottom:40px;
	//background-color:$white;
	//border:1px solid $input-border;
	left:10px;
	z-index: 100;
	/*border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-o-border-radius:4px;
	-webkit-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
	-moz-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
	-ms-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
	-o-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
	box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);*/
	cursor: move;
	width:360px;
        ul{
            li{
                margin-bottom: 5px;
                padding:20px;// 30px
                background-color:$white;
                border:1px solid $input-border;
                border-radius:4px;
                        -webkit-border-radius:4px;
                        -moz-border-radius:4px;
                        -ms-border-radius:4px;
                        -o-border-radius:4px;
                -webkit-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
                -moz-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
                -ms-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
                -o-box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
                box-shadow: 5px 0px 10px 0px rgba(212,212,212,1);
            }
        }
		ol{
			li{
				background: none;
				box-shadow: 0px 0px 0px;
				border: none;
				padding: 0;
			}
		}
        div{
            &.progress_text{
                font-size: 12px;
            }
        }
	&.has-error{
		.progress_text{
			@include text-uc();
			color:$true-pink;			
			font-weight:$bold;
		}
		.progressCondition{
			background-color:$opacity-pink;
			.progressLine{
				background-color:$true-pink;
			}
		}
	}	
	&.ui-draggable-dragging{
		opacity:0.4;
	}
	.progress_text{
		color:$true-blue;
		&.error{
			color:$true-pink;
			@include text-uc();
			font-weight:$bold;
		}
		&.warning{
			color:$warning;
			@include text-uc();
			font-weight:$bold;
		}
	}
	.progressCondition{
		height:2px;
		width:100%;
		background-color:#c5ddff;
		.progressLine{
			height:2px;
			position:relative;
		}
	}
	.fa-remove{
		position:absolute;
		top:10px;
		right:10px;
		color:$verify-hover;
		&:hover{
			cursor:pointer;
		}
	}
	.progress-date_text{
		@include regRoboto();		
		@include h4();
		color:$pagination-hover;
		box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-ms-box-sizing:border-box;
		span{
			color:$true-blue;
			@include smallText();			
			@include text-uc();			
		}
	}
	.progress_small-text{
		color:$progressbarLight;
		@include h5();
	}
	.progressLine{
		background: $true-blue;
	}
	[class*='progress-list']{
		padding:0px;
		@include regRoboto();
		@include b-Bottom();
		@include p-b(10px);
		li{
			@include h5();
			list-style: none;
			position:relative;
			padding-left:15px;
			p{
				@include m(0px);
			}
			&:before{
				counter-increment: myCounter;
				content:counter(myCounter) ".";
				position:absolute;
				left:0px;
			}
		}
	}
	ol{
		counter-reset: myCounter;
		&.progress-list_error{
			li{				
				color:$true-pink
			}
		}
		&.progress-list_warning{
			li{
				color:$warning
			}
		}
	}	
	.progressLine[data-value="1"] {
	  width: 1%;
	}
	.progressLine[data-value="2"] {
	  width: 2%;
	}
	.progressLine[data-value="3"] {
	  width: 3%;
	}
	.progressLine[data-value="4"] {
	  width: 4%;
	}
	.progressLine[data-value="5"] {
	  width: 5%;
	}
	.progressLine[data-value="6"] {
	  width: 6%;
	}
	.progressLine[data-value="7"] {
	  width: 7%;
	}
	.progressLine[data-value="8"] {
	  width: 8%;
	}
	.progressLine[data-value="9"] {
	  width: 9%;
	}
	.progressLine[data-value="10"] {
	  width: 10%;
	}
	.progressLine[data-value="11"] {
	  width: 11%;
	}
	.progressLine[data-value="12"] {
	  width: 12%;
	}
	.progressLine[data-value="13"] {
	  width: 13%;
	}
	.progressLine[data-value="14"] {
	  width: 14%;
	}
	.progressLine[data-value="15"] {
	  width: 15%;
	}
	.progressLine[data-value="16"] {
	  width: 16%;
	}
	.progressLine[data-value="17"] {
	  width: 17%;
	}
	.progressLine[data-value="18"] {
	  width: 18%;
	}
	.progressLine[data-value="19"] {
	  width: 19%;
	}
	.progressLine[data-value="20"] {
	  width: 20%;
	}
	.progressLine[data-value="21"] {
	  width: 21%;
	}
	.progressLine[data-value="22"] {
	  width: 22%;
	}
	.progressLine[data-value="23"] {
	  width: 23%;
	}
	.progressLine[data-value="24"] {
	  width: 24%;
	}
	.progressLine[data-value="25"] {
	  width: 25%;
	}
	.progressLine[data-value="26"] {
	  width: 26%;
	}
	.progressLine[data-value="27"] {
	  width: 27%;
	}
	.progressLine[data-value="28"] {
	  width: 28%;
	}
	.progressLine[data-value="29"] {
	  width: 29%;
	}
	.progressLine[data-value="30"] {
	  width: 30%;
	}
	.progressLine[data-value="31"] {
	  width: 31%;
	}
	.progressLine[data-value="32"] {
	  width: 32%;
	}
	.progressLine[data-value="33"] {
	  width: 33%;
	}
	.progressLine[data-value="34"] {
	  width: 34%;
	}
	.progressLine[data-value="35"] {
	  width: 35%;
	}
	.progressLine[data-value="36"] {
	  width: 36%;
	}
	.progressLine[data-value="37"] {
	  width: 37%;
	}
	.progressLine[data-value="38"] {
	  width: 38%;
	}
	.progressLine[data-value="39"] {
	  width: 39%;
	}
	.progressLine[data-value="40"] {
	  width: 40%;
	}
	.progressLine[data-value="41"] {
	  width: 41%;
	}
	.progressLine[data-value="42"] {
	  width: 42%;
	}
	.progressLine[data-value="43"] {
	  width: 43%;
	}
	.progressLine[data-value="44"] {
	  width: 44%;
	}
	.progressLine[data-value="45"] {
	  width: 45%;
	}
	.progressLine[data-value="46"] {
	  width: 46%;
	}
	.progressLine[data-value="47"] {
	  width: 47%;
	}
	.progressLine[data-value="48"] {
	  width: 48%;
	}
	.progressLine[data-value="49"] {
	  width: 49%;
	}
	.progressLine[data-value="50"] {
	  width: 50%;
	}
	.progressLine[data-value="51"] {
	  width: 51%;
	}
	.progressLine[data-value="52"] {
	  width: 52%;
	}
	.progressLine[data-value="53"] {
	  width: 53%;
	}
	.progressLine[data-value="54"] {
	  width: 54%;
	}
	.progressLine[data-value="55"] {
	  width: 55%;
	}
	.progressLine[data-value="56"] {
	  width: 56%;
	}
	.progressLine[data-value="57"] {
	  width: 57%;
	}
	.progressLine[data-value="58"] {
	  width: 58%;
	}
	.progressLine[data-value="59"] {
	  width: 59%;
	}
	.progressLine[data-value="60"] {
	  width: 60%;
	}
	.progressLine[data-value="61"] {
	  width: 61%;
	}
	.progressLine[data-value="62"] {
	  width: 62%;
	}
	.progressLine[data-value="63"] {
	  width: 63%;
	}
	.progressLine[data-value="64"] {
	  width: 64%;
	}
	.progressLine[data-value="65"] {
	  width: 65%;
	}
	.progressLine[data-value="66"] {
	  width: 66%;
	}
	.progressLine[data-value="67"] {
	  width: 67%;
	}
	.progressLine[data-value="68"] {
	  width: 68%;
	}
	.progressLine[data-value="69"] {
	  width: 69%;
	}
	.progressLine[data-value="70"] {
	  width: 70%;
	}
	.progressLine[data-value="71"] {
	  width: 71%;
	}
	.progressLine[data-value="72"] {
	  width: 72%;
	}
	.progressLine[data-value="73"] {
	  width: 73%;
	}
	.progressLine[data-value="74"] {
	  width: 74%;
	}
	.progressLine[data-value="75"] {
	  width: 75%;
	}
	.progressLine[data-value="76"] {
	  width: 76%;
	}
	.progressLine[data-value="77"] {
	  width: 77%;
	}
	.progressLine[data-value="78"] {
	  width: 78%;
	}
	.progressLine[data-value="79"] {
	  width: 79%;
	}
	.progressLine[data-value="80"] {
	  width: 80%;
	}
	.progressLine[data-value="81"] {
	  width: 81%;
	}
	.progressLine[data-value="82"] {
	  width: 82%;
	}
	.progressLine[data-value="83"] {
	  width: 83%;
	}
	.progressLine[data-value="84"] {
	  width: 84%;
	}
	.progressLine[data-value="85"] {
	  width: 85%;
	}
	.progressLine[data-value="86"] {
	  width: 86%;
	}
	.progressLine[data-value="87"] {
	  width: 87%;
	}
	.progressLine[data-value="88"] {
	  width: 88%;
	}
	.progressLine[data-value="89"] {
	  width: 89%;
	}
	.progressLine[data-value="90"] {
	  width: 90%;
	}
	.progressLine[data-value="91"] {
	  width: 91%;
	}
	.progressLine[data-value="92"] {
	  width: 92%;
	}
	.progressLine[data-value="93"] {
	  width: 93%;
	}
	.progressLine[data-value="94"] {
	  width: 94%;
	}
	.progressLine[data-value="95"] {
	  width: 95%;
	}
	.progressLine[data-value="96"] {
	  width: 96%;
	}
	.progressLine[data-value="97"] {
	  width: 97%;
	}
	.progressLine[data-value="98"] {
	  width: 98%;
	}
	.progressLine[data-value="99"] {
	  width: 99%;
	}
	.progressLine[data-value="100"] {
	  width: 100%;
	}
}
.page-wrapper .progressbar{
	position:relative;
	margin:auto;
	margin-top:5px;
	&:nth-child(odd){
		margin-bottom:30px;
	}
}