﻿select[multiple] {
    padding-left:10px;
    border: none;
    list-style: none;   
    color: $text-color;
    padding-top: 10px;
    padding-bottom: 10px;
    @include regRoboto();
    @include bold();
    @include h4();    
    outline: none;
    option {
        padding: 10px;
    }
    option:nth-child(even) {
        background-color: $light-line;
    }
}