.engine{
	@extend .w-100;
	border:1px solid $input-border;
	.engine_item{
		border-right:1px solid $input-border;
		width:20%;
		box-sizing:border-box;
		text-align:center;
		@include p-t(10px);
		@include p-b(10px);
		float:left;
		min-height: 180px;
		&:last-child{
			border-right:none;
		}
	}
	.engine_item-picture{
		@include m-b(15px);
	}
	.engine_item-text{
		@include dark-gray();
		@include montserrat(); 
		@include text-uc();
		@include p-size();
		@include bold();
		@include m-b(15px);
	}
}
.recommended{
	padding:1px 8px;
	border:1px solid $recommended-border;
	background-color:$poor-blue;
	color:$recommended-color;
	@include regRoboto();
	@include h4();
	@include text-norm();
	margin-left:10px;
}
.includeBlock{
	@include list-unstyled();
	min-height:100px;
	.includeBlock_item{
		list-style:none;
		@include h4();
		color:$text-color;
		@include p-t(10px);
		@include p-b(10px);
		@include regRoboto();
		&:nth-child(even){
			background-color:$light-line;
		}
	}	
}