.signIn{
	width: 100%;
	background: $white;	
	margin-top:70px;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	@include pullBorder();
	@include p(20px);
	@include m-b(40px);
	.cb-checkbox{
		@include regRoboto();
		@include h4();
		@include poor-gray();
		@include m-t(5px);
	}
	.sign_link{
		@include link();
		@include h4();
		@include regRoboto();
	}
}