.headSettings{
	@include p-t(10px);
	@include p-b(10px);
	@include b-Top();
        width:100%;
	.headSettings_head{
		@include lightRoboto();
		@include montserrat();
		@include text-uc();
		@include dark-gray();
		@include bold();
		@include m-r(20px);
	}
	.headSettings_text{		
		@include light-gray();
		@include m-t(10px);
		@include m-r(20px);
		float:left;
		span{
			@include dark-gray();
		}
	}
	.headSettings_point{
		@include list-unstyled();
		@include m-b(0px);
		.headSettings_point-item{
			display: block;
			text-align: center;
			float: left;
			width:33%;
			.step{
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				border:2px solid $true-blue;
				position: relative;
				z-index: 20;
				display: inline-block;
				width: 35px;
				height: 35px;
				line-height: 30px;
				text-align: center;
				color:$true-blue;
				@include montserrat();
				background-color:$white;
				padding-top: 2px;
			}	
			.title{
				width:100%;
				display:block;
				@include text-uc();
				@include regRoboto();
				@include smallText();
				color:$true-blue;
				margin-top:5px;
				@include bold();
			}
			&.active{
				.step{
					background-color:$true-blue;
					color:$white;
				}
			}
			&:before{
				display: block;
				content: "";
				width: 100%;
				border-top: 4px solid $true-blue;
				position: relative;
				top: 21px;
			}
			&:first-child{
				&:before{
					max-width: 51%;
					left: 50%;
				}
			}
			&:last-child{
				&:before{
					width: 50%;
				}
			}
		}
	}
	&.statistics{
		@include p-t(2px);
	}
	&.extend{
		.headSettings_point{
			.headSettings_point-item{
				width:50%;
			}
		}
	}
	.form-group{
		@include m-b(0px);
	}
	.showColumns{
		@include m-t(5px);
		//@include m-b(7px);
		@extend .pull-xs-left;
		position:relative;
		right:130px;
                float:right;
		.showColumns_link{
			@include p-size();
			@include regRoboto();
			@include link();
		}
		&.is-active{
			.dropCheckbo{
				display:block;
			}
		}
	}
	.dropCheckbo{
		background-color:$white;
		-webkit-box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		-moz-box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		box-shadow: 1px 5px 7px 5px rgba(246,246,246,1);
		border:1px solid $input-border;	
		padding:10px;
		display:none;
		position:absolute;
		top:110%;
		left:0px;
		z-index:5;
		display:none;
		width: 150px;
		&.is-active{
			display:block;
		}
		ul{
			@include list-unstyled();
			@include m-b(0px);
		}
	}
}