.nav-tabs{
	@include m-t(20px);
	li{
		a{
			@include montserrat();
			@include h4();
			@include light-gray();
			text-transform: uppercase;			
			border-color:$menu-border;
			margin-right: -1px;
		}
		&.active{
			a{
				@include dark-gray();
				@include bold();
			}
			.icon-syn{
				background-position: -42px -11px;
			}
			.icon-creation-up{
				background-position: -274px -12px;
			}
			.icon-creation-down{
				background-position:-121px -13px;
			}
			.icon-garbage{
				background-position:-183px -11px;
			}
		}
	}	
}
.tab-content{
	@include m-t(10px);
	p, label{
		color:$text-color;
		font-family: 'Roboto', sans-serif;
		@include h4();
	}
}