.treeSettings{
    @include list-unstyled();
    @include m-b(0px);
    li{
        float:left;
        @include h4();
        padding:20px;
        border-right:1px solid $input-border;
        &:first-child{
            border-left:1px solid $input-border;
        }
        &:last-child{
            border-right:1px solid $input-border;
        }
		&.propagate{
			color:$true-pink;
			&.active, &:hover{
                outline:1px solid $true-pink;
                cursor:pointer;
            }
		}
        &.expandAll{
            color:$true-green;
            &.active, &:hover{
                outline:1px solid $true-green;
                cursor:pointer;
            }
        }
        &.collapseAll{
            color:$brown;
            &.active, &:hover{
                outline:1px solid $brown;
                cursor:pointer;
            }
        }
        &.checkedAll, &.uncheckedAll, &.checkBaAll, &.uncheckBaAll{
            color:$true-blue;
            &.active, &:hover{
                outline:1px solid $true-blue;
                cursor:pointer;
            }
        }
    }	
}
.tree{
    @include m-t(20px);
    position:relative;
    .treeRight{
        position:absolute;
        right:0px;
        top:-5px;
        width:395px;
        &.selectTree{
            top:1px;
            border-bottom:1px solid $input-border;
            height:44px;
            padding-top:7px;
        }
        select{
            &.form-control{
                width: 90% !important;
                border: 1px solid #e2e2e2;
                @include border-radius(0);
            }
        }
        .chosen-container{
            width:360px !important;
        }
    }
    .tree_show{
        display:none;
    }
    .chosen-with-drop{			
        .chosen-results{
            display:block !important;
        }
    }
    ul{		
        li{
            list-style:none;
            position:relative;
            padding-bottom: 10px;
            ul{
                padding-left:10px;
                display:none;
                margin-top:10px;
            }
            span.tree_item{
                border-left:1px solid $input-border;
                border-bottom:1px solid $input-border;
                padding-top:10px;
                padding-left:10px;				
                display: inline-block;
                margin-left:10px;
                margin-top: -10px;
            }
            p{
                background-color:$white;
                position:relative;				
                top:15px;	
                display: inline-block;			
                @include m-b(0px);
                z-index:10;
                padding-left: 5px;
                margin-left: 20px;
                i.cb-plus{
                    position:absolute;
                    box-shadow: 0px 0px 0px 7px $white;
                    -webkit-box-shadow: 0px 0px 0px 7px $white;
                    -moz-box-shadow: 0px 0px 0px 7px $white;
                    -o-box-shadow: 0px 0px 0px 7px $white;
                    left:-13px;
                    background-color:$white;
                }

            }
            &:last-child{
                border-bottom:none;
            }
        }
    }
    ul li ul {
        display:none;
        li{
            border-left: 1px solid $input-border;
            padding-left: 30px;
        }
    }
    label{
        @include text-uc();
        @include dark-gray();
        @include montserrat();
        @include bold();
    }
    .form-group{
        margin-bottom:0px;
    }
    &.universe{
        label{
            text-transform:capitalize;
            @include poor-gray();
            font-weight:400 !important;
            @include regRoboto();			
        }
    }
}

.treeHead{
    @include text-uc();
    @include dark-gray();
    @include montserrat();	
    @include p-t(6px);
    @include p-b(8px);
    @include m-b(10px);
    @include b-Bottom();
}