.validate{
	display:table;
	width:100%;
	margin-bottom:10px;
	.validateRow{
		display:table-row;
		.validateCell{
			padding-right:10px;
			padding-left:10px;
			display:table-cell;
			vertical-align:top;
			position:relative;
			&:first-child{
				width:40px;
				text-align:center;
				padding-top:7px;
			}
			&:nth-child(2){
				padding-top:10px;
				padding-bottom:10px;
			}
			p{
				@include m-b(0px);
				@include m-r(15px);
			}
			i{
				@include strong-text();
				&.fa-remove{
					position:absolute;
					top:10px;
					right:10px;
					cursor: pointer;
				}
			}	
			.note{
				font-style:normal;
				@include h5();
				@include bold();
			}
			ol{
				counter-reset: myCounter;
				margin-bottom:0px;
				li{
					list-style: none;
					padding-left:5px;
					&:before{
						counter-increment: myCounter;
						content:counter(myCounter) ".";
						@include h4();
						display: inline-block;
						position: absolute;
						left: 10px;
					}
				}
			}
			ul{
				margin-left:15px;
				margin-bottom:0px;
			}
		}
	}
	&.gray{
		.validateRow{
			background-color:#F0F0F0;
			color:#949494;
			.validateCell{
				&:first-child{
					background-color:#DADADA;
				}
			}
		}
		.note{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
			&:before{
				z-index:2;
				content:'!';
				color:$poor-blue;
				position:absolute;
				top:9px;
				left:18px;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				background-color:$validate-blue-color;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
		.help{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
			&:before{
				z-index:2;
				content:'?';
				color:#FFFFFF;
				position:absolute;
				top: 7px;
				left: 16px;
				font-style: normal;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				background-color:#ABABAB;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
		.help-video{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
						background-color:transparent;						
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
			&:before{
				z-index:2;
				content:"\f008";
				color:$validate-blue-color;
				position:absolute;
				top: 7px;
				left: 10px;
				font-style: normal;
				font-size: 20px;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				//background-color:$validate-blue-color;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
	}
	&.blue{
		.validateRow{
			background-color:$poor-blue;
			color:$validate-blue-color;
			.validateCell{
				&:first-child{
					background-color:$validate-blue-cell;
				}
			}
		}
		.note{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
			&:before{
				z-index:2;
				content:'!';
				color:$poor-blue;
				position:absolute;
				top:9px;
				left:18px;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				background-color:$validate-blue-color;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
		.help{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
			&:before{
				z-index:2;
				content:'?';
				color:$poor-blue;
				position:absolute;
				top: 7px;
				left: 16px;
				font-style: normal;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				background-color:$validate-blue-color;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
		.help-video{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
						background-color:transparent;						
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
			&:before{
				z-index:2;
				content:"\f008";
				color:$validate-blue-color;
				position:absolute;
				top: 7px;
				left: 10px;
				font-style: normal;
				font-size: 20px;
			}
			&:after{
				z-index:1;
				content:'';
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width:20px;
				height:20px;
				//background-color:$validate-blue-color;
				position:absolute;
				top:5px;
				left:10px;
			}
		}
	}
	&.yellow{
		.validateRow{
			background-color:$color-validate-yellow;
			color:$validate-yellow-color;
			.validateCell{
				position:relative;
				&:first-child{
					background-color:$validate-yellow-cell;
				}
			}
		}
		.note{	
			//position:relative;
                        position: absolute;
                        top: 0;
                        left: 0;
			&:before{
				z-index:2;
				content:'!';
				color:$color-validate-yellow;
				position:absolute;
				top: 15px;
				left: 19px;
			}
			&:after{
				border-width: 0 13px 21px;
				border-style: solid;
				border-color: $validate-yellow-icon transparent;
				background: transparent;
				content: "";
				position: absolute;				
				left: 8px;
				top:8px;
				z-index:1;
			}
		}
	}
	&.pink{
		.validateRow{
			background-color: $opacity-pink;
			color:$true-pink;
			.validateCell{
				position:relative;
				&:first-child{
					background-color:$validate-pink;
				}
			}
			.note{	
				//position:relative;
                                position: absolute;
                                top: 0;
                                left: 0;
				&:before{
					z-index:2;
					content:'!';
					color:$opacity-pink;
					position:absolute;
					top:9px;
					left:18px;
				}
				&:after{
					z-index:1;
					content:'';
					border-radius:100%;
						-webkit-border-radius:100%;
						-moz-border-radius:100%;
						-ms-border-radius:100%;
						-o-border-radius:100%;
					width:20px;
					height:20px;
					background-color:$true-pink;
					position:absolute;
					top:5px;
					left:10px;
				}
			}
		}
	}
}