{if isset($isMain) && $isMain}
	<div class="">
{else}
	{if (!isset($select_options) || !$select_options) && (!isset($custom_free_text) || !$custom_free_text)}
		<div class="col-sm-6">
	{/if}
{/if}
<input type="text" id="{$text_id}" name="{$text_id}" rel="{$text_id}" value="{$text_value}" {$text_additional_attributes} {$text_cssClass} {$text_disabled} />  
{if !isset($select_options) || !$select_options || isset($isMain) && $isMain}</div>{/if}