{include file="header.tpl"}
{include file="sidebar.tpl"}
{ci_config name="base_url"}

{include file="amazon/PopupStepHeader.tpl"}   
  
<form id="form-mapping" method="post" action="{$base_url}amazon/save_mappings" enctype="multipart/form-data" >
                  
    {include file="amazon/PopupStepMoreHeader.tpl"} 
   
    {if !isset($popup) && isset($no_mapping_info)}
        <div class="m-t10 b-Bottom">
            {$no_mapping_info}
        </div>
    {/if}

    <div id="error-color" class="row" style="display: none;">
        <div class="col-xs-12 m-t10">
            <div class="b-Bottom">
                <div class="validate pink">
                    <div class="validateRow">
                        <div class="validateCell"><i class="note"></i></div>
                        <div class="validateCell">
                            <p><span class="bold">{ci_language line="Warning"}!</span> {ci_language line="Please map all attribute color"}.</p>
                            <i class="fa fa-remove pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Attribute--> 
   
    {if isset($mappings) && !empty($mappings)}
    <div id="attribute-mapping"  class="m-b30"> 
                    
        {foreach $mappings as $key_mapping => $mapping}  

            <!--Product Type-->
            {foreach $mapping as $key_product_type => $product_type}

                <!--Universe-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="head_text clearfix p-b5 p-t15" style="background-color: #f6f6f6;" >
                            <p class="pull-left">
                                {if isset($mappings[$key_mapping][$key_product_type]['universer_trans'])} 
                                    {$mappings[$key_mapping][$key_product_type]['universer_trans']} 
                                {/if}   >  
                                {if isset($mappings[$key_mapping][$key_product_type]['product_type_trans'])} 
                                    {$mappings[$key_mapping][$key_product_type]['product_type_trans']} 
                                {/if}
                            </p>
                            {if !isset($no_translate) || $no_translate == false}
                                <p class="pull-right">
                                    {$key_mapping} > {$key_product_type}
                                </p>
                            {/if}
                        </div>
                    </div>
                </div>

                <div style="    border-left: 2px solid #4693fe;    padding: 15px; margin-left: 10px">
                {if isset($product_type['fields']) && !empty($product_type['fields'])}   

                    {foreach $product_type['fields'] as $key_attribute => $attributes}
                       
                        {if is_array($attributes)}                                
                            
                            {if isset($attributes['valid_value'])}
                                {$valid = $attributes['valid_value']}
                            {else}
                                {$valid = ''}
                            {/if}

                            {if $key_attribute !== "valid_value"}                                

                                {foreach $attributes as $id_attr_group => $attribute}
                                    
                                    {if $id_attr_group == 'none_valid_value'}

                                        <!--Product Type-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="head_text clearfix p-t15 p-b10"> 
                                                    <p class="pull-left m-0">{$attribute['name']}</p>
                                                    <p class="pull-right m-0">{$attribute['field']}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Attribute-->
                                        <div class="row none_valid_value">
                                            <div class="col-xs-12">
                                                <div class="p-t15 p-b15 p-l15 p-r15">
                                                    <!-- Head -->
                                                    <div class="text-center">
                                                        <p class="poor-gray">
                                                            {ci_language line="This attribute provide the free text."} 
                                                            {ci_language line="You can"} 
                                                            <input type="hidden" id="attr-link-1" value="{ci_language line="mapping a new value"}" />
                                                            <input type="hidden" id="attr-link-2" value="{ci_language line="use this value"}" />
                                                            <a class='text-small link attr-link' style="cursor: pointer" rel='1'>{ci_language line="mapping a new value"}</a>
                                                            {ci_language line="for"} {$attribute['name']}/{$attribute['field']}.
                                                        </p>
                                                    </div>
                                                    <!-- Body -->
                                                    {$none_valid_value = array()}
                                                    {$attribute = $attribute}
                                                    {if isset($attribute['attribute'])}
                                                        {foreach $attribute['attribute'] as $ak => $value}
                                                            {if isset($attribute['is_color']) && $attribute['is_color']}
                                                                {$none_valid_value[$ak] = $value['value']['color']}
                                                            {else}
                                                                {if isset($value['value'])}
                                                                    {$none_valid_value[$ak] = $value['value']}
                                                                {/if}
                                                            {/if}
                                                            <div class="mapping-valid-value" style="display:none;">
                                                                {include file="amazon/Mappings-field.tpl"}
                                                            </div>
                                                        {/foreach}
                                                    {/if}                                                       
                                                    {if isset($none_valid_value) && !empty($none_valid_value)}
                                                        <div class="mapping-valid-value text-center">
                                                            <p class="poor-gray">{implode(', ', $none_valid_value)}</p>
                                                        </div>
                                                    {/if}
                                                </div>
                                            </div>
                                        </div>

                                    {elseif $id_attr_group != 'valid_value'}

                                         <!--Product Type-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="head_text clearfix p-t15 p-b10" > 
                                                    <p class="pull-left m-0">{$attribute['name']}</p>
                                                    <p class="pull-right m-0">{$attribute['field']}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Attribute-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="p-t15 p-l15 p-r15">
                                                    {if isset($attribute['attribute'])}
                                                        {$mapping_valid = array()}
                                                        {foreach $attribute['attribute'] as $ak => $value}
                                                            {if isset($value['valid_value']) && $value['valid_value'] == true}
                                                                {if isset($value['value']) && !empty($value['value'])}
                                                                    {$mapping_valid[$key_attribute][$ak] = $value['value']}      
                                                                {/if}                                                                                                          
                                                            {else}
                                                                {include file="amazon/Mappings-field.tpl"}   
                                                            {/if}
                                                        {/foreach}
                                                        {if isset($mapping_valid[$key_attribute]) && !empty($mapping_valid[$key_attribute])}
                                                            <div class="text-center p-b10">
                                                                <div class="text-center">
                                                                    <p class="poor-gray">
                                                                        {ci_language line="The"}  
                                                                        {$attribute['name']}/{$attribute['field']}  
                                                                        {ci_language line="value has mapping automatically"} :
                                                                    </p>
                                                                </div>
                                                                <div class="text-center">
                                                                    <p class="poor-gray">{implode(', ',$mapping_valid[$key_attribute])}</p>
                                                                </div>
                                                            </div>
                                                        {/if}
                                                    {/if}
                                                </div>
                                            </div>
                                        </div>

                                    {/if}
                                {/foreach}
                                       
                            {/if}  

                        {/if} 

                    {/foreach}

                {else}

                    <!--no field to map-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="p-t10 p-b10">
                                <div class="validate">
                                    <div class="validateRow">                                   
                                        <div class="validateCell">
                                            <p class="poor-gray">{ci_language line="No mappings to display"}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                       

                {/if}              
                </div>

            {/foreach}

        {/foreach} 
        
    </div>    
    {/if}      

    {include file="amazon/PopupStepMoreFooter.tpl"} 
        
    <!--Message-->
    <input type="hidden" id="submit-confirm" value="{ci_language line="Do you want to save 'Mappings'?"}" />
    <input type="hidden" id="error-message" value="{ci_language line="Mapping colors are require"}!" />
    <input type="hidden" name="id_country" id="id_country" value="{if isset($id_country)}{$id_country}{/if}" />
    <input type="hidden" id="save-unsuccess-message" value="{ci_language line="Please map all attribute color."}" />
    <input type="hidden" id="Please-select-color" value="{ci_language line="Please select color."}" />

</form>
            
{include file="amazon/PopupStepFooter.tpl"}
                        
<input type="hidden" value="{if isset($action)}{$action}{/if}" id="actions"> 

{include file="amazon/IncludeScript.tpl"}

<script type="text/javascript" src="{$cdn_url}assets/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/amazon/mappings.js"></script> 
<script type="text/javascript" src="{$cdn_url}assets/js/jquery.colorbox-m.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/amazon/AmazonWizard.js"></script> 

{include file="footer.tpl"}