            <div class="treeRight selectTree">
                    <div class="tree_show"> 
                        <select class="col-xs-10 search-select select-main" name="category_select_id_profile" >
{*                            <option></option>*}
                            <option value="0">{ci_language line="choose_ebay_store_categories"}</option>
                            {if (isset($selected) && !empty($selected) )}
                                {foreach from=$selected key=ekey item=evalue}
                                <option value="{$evalue.id}">{$evalue.name}</option>
                                {/foreach}  
                            {/if}
                        </select>

                        <i class="icon-more cp_down_btn"></i>
                    </div>
            </div>
        