/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#cboxLoadedContent html, #cboxLoadedContent body {height: 100%;}
.popup-wrapper{position:relative;padding-top:40px;height:100%;box-sizing:border-box}
.popup-wrapper .wrapper {overflow-y: hidden;}
.popup-wrapper form{height:90%;height:calc(100% - 270px);overflow-x:hidden;overflow-y:auto;padding-right:10px;}
.popup-wrapper .row-fluid {position:relative;height:90%;height:calc(100% - 270px);overflow-x:hidden;overflow-y:auto;padding-right:10px;}
form#imageform {height:auto;}
.popup-wrapper .tree {/*overflow-x:hidden;overflow-y:auto;position:absolute;height:calc(100% - 270px);*/width:100%;padding-right:10px;/*overflow-x:hidden;overflow-y:auto;*/}
/*form#form-mapping-custom-value .m-b40.p-b40{overflow-x:hidden;overflow-y:auto;position:absolute;height:90%;height:calc(100% - 270px);width:100%;}*/
/*.popup-wrapper form#form-mapping-custom-value{position:relative;height:90%;height:calc(100% - 270px);}
.popup-wrapper .tree_point {overflow-x:hidden;overflow-y: auto;position:absolute;height:100%;width:100%;}*/
.popup-wrapper .btnShow{ background-color:rgba(255, 255, 255, 0.85);padding:10px 0;margin-bottom:0;position:fixed;width:95%;bottom:0;z-index:99; }
@media only screen and (max-device-width: 480px){
	.popup-wrapper .head-size {font-size:1em;}
	.popup-wrapper .popup_action{padding:0;}
	.popup-wrapper .popup_action .p-t20 {	padding-top:10px;}
	.popup-wrapper .popup_action .btn-save{padding:3px 20px;}
	.popup-wrapper .head_text {padding-bottom:0;}
	.popup-wrapper .p-t10 {padding-top:0;}
}
.wrapper>div.p-rl40{height:100%}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:visible;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
div#cboxOverlay{ opacity: 0.5 !important;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;/*background:#000;*/ background:none;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{/*border:5px solid #000;*/-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5); box-shadow: 0 5px 15px rgba(0,0,0,0.5); background:#fff;}
        #cboxLoadedContent > .cboxIframe{width:100%; height: 100%}
        #cboxLoadedContent > .cboxIframe > html{ width:98%}
        #cboxTitle{position:absolute; top:-20px; left:0;  background-color: #4693fe;  text-align: center;  padding: 10px;   height: 38px;  width: 100%;  top: 0px;  font-size: 14px;  color: white;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; /*background:url(imagesc/controls.png) no-repeat top left;*/ width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; /*background:url(imagesc/controls.png) no-repeat top right;*/ width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        /*#cboxClose{position:absolute; top:8px; right:5px; display:block; background:url(imagesc/controls.png) no-repeat top center;color:white; width:38px; height:19px; font-size: 16px; font-weight: bold;text-transform: none; text-shadow: 0 1px 0 #fff;}*/
        #cboxClose{position: absolute;top: 10px;right: 10px;width: 15px;height: 15px;background-image: url('../images/icons/sprites.png') !important;background-position: -5px -312px;}
        /*#cboxClose:hover{background-position:bottom center;}*/
        #cboxContent{border: none; overflow: hidden}