.login-layout {
    background: none;
}
.login-box .social-login a>[class*="icon-"] {
    line-height: 1.8;
    margin-right: auto; 
}

.login-layout .widget-box {
    background-color: #438eb9;
}
#recaptcha_response_field{
    height: 20px;
    line-height: 1;
}
.forgot-box .back-to-login-link, .signup-box .back-to-login-link{
    color: #FFF;
    font-weight: normal;
    text-shadow: 1px 0 1px rgba(0,0,0,0.25);
}
.help-inline.error{
    color: #d16e6c;
}

.sidebar {
    /*width: 214px;
    border-right: 1px solid #ccc;*/
}
.sidebar:before {
    /*width: 214px;*/
}
.menu-min .nav-list>li>.submenu {
    /*width: 205px;*/
}
.menu-min .nav-list>li>a.dropdown-toggle>.menu-text {
    /*width: 193px;*/
}

/*Level 2*/
.nav-list>li .submenu>li .submenu>li.active>a>[class*="icon-"]:first-child, 
.nav-list>li .submenu>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display: inline-block;
}   
.nav-list>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 11px;
    z-index: 1;
    background-color: #FFF;
}
.nav-list>li>.submenu>li>.submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    left: 38px;
    top: 17px;
    border-top: 1px solid #ccd7e2;
}
.nav-list>li>.submenu>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 37px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccd7e2;
}
.nav-list>li .submenu>li .submenu>li>a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 8px 53px;
    margin: 0;
    border-top: 1px dotted #e4e4e4;
    text-decoration: none;
}
.nav-list>li .submenu>li .submenu>li>a:hover {
    color: #25639e;
    text-decoration: none;
}
.menu-min .nav-list>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    left: 20px;
}
.menu-min .nav-list>li>.submenu li>.submenu>li>a {
    margin-left: 0;
    padding-left: 45px;
}
.menu-min .nav-list>li>.submenu>li>.submenu>li:before {
    display: none;
}
.menu-min .nav-list>li>.submenu>li>.submenu:before {
    display: none;
}

/*Level 3*/
.nav-list>li .submenu>li .submenu>li .submenu>li.active>a>[class*="icon-"]:first-child, 
.nav-list>li .submenu>li .submenu>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display: inline-block;
}   

.nav-list>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 48px;
    top: 11px;
    z-index: 1;
    background-color: #FFF;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    left: 55px;
    top: 17px;
    border-top: 1px solid #ccd7e2;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 55px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccd7e2;
}
.nav-list>li .submenu>li .submenu>li .submenu>li>a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 8px 72px;
    margin: 0;
    border-top: 1px dotted #e4e4e4;
    text-decoration: none;
}
.nav-list>li .submenu>li .submenu>li .submenu>li>a:hover {
    color: #25639e;
}
.menu-min .nav-list>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    left: 40px;
}
.menu-min .nav-list>li>.submenu li>.submenu li>.submenu>li>a {
    margin-left: 0;
    padding-left: 65px;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu>li:before {
    display: none;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu:before {
    display: none;
}

/*Level 4*/
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li.active>a>[class*="icon-"]:first-child, 
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display: inline-block;
}   

.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 65px;
    top: 11px;
    z-index: 1;
    background-color: #FFF;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu>li>.submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    left: 72px;
    top: 17px;
    border-top: 1px solid #ccd7e2;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 72px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccd7e2;
}
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li>a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 8px 89px;
    margin: 0;
    border-top: 1px dotted #e4e4e4;
    text-decoration: none;
}
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li>a:hover {
    color: #25639e;
}
.menu-min .nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    left: 60px;
}
.menu-min .nav-list>li>.submenu li>.submenu li>.submenu li>.submenu>li> a {
    margin-left: 0;
    padding-left: 85px;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu li>.submenu>li:before {
    display: none;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu li>.submenu:before {
    display: none;
}

/*Level 5*/
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li.active>a>[class*="icon-"]:first-child, 
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display: inline-block;
}   

.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 81px;
    top: 11px;
    z-index: 1;
    background-color: #FFF;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu>li>.submenu>li>.submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    left: 88px;
    top: 17px;
    border-top: 1px solid #ccd7e2;
}
.nav-list>li>.submenu>li>.submenu>li>.submenu>li>.submenu>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 88px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccd7e2;
}
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li>a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 8px 103px;
    margin: 0;
    border-top: 1px dotted #e4e4e4;
    text-decoration: none;
}
.nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li>a:hover {
    color: #25639e;
}
.menu-min .nav-list>li .submenu>li .submenu>li .submenu>li .submenu>li .submenu>li a>[class*="icon-"]:first-child {
    left: 70px;
}
.menu-min .nav-list>li>.submenu li>.submenu li>.submenu li>.submenu li>.submenu>li> a {
    margin-left: 0;
    padding-left: 85px;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu li>.submenu li>.submenu>li:before {
    display: none;
}
.menu-min .nav-list>li>.submenu> li>.submenu li>.submenu li>.submenu li>.submenu:before {
    display: none;
}

.main-content {
    margin-left: 215px;
}
.breadcrumb {
    line-height: 40px;
}

.pagination ul>li>a, .pagination ul>li>span{
    line-height: 1;
}
input[type=checkbox].ace-checkbox-3:checked+.lbl::before, input[type=radio].ace-checkbox-3:checked+.lbl::before {
    background-color: #69aa46!important;
    border-color: #69aa46!important;
    color: #FFF;
}
input[type=checkbox].ace-checkbox-4:checked+.lbl::before, input[type=radio].ace-checkbox-4:checked+.lbl::before {
    background-color: #478fca!important;
    border-color: #478fca!important;
    color: #FFF;
}
.table td.right {
    text-align: right;
}
.chzn-container-single .chzn-search:after{
    content: ""; 
}
#mapping-attribute .row-odd {
    padding: 8px;
    background: #f9f9f9;
    border-bottom: 1px solid #e3e3e3;
}
#mapping-attribute .row-even {
    padding: 8px;
    background: #FFF;
    border-bottom: 1px solid #e3e3e3;
}
#mapping-attribute{
    text-align: center;
}
#mapping-attribute .row-odd:hover, #mapping-attribute .row-even:hover {
    background-color: #f1f1f1;
}
#mapping-attribute.form-horizontal .form-actions {
    padding-left:0px;
}

.removemapping, .addnewmapping, .removemapping:hover,
.addnewmapping:hover, .removemappingfeature,
.addnewmappingfeature,
.removemappingfeature:hover, .addnewmappingfeature:hover{
    cursor: pointer;
    text-decoration: none;
}
.removemapping .icon-minus-sign.red,
.removemappingfeature .icon-minus-sign.red
{
    color: rgba(221, 90, 67, 0.7)!important;
}
.removemapping .icon-minus-sign.red:hover,
.removemappingfeature .icon-minus-sign.red:hover
{
    color: rgba(221, 90, 67, 1)!important; 
}

#count{
    background: none !important;
    border: none;
    width: auto;
    text-align: right;
    color: #478fca!important;
}
input[readonly].icount{
    background: none !important;
    border: none !important;
    width: auto !important;
    text-align: right !important;
    font-size: 12px !important;
    margin-top: -1px !important;
    color: #87b87f !important; 
}

select::-webkit-scrollbar{
    width:1px;
    background-color:transparent
}

#manufacturers-1, #manufacturers-2, #suppliers-1, #suppliers-2{
    height: 200px;
}
#manufacturers .widget-main, #suppliers .widget-main {
    padding: 0;
}
/*#tree1 input[type=checkbox].checbox-tree-folder +.lbl::before{
    line-height: 13px;
    margin-top: -7px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 3px;
}
#tree1 input[type=checkbox].checbox-tree-item +.lbl::before{
    line-height: 13px;
    margin-top: -7px;
    margin-right: 5px;
    margin-left: -6px;
    border-radius: 3px;
}
#tree1 .tree .tree-item {
    height: auto; 
}
.overflow-visible{
	overflow:visible !important;
}*/
/*#tree1{
    padding-left: 30px;
    overflow: hidden;
}
#tree1.tree:before{
   left: 18px; 
}*/
#carrier ul > li{
    padding: 5px;
    padding-bottom: 1px;
} 
#carrier ul > li:hover, #carrier ul > li.active{
    background-color: rgba(98,168,209,0.1);
}
#carrier input[type=checkbox].ace-checkbox-2 + .lbl::before{
    border-radius: 3px;
}

/*Offers Category*/
/*#category #profiles_category .tree .tree-folder .tree-folder-header,
#category #profiles_category .tree .tree-item {
    height: 30px;
}*/
#category .pull-right{
    width: 200px;
}
.w-280{
	width: 280px !important;
}
/*btn-link*/
.remove-rule, .remove-item, .price-range-add {
    text-decoration: none;
}
.remove-rule:hover, .remove-item:hover, .price-range-add:hover {
    text-decoration: none;
}
.remove-rule:active, .remove-item:active, .price-range-add:active {
    text-decoration: none;
}

/*main config*/
#mainconfigform .widget-box .widget-header {
    padding-top: 10px;
    min-height: 30px;
}
#mainconfigform .widget-box .widget-main{
    padding-left: 35px;
    padding-right: 35px;
}
#mainconfigform input[type=checkbox]+.lbl, #mainconfigform input[type=radio]+.lbl
{
    line-height: 2;
}

#feed_mode input[type=checkbox]+.lbl::before{
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 14px;
    background-color: #fafafa;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 17px;
    line-height: 1.2;
    min-width: 17px;
    margin-right: 1px;
    border: 2px solid #478fca;
    position: relative;
}

#default_mode input[type=checkbox]+.lbl::before, #shopform  input[type=checkbox]+.lbl::before{
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 14px;
    background-color: #fafafa;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 20px;
    line-height: 1.5;
    min-width: 20px;
    margin-right: 1px;
    border-radius: 120px;
    border: 2px solid #9abc32;
    position: relative;
}

#shopform input[type=checkbox]+.lbl::before{
    border: 2px solid #478fca;
}

#default_mode .infobox>.infobox-icon{
    vertical-align: text-bottom;
    text-align: center;
}

#shopform .infobox>.infobox-icon{
    text-align: center;
    padding-top: 3%;
}

#default_mode .modebox, #shopform .shopbox  {
    cursor: pointer;
    padding: 5px;
}

#default_mode .modebox:hover {
    background-color: #F1FAED;
}
 #shopform .shopbox:hover  {
    background-color: #d5e3ef;
}
#default_mode .infobox>.infobox-data>.infobox-data-number, #shopform .infobox>.infobox-data>.infobox-data-number {
    display: block;
    font-size: 16px;
    margin: 0;
}

 #shopform .infobox>.infobox-data>.infobox-data-number {
    display: block;
    font-size: 16px;
    margin: 0;
}

/*.addSpecificField, .removeSpecificField, .addRecommendedBrowseNode, .removeRecommendedBrowseNode {
    min-height: 30px;
    opacity: 0.5;
    text-decoration: none;
}

.addSpecificField:hover, .removeSpecificField:hover, .addRecommendedBrowseNode:hover,  .removeRecommendedBrowseNode:hover{
    min-height: 30px;
    opacity: 1;
    text-decoration: none;
}*/

/*.addnewmapping, .removemapping, .addnewmappingfeature, .removemappingfeature{
    min-height: 30px;
}*/

/*********************************************************************************************************/
.feed-message-tab{
    position: relative;
    left: 0;
    border: 0px;
    width: 100%;
}

#loading .progress {
    margin-bottom: 0 !important;
}
#loading .well{
    border: 0px;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #e3e3e3;
}
#loading .well-small{
    padding: 8px;
}
.alert div.msg{ display:inline-block;}

/*********************************************************************************************************/
div.progress_cv{ position: fixed; bottom:0; left: 0; display: none; z-index: 999999 } 
.progress_cv .progress_full{ /* background-color: white;  float:left;*/ z-index:2; position: relative; bottom:0; display: inline-block; width:auto; height: auto; /* padding:00px 0 0 0; */ /* border-top:1px solid #438eb9; */ /* border-right:1px solid #438eb9; */}
.progress_cv .progress_full ul{ overflow-y: auto;/* float:left; */ /* display: inline-block; */ /* margin:0; */ /* padding: 20px 0 0 0 ; */ /* position: relative; */  /* width: 100%; */   /* list-style: none; */ }
/*.progress_cv .progress_full ul li{ display: inline-block; margin:0; padding: 10px; padding-top: 10px; position: relative; float: left; clear: both; max-width: 400px; max-height: 650px; }*/
.progress_cv .progress_full ul li>div{ word-wrap: break-word; /* border-bottom: 1px solid #aaa; */}
.progress_cv .progress_small{ position:absolute; z-index: 1; left:0; bottom:0; display: none; margin:10px; cursor:pointer}
.progress_cv .progress_message{color:#393939;margin:2px 0;font-family: 'Montserrat', sans-serif;font-size: 14px;}
.progress_cv .progress_message>span{color:#69aa46; font-size:12px; font-weight: bold}
.progress_cv .progress_message.import::before{content:"\f0ed"; font-family: 'FontAwesome';color:#FF4646;margin:0 5px 0 10px}
.progress_cv .progress_message:not(.import)::before{content:"\f0ee"; font-family: 'FontAwesome';color:#77c646;margin:0 5px 0 10px}
.progress_cv .progress_row .progress{ margin:0 20px 5px 10px;position: absolute;bottom: 10px;width: 94%; height: 20px;}
/*.progress_cv .progress_row{ float: left;width: 100%;min-width:360px;padding: 0px 2px 00px 0px;box-sizing: border-box;height: 63px;position: relative;} */
/*.progress_cv .progress_full ul li:last-child >div{ border-bottom: none;}*/
.progress_cv .progress-inverse.progress-striped .bar, .progress-striped .bar-inverse{ background-color:#555555}
.progress_cv .close_pfull::before{content:"";/*\f00d*/ font-family: 'FontAwesome';position: absolute;top: 10px;right: 8px;font-size: 17px;color: #992222;cursor: pointer;z-index: 99;background-position: -62px -290px;width: 20px;height: 20px;background-image: url('../images/icons/sprites.png') !important;}
.progress_cv .hide_pfull::before{content:"";/*\f00d*/ font-family: 'FontAwesome';position: absolute;top: 2px;right: 25px;font-size: 17px;color: #382F2F;cursor: pointer;z-index: 99;background-position: -62px -290px;width: 20px;height: 20px;background-image: url('../images/icons/sprites.png') !important;}
div.navbar div.navbar-inner{background:#466697 url('../images/bg_top_bar.jpg') no-repeat; background-size: cover;}
div.navbar div.navbar-inner a.brand img{ transition: 0.3s; height: 22px;}
div.navbar div.navbar-inner a.brand:hover img{ opacity: 0.7;}
ul#parameter_sidebar li{ display: none}
ul#parameter_sidebar.imported #parameter_before_import{ display: none}
ul#parameter_sidebar #parameter_before_import{ display: block}
ul#parameter_sidebar.imported li{ display: block}
div.progress.progress-small[data-percent]:after{top:5px}
 

.progress {height: 20px;margin-bottom: 20px;overflow: hidden;background-color: #f7f7f7;background-image: -moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image: -webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: -o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: linear-gradient(to bottom,#f5f5f5,#f9f9f9);background-repeat: repeat-x;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
 
div.running_task{ display: inline-block}
div.running_icon{display: inline-block;position: absolute;left: 5px;bottom: 5px;}

div.progress_cv{ position: fixed; bottom: 0px; display: none; z-index: 11111; /* margin-top: 30px;  margin-left: 10px;*/ max-width: 350px;min-width: 320px; height:0px;}
.progress_cv .progress_full{ /* background-color: white;  background-color: rgba(255, 255, 255, 0.87);  float: right;*/ z-index:2; position: absolute; right: 0; bottom:0; display: inline-block; width:100%; height: auto; /* border-top:1px solid #424242; */ /* border-top: 1px solid rgba(2, 1, 1, 0.33); */ /* border-right:1px solid #e7e7e7; */ /* border-right: 1px solid rgba(185, 185, 185, 0.45) */}
.progress_cv .progress_full ul{ /* float:left;  display: inline-block;  margin:0;  padding: 20px 0 0 0 ;  position: relative;  width: 100%; */   list-style: none; }
/*.progress_cv .progress_full ul li{ margin-top: 10px; -moz-box-shadow: 2px 2px 5px #ccc; }*/
.progress_cv .progress_small{ position:absolute; z-index: 1; right: 0;bottom:0; display: none;   }
.progress_cv .progress_message{color:#393939;margin:2px 0;}
.progress_cv .progress_message>span{color:#69aa46; font-size:12px; font-weight: bold}
.progress_cv .progress_message.import::before{content:"\f0ed"; font-family: 'FontAwesome';color:#FF4646;margin:0 5px 0 10px}
.progress_cv .progress_message:not(.import)::before{content:"\f0ee"; font-family: 'FontAwesome';color:#77c646;margin:0 5px 0 10px}
.progress_cv .progress_row .progress{ margin:0 20px 5px 10px;position: absolute;bottom: 10px;width: 87%; height: 20px;}
.progress_cv .progress_row{ /* border-bottom: 1px solid #aaa; float: left;*/width: 100%;min-width:250px; padding: 15px 0;box-sizing: border-box; height: 60px;position: relative;} 
.progress_cv .progress_full ul li:last-child .progress_row{ border-bottom: none;} 
.progress_cv .progress-inverse.progress-striped .bar, .progress-striped .bar-inverse{ background-color:#555555}
.progress_cv .close_pfull::before{content:"";/*\f00d*/ font-family: 'FontAwesome';position: absolute;top: 9px;right: 7px;font-size: 17px;color: #A7A7A7;cursor: pointer;z-index: 99;background-position: -62px -290px;width: 20px;height: 20px;background-image: url('../images/icons/sprites.png') !important;}
div.navbar div.navbar-inner{background:#466697 url('../images/bg_top_bar.jpg') no-repeat; background-size: cover;}
div.navbar div.navbar-inner a.brand img{ transition: 0.3s; height: 22px;}
div.navbar div.navbar-inner a.brand:hover img{ opacity: 0.7;}
ul#parameter_sidebar li{ display: none}
ul#parameter_sidebar.imported #parameter_before_import{ display: none}
ul#parameter_sidebar #parameter_before_import{ display: block}
ul#parameter_sidebar.imported li{ display: block}
div.progress.progress-small[data-percent]:after{top:5px}
.progress_cv div.progress .bar{height:20px}
/*********************************************************************************************************/

/*Popup - Marketplace*/
#popup-footer
{
    position: fixed; bottom:0; left: 0; width: 100%; background: #eff3f8; padding: 15px; border-top-color: #e4e9ee;
}

.ace-thumbnails.popup>li {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 6px;
    padding: 8px;
    border: none;
}

.ace-thumbnails.popup>li>a {
    opacity: 0.8;
}

.ace-thumbnails.popup>li>a:hover {
    opacity: 1;
}
ul.wizard-steps li .step{box-sizing: initial;}

.has-switch label {
    margin-top: -3px;
}

.popup_action
{    
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 0;
    margin-bottom: 0;
    position: fixed;
    width: 95%;
    bottom: 0;
    z-index: 99;
}

.uniformjs label{ 
    font-weight: normal;
    cursor: pointer;
}

.form-group label
{
    font-weight: normal;
}
.wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {
    border-color: #496cad;
}

/*.custom_value, .custom_value.form-control{
    height: 27px;
    line-height: 1;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 0;
    border-color: #e5e5e5;
    width: 250px;
    color: #575757;
}

//Check box*/
/*#category #tree1 input[type=checkbox], #category #tree1 input[type=checkbox]:checked{
    opacity: 0 !important;
}
#category #tree1 input[type=checkbox] {
    opacity: 0;
    margin-left: -15px;
}
#category #tree1 input[type=checkbox]+.lbl, #category #tree1 input[type=radio]+.lbl {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
    top: -2px;
}

#category #tree1 input[type=checkbox]+.lbl::before, #category #tree1 input[type=radio]+.lbl::before {
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 11px;
    color: #496cad;
    content: "\a0";
    background-color: #fafafa;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 14px;
    line-height: 13px;
    width: 14px;
    margin-right: 1px;
}

#category #tree1 input[type=checkbox]:checked+.lbl::before, #category #tree1 input[type=radio]:checked+.lbl::before {
    display: inline-block;
    content: '\f00c';
    background-color: #f5f8fc;
    border-color: #496cad;
    font-size: 17px;
    height: 14px;
    width: 14px;
}*/
.font-size13{ font-size:13px}
#menu div.media-body a{text-decoration: none;}
.display-none,span.display-none,input.display-none,a.display-none,div.display-none{ display:none}
.display-block,span.display-block,input.display-block,a.display-block,div.display-block{ display:block}

.margin-top100{ margin-top:100px; }
.margin-top10{ margin-top:10px; }
.margin-bot15{ margin-bottom: 15px;}
.margin-7{margin:7px}
.opacity-50{opacity: 0.5}
.padd-top15{padding-top:15px;}
.padd-right15{padding-rigth:15px;}
li.conectimport.has-error .progressCondition .progressLine {
  background-color: #f74f63;
}

li.conectimport.has-error div.progress_text {
  text-transform: uppercase;
  color: #f74f63;
  font-weight: 700;
}

/*Databale processing*/
.dataTables_processing {
    /*display: inline-table;*/
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    /*margin-top: -60px;*/
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    z-index: 999;
}
.dataTables_processing  .feedbizloader{    
    display: inline-table;
    position: absolute;
    top: 40%;
	left: 50%;
	margin-left:auto;
	margin-right:auto;
}
.dataTables_processing .feedbizcolor{
    background: transparent url('../images/feedbiz_sprite.png') 0 0 no-repeat;
    width: 60px;
    height: 60px;
    z-index: 2000;
    cursor: pointer;
} 
.support .dCell a.link{white-space: nowrap;}

.progress_min{ display: inline-block;  background: none;  position: absolute;  top: 5px;   overflow: hidden;  right: 26px;  cursor: pointer;}
.progress_min i{margin-top: 5px;color:#A7A7A7;transition: 0.4s
               /*-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);*/ 
}
.progress_min i:hover{color:#676767;} 

.progress_max{ display: inline-block;  background: none;  position: absolute;  top: 5px;   overflow: hidden;  right: 26px;  cursor: pointer;}
.progress_max i{margin-top: 5px;color:#A7A7A7;transition: 0.4s
               /*-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);*/ 
}
.progress_max i:hover{color:#676767;} 

.running_task{ width:100% }
.progress_cv div.running_text{   
width:100%;
  padding: 15px 15px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: 5px 0 10px 0 #d4d4d4;
  -moz-box-shadow: 5px 0 10px 0 #d4d4d4;
  -ms-box-shadow: 5px 0 10px 0 #d4d4d4;
  -o-box-shadow: 5px 0 10px 0 #d4d4d4;
  box-shadow: 5px 0 10px 0 #d4d4d4;}
.progress_cv div.running_text li span{ font-weight: bold;}
.progress_cv div.running_text li.ptitle,.progress_cv div.running_text li.pclose{color:#4693fe; font-weight: bold}
.progress_cv div.running_text li.prun{color:#4693fe}
.progress_cv div.running_text li.psuc{color:#00ce88}
.progress_cv div.running_text li.perr{color:#f74f63}
.progress_cv div.running_text ul{ list-style: none;   margin: -5px 0 7px 0}
.progress_cv div.running_text ul li{ float:left; font-size:12px;margin-right:10px;}
.page-wrapper div.progressbar{margin-top:0px;}
p.progress_text.m-0.error{ display:block;}
div.popover{ max-width:310px;}
div.popover-content{margin:0px;padding:0px;height: auto;width: 100%;position:relative;display:inline-block;font-family:"Roboto",sans-serif;font-size:14px;}
#mainconfigform div.popover-content{padding:10px;color:#919191;}
#mainconfigform div.popover-content>div{color:#000000;}
div.popover-footer{margin:0;padding:5px 14px;font-size:14px;font-weight:400;line-height:18px;background-color:#F7F7F7;border-top:1px solid #EDEDED;}
#user_inbox{ display:inline-block; width:300px; float: left;}
#user_inbox ul{margin:0px;padding:0px; list-style: none; float: left; width:100%}
#user_inbox ul li:hover{ background-color:#efefef}
#user_inbox ul li{float: left;clear: both;width:100%; margin:0px; position: relative;  padding: 5px 0; border-bottom: 1px solid #EDEDED}
#user_inbox ul li:last-child{ border-bottom:none;}
#user_inbox .ui_title a {color:#4693fe;font-size:14px;}
#user_inbox .ui_title{ margin:2px 0 0 16px;}
#user_inbox .ui_time { margin:2px 0 0 16px;color:#999999;font-size:12px;}
#user_inbox .ui_viewmore{background: #F7F7F7;}
div.popover-footer .ui_viewmore{  color: #4693fe !important;}
#user_inbox .ui_close { position:absolute; right:10px; top:10px; font-size: 10px;  border-radius: 41px; width:15px; height: 15px; background-image: url('../images/icons/sprites.png') !important; background-position: -34px -312px; }
#user_inbox .ui_close:hover { position:absolute; right:10px; top:10px; font-size: 10px;  border-radius: 41px; width:15px; height: 15px; background-image: url('../images/icons/sprites.png') !important; background-position: -64px -312px; }
#user_inbox li:hover .ui_close { opacity: 0.8}
.progressbar .progressCondition .progressLine{ transition-duration: 0.6s}
.breadcrumbs .bread_item:last-child .bread_link{text-transform: capitalize}