@function px($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @return $pixels;
}
@mixin m-($i) { margin: px($i); }
@mixin m-t($i) { margin-top: px($i); }
@mixin m-tr($i) { margin-top: px($i); margin-right: px($i); }
@mixin m-tb($i) { margin-top: px($i); margin-bottom: px($i); }
@mixin m-tl($i) { margin-top: px($i); margin-left: px($i); }
@mixin m-r($i) { margin-right: px($i); }
@mixin m-rb($i) { margin-right: px($i); margin-bottom: px($i);}
@mixin m-rl($i) { margin-right: px($i); margin-left: px($i);}
@mixin m-l($i) { margin-left: px($i); }
@mixin m-bl($i) { margin-left: px($i); margin-bottom: px($i);}
@mixin m-b($i) { margin-bottom: px($i);}
@mixin m--($i) { margin: -px($i); }
@mixin m--t($i) { margin-top: -px($i); }
@mixin m--tr($i) { margin-top: -px($i); margin-right: -px($i); }
@mixin m--tb($i) { margin-top: -px($i); margin-bottom: -px($i); }
@mixin m--tl($i) { margin-top: -px($i); margin-left: -px($i); }
@mixin m--r($i) { margin-right: -px($i); }
@mixin m--rb($i) { margin-right: -px($i); margin-bottom: -px($i);}
@mixin m--rl($i) { margin-right: -px($i); margin-left: -px($i);}
@mixin m--l($i) { margin-left: -px($i); }
@mixin m--bl($i) { margin-left: -px($i); margin-bottom: -px($i);}
@mixin m--b($i) { margin-bottom: -px($i); }