@function px($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @return $pixels;
}
@mixin p-($i) { padding: px($i); }
@mixin p-t($i) { padding-top: px($i); }
@mixin p-tr($i) { padding-top: px($i); padding-right: px($i); }
@mixin p-tb($i) { padding-top: px($i); padding-bottom: px($i); }
@mixin p-tl($i) { padding-top: px($i); padding-left: px($i); }
@mixin p-r($i) { padding-right: px($i); }
@mixin p-rb($i) { padding-right: px($i); padding-bottom: px($i);}
@mixin p-rl($i) { padding-right: px($i); padding-left: px($i);}
@mixin p-l($i) { padding-left: px($i); }
@mixin p-bl($i) { padding-left: px($i); padding-bottom: px($i);}
@mixin p-b($i) { padding-bottom: px($i);}