div.row > div.col-md-12{ margin-bottom: 30px;}
#frmPackages.pkg_ov ul.wizard-steps li,ul.wizard-steps li{min-width: 33%; max-width: 33%;}
#frmPackages ul.wizard-steps li{min-width: 50%; max-width: 50%;}
.margin_bottom15{ margin-bottom: 15px;}
.padd15{ padding: 15px}
.pos_rel{ position: relative}
.name_offer_pkg{float: left;text-align: left;width: 45%;overflow: hidden;}
.name_offer_amt{float: right;padding-right:  15px;text-align: right;width: 45%;overflow: hidden;}
.domain_offer_sub_pkg{float: left;text-align: left;width: 45%;padding-left: 30px;overflow: hidden;}
.domain_offer_sub_amt{float: right;padding-right:  15px;text-align: right;width: auto;overflow: hidden;}
.package_select_subtotal{float: left;text-align: left;width: 45%;overflow: hidden;}
.package_select_subtotal_amt{float: right;padding-right:  15px;text-align: right;width: 45%;overflow: hidden;}
#txt_currency{ vertical-align: -webkit-baseline-middle}
.id_offer_pkg_col{float: left;text-align: left;width: 45%;overflow: hidden;}
.id_offer_amt_col{float: right;padding-right:  15px;text-align: right;width: 225px;overflow: hidden;}
.id_offer_amt_col > .label-success{float:left}
.id_offer_amt_col > .label-important{margin-left:15px;float:left}
#sub_pkg_list_cv{margin-left: 25px;}
#sub_pkg_list_cv > li.norm_li{ padding: 5px;}
#sub_pkg_list_cv .label-success{float:left}
#sub_pkg_list_cv > li.norm_li .label-important{margin-left:15px;float:left}
.margin-top10{margin-top:10px;}
 div.allCheckBo .checkboSettings.head {
  padding-bottom: 0px;
}
.headSettings .headSettings_point li.headSettings_point-item{ width:50%}
.center{ text-align: center}
.button-right{ text-align: right}