/*---------[ table ]-----------*/
.mirakl-responsive-table {
  width: 100% !important;
}
.mirakl-responsive-table thead tr,
.table thead tr,
.mirakl-responsive-table tfoot tr,
.table tfoot tr {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.mirakl-responsive-table thead tr th,
.table thead tr th,
.mirakl-responsive-table tfoot tr th,
.table tfoot tr th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #ababab;
  position: relative;
  font-size: 12px;
  font-weight: 400;
}
.mirakl-responsive-table thead tr th:hover,
.table thead tr th:hover,
.mirakl-responsive-table tfoot tr th:hover,
.table tfoot tr th:hover {
  cursor: pointer;
}
.mirakl-responsive-table thead tr th:focus,
.table thead tr th:focus,
.mirakl-responsive-table tfoot tr th:focus,
.table tfoot tr th:focus {
  outline: 0px !important;
}
.mirakl-responsive-table thead tr th.sorting:before,
.table thead tr th.sorting:before,
.mirakl-responsive-table tfoot tr th.sorting:before,
.table tfoot tr th.sorting:before {
  background-position: -7px -184px;
  width: 6px;
  height: 12px;
  background-image: url('../../../images/icons/sprites.png') !important;
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
}
.mirakl-responsive-table thead tr th.tableNoSort,
.table thead tr th.tableNoSort,
.mirakl-responsive-table tfoot tr th.tableNoSort,
.table tfoot tr th.tableNoSort {
  padding-left: 0px;
}
.mirakl-responsive-table thead tr th.tableNoSort:before,
.table thead tr th.tableNoSort:before,
.mirakl-responsive-table tfoot tr th.tableNoSort:before,
.table tfoot tr th.tableNoSort:before {
  background: none !important;
}
.mirakl-responsive-table thead tr th label,
.table thead tr th label,
.mirakl-responsive-table tfoot tr th label,
.table tfoot tr th label {
  margin-top: -8px;
  margin-bottom: -8px;
}
.mirakl-responsive-table thead tr th.sorting_asc:before,
.table thead tr th.sorting_asc:before,
.mirakl-responsive-table tfoot tr th.sorting_asc:before,
.table tfoot tr th.sorting_asc:before {
  background-position: -35px -185px;
  width: 6px;
  height: 12px;
  background-image: url('../../../images/icons/sprites.png') !important;
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
}
.mirakl-responsive-table thead tr th.sorting_desc:before,
.table thead tr th.sorting_desc:before,
.mirakl-responsive-table tfoot tr th.sorting_desc:before,
.table tfoot tr th.sorting_desc:before {
  background-position: -49px -185px;
  width: 6px;
  height: 12px;
  background-image: url('../../../images/icons/sprites.png') !important;
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
}
.mirakl-responsive-table thead tr th.tablePicture,
.table thead tr th.tablePicture,
.mirakl-responsive-table tfoot tr th.tablePicture,
.table tfoot tr th.tablePicture {
  text-align: center;
}
.mirakl-responsive-table thead tr th.sorting_disabled,
.table thead tr th.sorting_disabled,
.mirakl-responsive-table tfoot tr th.sorting_disabled,
.table tfoot tr th.sorting_disabled {
  padding-left: 0px;
}
.mirakl-responsive-table tbody tr td,
.table tbody tr td {
  color: #777777;
  font-size: 12px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mirakl-responsive-table tbody tr td.tablePicture,
.table tbody tr td.tablePicture {
  text-align: center;
}
.mirakl-responsive-table tbody tr td.tablePicture .image-table,
.table tbody tr td.tablePicture .image-table {
  float: none;
}
.mirakl-responsive-table tbody tr td.checkboSettings,
.table tbody tr td.checkboSettings {
  background: none !important;
}
.mirakl-responsive-table tbody tr:nth-child(odd),
.table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.mirakl-responsive-table tbody tr:nth-child(even),
.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.mirakl-responsive-table.error_details tbody tr:nth-child(even),
.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.mirakl-responsive-table tbody tr:last-child,
.table tbody tr:last-child {
  border-bottom: 1px solid #e2e2e2;
}
.mirakl-responsive-table tfoot tr th,
.table tfoot tr th {
  padding-left: 0px;
  padding-right: 10px;
}
.mirakl-responsive-table tfoot tr th:before,
.table tfoot tr th:before {
  width: 0px;
}
.mirakl-responsive-table .forCheckBo p,
.table .forCheckBo p {
  margin-bottom: 0px;
}
.mirakl-responsive-table .forCheckBo p:hover,
.table .forCheckBo p:hover {
  cursor: pointer;
}
.mirakl-responsive-table .tableCheckbo,
.table .tableCheckbo {
  width: 15%;
}
.mirakl-responsive-table .tableCheckbo .mirakl-checkbox,
.table .tableCheckbo .mirakl-checkbox {
  float: left;
  margin-right: 10px;
}
tbody>tr.background-gray {
  background-color: #ffffff !important;
}
a.data_control.plus {
	display: inline-table;
	text-decoration: none;
	cursor: pointer;
	background-color: #4693fe;
	color: white;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width: 16px;
	height: 16px;
	font-size: 14px;
	line-height: 14px;
}
a.data_control.minus {
  display: inline-block;
  background-color: white;
  color: #4693fe;
  border: 1px solid #4693fe;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 16px;
  height: 16px;
  font-weight: 700;
  padding-top: 0;
  text-decoration: none;
  cursor: pointer;
}

.tabboder{
border-left: 2px solid #4693fe;
margin-left: 20px;
padding-left: 20px;
}

/*.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}*/

/*remove icon*/
.form-group.withIcon [class*='removeSpecificField'] {
  right: 12px;
}

/*checkbox label*/
tr > th > label > span.mirakl-inner{
	margin-left:10px !important;
}
.mirakl-checkbox .mirakl-inner, .mirakl-checkbox i {
    width:18px;
    height:18px;   
}
.mirakl-checkbox.cb-sm i, .mirakl-checkbox.cb-sm .mirakl-inner {
    width:14px;
    height:14px
}
.mirakl-checkbox.cb-md i, .mirakl-checkbox.cb-md .mirakl-inner {
    width:24px;
    height:24px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px
}
.mirakl-checkbox.cb-lg i, .mirakl-checkbox.cb-lg .mirakl-inner {
    width:30px;
    height:30px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px
}
.mirakl-radio .mirakl-inner {
    width:18px;
    height:18px
}
.mirakl-radio.cb-sm .mirakl-inner {
    width:14px;
    height:14px
}
.mirakl-radio.cb-md .mirakl-inner {
    width:24px;
    height:24px
}
.mirakl-radio.cb-lg .mirakl-inner {
    width:30px;
    height:30px
}
.mirakl-checkbox, .mirakl-radio {
    padding:3px 0;
    color:inherit;
    cursor:pointer;
    overflow:hidden;
    font-size:inherit;
    font-weight:normal;
    display:inline-block;
    line-height:18px;
    margin-bottom:0px;
}
.mirakl-model-item .mirakl-checkbox,.mirakl-model-item .mirakl-radio {
    left: 15px;
    position: relative;
}
.mirakl-checkbox.disabled, .mirakl-checkbox.disabled *, .mirakl-radio.disabled, .mirakl-radio.disabled * {
    cursor:default
}
.mirakl-checkbox input[type="checkbox"], .mirakl-radio input[type="radio"]{
    display:none
}
.mirakl-checkbox.disabled, .mirakl-checkbox.disabled *, .mirakl-radio.disabled, .mirakl-radio.disabled *
 {
    cursor:default
}
.mirakl-checkbox.disabled {
    color:#ddd
}
.mirakl-checkbox.disabled .mirakl-inner {
    color:#ddd
}
.mirakl-checkbox.disabled:hover .mirakl-inner {
    border-color:#ddd
}
.mirakl-checkbox.disabled.checked .mirakl-inner {
    background-color:#ddd;
    border-color:#ddd
}
.mirakl-radio.disabled {
    color:#ddd
}
.mirakl-radio.disabled .mirakl-inner {
    border-color:#ddd
}
.mirakl-radio.disabled i {
    background-color:transparent
}
.mirakl-radio.disabled.checked .mirakl-inner {
    border-color:#ddd
}
.mirakl-radio.disabled.checked .mirakl-inner i {
    background-color:#ddd
}
.mirakl-radio.disabled:hover .mirakl-inner {
    border-color:#ddd
}
.mirakl-checkbox .mirakl-inner {
    float:left;
    overflow:hidden;
    margin:0 5px 0 0;
    position:relative;
    background:white;
    display:inline-block;
    border:1px solid #d4d4d4;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease
}
.mirakl-checkbox i {
    top:1px;
    left:2px;
    display:block;
    position:absolute
}
.mirakl-checkbox i:before, .mirakl-checkbox i:after {
    height:0;
    width:2px;
    content:"";
    display:block;
    position:absolute;
    background-color:white;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease
}
.mirakl-checkbox i:before {
    top:0;
    left:0;
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.mirakl-checkbox i:after {
    left:7px;
    bottom:5px;
    -moz-transition-delay:0.3s;
    -o-transition-delay:0.3s;
    -webkit-transition-delay:0.3s;
    transition-delay:0.3s;
    -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    transform:rotate(30deg)
}
.mirakl-radio .mirakl-inner {
    float:left;
    overflow:hidden;
    margin:0 5px 0 0;
    position:relative;
    display:inline-block;
    border: 1px solid #d4d4d4;
    background-color:white;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    -moz-transition:all 0.1s ease;
    -o-transition:all 0.1s ease;
    -webkit-transition:all 0.1s ease;
    transition:all 0.1s ease
}
.mirakl-radio i {
    width:6px;
    height:6px;
    position:absolute;
    background-color:transparent;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    -moz-transform:scale(0.05, 5);
    -ms-transform:scale(0.05, 5);
    -webkit-transform:scale(0.05, 5);
    transform:scale(0.05, 5);
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mirakl-checkbox.cb-sm, .mirakl-radio.cb-sm {
    line-height:14px
}
.mirakl-checkbox.cb-md, .mirakl-radio.cb-md {
    line-height:24px
}
.mirakl-checkbox.cb-lg, .mirakl-radio.cb-lg {
    line-height:30px
}
.mirakl-checkbox.cb-sm i:before {
    top:4px;
    left:1px
}
.mirakl-checkbox.cb-sm i:after {
    left:5px
}
.mirakl-checkbox.cb-md i:before {
    top:10px;
    left:5px
}
.mirakl-checkbox.cb-md i:after {
    bottom:6px;
    left:11px
}
.mirakl-checkbox.checked .mirakl-inner {
    border-color:#4693fe;
    background-color:#4693fe;
}
.mirakl-checkbox.checked.cb-sm i:before {
    top:4px;
    left:1px
}
.mirakl-checkbox.checked.cb-sm i:after {
    height:9px
}
.mirakl-checkbox.checked.cb-md i:before {
    top:10px;
    left:4px;
    height:8px
}
.mirakl-checkbox.checked.cb-md i:after {
    bottom:6px;
    left:11px;
    height:16px
}
.mirakl-checkbox.checked.cb-lg i:before {
    top:11px;
    left:6px;
    height:12px
}
.mirakl-checkbox.checked.cb-lg i:after {
    left:14px;
    bottom:7px;
    height:20px
}
.mirakl-checkbox.checked i:before {
    top:6px;
    left:2px;
    height:6px
}
.mirakl-checkbox.checked i:after {
    height:10px
}
.mirakl-radio.checked .mirakl-inner {
    background:#fff;
    box-shadow:0 0 3px #efefef;
    border:1px solid #4693fe;
}
.mirakl-radio.checked i {
    -moz-transform:scale(1.1, 1.1);
    -ms-transform:scale(1.1, 1.1);
    -webkit-transform:scale(1.1, 1.1);
    transform:scale(1.1, 1.1);
    background-color:#4693fe;   
}
.mirakl-checkbox:hover .mirakl-inner, .mirakl-radio:hover .mirakl-inner {
    /*border-color:#3877DC*/
}
.is-hidden {
    display:none !important;
    visibility:hidden !important;
}

/*chosen-container*/
.mirakl-model-item .form-group.withIcon .chosen-container{
  width: 80% !important;
}
.mirakl-model-item .form-group.withIcon .col-sm-5 .chosen-container, .mirakl-model-item .form-group.withIcon .col-sm-5 input{
  width: 80% !important;
}

/*Select Group*/
li.group-result {
  color: #4693fe !important;
}

/*Mapping Color*/
.a-value-colorpicker{
  text-decoration: none;
  cursor: pointer;
}
.a-value-colorpicker:hover{
  text-decoration: none;
  cursor: pointer;
}

/* Matching */
.mirakl-content{
    background-color: #ECF4FF;
}
.mirakl-automaton-matching-body-header
{
    border-right: 0 !important;
    color:grey;
}
.mirakl-automaton-matching-body-header
{
    width:100%;
}
.mirakl-automaton-matching-body-header td
{
    width: 50%;
    padding: 10px 0;
}
.mirakl-automaton-matching-body-header td img
{
    margin-left: 10px;
    width:20px;
}
#mirakl-automaton-matching-products-loader
{
    position: relative;
    margin-top: 5px;    
    top:0;
    width:100%;
    height: 80%;
    text-align:center;
}
#mirakl-automaton-matching-products
{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    width: 100%;
    height: 100%;
}

.matching-product-left
{
    width:49%;
    float:left;
    clear:left;
    padding: 5px;   
    border-right:1px solid gainsboro;
    margin: 5px;
}
.matching-product-right
{
    width:48%;
    float: right;
    padding: 5px;  
    margin: 5px;
}
.matching-product-right .content
{
    font-size: 12px;
    line-height: 2;
}
.matching-product-left .content
{
    padding-left:10px;
    font-size: 12px;
    line-height: 2;
}
#mirakl-automaton-matching-products .name
{
    font-weight: bold;
}
#mirakl-automaton-matching-products .image
{
    border:1px solid silver;
    background-color: white;
    width:64px;
    height:64px;    
    text-align:center;
    padding: 5px;
    margin: 5px;
}
#mirakl-automaton-matching-products .image img
{
    height:64px;
    max-width:64px;
}
#mirakl-automaton-matching-products .selectable
{
    border:2px solid transparent;
    height: 90px;
}
#mirakl-automaton-matching-products .selectable:hover
{
    opacity: 0.9;
    background-color:lightgray;
    cursor:pointer;
}
#mirakl-automaton-matching-products .selected
{
    border: 2px solid #4693fe;
}
.mirakl-automaton-matching-product
{
   position:relative;
   width:100%;
   height: 90px;
}

.mirakl-automaton-matching-product[rel=matched]:nth-child(odd)
{
    background-color: #ECF4FF; 
    border-top:5px solid white;
    border-bottom:5px solid #ECF4FF;   
    margin-bottom: 5px
}
.mirakl-automaton-matching-product[rel=matched]:nth-child(even)
{
    background-color:white; 
    border-top:5px solid white;
    border-bottom:5px solid white;   
}
.mirakl-automaton-matching-product[rel=unmatched]
{
    background-image: repeating-linear-gradient(45deg, whitesmoke 0px, whitesmoke 25px, transparent 25px, transparent 50px, whitesmoke 50px);
    border-top:5px solid white;
    border-bottom:5px solid white;
}

#mirakl-automaton-matching-options, #mirakl-automaton-matching-actions, #mirakl-automaton-matching-other
{
   
}
#mirakl-automaton-matching-options legend, #mirakl-automaton-matching-actions legend, #mirakl-automaton-matching-other legend
{
    background-color:whitesmoke;
}
#mirakl-automaton-matching-options div
{
    margin-top:15px;
}
#mirakl-automaton-matching-actions
{
    width:220px;
}
.mirakl-automaton-matching-action-icon
{
    display:inline-block;
    height:32px;
    width: 32px;
}

#mirakl-automaton-matching-action-reject span
{
    background-image: url('../images/icon-cancel.png');    
}
#mirakl-automaton-matching-action-confirm span
{
    background-image: url('../images/icon-valid.png');    
}
#mirakl-automaton-matching-action-select span
{
    background-image: url('../images/select.png');    
}


.mirakl-automaton-matching-action-button
{
    display:inline-block;
    border:1px solid #f8f8f8; 
    min-width:50px; 
    max-width:80px;     
    font-size:11px;cursor: pointer; float: left; padding: 3px 5px; text-shadow: 0 1px 0 #ffffff;
    text-align: center;
    margin:0 20px 0 20px;
    opacity:0.8;
}
.mirakl-automaton-matching-action-button:hover
{
    background-color:white; border:1px inset lightgrey; 
    border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;-o-border-radius:3px; 
    opacity:1;
}

#mirakl-automaton-matching-products .mirakl-automaton-matching-product-processing-error, #mirakl-automaton-matching-products .mirakl-automaton-matching-product-processing-reject
{
    background: transparent url('../images/loader.gif') no-repeat center center;
    background-color:rgba(254,0,0,0.5);
}

#mirakl-automaton-matching-products .mirakl-automaton-matching-product-processing-ok
{
    background: transparent url('../images/loader.gif') no-repeat center center;
    background-color:rgba(47,47,47,0.7);
}

.mirakl-automaton-matching-product .mismatch
{
    display:none;
    float:right;
    position:relative;
    width:20px;
    height:20px;
    margin-right: 5px;
}

body.page-sidebar #mirakl-automaton-matching-window legend {
    background: #EBEDF4;
    border: 1px solid #CCCED7;
    font-weight: 700;
    margin: 0;
    padding: .2em .5em;
    text-align: left;
    background-color: whitesmoke;
}

#mirakl-content .disabled{
    color: #B3B3B3;
    border: none;
    background-color: #E6E6E6;
    /*cursor: not-allowed;*/
}
.disabled img{
    display: none;
}

.feedbizloader{
    display: inline-table;
}
.feedbizcolor{
    background: transparent url('../../../images/feedbiz_sprite.png') 0 0 no-repeat;
    width: 60px;
    height: 60px;
    z-index: 2000;
    cursor: pointer;
}

/*Save danger btn */
.btn-danger {
    background-color: #d9534f !important;
}

.popup_prev
{    
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    width: 95%;
    bottom: 0;
    z-index: 99;
}

/*Order Status*/
.order_status{
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
}
.order_status.unshiped {
    background-color: rgb(255, 173, 128);
    border: 1px solid rgb(255, 173, 128);
}
.order_status.shipped {
    background-color: rgb(55, 199, 140);
    border: 1px solid rgb(55, 199, 140);
}
.order_status.canceled {
    background-color: rgb(229, 57, 98);
    border: 1px solid rgb(229, 57, 98);
}
.badge-info {
  background-color: #C2C2C2;
  /*color: #777777;*/
}

/*Error Resolution*/
/*div.error_details{
  padding-left: 5%;
}*/
.error_details{

}
.error_details_header {
  width: 90% !important;
}
.error_details_wrapper .dataTables_wrapper.no-footer {
  position: relative;
  width: 90%;
}
.mirakl-responsive-table.error_details tr{
  cursor: pointer;
}
.mirakl-responsive-table > tbody > tr.selected{
  background-color: #ddebff !important;
  border: none;
  border-bottom: 1px solid #ededed;
}
/*.mirakl-responsive-table tr.selected > td{
	color:#fff;
}*/
div[id*=mirakl_error_].dataTables_info{
  /*margin-left: 5%;*/
}
div[id*=mirakl_error_].dataTables_paginate{
  /*margin-right: 5%;*/
}
div[id*=mirakl_error_].dataTables_wrapper .dataTables_length {
  left: 0;
  top: 0;
  position: relative;
}
.header-control{
  position: relative;
  z-index:99;
}
.cole-xs-12.pull-right.btn-control {
  /*margin-right: 5%;*/
}
@media (max-width: 767px){
.dataTables_wrapper .dataTables_length {
   top: -48px; 
}
}
/*error item*/
.error_details_item{
  background-color: rgb(255, 184, 184) !important;
  border: 2px solid rgb(255, 81, 81);
}

/*Input File*/
.mirakl-responsive-table input[type="file"] {
    display: none;
}
.file_upload{
  color: white !important;
}

/*Disabled Selection*/
#carrier-mapping .chosen-disabled{
  background-color: #F5F5F5;
  border: none;
}
#carrier-mapping .chosen-disabled .button-select{
  display: none;
}
#carrier-mapping .chosen-disabled a>span {
  cursor: inherit;
  text-align: center;
  color: #474747 !important;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat',sans-serif !important;
  font-weight: 700 !important;
}

/*Report*/
.error_logs{
  padding-left: 10px;
  border-left: 2px solid #4693fe;
}
.feed_error{
  color: red;
}
#product_logs tr:hover{
  cursor: pointer;
  background-color: #ddebff;
}

/*tooltips*/
.tooltips{
  text-decoration: none;
  font-style: inherit;
  border-bottom: 1px dashed rgba(255, 150, 0, 0.40);
  padding-bottom: 2px;
  cursor: pointer;
}

.recommended, .required {
  padding: 1px 5px;
  border: 1px solid #cbe1ff;
  background-color: #ddebff;
  color: #7aa2cc;
  font-weight: 400;
  font-size: 11px;
  text-transform: capitalize;
  border-radius: 3px;
  margin-left: 5px;
} 
.required {
  border: 1px solid #FFCBCB;
  background-color: #FFDDE2;
  color: #CC7A91;
}

.content-tooltips {
  float: left;
  display: block;
  width: 80%;
}
.icon_tooltips{
  float: left;
  display: block;
  width: 45px;
}

/* Add Custom Value 08/07/2015 */
#attribute-mapping .custom_value{
  color: red !important;
}

/* Repricing */
#repricing-queue-check-message-content p.error{
  color: red;
  font-size: 13px; 
}

/* Order */
a.address_name {
  color: #777777;
  cursor: pointer;
  text-decoration: none;
}
a.address_name:hover {
  color: #4693fe;
}
input.address_name_input{
  width: 80%;
  height: 25px;
}