.amazonTableLogs .head_text .form-control{
	height: 25px;
	padding: 10px;
}
 .amazonTableLogs .head_text .chosen-container{
	height: 25px;
}
.amazonTableLogs .head_text .chosen-container .chosen-single{
	padding-top: 0;
	height: 25px;
}
.amazonTableLogs .head_text .chosen-container .chosen-single .button-select {
	width: 25px;
	height: 23px;
}

.showColumns  label.check_filter{
    margin: 0 20px 0 0;
    border-right: 1px solid #ccc;
    padding: 0 20px 0 0;
}