﻿label span.b-blue{
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed #4693fe;
    padding-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
    line-height: 1.6em;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.progressbar {
    width: 100%;
    margin: 0;
    padding-left: 0;
    z-index: initial !important;
}
#cboxLoadedContent{
    padding: 50px;
    line-height: 1.2em;
    font-size: 16px;
}
span#filters{
    color: #4693fe;
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed #4693fe;
    padding-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}
span#seller_central{
    color: #4693fe;
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed #4693fe;
    padding-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}