.profile-info-name{width: 220px;}
.profile-info-value{margin-left: 230px;}
.uppercase{text-transform: uppercase;}
.w100{ width:100px;}
.w150{ width:150px;}
.w60{ width:60px;}
.padding_set{padding: 10px 15px;}