/*.notifications ul{margin:0px;padding:0px; list-style: none; float: left; width:100%}
.notifications ul li:hover{ background-color:#efefef}*/
.notifications ul{list-style: none;}
.notifications ul li.none_read{ background-color:#efefef}
.notifications ul li.read{ background-color:#ffffff}
.notifications ul li{float: left;clear: both;width:100%; margin:0px; position: relative;  padding: 10px 0; border-bottom: 1px solid #e2e2e2}
.notifications ul li:last-child{ border-bottom:none;}
.notifications .ui_title a {color:#4693fe;font-size:14px;}
.notifications .ui_title{ margin:2px 0 0 16px;}
.notifications .ui_time { margin:2px 0 0 16px;color:#999999;font-size:12px;}
.notifications .ui_close { position:absolute; right:10px; top:27px; font-size: 10px;  border-radius: 41px; width:15px; height: 15px; background-image: url('../../../images/icons/sprites.png') !important; background-position: -34px -312px;cursor:pointer; }
.notifications .ui_close:hover { position:absolute; right:10px; top:27px; font-size: 10px;  border-radius: 41px; width:15px; height: 15px; background-image: url('../../../images/icons/sprites.png') !important; background-position: -64px -312px;cursor:pointer; }
.notifications .ui_mark_read {position: absolute;right: 12px;top: 15px;font-size: 10px;border-radius: 41px;width: 10px;height: 10px;background-image: url('../../../images/icons/sprites.png') !important;background-position: -5px -335px;cursor:pointer;}
.notifications .ui_mark_read:hover {position: absolute;right: 12px;top: 15px;font-size: 10px;border-radius: 41px;width: 10px;height: 10px;background-image: url('../../../images/icons/sprites.png') !important;background-position: -20px -335px;cursor:pointer;}
.notifications li:hover .ui_close { opacity: 0.8}