.w20per{ width:20%}
.w80per{ width:80%} 
.top_tab{width:25%; float: left; border-bottom: none; border-right: 1px solid #e5e5e5}
.marginl20{ margin-left:20px;}
.display-none{display: none;}
.fix_height20{ height: 20px;}
img.icon-big-circle{background: none !important; background-image: none !important;}