.font-size15{font-size:15px;}
.paddl0{padding-left:0px;}
.marginl0{margin-left:0px;}
.padd15{padding:15px;}
/*#email_return_message{margin-top: 5px;padding: 10px;}*/
#form_group{height: 153px;}
.display-none{display: none;}
/*#captchadiv {position: absolute;left: 12px;}*/