.w20per{ width:20%}
.w80per{ width:80%} 
.top_tab{width:25%; float: left; border-bottom: none; border-right: 1px solid #e5e5e5}
.marginl20{ margin-left:20px;}
.display-none{display: none;}
.fix_height20{ height: 20px;}
img.icon-big-circle{background: none !important; background-image: none !important;}
 p.regRoboto{ text-align: left;}
.padding_left_100{ padding-left: 100px;}
.padding_left_150{ padding-left: 150px;}
#otp_form_cv{ display: inline-block}
#otp_form_cv p{ float: left}
#otp_confirm{     width: 100px;    display: inline-block;    margin: 0 0 0 20px;}
#otp_submit{     margin: 2px 0 0 20px;  }
#otp_form_status_cv p{ float:left; margin:3px 0 0 0;color: #00ce88;}
#otp_form_status_cv .cb-switcher{ margin-left:20px;}