* { margin:0; padding:0; } /* to remove the top and left whitespace */
html, body { width:100%; height:100%; } /* just to be sure these are full screen*/
canvas { display:block;line-height: 250px; }
.progress_text  .error{ display: none; }
button.wizard_btn{ width:70%; white-space: normal; }
a.btn_link{ white-space: normal;} 
a.btn-default{white-space: pre-wrap;}
.gauge-wrapper { margin:49px auto 0 auto; width:220px;  height: 120px; position: relative; -webkit-transform: translate3d(0, 0, 0);  transform: translateZ(0);  -webkit-backface-visibility: hidden;  -webkit-perspective: 1000;  backface-visibility: hidden; perspective: 1000;}
.gauge2,.gauge1 {  position: absolute;  top: 0px;  left: 0px;  width: 220px;  height: 220px;}
.box-wrap {  height: 110px;  width: 220px;  overflow: hidden;  position: relative;}
.box {  transition: 2s all;  top: 0px;  left: 0px;  position: absolute;  width: 220px;  height: 220px;  border: 30px solid #ccc;  border-radius: 50%;  clip: rect(0, 240px, 110px, 0px);  
        -webkit-transform: rotate(0deg);}
.gauge2 {  top: 0px;  left: 0px;}
.gauge3 {  top: 4px;left: 4px;position: absolute;}
.gauge2 .box {  border: 30px solid #424242;  width: 220px;  height: 220px;  clip: rect(0, 240px, 110px, 0px);  
                -webkit-transform: rotate(-180deg);}
.gauge2 .box-wrap {  height: 110px;  width: 220px;}
/*.gauge3 .box {  border: 26px solid #2ecc71;  width: 160px;  height: 160px;  clip: rect(0, 240px, 106px, 0px);  */
/*       -webkit-transform: rotate(-180deg);}*/
.gauge3 .box {  border: 22px solid #5DB71C;  width: 210px;  height: 210px;  clip: rect(0, 240px, 106px, 0px);  
                -webkit-transform: rotate(-180deg);}
.gauge3 .box-wrap {  height: 106px;  width: 220px;}
/*#leb_prods span{color:#354f7e; font-weight: normal}*/
/*#num_prods{font-size: 26px;font-weight: bold;margin-top: 3px;}*/
/*#num_prods span{ color:#354f7e}*/
#num_perc{font-size: 30px;font-weight: bold;top: 110px;position: absolute;width: 100%;}
#txt_perc{position: absolute;top: 141px;width: 100%;}
#min_perc{position: absolute;left: 50%;margin-left: -99px;bottom: 5px;}
#max_perc{position: absolute;left: 50%;margin-left: 76px;bottom: 5px;}
#best_cat_list li.row-fluid{margin:0 }
#best_cat_list li.row-fluid [class*="span"]{ min-height: 22px}
#best_cat_list li.row-fluid .right-align{ text-align: right}
#configuration_checklist .alert{margin-bottom: 2px;}
/*button.wizard_btn{margin:0 30px 10px 30px}*/
#tb_act a:hover{ text-decoration: none}
#marketplace_cv{ padding:0px;}
.rating{ position: relative;margin-bottom: 5px;}
#submit_ratting_cv { display: none; width: 100%; height: 100%; background:#fff; position: absolute; top:0; left:0; z-index: 9; text-align: center }
#submit_ratting_cv>span {font-size: 15px;color: #555;margin-top: -3px;display: block;position: relative;top: 0px; }
.widget-row{ float:left;clear:both; width:100%}
#feedbiz_icon {background: transparent url(../../images/feedbiz_sprite.png) 0 0 no-repeat;width: 60px;height: 60px;z-index: 2000; display:inline-block}
#cd_fb .cd_proc_img { margin:-10px 0 10px 0}
div.countdown{ color:black;transition:1s; font-size: 16px; text-align: center; padding-top:5px;width: 100%;margin: 0 auto;}
.disabled div.countdown{ font-size: 16px;}
div.cd_proc_count{ height: 35px;}
div.cntSeparator{font-size:28px}
span.txt{vertical-align: bottom}
p.text-small{padding-top: 5px}
div.front{min-height: 230px;max-height: 230px}
.go_title{margin-top: 5px;margin-bottom: 5px;/*margin-left: 20px;*/}
.chart_cv{min-height:315px;overflow: hidden;}
#chart_donut_product{min-width: 290px;left: 100%;margin-left: -200%;}
.order_itm_body{ min-height:400px}
.total_sale_cv{min-height:400px}
.border_btm_none { border-bottom-width: 0px}
#chartdonut{ height:200px}
#chartdonut_order{ height:200px}
svg{width: 100%;height: 300px;overflow: visible}
path.slice{stroke: #fafafa;stroke-width:5px;transition: all 100ms ease-out;-webkit-transition: all -moz-transform .1s ease-out;-moz-transition: all -webkit-transform .1s ease-out;-o-transition:all -webkit-transform .1s ease-out}
path.slice:hover{stroke: #fafafa;stroke-width:5px;transform: scale(1.1);}
#chartdonut svg{overflow: visible}
polyline{opacity: .3;stroke: #999999;stroke-width: 1px;fill: none}
.slim-scroll .chat-items{min-height: 110px;height: 110px}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
svg {
width: 100%;
height: 350px;
overflow: visible !important;
margin-top: 20px;
}
.minichart svg{ margin-top:0;}
.countdownHolder .countHours, .countdownHolder .countMinutes, .countdownHolder .countSeconds{ border:none !important;}
div.countdown.countdownHolder { max-width:126px; padding-top:0px; border: 1px solid #4693fe; border-radius: 5px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;  -ms-border-radius: 5px;  -o-border-radius: 5px;}
.pay .pay_list li.pay_item{ margin:0 3px 0 0;}