.panel.panel-default a.link.collapsed:before {
    content: "\f105";
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #4693FE;
}

.panel.panel-default a.link:before {
    content: "\f107";
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #4693FE;
}

.panel {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default>.panel-heading {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.panel-heading {
    padding: 0;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.panel-body {
    padding: 0;
}