html{width:99%}
.wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {border-color: #87b87f;}
ul.wizard-steps{ margin:20px auto}
ul.wizard-steps li{ min-width: 25%; max-width: 25%;}