
table.jsTT {
	/*margin-top: 10px;
	border-collapse: collapse;
	border: 1px solid #686a66;
	table-layout: fixed;*/
	width: 100%;
	font-size: 11px !important;
	color: #ababab;
	/*font-weight: 400;*/
}

table.jsTT th {
	/*background-color: #9a9c97;
	color: white;
	border: 1px solid #686a66;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;*/

}

table.jsTT td {
	/*position: static;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding-left: 8px;
	padding-right: 8px;*/
}

table.jsTT tr[data-tt-level="1"] td:first-child {
	/*background-color: #c6c9c3;*/
}

table.jsTT tr[data-tt-level="2"] td:first-child {
	/*background-color: #dbdfd8;*/
}

table.jsTT tr[data-tt-level="3"] td:first-child {
	/*background-color: #f1f2f0;*/
}

table.jsTT tr:hover td {
	/*font-style: italic;
	border-bottom: 1px solid #999;*/
}

table.jsTT tr:hover td:first-child {
	font-style: inherit;
	border-bottom: inherit;
}