{include file="header.tpl"}
{include file="sidebar.tpl"}
{ci_config name="base_url"}
	<div class="container-fluid">
		<div class="row">
                    <div id="main"></div>
		</div>
	</div>
<script type="text/javascript">
var base_url = 'http://dev.db.dev/';
var cdn_url = 'http://dev.db.dev/';
var id_package = '3';
</script>
{*<script type="text/javascript" src="https://npmcdn.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/react.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/react-redux.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/react-dom.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/browser.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/redux.min.js"></script>
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/specific/react/expect.min.js"></script>*}
<script type="text/javascript" src="{$cdn_url}assets/js/FeedBiz/ebay/jsx/error_resolutions/output/bundle.js"></script>
{include file="footer.tpl"}