div.form-group > div.innerAll { display: inline-block; padding:0 15px; width:100%}
div.form-group > div.innerAll img { padding-right:15px }
div.form-group > div.innerAll img#woo{ margin-left:-22px}
div.simg { width:80%; max-width: 113px; height: 58px; position: relative; background-repeat: no-repeat; background-position: center center ; background-size: contain; float:right }
@media screen and (max-width: 991px){ div.simg{ max-width: 78px; max-height: 47px;} }
#presta.simg{background-image:url('../../../images/module/prestashop.png')}
#opencart.simg{background-image:url('../../../images/module/opencart.png')}
#magento.simg{background-image:url('../../../images/module/magento.png')}
#shopify.simg{background-image:url('../../../images/module/shopify.png')}
#woo.simg{background-image:url('../../../images/module/woocommerce.png')}
 #tab-1 .tab-content.profile-edit-tab-content{ overflow: visible !important}
