#my_orders button.btn-fba {    
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 12px;
}
#my_orders button.cancel_fba{
	color: red;
}
#my_orders button.create_fba{
	color: white;
	background: #00CE88;
	width: 82px ;
}
 #my_orders button.created_fba{
	width: 82px ;
}
#my_orders button.fail_fba{
	color: white;
	background: #E53962;
	width: 82px ;
}
#my_orders button.info_fba{
	color: #5A9EFC;
	background: none;
}
#my_orders button.link.disabled{
	color: #CCC;
	text-decoration: none;
}
#my_orders .badge{
    font-weight: normal;
    text-transform: capitalize;
}
#my_orders .badge.badge-cancelled{
	background: #E53962;
}
#my_orders .badge.badge-status{
	background: #C7DAF4;
}
#my_orders .badge.badge-complete{
	background: #00ce88;
}
.tooltips {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(255, 150, 0, 0.40);
    padding-bottom: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}
#my_orders .tr-red{
    background: rgba(243, 135, 132, 0.15);
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
#my_orders .tr-red:hover{
    background: rgba(217, 83, 79, 0.15);    
}