.table_detail tr td{
    vertical-align: top;
}
.table_detail tr td input[type='text']{
    height: 25px;
}
.table_detail.transparent{
    opacity: 0.5;
}
#product_options tbody tr td{
    color: #AAAAAA;
}
#product_options tbody tr td.active{
    color: #000000;
}

#product_options tbody tr td.active > label {
    color: #000000 !important;
}

#product_options .form-group.withIcon input,
#product_options .form-group.withIcon .chosen-container{
  width: 100% !important; 
  margin-bottom: 0px !important;  
}
#product_options .form-group.withIcon [class*='cb-']{
    position: relative;
    right: auto;
}

p.error{
    color: #C9C9C9;
    font-family: Roboto,sans-serif!important;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

label.cb-checkbox.disabled > span.cb-inner {
    background: #ddd;
}

label.cb-checkbox.disabled > span.cb-inner > i {
    cursor: not-allowed;
}

.row-edit {
    /*border-left: 3px solid #4693FE;
    margin-left: 25px;*/
    background: #ffffff;
}
@media (max-width: 767px){
    .dataTables_wrapper .dataTables_length label {
        margin-top: 25px !important;
        width: 100%;
    }
}

.responsive-table{
    margin-top: 0;
}

.responsive-table thead tr, .table thead tr, .responsive-table tfoot tr, .table tfoot tr{
    border-bottom:none;
}

tr.background-gray {
    border-left: 1px solid #4693FE;
    border-right: 1px solid #4693FE;
}

tr.group.shown {
    border-left: 1px solid #4693FE;
    border-right: 1px solid #4693FE;
}

tr.group {
    border-top: 1px solid #4693FE !important;
}

.responsive-table tbody tr.editing{
    border-left: 1px solid #4693FE;
    border-right: 1px solid #4693FE;
}

.responsive-table thead tr th.sorting:before, .table thead tr th.sorting:before, .responsive-table tfoot tr th.sorting:before, .table tfoot tr th.sorting:before{
    top:28px;
}
/*
#product_options_form .responsive-table tbody tr:last-child, .table tbody tr:last-child {
  border-bottom: 1px solid #4693FE;
}

.responsive-table tbody tr:last-child, .table tbody tr:last-child {
  border-bottom: 1px solid #e2e2e2 !important;
}*/

.table_detail tbody tr:nth-child(odd) {
    background-color: transparent !important;
}

.responsive-table tbody tr:last-child, .table tbody tr:last-child {
    border-bottom: none;
}

#product_options_wrapper > .responsive-table > tbody > tr:last-child {
    border-bottom: 1px solid #4693FE;
}

#product_options .link.disabled{
    cursor: default;
    color: #C0C0C0;
    text-decoration: none;
}

.responsive-table thead tr th.sorting_disabled, .table thead tr th.sorting_disabled, .responsive-table tfoot tr th.sorting_disabled, .table tfoot tr th.sorting_disabled {
    padding-left: 10px;
}

.responsive-table thead tr th, .table thead tr th, .responsive-table tfoot tr th, .table tfoot tr th {
    padding: 10px 10px;
}

.table_detail tr td{
    text-align: left;
}

#product_options .link.reset{
    color: red;
    margin-left: 5px;
}
#product_options button.link, #category_options button.link{
    margin-right: 5px;
    color: #37c78c;
}

/*search-category*/
#search-category  {
    /*left: 0px;
    position: relative; 
    float: left;
    top: -40px;
    top: -1px;
    left: 250px;
    width: 50%;*/
}
#search-category .chosen-container{
    height: 32px;
    border: 1px solid #ccc;
    width: 280px !important;
}
#search-category .chosen-container .chosen-single{
    padding-top: 2px;
    /*height: 29px;*/
}
#search-category .chosen-container .chosen-single .button-select {
    width: 30px;
    height: 30px;
}
#search-category .chosen-container .chosen-single .button-select b {
    /*height: 12px;*/
}
#search-category .chosen-container .chosen-single span{
    color: #AFAFAF;  
}
#search-category .chosen-container .chosen-drop .chosen-results li.active-result.parent{
    font-weight: bold;
}

.tree label{
    text-transform: initial;
    color: #777 !important;
    font-family: sans-serif !important;
    font-weight: 100 !important;
}

table.tree span.tree_item {
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    position: absolute;
    top: -20px;
    width: 20px;
}
table.tree p.tree_item {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-bottom: 0;
    z-index: 10;
    padding-left: 15px;
    margin-left: -2px;
}
table.tree tr th label {
    position: absolute;
    padding-left: 25px;
    bottom: 20px;
}
table.tree .tree_item p {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-bottom: 0;
    z-index: 10;
    padding-left: 15px;
    margin-left: 5px;
}
table.tree .tree_item i {
    z-index: 999;
    background-color: #ffffff;
}

/* Price Override */
.table_detail .input-group {
    position: absolute;
}
.table_detail .input-group .form-control:last-child {
    height: 26px;
}
.table_detail p.price-error{
    color: red;
}
.asin {
    border-left: 1px solid #4693fe;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    /* padding-top: 10px; */
    margin-bottom: 10px;
    margin-left: 0;
    /* margin-top: 10px; */
}

input.form-control{
    max-height: 2.7em;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
    line-height: 1.6em;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.progressbar {
    width: 100%;
    margin: 0;
    padding-left: 0;
}


@media (max-width: 992px){
    .responsive-table tbody tr td, .table tbody tr td{
        padding-bottom: 0;
    }
    .responsive-table td, .tableLog td {
        text-align: left;
    }
}


@media (max-width: 992px){
    .responsive-table{
        position: relative;
    }
    .responsive-table .table-head, .tableLog .table-head, .responsive-table .table-foot, .tableLog .table-foot {
        display: inline-table;
    }
    .responsive-table .table-head{
        display: table-header-group;
        /*height: 57px;*/
    }
    .responsive-table .table-head > tr:first-child{

        /*width: 100%;*/
        /*position: absolute;*/
        background: transparent;
    }
    .responsive-table .table-head > tr > th:first-child{
        /*float: right;*/
        width: 100%;
    }
    .responsive-table .table-head > tr:not(:first-child) {
        display: none;
    }
    .showColumns.clearfix{
        right: 150px;
    }
    #product_options_length > label{
        margin-top: 10px !important;
    }
}

.responsive-table thead tr th.sorting_asc:before, .table thead tr th.sorting_asc:before, .responsive-table tfoot tr th.sorting_asc:before, .table tfoot tr th.sorting_asc:before{
    top: 2.2em;
    left: 4.5em;
}

/*Date Picker*/
.ui-datepicker-buttonpane.ui-widget-content {
    background: white;
    width: 100%;
    padding: 10px;
    text-align: right;
    border: 1px solid #e2e2e2;
    border-top: none;
}

button.ui-state-default.ui-corner-all {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   font-size: 0.7em;
}
button.ui-priority-secondary {
    background: #4693FE;
    color: #FFF;
    margin-right: 5px;
}