.notFound{
	.headSettings_head{
		span{
			.head-size();
			.true-pink();
			.text-norm();
			.m-r20();
			.normal();
		}
	}
	.notFound_reason{
		.main_reason{
			.m-t(20px);
			.m-l(20px);
			li{
				.dark-gray();
				.regRoboto();
				.h4();
			}
		}
		.notFound_reason-point{
			.m-t(20px);
			.m-l(30px);
			.m-r(20px);
			li{
				.light-gray();
				.regRoboto();
				.h4();
			}
		}
	}
}