/*-----------------[ Main color ]-------------------*/

@white:white;
@black:black;

/*---[ Blue ]---*/

@dark-blue:#3978d0;
@true-blue:#4693fe;
@light-blue:#7db3fe;

@recommended-border:#cbe1ff;
@recommended-color:#7aa2cc;

@validate-blue-cell:#c7daf4;
@validate-blue-color:#83a7d9;

@progressbarLight:#a8ccfe;


@poor-blue:#ddebff;

@log:#afd0fe;

@wait:#89bafe;

/*---[ Yellow ]---*/

@poor-yellow:#f9f5cf;

@validate-yellow-cell:#ece2c1;
@validate-yellow-color:#a4895d;

@validate-yellow-icon:#bda781;
@color-validate-yellow:#f9eecf;

/*---[ Green ]---*/

@true-green:#00ce88;
@light-green:#4eddab;

@poor-green:#7ce5ba;

@btn-green:#37c78c;

/*---[ Pink ]---*/

@true-pink:#f74f63;
@light-pink:#f98391;
@poor-pink:#f9d9dd;

@opacity-pink:#f7dadd;

@validate-pink:#f7afb8;

/*---[ Gray ]---*/

@text-color:#777777;
@light-gray:#919191;
@poor-gray:#ababab;
@true-gray:#474747;

/*---[ Line ]---*/

@light-line:#f6f6f6;
@dark-line:#e8e8e8;

@locked:#f1f1f1;

@chart-bg:#fafafa;

/*---[ Brown ]---*/

@brown:#a4985d;

/*---[ Orange ]---*/
@orange:#f7941d;

@warning:#f68e56;

/*-----------------[ Button ]-------------------*/

@verify-hover:#d4d4d4;
@rule-hover:#f3f8ff;

/*-----------------[ Border ]-------------------*/

@input-border:#e2e2e2;
@menu-border:#dddddd;

/*-----------------[ Sidebar ]-------------------*/

@sidebar:#ebebeb;

/*-----------------[ Tabs ]-------------------*/

@tabs-color:#999999;
@tabs-hover:#deebfe;

/*-----------------[ Social ]-------------------*/

@facebook:#3b5998;
@f-border:#537dd5;
@google:#de5543;
@g-border:#ff9486;
@twitter:#28aae1;
@t-border:#73d5ff;
@facebook-hover:#31497d;
@google-hover:#c84d3c;
@twitter-hover:#249bcd;

@pagination:#c6c6c6;
@pagination-hover:#5e5e5e;

/*-----------------[ Color class ]-------------------*/
.black{
	color:@black !important;
}
.white{
	color:@white !important;
}
.poor-gray{
	color:@poor-gray !important;
}
.light-gray{
	color:@light-gray !important;
}
.link{
        cursor: pointer;
	color:@true-blue;
	&:hover, &:focus{
		color:@true-blue;
		text-decoration:underline;
	}
}
.tabsGray{
	color:@tabs-color;
}
.dark-gray{
	color:@true-gray !important;
}
.tooLight-gray{
	color:@tabs-color;
}
.true-pink{
	color:@true-pink;
}
.true-blue{
	color:@true-blue;
}
.light-blue{
	color:@light-blue;
}
.true-green{
	color:@true-green;
}
.p-text{
	color:@text-color;
}
.warning-text{
	color:@warning;
}
/*-----------------[ Background ]-------------------*/
.white-bg{
	background-color:@white;
}
.black-bg{
	background-color:@black;
}
.bg-Sprite{
	background-image:url('../images/icons/sprites.png') !important;
}