.countdownHolder{
	margin:0 auto;
	text-align:center;
	.countHours,
	.countMinutes,
	.countSeconds{
		border:1px solid @true-blue;
		border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			-ms-border-radius:5px;
			-o-border-radius:5px;
		padding: 7px 14px 5px 2px;
		display: inline-block;
	}
	.countHours,
	.countMinutes,
	.countSeconds{
		margin: 0 2px 0 2px;
	}
	.countDays{
		display:none;
	}
	.position{	
		display: inline-block;
		width: 7px;
		position: relative;
		span{
			.h1();
			.regRoboto();
			color:@true-gray;
			font-weight:@bold;
			letter-spacing:-3px;
		}
	}
	.digit {
        position: absolute;
        top: -18px;
    }
}