/*--------------[ Border ]----------------*/
.b-Top{
	border-top:1px solid @input-border;
}
.b-Right{
	border-right:1px solid @input-border;
}
.b-Bottom{
	border-bottom:1px solid @input-border;
}
.b-Left{
	border-left:1px solid @input-border;
}
.pullBorder{
	border:1px solid @input-border;
}
.b-Top-None{
	border-top:none !important;
}
.b-None{
	border:none !important;
}

.b-BlRight{
	border-right:1px solid @true-blue;
}

/*--------------[ Position ]----------------*/

.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.static{
	position:static;
}
.pullCenter{
	.absolute();
	.top-0();
	.bottom-0();
	.right-0();
	.left-0();
	margin:auto;
}

.mAuto{
	margin-left:auto;
	margin-right:auto;
}
/*--------------[ Pull ]----------------*/

.pull-width{
	width:100%;
}
@media all and (min-width:1200px){
	.pull-lg-width{
		width:100%;
	}
}
@media all and (max-width:1199px){
	.pull-md-width{
		width:100%;
	}
}
@media all and (max-width:992px){
	.pull-sm-width{
		width:100%;
	}
}
@media all and (max-width:767px){
	.pull-xs-width{
		width:100%;
	}
}

/*--------------[ List ]----------------*/

[class*="list-circle"]{
	padding-left:17px;
	clear:both;
	li{		
		color:@light-gray;
		.h3();
		.regRoboto();
		clear:both;
		span{
			clear:both;
			font-size:@h2;
			color:@true-gray;
		}		
	}
}
.list-circle-blue{
	li{
		list-style-image: url('../images/icons/list-blue.png');
		margin-bottom:20px;
	}
}
.list-circle-green{
	li{
		list-style-image: url('../images/icons/list-green.png');
		margin-bottom:20px;
	}
}
.list-circle-red{
	li{
		list-style-image: url('../images/icons/list-red.png');
		margin-bottom:20px;
	}
}
.list-circle-yellow{
	li{
		list-style-image: url('../images/icons/list-yellow.png');
		margin-bottom:20px;
	}
}
.list-circle-unstyled{
	li{
		p{			
			margin-bottom:0px;
			span{
				margin-top:-5px;
			}
		}
	}
}
.list-unstyled, .list-circle-unstyled{
	.p-l(0px);
	li{
		list-style:none;
	}
}

/*--------------[ Row Clone ]----------------*/

.showSelectBlock{
	display:none;
	.chosen-container{
		margin-bottom:10px;
	}
}

/*--------------[ Indent ]----------------*/

.p-rl40{
	padding-right:40px;
	padding-left:40px;
}

/*--------------[ Error ]----------------*/

.errorText{
	color:@true-pink;
}
.errorWarning{
	color:@orange;
}

/*--------------[ Transform ]----------------*/

.text-uc{
	text-transform:uppercase;
}

.text-norm{
	text-transform:capitalize;
}


/*--------------[ Display Table ]----------------*/

.dTable{
	display:table;
	div{
		display:table-row;
		div, p{
			display:table-cell;
		}
	}
}
.dSTable{
	&.support{
		margin-bottom:15px;
	}
	.dRow{
		display:table-row;
		.dCell{
			display:table-cell;
			vertical-align: middle;
		}
	}
}

.sendOffer{
	margin-left:165px;
}

/*--------------[ Image Table ]----------------*/

.image-table{
	width:30px;
	height:30px;
	margin-right:10px;
	margin-top: -5px;
	float:left;
}

/*--------------[ Margin ]----------------*/
.m-t65{
	margin-top:65px;
}
.m(@size){
	margin:@size;
}
.m-t(@size){
	margin-top:@size;
}
.m-r(@size){
	margin-right:@size;
}
.m-b(@size){
	margin-bottom:@size;
}
.m-l(@size){
	margin-left:@size;
}

/*--------------[ Padding ]----------------*/

.p(@size){
	padding:@size;
}
.p-t(@size){
	padding-top:@size;
}
.p-r(@size){
	padding-right:@size;
}
.p-b(@size){
	padding-bottom:@size;
}
.p-l(@size){
	padding-left:@size;
}
.p-tb(@size){
	padding-top:@size;
	padding-bottom:@size;
}