.configuration{
	label{
		width:100%;
		.cb-inner{
			float:right;
		}
	}
}
.flag{
	width:32px;
	height:32px;
}
.amazonLogs{
	width:300px;
	float:left;
	margin-right:20px;
}
.logs{
	.p(20px);
	background-color:@true-blue;
	.m-b(1px);
	.logs_head{
		.text-uc();
		color:@white;
		.montserrat();
		.h4();
		.p(0px);
		.m(0px);		
	}
	.logs_text{
		.text-uc();
		color:@white;
		.montserrat();
		.m-t(0px);		
	}
	.logsContent{
		border-right:1px solid @white;			
	}
	.logs_text-content{
		.text-uc();
		.montserrat();
		.h4();
		color:@white;
		.m-b(0px);
		span{
			color:@log;
			.regRoboto();
			.smallText();
		}
		&.emptyLog{
			.p-t(7px);
			span{
				.h2();
			}			
		}
	}
	&.drown{
		background-color:@sidebar;
		.logs_text{
			color:@true-gray;
		}
		.logsContent{
			border-right:1px solid @text-color;			
		}
		.logs_text-content{
			color:@pagination-hover;
			span{
				color:@poor-gray;
			}
		}
	}
}

.amazonTableLogs{
	margin-left:320px;	
	position:relative;
}

.tableLog{	
	thead{
		tr{
			
			th{
				padding-left:8px;
				border:none;
			}
		}
	}
	tbody{		
		tr{
			background-color:@white !important;
			border-bottom:1px solid @menu-border;
			td{
				border:none;
				.logRow{
					.m-b(0px);					
					.regRoboto();
					color:@pagination-hover;
					span{
						.montserrat();
						.text-uc();
					}
					&.logSuccess{
						color:@true-green;
					}
				}
				&.logEmpty{
					//background-color:@light-line;
					font-style:italic;
					text-align:center;
				}
			}
		}
	}
}