@countLi:20;
.sidebar{	
	width:250px;
	background-color:@sidebar;
	height:100%;
	left:0px;
	position:fixed;
	overflow-x: hidden;
	overflow-y: auto;
	float:left;
	//top:70px;	
        top: 0;
        padding-top: 70px;
	ul{
		.list-unstyled();	
		margin-bottom:0px;
		li ul{
			display:none;
		}
	}
	li.slideItem{
		& > .link{
			position:relative;
			&:before{
				position:absolute;
				content: '+';
				left:-28px;
				top:15px;
				background-color:@true-blue;
				color:@white;
				border-radius:100%;
					-webkit-border-radius:100%;
					-moz-border-radius:100%;
					-ms-border-radius:100%;
					-o-border-radius:100%;
				width: 16px;
				height: 16px;
				padding-left: 4px;
				//padding-top: 1px;
			}			
		}
		&.active{			
			& > .link:before{
				content: '-';
				background-color:@white;
				color:@true-blue;
				border:1px solid @true-blue; 
				font-weight:@bold; 
				padding-top: 0px;
				padding-left: 5px;
			}
		}
	}
	.sidebar-item{
		position:relative;
		&.active{
			.sidebar-item_link{
				background-color:@white;
				border-left:4px solid @true-pink;
				padding-left:16px;
				text-decoration:none;
				color:@true-blue;
				.regRoboto();
			}
		}
		.sidebar-item_link{
			.light-gray();
			.h2();
			.regRoboto();
			.p(@countLi * 1px);
			display:block;
			box-sizing: border-box;
			border-top:1px solid @menu-border;
			&:hover, &.active{
				background-color:@white;
				border-left:4px solid @true-pink;
				padding-left:16px;
				text-decoration:none;
				color:@true-blue;	
			}
		}
		.icon-warning{
			position:absolute;
			right:10px;
			top:20px;
		}	
	}				
	.sidebar-item_Once-down-link{
		.regRoboto();
		.light-gray();
		.h3();
		.p-t(15px);
		.p-b(15px);
		.m-l(@countLi*2.5px);
		border-top:1px solid @menu-border;
		display:block;	
		&:hover, &:focus{
			.link();
			text-decoration: none;
		}		
	}	
	.sidebar-item_Twice-down-link{			
		.sidebar-item_Once-down-link();
		.m-l(@countLi*3.5px);
	}
	.sidebar-item_Third-down-link{
		.sidebar-item_Once-down-link();
		.m-l(@countLi*4.5px);
	}
	.sidebar-item_Fouth-down-link{
		.sidebar-item_Once-down-link();
		.m-l(@countLi*5.5px);				
	}	
	.sidebar-item_Fouth-down{
		li a{
			.sidebar-item_Once-down-link();
			.m-l(@countLi*6.5px);	
		}
	}
	.sidebar-item_Fifth-down{
		.sidebar-item_Once-down-link();
		.m-l(@countLi*6px);	
	}
}