.profileBlock, .setBlock_content{
	.m-t(15px);
	.p(10px);
	.m-l(10px);
	.b-Bottom();
}

.profileBlock{
	border-left:2px solid @true-blue;
}

.setBlock_content{
	border-left:1px solid @true-blue;
	.b-Top();
	.b-Right();
	.p-t(10px);
	.m-b(10px);
	.m-l(0px);
	.m-t(10px);
	.setBlock_text{

	}
}

.removeProfile{
	.p-size();
	//.true-pink();
	color:@true-pink !important;
	.m-t(10px);
	&:hover, &:active, &:focus, &:focus:active{
		color:@light-pink;
	}
}

.showSet, .removeSet{
	.regRoboto();
	.poor-gray();
	.p-size();
	&:hover{
		.dark-gray();
	}
}

.showSelectBlock{
	.chosen-container{
		&.chosen-with-drop{
			.chosen-results{
				display:block !important;
			}
		}
		display:none;
		&:nth-child(2){
			display:block !important;
		}
	}
}

.ruleSettings{
	display:none;
}

.setBlockMain{
	label{
		margin-bottom:15px;
	}
}

/*.setBlock, .setBlockMain{
	.chosen-container{
		right:10px;
	}
}*/
.choZn{
	.cb-plus{
		margin-left:-12px;
		margin-top:10px;
	}
}
.setSettings{
	display:none;
	.summaryBlock{
		&:nth-child(odd){
			background-color:@light-line;
		}
		padding-top:10px;
	}
}

p{
    &#agree-error {
        text-align: left;
    }
}