.signIn{
	width: 100%;
	background: @white;	
	margin-top:70px;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
	.pullBorder();
	.p(20px);
	.m-b(40px);
	.cb-checkbox{
		.regRoboto();
		.h4();
		.poor-gray();
		.m-t(5px);
	}
	.sign_link{
		.link();
		.h4();
		.regRoboto();
	}
}