.widget-body {border: 1px solid #CCC;border-top: 0;background-color: #FFF;}

ul.unstyled, ol.unstyled {margin-left: 0;list-style: none;}
#market_sel_base{list-sytle:none; margin:0 auto; -webkit-user-select: none;   -moz-user-select: none;      -ms-user-select: none;        user-select: none; }
#amazon .market_logo{ display:inline-block; width:165px; height: 45px;margin:26px 16px; background: url(/assets/images/all_market_place.png) no-repeat; background-position:0px 0px;  position:relative}
#ebay .market_logo{ display:inline-block; width:93px; height: 45px;  margin:26px 16px; background: url(/assets/images/all_market_place.png) no-repeat; background-position:-167px 0px; position:relative}
#market_sel_base li i{ display:none; position:absolute;left: 50%;top: 50%;font-size: 100px;color: white;margin: -50px 0 0 -50px;}
#market_sel_base li div.selected i{ display:inline-block;}
div.market_place_sel_btn.btn{ width:200px; margin-bottom:10px ;position: relative;border: none;box-sizing: content-box;  }
div.market_place_sel_btn.btn:hover{background-color: #ccc;    }
#step2{ display:none}

#amazon_tab .market_logo{ display:inline-block; width:165px; height: 45px;margin:0 0 5px 5px; background: url(/assets/images/all_market_place.png) no-repeat; background-position:0px 0px;  position:relative}
#ebay_tab .market_logo{ display:inline-block; width:93px; height: 45px;  margin:5px 0 5px 5px; background: url(/assets/images/all_market_place.png) no-repeat; background-position:-167px 0px; position:relative}
div.widget-header{ height:46px;overflow:hidden;}
#step2 .span12{margin-left:0px;}
li.market_conf_list{ display:none;}
ul.sub_market_list{ border: 1px solid #eee;}
ul.sub_market_list li{ padding: 5px 20px;}
.min-height0{ min-height: 0px;}
.mgt20{ margin-top:20px;} 
.display-none{display: none}
.fa.fa-check{ border:none;}
li.center{ text-align: center}
.mgbt40{ margin-bottom:40px;} 

/* -- scroll bar -- */
form#frmPackages{overflow-x:inherit !important;overflow-y:inherit !important;}

.popup-wrapper div.p-rl40.p-xs-rl20{height:100%}
.popup-wrapper >.wrapper >.p-rl40.p-xs-rl20 >.row {height:calc(100% - 150px)}
.popup-wrapper >.wrapper >.p-rl40.p-xs-rl20 >.row >.col-xs-12{height:100%}
.popup-wrapper>.wrapper>.p-rl40.p-xs-rl20 >.row >.col-xs-12 >.widget.widget-inverse{height:100%}
form#frmPackages .row:nth-child(2) {height:100%}
form#frmPackages>.row>.configuration {height:100%;padding-right:10px;overflow-x:hidden;overflow-y:auto}