#amazon .market_logo{ display:inline-block; width:165px; height: 45px;margin:0 0 5px 5px; background: url(assets/images/all_market_place.png) no-repeat; background-position:0px 0px;  position:relative}
#ebay .market_logo{ display:inline-block; width:93px; height: 45px;  margin:5px 0 5px 5px; background: url(assets/images/all_market_place.png) no-repeat; background-position:-167px 0px; position:relative}
#amazon_synchronize_wizard{margin:10px 30px}
#ebay_wizard{margin:10px 30px}
#close_wizard{margin:0 80px}
#form_action{margin:100px 0 0 0}