#tree1{ overflow-y: visible !important;overflow: visible !important; margin-left:17px;}
.tree .tree-item, .tree .tree-folder .tree-folder-header{min-height: auto}
.tree-folder-header .pull-right{ width:315px;}
.profile{ width: 90%; height: 25px; font-size: 12px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
div.tree-folder i.cp_down_btn.fa-arrow-down { transform: rotate(0deg); }  
.tree-folder .fa-angle-double-down{ font-size:24px; margin:8px 0 0 0 }
.pull-right { text-align: right; height: 34px !important;} 
.select2-drop{margin-top:-29px;}