input.form-control{
    max-height: 2.7em;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
    line-height: 1.6em;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.progressbar {
    width: 100%;
    margin: 0;
    padding-left: 0;
}