.msg { margin: 2px; }
.msg .text-success{ color: #44BB46 }
/*input.search {
    background-image: url("../../../images/icons/sprites.png") !important;
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 0px -90px;
}
input.search:focus 
{
    background-image:none !important;
}*/
input.search{
	border-color: #dedede;
	font-size: 11px;
}

input.search::-webkit-input-placeholder {
  color: #CCC;
}

input.search:-moz-placeholder { /* Firefox 18- */
   color: #CCC;  
}

input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;  
}

input.search:-ms-input-placeholder {  
   color: #CCC; 
}
thead tr.tr_search th{
	padding:  5px !important;
}
.send-orders{
	padding: 6px;
}
#statistics_filter{
	display: none;
}