

 .col-xs-12 .statistics{ padding-top:10px;}
    .countdown_next.countdownHolder .break_sign  {  position: absolute;  right: -12px;  top: -8px;  font-weight: bold;  font-size: 16px;   display: inline-block;   width: 7px;}
    .countdown_next.countdownHolder { margin:0px auto;text-align:left; width:110px; }
    .countdown_next.countdownHolder > span { border:none;padding:0px; margin: 2px 12px 0 0; position: relative }
    .countdown_next.countdownHolder .position span{ font-size:16px;}
    .countdown_next.countdownHolder .position { width:6px;}
    .countdown_next.countdownHolder > span.countDays{display:inline-block;}
    .countdown_next.countdownHolder > span.countDays .position:nth-child(2) .digit{width:15px;}
    .t_status { width:20px; height: 20px; border-radius: 40px; background-color:#f74f63; margin: 0 auto }
    .t_status.green{ background-color:#00ce88 }
    .center-align{ text-align: center}
    .right-align{ text-align: right} 
    #my_task_list{ table-layout: auto;width:100% !important;font-size: 12px !important;font-family: 'Roboto', sans-serif !important;font-weight: 400 !important;}
    #my_task_list tr.ch_row td table td{   padding-top:5px; padding-bottom: 5px }
    #my_task_list tr td{ padding:0px 0px; overflow: hidden; box-sizing: border-box;vertical-align: middle; color:#777777;} 
    #my_task_list tr.odd td{ padding:5px 0;} 
    #my_task_list tr.even td{ padding:5px 0;}
    #my_task_list tr td>span{ display:none !important}
    label .th_txt{ color:#474747 !important; font-weight: bold }