div.chosen-container{
    height: auto;
}

ul.chosen-choices > li {
    list-style-type: none;
}

ul.chosen-choices > li.search-choice {
    list-style-type: none;
    float: left;
    margin: 5px 3px 3px 3px;
    padding: 5px 20px 3px 5px;
    background-color: #4693FE;
    color: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 14px;
}

ul.chosen-choices a.search-choice-close:before {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    content: "\f00d";
    font-size: 12px;
    font-weight: lighter;
    color: white;
}

li.search-field input[type="text"] {
    margin: 5px 0 0 5px;
    padding: 5px 0 0 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: normal;
}

ul.chosen-results li.active-result {
    cursor: pointer;
}

ul.chosen-results li.result-selected {
    display: list-item;
    color: #DDDDDD !important;
    cursor: default;
}
ul.chosen-results li.result-selected:hover, .chosen-container .chosen-drop .chosen-results li.result-selected:hover {
    backgroud-color: transparent !important;
    background: none;
}