    .headSettings .showColumns{ right:20px !important;}
    .prod_sku{ width:100%; table-layout: auto}
    #my_prod_list{ table-layout: auto;width:100% !important;font-size: 12px !important;font-family: 'Roboto', sans-serif !important;font-weight: 400 !important;}
    #my_prod_list tr.ch_row td table td{   padding-top:5px; padding-bottom: 5px }
    #my_prod_list tr td{ padding:0px 0px; overflow: hidden; box-sizing: border-box;vertical-align: middle; color:#777777;}
/*    #my_prod_list tr.odd{ background-color: transparent;  } */
    #my_prod_list tr.odd td{ padding:5px 0;}
/*    #my_prod_list tr.even{ background-color: transparent;  }*/
/*    #my_prod_list tr:hover{ background-color: #eeeeee}*/
    #my_prod_list tr.even td{ padding:5px 0;}
    #my_prod_list tr td>span{ display:none !important}
    #my_prod_list tr td.p_id{ min-width:40px;width:40px;max-width:40px; text-align:left; padding-left:2px; overflow: hidden; table-layout: fixed;}
    #my_prod_list td.p_img{ min-width:40px;width:40px;max-width:40px;}
    #my_prod_list td.p_name{ /*width:45%;*/box-sizing: border-box; padding-left:0px}
    #my_prod_list tr.ch_row td.p_name{ padding-left:0px;}
     #my_prod_list tr.ch_row   td.p_id{width:60px; text-align:right;}
     #my_prod_list tr.ch_row   td.p_img{width:60px;text-align:center;}
    #my_prod_list tr.ch_row  td.p_variant{  width:620px; text-align:left;}
    #my_prod_list tr.ch_row   td.all_ref{  width:400px}
    #my_prod_list tr.ch_row   td.all_ref > table{width:450px;}
    #my_prod_list tr.ch_row   td.all_ref > table tr{ background:none;}
    #my_prod_list tr.ch_row   td.all_ref > table td{ width:100px; text-align:left;}
    #my_prod_list tr.ch_row   td.all_ref > table td.p_ref{width:150px;}
    #my_prod_list tr.ch_row   td.p_price{ width:5%; text-align:right;}
    #my_prod_list tr.ch_row   td.p_sale_price{ text-align:right;}
    #my_prod_list tr.ch_row   td.p_sale_price span{ font-size: 10px; font-style:italic; display:inline-block !important;}
    #my_prod_list tr.ch_row   td.p_qty{ width:5%; text-align:right;}
    #my_prod_list tr.ch_row table.responsive-table.table-white tr{background:#fff}
    .responsive-table tbody tr:nth-child(even), .table tbody tr:nth-child(even) { background-color:transparent;}
    .responsive-table tbody tr:last-child, .table tbody tr:last-child {border-bottom:none;}
    th.p_price{text-align: center;}
    th.p_qty{text-align: center;}
    #my_prod_list td.p_variant{ width:20%}
    #my_prod_list td.p_price{ min-width:40px;width:40px;max-width:40px;text-align:right;}
    #my_prod_list td.p_sale_price{   text-align:right;}
    #my_prod_list td.p_sale_price span{ font-size: 10px; font-style:italic; display:inline-block !important;}
    #my_prod_list td.p_qty{ min-width:40px;width:40px;max-width:40px; text-align:right; }
    table.dataTable.no-footer#my_prod_list,table.dataTable#my_prod_list thead th, table.dataTable thead td{border:none;}
    td.p_condition{ text-align: center;padding-left: 5px;}
    
    #my_prod_list .prod_sku td.p_id{ width:7%}
    #my_prod_list .prod_sku td.p_img{ width:8%}
    //#my_prod_list .prod_sku td.p_name{ width:45%}
    //#my_prod_list .prod_sku td.p_variant{ width:45%}
    .row #my_prod_list  .p_sale_from{ display:none; text-align: right}
    .row #my_prod_list  .p_sale_to{ display:none; text-align: right}
    
    #my_prod_list .prod_sku td.p_price{ width:10%;}
    #my_prod_list .prod_sku td.p_qty{ width:10%}
    i.lb{ transform: rotate(180deg); margin:0 8px 0 8px }
    .filter_add{ margin:0 0 10px 0; float:left; width:100%}
    label#sel_cat{ float:right; clear: both}
    #sel_cat> span{ display:inline-block; margin:7px 0 0 0;}
    #sel_cond{ margin:0 0 0 8px;}
    #sel_cond> span{ display:inline-block; margin:7px 0 0 0;}
    #sel_condition{ width:180px;}
    div#s2id_sel_category {min-width: 450px;}
    .select2-results .select2-result-label {white-space: pre;}
    .p_all_ref table { width:450px; background:none}
    .p_all_ref table tr{ border:none;background: none !important; background-color:none !important}
    .p_all_ref table tr td,.p_all_ref table tr th{ background:none; padding:0px; width:100px; text-align:left}
    .p_all_ref table tr td.p_ref,.p_all_ref table tr th.p_ref{width:150px;}
   .responsive-table tbody   tr.ch_row { background:none;}