.margin-bottom15{ margin-bottom: 15px;}
.pop_style1{padding: 10px 0;margin:0 10px;}
.va_sub{ vertical-align: sub}
.margin-top-3{margin-top: -3px}
.margin-top3{margin-top: 3px}
.padd_1{padding:1px;}
.padd_15{padding:15px;}
.paddt_20{padding:20px;}
.marginl_0{margin-left:0px;}
.opacity70per{ opacity: 0.7}
.margint_5{margin-top:5px;}
.form-actions>div{ padding-top:15px;padding-right:15px}
.display-none{ display: none; }