/*-------------[ Weight ]----------------*/

$bold:700;
$normal:400;
$light:300;

@mixin bold(){
	font-weight:$bold !important;
}
@mixin normal(){
	font-weight:$normal;
}
@mixin light(){
	font-weight:$light;	
}
@mixin italic(){
	font-style: italic;
}

/*-------------[ Font size ]----------------*/

$big-size:20pt;
$h1:20px;
$h2:16px;
$strong-size:14px;
$h3:13px;
$h4:12px;
$h5:11px;
$h6:10px;
$small-text:9px;
$tooSmall:8px;

/*-------------[ Typography ]----------------*/


@mixin hx(){
	font-family: 'Roboto', sans-serif;
	font-weight:$normal;
}
@mixin h1(){
	font-size: $h1;
}
@mixin h2(){
	font-size: $h2;
}
@mixin h3(){
	font-size: $h3;
}
@mixin h4(){
	font-size: $h4;
}
@mixin p-size($content:null){
	font-size: $h4 $content;
}
@mixin h5($content:null){
	font-size: $h5 $content;
}
@mixin h6(){
	font-size: $h6;
}
@mixin head-size(){
	font-size:$big-size;
}

/*-------------[ help family ]----------------*/

@mixin regRoboto(){
	font-family: 'Roboto', sans-serif !important;
	font-weight:$normal;
}

@mixin lightRoboto(){
	font-family: 'Roboto', sans-serif;
	font-weight:$light;
}

@mixin montserrat(){
	font-family: 'Montserrat', sans-serif !important;
	font-weight:$normal;
}

/*-------------[ Font-size ]----------------*/
@mixin smallText(){
	font-size:$small-text
}
@mixin tooSmall(){
	font-size:$tooSmall;
}
@mixin strong-text(){
	font-size:$strong-size
}