/*--------------[ Border ]----------------*/
@mixin b-Top(){
	border-top:1px solid $input-border;
}
@mixin b-Right(){
	border-right:1px solid $input-border;
}
@mixin b-Bottom(){
	border-bottom:1px solid $input-border;
}
@mixin b-Left(){
	border-left:1px solid $input-border;
}
@mixin pullBorder(){
	border:1px solid $input-border;
}
@mixin b-Top-None(){
	border-top:none !important;
}
@mixin b-None(){
	border:none !important;
}
@mixin b-BlRight(){
	border-right:1px solid $true-blue;
}

/*--------------[ Position ]----------------*/
@mixin absolute(){
	position:absolute;
}
@mixin relative(){
	position:relative;
}
@mixin static(){
	position:static;
}
@mixin pullCenter(){
	@include absolute();
	@extend .top-0;
	@extend .bottom-0;
	@extend .right-0;
	@extend .left-0;
	margin:auto;
}
@mixin mAuto(){
	margin-left:auto;
	margin-right:auto;
}
/*--------------[ Pull ]----------------*/
@mixin pull-width(){
	width:100%;
}

@mixin list-unstyled(){
	@include p-l(0);
	li{
		list-style:none;
	}
}

/*--------------[ Row Clone ]----------------*/
@mixin showSelectBlock(){
	display:none;
	.chosen-container{
		margin-bottom:10px;
	}
}


/*--------------[ Error ]----------------*/
@mixin errorText(){
	color:$true-pink;
}
@mixin errorWarning(){
	color:$orange;
}

/*--------------[ Transform ]----------------*/
@mixin text-uc(){
	text-transform:uppercase;
}
@mixin text-norm(){
	text-transform:capitalize;
}


/*--------------[ Margin ]----------------*/
@mixin m($size)
{
	margin:$size;
}
@mixin m-t($size)
{
	margin-top:$size;
}
@mixin m-r($size)
{
	margin-right:$size;
}
@mixin m-b($size)
{
	margin-bottom:$size;
}
@mixin m-l($size)
{
	margin-left:$size;
}

/*--------------[ Padding ]----------------*/

@mixin p($size)
{
	padding:$size;
}
@mixin p-t($size)
{
	padding-top:$size;
}
@mixin p-r($size)
{
	padding-right:$size;
}
@mixin p-b($size)
{
	padding-bottom:$size;
}
@mixin p-l($size)
{
	padding-left:$size;
}
@mixin p-tb($size)
{
	padding-top:$size;
	padding-bottom:$size;
}