    <script src="templates/js/jquery.min.js"></script>
    <script src="templates/js/bootstrap.min.js"></script>
    <script src="templates/js/select2.min.js"></script>
    <script src="templates/js/scripts.js"></script>
</body>
</html>