{ci_language file="email" lang="$lang"}          
{if !empty($feed) && !empty($results) }

    <h1 style="font-family: sans-serif; font-size: 13px;color: #474747;font-weight: 700; background: #EEE; padding: 5px 10px;">
        {$shopname}
    </h1>

    {if isset($results['SummaryFeed']) && !empty($results['SummaryFeed'])}
        
        <table width="100%" height="50px" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="45px">{$marketplace_logo}</td>
                <td><h4 style="font-size:14px; margin:0; padding:0; font-family: sans-serif">{$marketplace} {ci_language line="summary on"} : {$date}</h4></td>
            </tr>
        </table>
                
        <table width="100%" border="0" cellspacing="0" cellpadding="5" bordercolor="#ddd" style="font-size:13px; margin:10px 0 0 0; padding:0 0 10px; font-family: sans-serif; border-width: 0.5px;">
            <thead style="background: #ededed;">
                <tr>
                    <th width="20%" rowspan="2" style="border: 1px solid #ddd; border-right: none;"></th>
                    <th width="10%" rowspan="2" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Orders"}</th>
                    <th width="30%" colspan="3" style="border: 1px solid #ddd; border-right: none; border-bottom: none;">{ci_language line="Product Creation Feed"}</th>
                    <th width="30%" colspan="3" style="border: 1px solid #ddd; border-right: none; border-bottom: none;">{ci_language line="Update Offers Feed"}</th>
                    <th width="10%" rowspan="2" style="border: 1px solid #ddd; ">{ci_language line="Repricing"}</th>
                    {*<th rowspan="2">{ci_language line="Out of Stock"} (%)</th>
                    <th rowspan="2">{ci_language line="Inactive Product"} (%)</th>*}
                </tr>
                <tr>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Send"}</th>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Success"}</th>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Error"}</th>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Send"}</th>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Success"}</th>
                    <th width="10%" style="border: 1px solid #ddd; border-right: none;">{ci_language line="Error"}</th>
                </tr>
            </thead>
            <tbody>
                {foreach $results['SummaryFeed'] key = FeedKey item = FeedData}                
                    {if isset($site[$id_marketplace][$FeedKey])}                        
                        <tr>
                            <td>
                                {if isset($site[$id_marketplace][$FeedKey]['domain'])}{$site[$id_marketplace][$FeedKey]['domain']}{else}{$marketplace}{/if}
                            </td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['order']['no_success'])}{$FeedData['order']['no_success']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['create']['no_process'])}{$FeedData['create']['no_process']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['create']['no_success'])}{$FeedData['create']['no_success']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['create']['no_error'])}{$FeedData['create']['no_error']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['sync']['no_process'])}{$FeedData['sync']['no_process']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['sync']['no_success'])}{$FeedData['sync']['no_success']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['sync']['no_error'])}{$FeedData['sync']['no_error']}{else}-{/if}</td>
                            <td align="right" style="border: 1px solid #ddd; border-right: none; border-bottom: none; border-top: none;">{if isset($FeedData['repricing']['no_success'])}{$FeedData['repricing']['no_success']}{else}-{/if}</td>
                            {*<td></td>
                            <td></td>*}
                        </tr>
                    {/if}
                {/foreach}

                <tr style="font-weight: bold;background: #ededed;">
                    <td>{ci_language line="Totals"}: </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_order']['no_success'])}{$results['SummaryFeed']['total_order']['no_success']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_create']['no_process'])}{$results['SummaryFeed']['total_create']['no_process']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_create']['no_success'])}{$results['SummaryFeed']['total_create']['no_success']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_create']['no_error'])}{$results['SummaryFeed']['total_create']['no_error']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_sync']['no_process'])}{$results['SummaryFeed']['total_sync']['no_process']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_sync']['no_success'])}{$results['SummaryFeed']['total_sync']['no_success']}{else}-{/if}
                    </td>
                    <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_sync']['no_error'])}{$results['SummaryFeed']['total_sync']['no_error']}{else}-{/if}
                    </td>
                     <td align="right" style="border: 1px solid #ddd; border-right: none;">
                        {if isset($results['SummaryFeed']['total_repricing']['no_success'])}{$results['SummaryFeed']['total_repricing']['no_success']}{else}-{/if}
                    </td>
                    {*<td></td>
                    <td></td>*}
                </tr>
            </tbody>
        </table>
    {/if}  

    <br/>

    {if isset($results['SummaryValidate'])  && !empty($results['SummaryValidate']) }
        
        <table width="100%" height="50px" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="45px">{$marketplace_logo}</td>
                <td><h4 style="font-size:14px; margin:0; padding:0; font-family: sans-serif">{ci_language line="Statistics"}</h4></td>
            </tr>
        </table>    

        <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-size:13px; margin:0; padding:0; font-family: sans-serif;border: 1px solid #ededed;">
            <thead style="background: #EDEDED;">
                <tr>
                    <th width="60%">{ci_language line="Message"}</th>
                    <th width="20%">{ci_language line="Number of product"}</th>
                    <th width="20%">{ci_language line="Percentage"}(%)</th>
                </tr>
            </thead>
            <tbody>
                {*<tr style="font-weight: bold;background: #4693fe;color: #FFF;"><td colspan="3">Validation logs</td></tr>*}
                {foreach $results['SummaryValidate'] key = ErrorKey item = ErrorData}
                    <tr>
                        <td>{$ErrorData['message']}</td>
                        <td align="right" style="border: 1px solid #ddd; border-right: none;">{$ErrorData['number']}</td>
                        <td align="right" style="border: 1px solid #ddd; border-right: none;">{$ErrorData['percentage']} %</td>
                    </tr>
                {/foreach}                    
            </table>
        {/if}                   
    <br/>
    <hr/>
{/if}