<?xml version="1.0" encoding="utf-8"?>
<ConfirmIdentityRequest xmlns="urn:ebay:apis:eBLBaseComponents">
    {if isset($SessionID)}
        <RuName><![CDATA[{$SessionID}]]></RuName>
    {/if}
</ConfirmIdentityRequest>