<?xml version="1.0" encoding="utf-8"?>
<getJobsRequest xmlns:sct="http://www.ebay.com/soaframework/common/types" xmlns="http://www.ebay.com/marketplace/services">
    {if !empty($jobStatus)}<jobStatus><![CDATA[{$jobStatus}]]></jobStatus>{/if}
</getJobsRequest>